{% set attr_section = create_attribute() %}
{% set classes_section = [ 'uk-section', 'tls--block' ] %} 

{#
{% set class_color = [
   (node.field_bloque_tls.entity.field_px_color.0.target_id == '7') ? 'xrosa', 
   (node.field_bloque_tls.entity.field_px_color.0.target_id == '8') ? 'yvioleta', 
   (node.field_bloque_tls.entity.field_px_color.0.target_id == '25') ? 'zgris', 
] %} #}

{% if node.id in ['70', '71'] %}
    <div class="uk-container">
        {{ drupal_menu('educacion-continua') }}
    </div>
{% endif %}

{% if node.field_bloque_tls[0].value|length > 0 %}
{% for tls_bk in node.field_bloque_tls %}


{% if tls_bk.entity.field_published.value == '1' %} {# NO SE MOSTRARA NADA #}
{% else %}


{% if tls_bk.entity.bundle in ['solo_codigo'] %}{# SOLO CODIGO #}

{{ tls_bk.entity.field_px_ow_body.value|raw }}

{% else %} {# EMPIEZAN LOS BLOQUES DE PARRAFOS #}
 
<section 
uk-scrollspy="cls: uk-animation-fade; target: .uk-container; delay: 250;"
{% if tls_bk.entity.field_px_id[0].value|length > 0 %}
id="{{ tls_bk.entity.field_px_id.value }}"
{% endif %}
class='uk-section tls--block uk-width-1-1 uk-position-relative
    {% if tls_bk.entity.field_px_clase[0].value|length > 0 %} 
        {{ tls_bk.entity.field_px_clase.value }}
    {% endif %}
    {% if tls_bk.entity.field_px_variacion.0.target_id == '80' %}
        arky-variacion-50 
    {% endif %}
    {# MARGENES #}
    {% if tls_bk.entity.field_px_borrar_margen.0.target_id == '28' %}
        arky-delete-margen-arriba
    {% elseif tls_bk.entity.field_px_borrar_margen.0.target_id == '29' %}
        arky-delete-margen-abajo
    {% endif %}
    {# BORDE TOP #}
    {% if tls_bk.entity.field_px_border.value == '1' %}
        arky-border-top
    {% endif %}
    {# COLOR #}
    {%- if tls_bk.entity.field_px_color.0.target_id == '7' -%}
        uk-light arky-bg-rosa
    {%- elseif tls_bk.entity.field_px_color.0.target_id == '8' -%}
        uk-light arky-bg-violeta
    {%- elseif tls_bk.entity.field_px_color.0.target_id == '37' -%}
        uk-light arky-bg-celeste
    {%- elseif tls_bk.entity.field_px_color.0.target_id == '25' -%}
        arky-bg-gris
    {%- endif -%}'>

{% if tls_bk.entity.field_px_variacion.0.target_id == '68' %}

    {% include '@tls/@similar/bk-variacion-1.html.twig' %}

{% elseif tls_bk.entity.field_px_variacion.0.target_id in ['72', '73', '74'] %}

    {% include '@tls/@similar/bk-img.html.twig' %} 

{% elseif tls_bk.entity.bundle in ['tabs_ii'] %}

    {% include '@tls/@similar/bk-tabsii.html.twig' %} 

{% else %}
         
    {% include '@tls/@similar/bk-header.html.twig' %} {#  HEADER #}

    <div class="uk-container uk-position-relative
    {% if tls_bk.entity.field_px_expand.value == '1' %}
      uk-container-expand
    {% endif %}
    {% if tls_bk.entity.field_px_container_width.0.target_id == '65' %}
        uk-container-xsmall
    {% endif %}
    ">

        {% if tls_bk.entity.bundle in ['views_drupal'] %}

            {% set drupal_views = tls_bk.entity.field_px_view.0.target_id %}
            {% set drupal_views_display = tls_bk.entity.field_px_view.0.display_id %}            
            {{ drupal_view(drupal_views, drupal_views_display) }}

        {% elseif tls_bk.entity.bundle in ['grupo_simple'] %}
            
            {% include '@tls/@similar/bk-simple.html.twig' %}
        
        {% else %}

        <div class="
        {% if not tls_bk.entity.field_px_variacion.0.target_id in ['72', '73', '74'] %}
            uk-margin-large-top 
        {% endif %}
        {# ALINEACION TEXTO #}
        {%- if tls_bk.entity.field_px_text_pos.0.target_id == '34' -%}
            uk-text-center
        {%- elseif tls_bk.entity.field_px_text_pos.0.target_id == '35' -%}
            uk-text-right
        {%- else -%}
            uk-text-left
        {%- endif -%}">

            {% if tls_bk.entity.bundle in ['entidades', 'granja'] %}
                <div uk-grid class="
                {% if tls_bk.entity.field_px_columnas.0.target_id == '30' %}
                    uk-grid-small uk-child-width-1-2 uk-child-width-1-3--size-m loco loco-3
                {% elseif tls_bk.entity.field_px_columnas.0.target_id == '31' %}
                    uk-grid-medium uk-child-width-1-2--size-s loco loco-2
                {% elseif tls_bk.entity.field_px_columnas.0.target_id in ['62', '36'] %}
                    uk-grid-small uk-child-width-1-2 uk-child-width-1-3--size-m uk-child-width-1-4--size-l loco loco-4
                {% endif %}
                ">
                {% if tls_bk.entity.bundle in ['entidades'] %}
                    {% if tls_bk.entity.field_px_entidad.entity.getType in ['tls_people', 'tls_campus', 'tls_core'] %}
                        {% for entidades in tls_bk.entity.field_px_entidad %}
                        {{ entidades | view('teaser') }}
                        {% endfor %} 
                    {% elseif tls_bk.entity.field_px_entidad.entity.getType == 'tls_quotes' %}
                        {% include '@tls/@similar/bk-quotes.html.twig' %}
                    {% else %}
                        {{ tls_bk.entity.field_px_entidad.entity.label }}
                    {% endif %}
                {% elseif tls_bk.entity.bundle in ['granja'] %}
                    {% include '@tls/@similar/bk-granja.html.twig' %}
                {% endif %}
                </div>
            {% elseif tls_bk.entity.bundle in ['bloque_tls'] %}
                {% include '@tls/@similar/bk-textual.html.twig' %}
            {% elseif tls_bk.entity.bundle in ['bloque_tls_carousel'] %}
                {% include '@tls/@similar/bk-carousel.html.twig' %}  
            {% elseif tls_bk.entity.bundle in ['video_simple'] %}
                {% include '@tls/@similar/bk-videos.html.twig' %}
            {% elseif tls_bk.entity.bundle in ['video_carousel'] %}
                {% include '@tls/@similar/bk-videoc.html.twig' %}
            {% elseif tls_bk.entity.bundle in ['icono_grupo'] %}
                {% include '@tls/@similar/bk-icono.html.twig' %}
            {% elseif tls_bk.entity.bundle in ['grupo_de_acordeon'] %}
                {% include '@tls/@similar/bk-gacordeon.html.twig' %}
            {% elseif tls_bk.entity.bundle in ['granja_schedule'] %}
                {% include '@tls/@similar/bk-gschedule.html.twig' %}
            {% elseif tls_bk.entity.bundle in ['granja_help'] %}
                {% include '@tls/@similar/bk-help.html.twig' %}
            {% endif %}

        </div>{#alineacion#}
        {% endif %}
    </div>{#container#}

    {% include '@tls/@similar/bk-footer.html.twig' %}

    {% if tls_bk.entity.field_px_variacion.0.target_id == '80' %}
        <figure class="image-variacion">
                <img 
                class="teaser-img uk-margin-auto"  
                alt="{{ tls_bk.entity.field_px_img.0.alt }}" 
                title="{{ tls_bk.entity.field_px_img.0.title }}" 
                data-src="{{ file_url(tls_bk.entity.field_px_img.0.entity.fileuri | image_style('445x500') ) }}" uk-img /> 
            </figure>
    {% endif %}

{% endif %}{# fin de variacion #}
 
</section> 

{% endif %}

{% endif %}
{% endfor %}
{% endif %}