{% if node.field_overview[0].value|length > 0 %}
{% for overview in node.field_overview %}

<section 
uk-scrollspy="cls: uk-animation-fade; target: .figura, .articulo; delay: 250;"
id="hello"
class='uk-section tls--page
    {# MARGENES #}
    {% if overview.entity.field_px_borrar_margen.0.target_id == '28' %}
        arky-delete-margen-arriba
    {% elseif overview.entity.field_px_borrar_margen.0.target_id == '29' %}
        arky-delete-margen-abajo
    {% endif %}'>

<div class="uk-container">

    <header class="block--header block--overview uk-margin-xlarge-top uk-margin-large-bottom uk-position-relative uk-width-4-5--size-l">

        <h1 class="arky-heading uk-heading-1">
        {% if overview.entity.field_px_ow_tits.entity.field_px_tit_sup[0].value|length > 0 %}
        <span 
        class="uk-lh-1 
        {% if overview.entity.field_px_ow_tits.entity.field_px_posicion.0.target_id == '23' %}arky-line{% endif %}">
            {{ overview.entity.field_px_ow_tits.entity.field_px_tit_sup.value }}
        </span>
        {% endif %}
        {% if overview.entity.field_px_ow_tits.entity.field_px_cortar.value == '1' %}<br>{% endif %}{# CORTAR #}
        {% if overview.entity.field_px_ow_tits.entity.field_px_tit_inf[0].value|length > 0 %}
        <span 
        class="uk-lh-1 
        {% if overview.entity.field_px_ow_tits.entity.field_px_posicion.0.target_id == '24' %}arky-line{% endif %}">
            {{ overview.entity.field_px_ow_tits.entity.field_px_tit_inf.value }}
        </span>
        {% endif %}        
        </h1>
    </header>
                
    {% if overview.entity.field_px_ow_body[0].value|length > 0 %}
    <div class="uk-flex-middle uk-grid-medium" uk-grid>

        {% if overview.entity.field_px_ow_img[0].value|length > 0 %}
        <figure class="figura uk-width-1-1 uk-width-2-5--size-s uk-width-auto--size-m">
            <img 
                class="teaser-img"  
                alt="{{ overview.entity.field_px_ow_img.0.alt }}" 
                title="{{ overview.entity.field_px_ow_img.0.title }}" 
                data-src="{{ file_url(overview.entity.field_px_ow_img.0.entity.fileuri | image_style('444x444') ) }}" uk-img /> 
        </figure>
        {% endif %}

        <article class="articulo uk-width-expand arky--body">
            {{ overview.entity.field_px_ow_body.value|raw }}
            {% if overview.entity.field_px_ow_link[0].value|length > 0 %}
            <a 
                class="block--header-button button-arrow uk-button uk-button-primary uk-border-pill uk-box-shadow-small uk-box-shadow-hover-medium uk-margin-medium-top" 
                href="{{ overview.entity.field_px_ow_link.0.url }}" class="uk-button uk-button-primary">
                {{ overview.entity.field_px_ow_link.title }} <span class="uk-position-center-right feather-arrow-right">
            </a>
            {% endif %}
        </article>
                
    </div>
    {% endif %}

</div>
</section>

{% endfor %}
{% endif %}