.intro_circle span:last-child { font-size: 20px; }

.tls_body > *:not(:first-child) { margin-top: 1rem; }
.tls_list li { position: relative; padding-left: 1.5rem; }
.tls_list li:not(:first-child) { margin-top: .75rem; }
.tls_list li:before { 
    content: ''; width: 10px; height: 10px; border: 2px solid var(--c-rosa); 
    border-radius: 50%; position: absolute; left: 0; top: .5rem; }

.logro { text-align: center; }
.logro_text { font-size: 36px; font-weight: 900; }
.logro_prep { font-size: 48px; font-weight: 900; line-height: 1; margin: 1.75rem 0 2.25rem; }
.logro_destaca { display: inline-block; padding: 1rem 2rem; font-size: 24px; border: 2px dashed white; border-radius: 1rem; }
.logro_icon {
    width: 6rem; height: 6rem; display: block; background-color: rgba(255,255,255,.5);
    margin: auto; margin-bottom: 1rem; border-radius: 50%; position: relative; }
.logro_icon svg { width: 3.5rem; height: 3.5rem; fill: white; }

.teaser_badge.badge_online { padding-left: 1.25rem; }
.teaser_badge.badge_online:before {
    content: ''; width: 8px; height: 8px; 
    border-radius: 50%; background-color: var(--c-verde); position: absolute;
    left: .5rem; top: 0; bottom: 0; margin: auto; }

.agenda_item { background-color: rgba(39, 0, 109,.3); border-radius: 1rem; overflow: hidden; transition: calc(1.25*var(--timer)) background-color; }
.agenda_item:not(:first-child) { margin-top: 1rem; }
.agenda_item.uk-open { background-color: #27006d; }
.agenda_link { align-items: center; position: relative; }
.agenda_link-box { width: 100px; height: 100px; border-radius: 1rem 0 0 0; text-align: center; padding-top: 1.75rem; transition: var(--timer) background-color; }
.uk-open .agenda_link-box { background-color: var(--c-rosa); }
.agenda_cursos .uk-open .agenda_link-box { background-color: var(--c-celeste); }
.agenda_link-name { font-size: 12px; display: block; }
.agenda_link-loop { font-size: 27px; font-weight: 900; }
.agenda_link-title { padding-left: 1.5rem; font-size: 20px; flex: 1; padding-right: 5rem; }
.agenda_link svg { fill: var(--c-rosa); left: auto; right: 1rem; height: 24px; width: 24px; transform-origin: top center; }
.agenda_cursos .agenda_link svg { fill: var(--c-celeste); }
.uk-open .agenda_link svg { transform: rotate(180deg); }
.agenda_body { padding: 1.5rem 2rem 2.5rem; }
.agenda_body-desc { color: var(--c-celeste); }
@media (min-width: 600px) {
.agenda_body { padding: 1.5rem calc(100px + 1rem) 2.5rem; }
.agenda_body ul { column-gap: 1.5rem; column-count: 2; }
.agenda_body-desc { display: flex; justify-content: space-between; }
}

.solo_items { justify-content: center; text-align: center; }
.solo_item { margin-bottom: 1rem; }
.solo_item .teaser_title { line-height: 1; font-size: 18px; }
@media (min-width: 600px) {
.solo_item { width: 40%; }
}
@media (min-width: 900px) {
.inicios .solo_item { width: 33.33%; }
}

.brochure .backwards { padding-left: 3rem; }
@media (min-width: 600px) {
.brochure .tls_header { transform: scale(1.25); }  
.brochure .tls_img { order: 2; } 
.brochure .tls_body + .tls_img { order: -1; margin-left: 0; margin-right: 2.5rem; }
}

.marquee { display: block; overflow: hidden; position: relative; line-height: 1.25; }
.marquee::before {content: '\00a0';}
.marquee span {animation: marquee 10s linear infinite;display: block;min-width: 100%;position: absolute;left: 0;top: 0;white-space: nowrap;}
.marquee.stroke span {animation: marquee 13s linear infinite;}
@keyframes marquee { from {transform: translateX(100%); }to { transform: translateX(-100%); } }
@media (max-width: 599px){ 
.marquee span { animation: none!important; position: relative; font-size: 36px; white-space:normal; }
.marquee::before { content: none; }
}

.tls_parrafo h4 { line-height: 1.5; font-size: 20px; font-weight: 900; margin-top: 1rem; }
.pie { border-top: 1px solid rgba(255,255,255,.25); }

.tarjeta { border: 5px solid rgba(255,255,255,.4); background-color: rgba(255,255,255,.1); padding: 1rem; margin: 0 1rem 1rem; border-radius: 1rem; }
.tarjeta_top { justify-content: center; align-items: center; }
.tarjeta_dia > span { display: block; text-transform: uppercase; }
.tarjeta_dia > span:first-child { font-weight: 900; font-size: 40px; }
.tarjeta_dia { margin: 0 1rem; }
.tarjeta_hora > span { max-width: 150px; display: block; font-size: 14px; line-height: 1.5; }
.tarjeta_bottom { border-top: 3px solid rgba(255,255,255,.4); margin-top: .5rem; padding-top: .5rem; }
.tarjeta_title { font-size: 20px; }
.tarjeta_subtitle { font-size: 12px; }

.help { text-align: left; padding: 0 1rem; }
.help_title { font-size: 18px; }
.help_parrafo { margin-top: .75rem; font-size: 14px; max-width: 75%; }
.help [class*="boton"] { font-size: 11px; margin-top: 1rem; }