@font-face{font-family:Gilroy;src:url(../font/Gilroy-SemiBold.woff2) format('woff2'),url(../font/Gilroy-SemiBold.woff) format('woff');font-weight:400;font-style:normal;-webkit-font-smoothing:antialiased;-moz-osx-font-smoothing:grayscale;font-display:swap;}
@font-face{font-family:Gilroy;src:url(../font/Gilroy-Heavy.woff2) format('woff2');font-weight:900;font-style:normal;-webkit-font-smoothing:antialiased;-moz-osx-font-smoothing:grayscale;font-display:swap;}
:root{
    --head-height: 54px;
    --head-width: 140px;
    --sz-reg: 1rem;
    --tls-xx:.5rem;
    --tls-x:25rem;
    --c-lila:#440099; 
    --c-violeta:#2B1457; 
    --c-rosa:#ef426f; 
    --c-ambar:#F1C400;
    --c-vino:#AB2961;
    --c-lila-suave:#F4F1F9; 
    --c-suave:#f4f7fb;
    --c-fino:#E4E1EA;
    --c-sombra:#e9e6ee;
    --c-celeste:#00a9e0;
    --c-verde:#39C040;
    --timer:.3s;
    --timer-faster:var(--timer-faster);
    --tls-error:#9f1717;
    --tls-success:#179f3f;}

/* ADMIN */
.authenticated .toolbar { z-index: 1000!important; }
body.authenticated { padding-top: calc(79px + var(--head-height))!important; }
.authenticated .header,
.authenticated .menu_top { top: 79px!important; }
@media (min-width: 900px) and (min-height: 600px) {
body.authenticated { padding-top: 79px!important; }
.authenticated .header { top: 79px!important; height: calc(100vh - 79px)!important; } 
.authenticated .menu_top { top: calc(2rem + 79px)!important; }
}

body{ color: var(--c-lila); font-family: Gilroy, Arial, Helvetica, sans-serif; } 
.wf-active body { font-family:Gilroy; }
.uk-h1, .uk-h2, uk-h3, .uk-h4, .uk-h5, .uk-h6{font-weight:400;}
.uk-heading-3, .uk-heading-4, .uk-heading-5, .uk-heading-6{font-weight:700;}
.uk-h7{font-size:10px;font-weight:700;}
.uk-heading-1, .uk-heading-2{font-weight:900;}

.uk-section,
.uk-container { display:flow-root;box-sizing:border-box; }
.uk-section { padding-top:calc(2.5*var(--sz-reg));padding-bottom:calc(2.5*var(--sz-reg))}
.uk-container{
    max-width:1110px; margin-left:auto;margin-right:auto;
    padding-left:calc(1 * var(--sz-reg));padding-right:calc(1 * var(--sz-reg)); }
.uk-section header + .uk-container { margin-top: 3rem; }
.container_full { padding-left: 0; padding-right: 0; max-width: 100%; }
@media (min-width:600px){
.uk-container{ padding-left:calc(2 * var(--sz-reg)); padding-right:calc(2 * var(--sz-reg)); }
.container_small { max-width: 60%; }
.container_medium { max-width: 70%; }
.container_large { max-width: 80%; }
}
@media (min-width:900px){
.uk-section { 
    padding-top: calc(4*var(--sz-reg)); padding-bottom: calc(4*var(--sz-reg)); }
.uk-container{
    padding-left:calc(3 * var(--sz-reg));padding-right:calc(3 * var(--sz-reg)); }
}

.uk-grid{display:flex;flex-wrap:wrap;margin:0;padding:0;list-style:none}
.uk-grid>*{margin:0}
.uk-grid>*>:last-child{margin-bottom:0}

.uk-modal-page .head_hamburger > :first-child { opacity:0; }
.uk-modal-page .head_hamburger > :last-child { opacity:1; }  

.head_goto {
    position:fixed; bottom:1rem; height:var(--head-height); 
    font-size:36px; width: calc(1*var(--head-height)); outline: 0;
    opacity:1; transition:var(--timer) opacity; }
.change .head_goto { opacity:0; }

.menu_top li > a { 
    border-left: 1px solid var(--c-sombra)!important; height: var(--head-height); 
    padding: 0 .5rem; min-width: 50px; background-color: white; 
    display: inline-flex; position: relative; }
.menu_top li > a > * { display: inline-flex; }
.menu_top li > a > span { display: none; line-height: 1; color: #cacaca; }
.menu_top li > a > span + svg { left: 1.5rem; }
.change .menu_top li > a > span { color: transparent; padding-left: 0; padding-right: 0; width: 0; }
.menu_top li:last-child > a { border-right: 1px solid var(--c-sombra); } 

@media (max-width:899px){ 
.head_goto{ opacity:0; }
.menu_top li > a { min-width: 45px; }
}

@media(min-width:900px) and (min-height:600px) {  

.head_hamburger { 
    width:calc(var(--head-width) - 2rem); height: calc(var(--head-width) - 2rem);
    bottom:0; border-left:0; border:0; } 

.menu_top { 
    border-radius: 2rem; box-shadow: 0 2px 5px 1px rgb(64 60 67 / 16%);
    position:fixed; top:0; right:2rem; top:2rem; }  
.menu_top li > a > span { 
    display: inline-flex; overflow: hidden; width: 100%; padding-top: 1.125rem;
    padding-left: 2rem; padding-right: .75rem; white-space: nowrap;
    transition: var(--timer-faster) padding-left, var(--timer-faster) padding-right, var(--timer-faster) width; }
.menu_top li > a > span + svg { left: 1.5rem; }
.change .menu_top li > a > span { color: transparent; padding-left: 0; padding-right: 0; width: 0; }
.menu_top li:first-child > a { border-radius: 2rem 0 0 2rem; }
.menu_top li:last-child > a { border-radius: 0 2rem 2rem 0; min-width: 60px; border-right: 0; }

}

/* FUNDAMENTAL */

svg[class*='svg_'] { 
    top: 50%; left: 50%; transform: translate(-50%, -50%); 
    transition:var(--timer) opacity; position: absolute; }
[class*='_18'] svg,
svg[class*='_18'] { width: 18px; height: 18px }
[class*='_24'] svg,
svg[class*='_24'] { width: 24px; height: 24px; }
[class*='_36'] svg,
svg[class*='_36'] { width: 36px; height: 36px; }
[class*='_64'] svg,
svg[class*='_64'] { width: 50px; height: 50px; }
[class*='_lila'] svg,
svg[class*='_lila'] { fill: var(--c-lila); }
[class*='_rosa'] svg,
svg[class*='_rosa'] { fill: var(--c-rosa); }
[class*='_blanco'] svg,
svg[class*='_blanco'] { fill: white; }
.c_facebook svg {fill:#440099}
.c_twitter svg {fill:#00A9E0}
.c_instagram svg {fill:#F1C400}
.c_tube svg {fill:#EF426F}

.c_rosa{color:var(--c-rosa);}
.c_violeta{color:var(--c-violeta);}
.c_celeste{color:var(--c-celeste);}
.c_lila{color:var(--c-lila);}  
.c_blanco{color:white;}

.stroke { color: transparent; -webkit-text-stroke: 1px white; }
[class*="_blanco"] .stroke,
[class*="_suave"] .stroke { -webkit-text-stroke-color: var(--c-lila); }

[class*="bg_clr"]:not([class*="_suave"]),
[class*="bg_clr"]:not([class*="_suave"]) > a,
[class*="bg_clr"]:not([class*="_suave"]) ul:not(.contextual-links):not(.uk-grid) a { color: white; }
[class*="bg_clr"][class*="lila"] { background-color: var(--c-lila); }
[class*="bg_clr"][class*="rosa"] { background-color: var(--c-rosa); }
[class*="bg_clr"][class*="suave"] { background-color: var(--c-suave); }
[class*="bg_clr"][class*="violeta"] { background-color: var(--c-violeta); }
[class*="bg_clr"][class*="celeste"] { background-color: var(--c-celeste); }

.footer_group p { font-size: 14px; line-height: 1.5; text-align: center; }
.footer_group-icons { text-align: center; }
[class*="footer_group-"] { width: 100%; }
[class*="footer_group-"] > *:first-child { margin-bottom: 2rem; }
.footer_group-banner p { font-size: 36px; line-height: 1; font-weight: 700; }
@media (min-width: 600px) and (max-width: 799px) {
[class*="footer_group-"]:not([class*="banner"], :last-child) { width: 50%; }
[class*="footer_group-"]:last-child { margin-top: 2rem; }
}
@media (min-width: 800px){
.footer_group { margin-left: -1rem; text-align: left; }  
.footer_group p { text-align: left; }
[class*="footer_group-"] { width: 25%; padding-left: 1rem; } 
[class*="footer_group-"] > *:first-child { margin-bottom: 1rem; }
}
@media (max-width: 899px) {
.uk-section.footer { padding-bottom: calc(5*var(--sz-reg)); }
}
@media (max-width: 799px) {
.footer_group-list { text-align: center; margin-top: 2rem; }
}

.footer_group-list:last-child a {
    display: inline-block; color: var(--c-lila); line-height: 1; 
    position: relative; margin-bottom: .5rem; overflow: hidden; }
.footer_group-list:last-child a::after {
    content: ''; width: 0%; height: 2px; 
    background-color: var(--c-lila);
    position: absolute; left: 0; bottom: 0; border-radius: 1rem; 
    transition: var(--timer) width; }
.footer_group-list:last-child a:hover::after { width: 100%; }

section:not(.menu_top) .hipericon_items [class*="_item"] { display: inline-flex; }
section:not(.menu_top) .hipericon_items [class*="_link"] {
    min-width: 2rem; min-height: 2rem; position: relative; display: inline-flex; }

.footer_campus { align-items: center; }
.footer_campus:last-child { border-top: 1px solid rgba(255,255,255,.5); margin-top: 1rem; padding-top: 1.75rem; }
.footer_campus-title { width: 100%; font-size: 2.5em; font-weight: 900; }
.footer_campus-items { width: 100%; }
.footer_campus-link { width: 100%; line-height: 1.5; position: relative; padding-right: 2.5rem; margin-top: 1rem; } 
.footer_campus-link h3 {
    font-size: 1.25em; font-weight: 700; line-height: 1.25; margin-bottom: .75rem; }
.footer_campus-link svg {
    left: auto; right: 0; height: 18px; transition: var(--timer) right, var(--timer) left; }
.footer_campus-link:hover svg { right: .5rem; }
@media (max-width: 599px) { .footer_campus-link h3 br { display: none; } }
@media (min-width: 600px) {
.footer_campus-items { margin-left: -2rem; }
.footer_campus-link { padding-left: 2rem; padding-bottom: 3rem; padding-right: 0; width: 33.33%; } 
.footer_campus-link p { margin: 0; }
.footer_campus-link svg { bottom: 0; top: auto; left: 2.5rem; right: auto; }
.footer_campus-link:hover svg { left: 3rem; }
}
@media (min-width: 800px) {
.footer_campus { margin-left: -2rem; }
.footer_campus-title { padding-left: 2rem; width: 25%; }
.footer_campus-items { padding-left: 2rem; width: 75%; }
.footer_campus-link { margin-top: 0; }
}

.tls_header { text-align: center; position: relative; }
.tls_header-title { font-size: 36px; font-weight: 900; line-height: 1; }
.tls_header-title + a { margin-top: 1.5rem }
.tls_header-sub { font-size: 21px; margin-top: .5rem; }
.tls_header [class*="boton_"] { margin-top: 1rem; }
@media (min-width: 600px) {
.tls_header-title { font-size: 54px; }
}
@media (min-width: 900px) {
.alinear_izq.tls_header { text-align: left; }
.alinear_der.tls_header { text-align: right; }
.alinear_cen.tls_header { text-align: center; }

.tls_header.tls_header_alineado [class*="boton_"] {
    position: absolute; right: calc(3 * var(--sz-reg));
    top: 0; bottom: 0; margin: auto; 
    max-height: 42px; }
.tls_header.tls_header_alineado .tls_header-title { padding-right: 10rem; }
}

.is_button { overflow: hidden; }
.is_button svg { position: absolute; top: 50%; transform: translateY(-50%); right: .75rem; left: auto; transition: var(--timer) right; }
.is_button:hover svg { right: .5rem; }

.uk-modal-page { overflow: hidden }
.uk-modal-full { padding:0; background: none }
.uk-modal-dialog { 
    position:relative; margin:0 auto; 
    width: auto; max-width:calc(100% - 0.01px)!important; 
    background:#fff;opacity:0; transform:translateY(-100px); 
    transition: var(--timer) linear; transition-property:opacity, transform}
.uk-open>.uk-modal-dialog{opacity:1;transform:translateY(0)}

.modal { margin-top: var(--head-height); }
.modal.modal_buscador,
.modal.modal_chat { margin-top: 0; }
.modal_body { overflow: hidden; }
.modal_menu { 
    padding-top: calc(var(--head-height)/2); padding-bottom: calc(var(--head-height)/2);
    width: 100%; position: relative; z-index: 2; float: left; }
.modal_bg { 
    display: none; position: relative; z-index: 1; float: right; position: fixed;
    right: 0; bottom: 0; top: 0;
    background-repeat: no-repeat; background-size: cover; background-position: center; }

@media (min-width:600px){
.uk-modal:not([class*="-full"]){padding:50px 30px}
}
@media (min-width:900px){
.uk-modal:not([class*="-full"]){padding-left:40px;padding-right:40px}

.modal_menu,
.modal_bg { display: block; width: 50%; }
}
@media(min-width:900px) and (min-height:600px) {
.modal { margin-left:var(--head-width); margin-top:0; }
.modal.modal_total { margin-left: 0; }
}
.modal.modal_total > .uk-modal-dialog { padding: 2.5rem 0; position: relative; }

.modal.modal_total > .uk-modal-dialog a[class*="close"] { top: 1.5rem; right: 1.5rem; padding-right: 2rem; position: absolute; }
.modal.modal_total > .uk-modal-dialog a[class*="close"] svg { background: white; border-radius: 50%; left: calc(100% - .5rem); }

ul.menu_principal {margin:0;padding:0; display: block; position: inherit; }
ul.menu_principal::before { content: none; }
ul.menu_principal li.menu_principal-item { border: 0; position: inherit; padding: 0; }
ul.menu_principal li.menu_principal-item:first-child { display: none; }
a.menu_principal-link{
    border-bottom:1px solid rgba(255,255,255,.2); position:relative; text-transform: none; 
    font-size: 1.5em; padding:1rem 1.5rem!important; display: block; text-align: left; 
    transition:var(--timer) background-color;margin-top:.25rem;margin-bottom:.25rem;}
.uk-active a.menu_principal-link[aria-expanded="true"] {background-color:var(--c-rosa);}
a.menu_principal-link::after{ 
    content:'+';position:absolute !important;
    max-width:100%;top:50%;transform:translateY(-50%);
    color:var(--c-rosa);font-size:14px;right:1rem;transition:var(--timer) color;}
.uk-active a.menu_principal-link[aria-expanded="true"]::after{content:'-';color:white;}
a.menu_principal-a{ background-color:transparent; padding:.75rem; position:relative; font-size:1.25em; }
a.menu_principal-a::after{ content:'+'; margin-left:.5rem;}
.uk-active a.menu_principal-a::after{ content:'-' }

.drop_menu{
    margin-top:0; display:block; 
    position: absolute; top:0!important; left:auto!important; right:0!important; width:0;
    height:100vh; overflow:hidden; height:100%;
    transform:translatex(100%); transition:var(--timer) transform; }
.uk-open.drop_menu{ transform:translatex(0); width:100%; z-index: 2}
.drop_menu > div { height:100%; padding: var(--head-height); }
.uk-drop-close svg{ display:none; }
@media(min-width:900px){
.drop_menu { right:-100%!important; }
}

.menu_principal-sublink.menu-item {
    position: relative;
    padding-left: 1.5rem;
    margin-bottom: .75rem; }
.menu_principal-sublink.menu-item svg { left: .5rem; transition: var(--timer) left; }
.menu_principal-sublink.menu-item:hover { left: .25rem; }
a.menu_principal-sublink { font-size: 1.25em; display: inline-block; position: relative; }
a.menu_principal-sublink::after {
    content: ''; width: 0; bottom: 0; background-color: white;
    height: 2px; position: absolute; left: 0; transition: var(--timer) width; }
a.menu_principal-sublink:hover::after { width: 100%; }
.menu_sub { margin-top: 2.5rem; }

.menu_title { font-size: 48px; font-weight: 900; line-height: 1; }

.button_return {
    border: 0;
    background-color: transparent;
    color: white;
    font-family: inherit;
    opacity: .5;
    padding-left: 1.5rem;
    position: relative;
    font-size: 16px;
    margin-bottom: 2rem;
    transition: var(--timer) opacity; }
.button_return:hover { opacity: 1; }
.button_return svg { left: .5rem; display: none; }
.button_return svg[class] { display: block; }

ul[class*="menu"] li:not([class*="expanded"]) a { transition: var(--timer) opacity; padding: 0; }
ul[class*="menu"] li:not([class*="expanded"]) a:hover { opacity: .5; }

@media(min-width:900px){ .button_return { display: none; } }

[class*="modal_menu"]:not(:first-child) { margin-top: 2rem; margin-left: 2rem; }
.modal section:not(.menu_top) .hipericon_items [class*="_link"] {
    background-color: rgba(255,255,255, 0.5); border-radius: 50%; min-width: 2.5rem; height: 2.5rem;
    transition: var(--timer) background-color; }
.modal section:not(.menu_top) .hipericon_items [class*="_link"]:hover {
    background-color: rgba(255,255,255,1); }

[class*='boton_']{ 
    display: inline-block; border: 0;
    padding: .75rem 1.5rem; border-radius: 2rem; position: relative; 
    color: white; background-color: var(--c-violeta);
    transition-property: background-color, color; transition-duration: var(--timer); }
[class*="boton_"][class*="_redondo"] { padding: 0; width: 40px; height: 40px; line-height: 1; background-color: white; } 
[class*='boton_'][class*='_calato']{ color: var(--c-lila); background-color: white; }
[class*='violeta'] [class*='boton_']{ background-color: white; color: var(--c-lila); }
[class*='boton_'][class*="_icon"]{ padding-left: 2.75rem;  }
[class*='boton_'][class*="_flecha"]{ padding-right: 2.75rem;  }
[class*='boton_'][class*="_left"] { top: 0; bottom: 0; left: 0; margin: auto; position: absolute; }
[class*='boton_'][class*="_right"] { top: 0; bottom: 0; right: 0; margin: auto; position: absolute; }

[class*='boton_']:hover { background-color: var(--c-lila); }
[class*='boton_'][class*='_calato']:hover { background-color: var(--c-violeta); color: white; }  
[class*='violeta'] [class*='boton_']:hover { background-color: var(--c-lila); color: white; }  
[class*='boton_'][class*="_icon"] svg { left: 1.5rem; transition: color var(--timer); fill: white; }
[class*='boton_'][class*="_flecha"] svg { left: calc(100% - 1.5rem); transition: color var(--timer); fill: white; }
*:not([class*="bg_clr"]) [class*='boton_'][class*="_flecha"] svg { fill: var(--c-rosa); }
[class*='boton_'][class*='_calato'][class*="_icon"] svg { fill: var(--c-lila); }
[class*='boton_'][class*='_calato'][class*="_icon"]:hover svg { fill: white; }

[class*="boton_"] svg:not([class*="svg_"]) { display: none; }

[class*='boton_'][class*="_desnudo"] { background-color: transparent; border: 1px solid white; color: white; margin-top: 1.5rem; font-size: 14px; }
*:not([class*="bg_clr"]) [class*='boton_'][class*="_desnudo"][class*="_flecha"] svg { fill: white }
*:not([class*="bg_clr"]) [class*='boton_'][class*="_desnudo"][class*="_flecha"]:hover { background-color: var(--c-lila) }

[class*='boton_'][class*='_small'] { font-size: 12px; }

/* UTILES */
.mrg_top_delete { padding-top: 0!important }
.mrg_bottom_delete { padding-bottom: 0!important }

.dropdown_unico [class*='expanded'] > a::after { content: '+'; color: var(--c-rosa); margin-left: .5rem; }
.dropdown_unico [class*='expanded'].uk-open > a::after { content: '-' }
.dropdown_unico [class*='expanded'] ul { position: relative; padding-left: 1.5rem !important; line-height: 1.5; margin-top: .5rem; }
.dropdown_unico [class*='expanded'] ul::before { 
    content: ''; width: 5px; height: 100%; background-color: var(--c-rosa); position: absolute; border-radius: 1rem; left: 0; } 

.menu_columnas { column-count: 2; column-gap: 1rem; line-height: 1.5; }
.modal .menu_columnas { max-width: 75%; }

/* BUSCADOR */
.buscador { width: 100%; margin: 1rem auto 2.5rem; position: relative; }
.input_buscador {
    border: 2px solid var(--c-lila); border-radius: 2rem; outline: 0; 
    background-color: white; width: 100%; height: 50px; color: var(--c-lila); 
    font-family: inherit; padding: 0 10rem 0 1rem;  font-size: 15px; }
.input_buscador:focus { border-color: var(--c-rosa); }
svg ~ .input_buscador { padding-left: 3rem; }
svg[class*="svg_"][class*="_buscador"] {
    position: absolute; top: 0; bottom: 0; margin: auto; left: .75rem; transform: none; }
[class*="boton_"][class*="_buscador"] {
    position: absolute; top: 0; bottom: 0; height: 40px; line-height: 1;
    border: 0; margin: auto; right: .325rem; font-family: inherit; }

.buscador_grid { margin-bottom: 1rem; }
.buscador_grid > * { width: 100%; margin-bottom: 1.5rem; }
@media (min-width: 900px) and (min-height: 600px) {
.buscador_grid { margin-left: -2rem; }
.buscador_grid > * { padding-left: 2rem; width: 33.33%; }
}

.hiper_title { color: var(--c-rosa); font-size: 1.25em; margin-bottom: .75rem; }
.hiper_link {
    position: relative;
    display: block;
    padding: .75rem 1.5rem .75rem .75rem;
    border-bottom: 1px solid rgba(255,255,255,.125);
    border-radius: .5rem .5rem 0 0;
    transition: var(--timer) background-color; }
.hiper_link:hover { background-color: rgba(0,0,0,.1); }
.hiper_link svg { left: calc(100% - .75rem); transition: var(--timer) left; }
.hiper_link:hover svg { left: calc(100% - .5rem); }

.uk-tooltip{
    display:none;position:absolute;z-index:1030;top:0;box-sizing:border-box;text-align: center; border-radius: 1rem;
    max-width:200px;padding:3px 6px;background:white;color:var(--c-lila);font-size:13px;}
.uk-tooltip.uk-active{display:block}
[class*='uk-tooltip-top']{margin-top: 0}
[class*='uk-tooltip-bottom']{margin-top: .5rem; }
[class*='uk-tooltip-left']{margin-left:0}
[class*='uk-tooltip-right']{margin-left:0}

/* GRILLAS */
[class*="eval_"] { margin-left: -40px; }
[class*="eval_"] > * { padding-left: 40px; max-width: 100%; }
@media (min-width: 600px) {
[class*="eval_"][class*="tiny-2"] > * { max-width: 50%; }
}

/* SLIDER */
.slider_container { position: relative; } 
.slider_items { display: flex; position: relative; padding: 0; margin: 0; list-style: none; will-change: transform; margin-left: -40px; }
.slider_item { 
    flex: none; position: relative; touch-action: pan-y; width: 75%!important; padding-left: 40px; width: calc(100% - 40px); opacity: .25;
    transition: var(--timer) opacity; pointer-events: none; }
.slider_item.uk-active { opacity: 1; pointer-events: initial; }

.container_small [class*="boton_"][class*="_left"] { left: 0px; }
.container_small [class*="boton_"][class*="_right"] { right: 0px; }
.slider_container [class*="boton_"].uk-invisible { opacity: .25; pointer-events: none; }
@media (min-width: 600px) {
.container_small [class*="boton_"][class*="_left"] { left: -40px; }
.container_small [class*="boton_"][class*="_right"] { right: -40px; }   
}

/* VISTAS */
.teaser_link { display: block; }
.teaser_figure { border-radius: 1rem; overflow: hidden; position: relative; }
.teaser_img { width: 100%; height: auto; transition: calc(3*var(--timer)) transform; }
a:hover .teaser_img { transform: rotate(-10deg) scale(1.5); }
.teaser_body { line-height: 1.5; padding: 0 1.5rem; }
.teaser_figure + .teaser_body { margin-top: 1rem; }
.teaser_title { font-size: 24px; margin: .5rem 0; }
.teaser_badge {
    background-color: white; color: var(--c-lila); right: 1rem; position: absolute;
    bottom: 1rem; padding: .25rem .5rem; border-radius: 1rem; font-size: 12px; }
.teaser_small { font-size: 12px; line-height: 1.5; }

@media (min-width: 900px) {
.teaser_link:not(.teaser_columnas) { padding-left: 2.5rem; padding-right: 2.5rem; }
.teaser_columnas { display: flex; flex-flow: wrap; justify-content: space-between; align-items: center; }
.teaser_columnas .teaser_body { width: 47.5%; }
.teaser_columnas .teaser_figure { width: 47.5%; order: 2; }
}
@media (min-width: 1200px) { 
.teaser_columnas .teaser_body { width: 40%; }
.teaser_columnas .teaser_figure { width: 55%; order: 2; }
}

/* CHAT */
.chat { position: fixed; bottom: 0; right: 1rem; z-index: 5; display: flex; flex-flow: row wrap; }
[class*="chat_"] {
    display: block; position: relative;
    width: 90px; height: 90px; border: 5px solid transparent;
    border-radius: 50%; transform: scale(0.65); 
    background-color: white;
    box-shadow: 0 0 15px rgb(80 80 80 / 50%); }
[class*="chat_"] svg {
    max-width: 50px; height: 50px; position: absolute;
    top: 0; left: 0; right: 0; bottom: 0; margin: auto; display: block; }
.chat_wasap { animation: wasap 1s infinite; border-color: var(--c-verde); right: -1rem; }
.chat_wasap svg { fill: var(--c-verde); }
.chat_chattigo { border-color: var(--c-lila); }
.chat_chattigo svg { fill: var(--c-rosa); }
@keyframes wasap {
0% { box-shadow: 0 0 0 0px rgb(0 0 0 / 20%); }
100% { box-shadow: 0 0 0 35px rgb(0 0 0 / 0%); }
}

.tls_article-chat { max-width: 70%; margin: 2rem auto; font-size: 18px; text-align: center; }
.tls_article-chat a { border-bottom: 1px solid white; transition: var(--timer) opacity; }
.tls_article-chat a:hover { opacity: .75 }
.tls_article-chat > div { margin-top: 2rem; }

/* FORMULARIOS */
.tls_header-img { margin: 0 auto 1rem; max-width: 400px; height: auto; width: 100%; }
.tls_header-img + .tls_header-sub { font-size: 16px; }

.formulario { max-width: 900px; width: calc(100% - 4rem); margin: auto; }
.formulario form { overflow: hidden; }
.form_steps { display: flex; min-width: 200%; }
.step { width: 50%; transition: var(--timer) transform; transform-origin: left top; }
.step_1.ocultar,
.step_2 { transform: translate3d(-100%,0,0); }
.step_1,
.step_2.ocultar { transform: translate3d(0,0,0); }

.excel { justify-content: space-between; margin: 1.5rem 0 0; }
.excel > * { width: 100%; }

.step_title { width: 100%; text-align: center; margin: 1.5rem 0; }
.step_two { margin-bottom: .5rem; }
@media (min-width: 480px) {
.step_two { width: calc(50% - 1rem); }
.form_subs .step_two { min-width: calc(50% + 1rem); width: calc(50% + 1rem); flex: 0; }
.form_subs .excel { justify-content: center; }
}

.step_label { font-size: 13px; display: block; }
.step_box { display: block; position: relative; }
[class*="form_ter"] { margin-top: .75rem; }

.excel input:not([type="submit"]),
.excel select,
.excel textarea {
    width: 100%; font-family: inherit; height: 40px; 
    border: 0; border-bottom: 2px solid var(--c-lila); 
    line-height: 2; padding: .25rem .5rem; }
.excel textarea { height: auto; }
.excel .error { display: none; font-size: 10px; color: var(--c-vino); }
.excel .error.danger { display: block; }
.excel input.danger { border-bottom-color: var(--c-vino); }
.excel input.success { border-bottom-color: var(--c-verde); }
.excel button[class*="boton"] { font-family: inherit; }
.excel input[type="checkbox"] {
    width: 1.25rem; margin: auto; height: 1.25rem;
    -webkit-appearance: none; border: 2px solid var(--c-rosa);
    position: absolute; left: 0; top: 0; bottom: 0; }
.excel input[type="checkbox"]:checked { background-color: var(--c-rosa); }
.excel input[type="checkbox"]:checked:after {
    content: 'x'; color: white; position: absolute;
    top: 0; left: 0; bottom: 0; margin: auto; right: 0; 
    line-height: 1; width: 6px; }

.form_barra { display: none; width: 100%; margin: 1.5rem 0 0; }
.form_barra-item { width: 50%; position: relative; text-align: center; }
.form_barrita-text { line-height: 1.5; }
.form_barrita { background-color: #FBD7E1; width: 100%; position: relative; height: 5px; display: block; margin-top: .5rem; }
.form_barrita-text span {
    background-color: var(--c-rosa); display: inline-block; height: 1.5rem; width: 1.5rem; 
    color: white; border-radius: 50%; margin-right: .5rem; line-height: 1.75; }
@media (min-width: 600px) {
.form_barra { display: flex; }
}

.form_boton { flex: 1; margin-top: 2rem; }
.step_2 .form_boton:last-child { flex: 0; }
.boton_anchor { color: var(--c-rosa); padding-left: 2.5rem; background-color: transparent!important; transition: var(--timer) opacity; }
.boton_anchor svg { transform: rotate( 180deg ); transform-origin: center .325rem; left: 1rem; fill: var(--c-rosa); transition: var(--timer) left; }
.boton_anchor:hover svg { left: .5rem; }
.boton_anchor:hover { opacity: .5; }

.form_barrita:after {
    content: ''; width: 0; height: 100%; transition: calc(var(--timer)*.5) width;
    background-color: var(--c-rosa); position: absolute; left: 0; }
.barra-activo .form_barrita:after { width: 15%; }
.barra-listo .form_barrita:after { width: 100%; } 
.form_barra-item-1 .form_barrita:after { border-radius: 1rem 0 0 1rem; }

.step_checkbox { position: relative; padding-left: 2rem; line-height: 1.5; display: block; }
.step_checkbox a { color: var(--c-rosa); transition: var(--timer) opacity; }
.step_checkbox a:hover { opacity: .75 }
/*
------------------------
*/