.mundo_listado { background-color: white; min-height: 100%; padding: 2.5rem 1.5rem; border-radius: 1rem; }
.mundo_grid-welcome { font-size: 32px; font-weight: 900; line-height: 1.2; margin-bottom: 1rem; }
.mundo_listado-welcome { font-size: 24px; margin-bottom: 1.5rem; }
.mundo_listado-item {
    width: 0; overflow: hidden; opacity: 0; height: 0; 
    transition: var(--timer) opactiy; position: relative; }
.mundo_listado-item.uk-active { opacity: 1; width: 100%; height: 100%; }
.mundo_listado-item::after {
    content: ''; width: 100%; height: 100%; position: absolute;
    background-color: white; z-index: 1; top: 0; left: 0; 
    transition: calc(1.5*var(--timer)) width; }
.mundo_listado-item.uk-active::after { width: 0; }

.mundo_items { margin-left: -1rem; }
.mundo_item { padding-left: 1rem; margin-bottom: 1rem; width: 50%; position: relative; }
.mundo_item:nth-child(even) { top: 1rem; }

.mundo_grid-link {
    padding: .75rem 1rem; display: block; margin-top: .25rem; color: var(--c-violeta);
    border-left: 5px solid transparent; border-radius: .5rem 0 0 .5rem;
    transition-duration: var(--timer); transition-property: background-color, color, border-left-color; }
.uk-active .mundo_grid-link { background-color: white; color: var(--c-rosa); border-left-color: var(--c-lila); }

@media (max-width: 799px){
.mundo_grid-welcome { display: none; }
.mundo_grid { justify-content: center; }
.mundo_grid-items { display: flex; }
.mundo_grid-link { border-top: 5px solid transparent; border-left: 0; padding: .5rem; font-size: 2.7vw; border-radius: .5rem .5rem 0 0; }
.uk-active .mundo_grid-link { border-top-color: var(--c-lila); }
.mundo_grid-link span { display: none; }
.mundo_listado { border-radius: 1rem; }
}

.mundo_link {
    position: relative; padding: 1.5rem; display: flex; color: var(--c-lila); align-items: center; font-size: 14px;
    padding-left: 5rem; padding-right: 2rem; border: 1px solid rgba(20, 0, 73, 0.1); border-radius: .5rem; height: 100%;
    transition-duration: var(--timer); transition-property: background-color, color; }
.mundo_link .svg_64 { left: 2.5rem; transition-duration: var(--timer); transition-property: fill, left; fill: var(--c-violeta); }
.mundo_link:hover .svg_64 { fill: white; left: 2.75rem }
.mundo_link .svg_18 { left: calc(100% - 1.5rem); transition: var(--timer) left; }
.mundo_link:hover { background-color: var(--c-lila); color: white; }
.mundo_link:hover .svg_18 { left: calc(100% - 1rem); }
@media (max-width: 799px) {
.mundo_link { padding: 5rem 1rem 1rem 1rem; }
.mundo_link .svg_64 { top: 2.5rem; }
}

.mundo_links {
    display: inline-block; margin: 2rem auto 0; color: var(--c-violeta); border-bottom: 3px solid var(--c-violeta);
    transition-duration: var(--timer); transition-property: color, border-bottom-color; }
.mundo_links:hover { color: var(--c-lila); border-bottom-color: var(--c-lila); }

.slider_tls-item { 
    background-image: linear-gradient(135deg, rgb(206, 53, 119) 20.25%, rgb(205, 52, 119) 20.25%, rgb(68, 0, 150) 80.25%);
    background-repeat: no-repeat; background-position: 50% 50%; background-size: cover; 
    will-change: transform, opacity; touch-action: pan-y; }
.slider_tls-container { 
    display: flow-root; box-sizing: content-box; max-width: 1110px;
    margin: auto; z-index: 1; position: relative; 
    padding-left: calc(1 * var(--sz-reg));
    padding-right: calc(1 * var(--sz-reg)); }
.slider_tls-background { 
    position: absolute; top: 0; left: 0;
    max-width: 100%; height: 100%; box-sizing: border-box; width: 100%; 
    background-position: 50% 50%; background-size: cover; background-repeat: no-repeat; }
.slider_tls-dots {
    width: max-content; max-width: 100%; box-sizing: border-box; top: auto;
    position: absolute; bottom: 0; left: 50%; transform: translateX(-50%);
    list-style: none; display: flex; flex-wrap: wrap; margin: 0; padding: 0; }

.slider_tls-dots {   
    margin-left: -calc(.75 * var(--sz-reg)); 
    margin-bottom: calc(2 * var(--sz-reg)); }
.slider_tls-dots > * { flex: none; padding-left: calc(.75 * var(--sz-reg)); }
.slider_tls-dots > * > * {
    display: block; box-sizing: border-box; width: 30px; height: 30px; 
    background-color: transparent; 
    transition: var(--timer) ease-in-out; transition-property: all; transition-property: opacity; 
    color: white; text-align: center; opacity: .5; position: relative; font-size: 16px; }
.slider_tls-dots > * > :hover, .slider_tls-dots > * > :focus {
    background-color: transparent; color: white!important; opacity: .75; }
.slider_tls-dots .uk-active > * { opacity: 1; }
.slider_tls-dots > * > *::after {
    content: ''; width: 100%; background-color: white; height: 5px;
    display: block; border-radius: 1rem; position: relative; bottom: -5px; transition: var(--timer) bottom; }
.slider_tls-dots .uk-active > *::after { bottom: 0; }

@media (min-width:900px) {
.slider_tls-dots > * > * { width: 30px; font-size: 18px; }
}
@media (max-width: 599px) {
.slider_tls-container { margin: auto auto 5.5rem; }
}

.banner_title {
    font-size: 48px; line-height: 52px; font-weight: 900; 
    color: white; margin-bottom: calc(.5 * var(--sz-reg)); }
.banner_title span { display: block; line-height: 1; }
.banner_title [data-line] { -webkit-text-stroke: 1px white; color: transparent; }
.banner_body {
    font-size: 1rem; line-height: 1.5; font-weight: 400; 
    color: white; margin-top: 0 !important; margin-bottom: calc(1.5 * var(--sz-reg)); }
.banner_button { 
    background-color: var(--c-lila); border-radius: 50px; border: 0; 
    transition: var(--timer) ease-in-out; transition-property: all; transition-property: background-color; 
    color: white!important; display: inline-block; line-height: 1; font-size: 16px;
    padding: .75rem 1.5rem; padding-right: 2.5rem; text-align: center;
    position: relative; text-decoration: none; }
.banner_button:hover { background-color: var(--c-violeta); }
@media (min-width:600px) {
.banner_body { font-size: 1.25rem; }
}
@media (min-width:900px) {
.banner_title { font-size: 84px; line-height: 90px; }
.banner_body { width: 50%; font-size: 20px; }
}

/* MUY ACCESORIO *//*
@media (min-width: 900px) { 
.slider_tls::after { content: ''; position: absolute; z-index: 2; background-position: center; }
.slider_tls::after { 
    background: repeating-linear-gradient(-50deg,rgba(255,255,255,.4),rgba(255,255,255,.4) 2px,transparent 2px,transparent 10px);
    width: 300px; height: 300px; bottom: 2rem; right: -150px; border-radius: 50%; } 
.slider_tls-deco { 
    position: absolute; z-index: 2; 
    width: 205px; height: 392px; top: 2rem; right: 0;
}
}*/

.quotes { overflow: hidden; }
.teaser_quotes .teaser_img { max-width: 50%; margin: auto; }
.teaser_quotes .teaser_body {
    text-align: center; line-height: 1.25; font-size: 18px; background-color: white; padding: 0; position: relative; z-index: 1; }
li:first-child .teaser_quotes .teaser_body { z-index: 2; }
.teaser_quotes .teaser_quote { max-width: 80%; margin: auto; position: relative; }
.teaser_quotes .teaser_quote svg { z-index: 0; opacity: .35; }
.teaser_quotes .teaser_body > div { position: relative; z-index: 1; padding: 2rem 1.5rem 4rem; }
.teaser_quotes .teaser_body > div::after {
    content: ''; width: calc(100% + 6rem); background-color: white; display: block; 
    position: absolute; height: calc(100% + 2px); top: -2px; z-index: -2; left: -3rem; border-top: 2px solid var(--c-sombra); }
@media (min-width: 600px) {
.teaser_quotes .teaser_body > div::after { height: calc(100% + 2px + 5rem); }   
}

.giro { justify-content: center; }
.giro_item { max-width: 400px; margin: 0 2rem 3rem; position: relative; }
.giro_link {
    width: 100%; border: 1px solid white; display: block; height: 100%;
    padding: 2rem; border-radius: .75rem; background-color: rgba(0,0,0,.05); 
    padding-top: 140px; position: relative; text-align: center;
    transition: var(--timer) background-color; color: white; }
.giro_link:hover { background-color: rgba(255,255,255,.25); }
.giro_img { position: absolute; max-width: 160px; left: 0; top: -4rem; right: 0; margin: auto; }
.giro_title { font-weight: 900; font-size: 24px; max-width: 185px; margin: 0 auto 2rem; }
.giro_parrafo { font-size: 14px; }
.giro_parrafo .boom { font-size: 21px; }
.giro_small { font-size: 12px; max-width: 220px; margin: auto; }
.giro [class*="boton_"] { margin-top: 2rem; font-size: 14px; }
@media (min-width: 600px) {
.giro_item { min-width: 40%; max-width: 40%; margin: 0 1rem 2rem; }
}
@media (min-width: 1200px) {
.giro_item { min-width: 30%; max-width: 30%; }
.giro_item:nth-child(2) { top: 2rem; }
.giro_item:nth-child(3) { top: -2rem; }
}

.switcher { width: 55%; float: right; position: relative; z-index: 2; display: flex; }
.switcher_item { position: relative; }
.switcher_item::after {
    content: ''; position: absolute; width: 90%; height: 90%; transform: translate3d(-50%,-50%,0);
    border: 2px dashed transparent; left: 50%; top: 50%; border-radius: 50%; z-index: 1;
    transition-duration: var(--timer); transition-property: border-color width height transform; }
.switcher_item:hover::after { border-color: var(--c-lila); transform: translate3d(-50%,-50%,0) rotate(360deg) }
.switcher_item.uk-active::after { border-color: white; width: 110%; height: 110%; z-index: 2; }
.switcher_link { 
    border: 3px solid white; display: block; border-radius: 50%; transform: scale(.75);
    position: relative; z-index: 2; transform-origin: center; transition: var(--timer) transform; }
.uk-active .switcher_link { transform: scale(1); }

.switchs { position: relative; top: -56px; }
.switchs_item { width: 100%; flex-flow: row wrap; align-items: center; }
.switchs_item:not(.uk-active) { display: none; }
.switchs_image { width: 46%; left: -5rem; }
.switchs_body { width: 35%; line-height: 1.5; }
.switch_title { font-size: 27px; margin-bottom: .5rem; }
.switch_small { font-size: 14px; margin-bottom: 1rem; }
.switch_parrafo { text-align: justify; font-size: 13px; }

@media (max-width: 1199px) {
.switcher-container { display: flex; flex-flow: column wrap; align-items: center; }
.switcher { width: auto; float: none; order: 2; }
.switchs { top: auto; }
.switchs_image { left: auto; width: 250px; height: 250px; margin: auto; }
.switchs_img { width: 100%; height: auto; }
.switchs_body { text-align: center; margin: 2rem auto 3rem; width: 75%; }
}