{% set attributes_contents = create_attribute() %}
{% set attributes_tits = create_attribute() %}
{% set id_block = 'toggle-sedes' %}

{%
  set classes = [
    'uk-flex', 'uk-flex-row', 'uk-flex-wrap', 'uk-flex-between', 'uk-flex-middle', 
    'uk-margin-medium-top', 'uk-padding-medium-top', 'aw-border-top',
    'footer--campus'
  ]
%}
{%
  set classes_contents = [
    'uk-width-3-4--size-m', 'uk-width-2-3--size-l',
    'footer--campus-contents'
  ]
%}
{%
  set classes_tits = [
    'uk-heading-3', 'uk-width-1-4--size-m', 'uk-width-1-3--size-l', 'uk-flex-first', 'uk-margin-remove', 'uk-position-relative',
    'footer--campus-tits'
  ]
%}

<div{{ attributes.addClass(classes).removeClass('settings-tray-editable views-element-container') }}> 

    {% if logged_in %}
        {{ title_prefix }} 
        {{ title_suffix }}
    {% endif %}

    {% block content %}
        <div{{ attributes_contents.addClass(classes_contents).setAttribute('id', id_block) }}>
          <div class="uk-child-width-1-3--size-m uk-grid-collapse uk-grid-match uk-grid" uk-grid>
            {{ content }}
          </div>
        </div>
    {% endblock %}

    {% if label %}
        <h3{{ attributes_tits.addClass(classes_tits).setAttribute('uk-toggle', 'target: #toggle-sedes; animation: uk-animation-fade') }}>{{ label }}</h3>
    {% endif %} 

</div>