<div class="footer_campus"> 

  <ul uk-accordion>
    <li class="uk-open">
        <a class="uk-accordion-title" href="#">{{ label }}</a>
        <div class="uk-accordion-content">
            {{ content }}
        </div>
    </li>
  </ul>

  {% if logged_in %}
    {{ title_prefix }} 
    {{ title_suffix }}
  {% endif %}

</div>