{% if logged_in %}
{% if content['#block_content'].field_bk_multiple.0.target_id == '21' %}
<div{{ attributes }}> 
{% endif %}
{% endif %}

{% if content['#block_content'].field_bk_multiple.0.target_id == '21' %}
  {% set sitename_tag = is_front ? 'h1' : 'div' %}
    <{{ sitename_tag }} id="logo" class="logo">
      <a href="{{ url('<front>') }}" alt="{{ site_name }}">
        <svg class="logo_desktop"><use xlink:href="#tlsv"></use></svg>  
        <svg class="logo_movil"><use xlink:href="#tlsh"></use></svg> 
      </a>
    </{{ sitename_tag }}>
  {% endif %} 

  {% if logged_in %}
    {{ title_prefix }} 
    {{ title_suffix }}
  {% endif %}

{% if logged_in %}      
{% if content['#block_content'].field_bk_multiple.0.target_id == '21' %}        
</div>
{% endif %}
{% endif %}