{% include '@tls/@block_includes/bk-block-section.html.twig' %} 
     
    {% include '@tls/@block_includes/bk-block-header.html.twig' %} 

    <div class="
    uk-container uk-position-relative 
    {% if content['#block_content'].field_bk_view_type.0.target_id == '12' %}
      uk-container-xsmall
    {% elseif content['#block_content'].field_bk_view_type.0.target_id == '13' %}
      uk-container-medium
    {% elseif content['#block_content'].field_bk_view_type.0.target_id == '15' %}
      uk-container-xxsmall
    {% elseif content['#block_content'].field_bk_view_type.0.target_id == '90' %}
      uk-padding-remove
    {% endif %}
    {% if content['#block_content'].field_bk_expand.value == '1' %}
      uk-container-expand
    {% endif %}
    ">
 
    <ul class="uk-grid-divider uk-child-width-expand--size-m uk-grid" uk-grid>
    {% for help in content['#block_content'].field_bk_ayuda %}
        <li class="simple uk-text-center uk-text-left--size-m">
            <p class="uk-h3 uk-margin-small-bottom">{{ help.entity.field_px_titulo.value }}</p>
            <p class="uk-h5 uk-margin-remove">{{ help.entity.field_px_parrafo.value }}</p>
            {% if help.entity.field_px_link[0].value|length > 0 %}
            <a 
            href="{{ help.entity.field_px_link.0.url }}" 
            class="uk-button uk-button-default uk-display-block-inline uk-border-pill uk-margin-top uk-border-naked">
                {% if help.entity.field_px_icono_fuente[0].value|length > 0 %}
                <span class="{{ help.entity.field_px_icono_fuente.0.getString() }}"></span>
                {% endif %}
                {{ help.entity.field_px_link.title }}
            </a>
            {% endif %}
        </li>
    {% endfor %}
    </ul>
    
    </div> 

    {% include '@tls/@block_includes/bk-block-footer.html.twig' %}


</section>