{# INICIO DE BLOQUE #}
{% if is_front %} 
{% include '@tls/components/more_components/bk_section.html.twig' %} 
{% else %}
{% include '@tls/@block_includes/bk-block-section.html.twig' %} 
{% endif %} 

    {% if content['#block_content'].field_bk_titulo[0].value|length > 0 %}
    <h4 class="hiper_title">{{ content['#block_content'].field_bk_titulo.value }}</h4>
    {% endif %}

    <ul class="hiper_list"> 
    {% for enlace in content['#block_content'].field_bk_enlace %}
        <li class="hiper_item">
            <a 
            href="{{ enlace.entity.field_px_granja_link.0.url }}" 
            target="{{ enlace.entity.field_px_granja_link.0.url.external ? '_blank' : '_self' }}" class="hiper_link">
                {{ enlace.entity.field_px_granja_title.value }}
                <svg class="svg_18_rosa"><use xlink:href="#arrow_right"></use></svg> 
            </a>
        </li>
    {% endfor %} 
    </ul>

    {% if logged_in %}
      {{ title_prefix }} 
      {{ title_suffix }}
    {% endif %}
</section>