{# TABULADOR --> Tab Top (14): Funciona para quotes #}

{# INICIO DE BLOQUE #}
{% if is_front %} 
{% include '@tls/components/more_components/bk_section.html.twig' %} 
{% else %}
{% include '@tls/@block_includes/bk-block-section.html.twig' %} 
{% endif %} 

{% if is_front %}
{% include '@tls/components/more_components/bk_header.html.twig' %}
{% else %}
{% include '@tls/@block_includes/bk-block-header.html.twig' %}
{% endif %}

  {# INTERNA #}
{% if is_front %}
{% include '@tls/components/more_components/bk_content_entidades.html.twig' %} 
  {% else %}

      {# LOGROS #}
      {% if content['#block_content'].field_bk_view_type.0.target_id == '14' %}
      <div class="switcher-container uk-container uk-position-relative" uk-scrollspy="cls: uk-animation-fade; target: .animate; delay: 250;">
        <ul class="switcher uk-subnav uk-subnav-pill uk-position-bottom-center" uk-switcher>
          {% for tabs in content['#block_content'].field_entities_list %}
          <li class="switcher--item-{{ loop.index }}">
            <a 
            href="#switch_{{ loop.index }}" aria-label="{{ tabs.entity.label }}" 
            class="switcher--link uk-border-circle" data-tooltip="{{ tabs.entity.label }}">
              <figure class="switcher--tip uk-border-circle uk-margin-remove">
                <img 
                class="switcher--img uk-border-circle"  
                alt="{{ tabs.entity.field_thumbnail.0.alt }}" 
                title="{{ tabs.entity.field_thumbnail.0.title }}" 
                data-src="{{ file_url(tabs.entity.field_thumbnail.0.entity.fileuri | image_style('125x125') ) }}" uk-img /> 
              </figure>
            </a>
          </li>
        {% endfor %} 
        </ul> 
        <ul class="switcher-child uk-switcher uk-marginm uk-text-center uk-text-left--size-m">
          {% for tab in content['#block_content'].field_entities_list %}
          <li id="switch_{{ loop.index }}" class="switcher-child--item-{{ loop.index }}">
            <div class="uk-grid-medium uk-flex-middle animate" uk-grid>
              <figure class="uk-width-1-2--size-m uk-width-auto--size-l switcher-child--figure">
                <img 
                  class="teaser-img"  
                  alt="{{ tab.entity.field_img.0.alt }}" 
                  title="{{ tab.entity.field_img.0.title }}" 
                  data-src="{{ file_url(tab.entity.field_img.0.entity.fileuri | image_style('572x572') ) }}" uk-img /> 
              </figure>
              <article class="uk-width-1-2--size-m uk-width-expand--size-l switcher-child--body">
                <h3 class="uk-h1 arky-serif uk-margin-small-bottom">{{ tab.entity.label }}</h3>
                <p class="uk-margin-small-bottom">{{ tab.entity.field_cargo.value }}</p>
                <p>{{ tab.entity.field_quotes.value }}</p>
              </article>
            </div>
          </li>
        {% endfor %} 
        </ul>
      </div>
      {% endif %} 
      {# FIN DE LOGROS #}

  {% endif %}

    {# FOOTER #}
    {% if not ( content['#block_content'].field_bk_view_type.0.target_id == '90' ) %}
        {% if is_front %}
            {% include '@tls/components/more_components/bk_footer.html.twig' %}
        {% else %}
            {% include '@tls/@block_includes/bk-block-footer.html.twig' %}
        {% endif %}
    {% endif %}

    {% if logged_in %}
        {{ title_prefix }} 
        {{ title_suffix }}
    {% endif %}
</section>