{# INICIO DE BLOQUE #}
{% if is_front %} 
{% include '@tls/components/more_components/bk_section.html.twig' %} 
{% else %}
{% include '@tls/@block_includes/bk-block-section.html.twig' %} 
{% endif %}
    
    {# HEADER #}
{% if not ( content['#block_content'].field_bk_view_type.0.target_id == '90' ) %} 
    {% if is_front %}
        {% include '@tls/components/more_components/bk_header.html.twig' %}
    {% else %}
        {% include '@tls/@block_includes/bk-block-header.html.twig' %}
    {% endif %}
{% endif %} 

    {# INTERNA #}
    {% if is_front %}
        {% include '@tls/components/more_components/bk_content_vista.html.twig' %}
    {% else %}

<div class="uk-container uk-position-relative 
    {% if content['#block_content'].field_bk_view_type.0.target_id == '12' %}
      uk-container-xsmall
    {% elseif content['#block_content'].field_bk_view_type.0.target_id == '13' %}
      uk-container-medium
    {% elseif content['#block_content'].field_bk_view_type.0.target_id == '15' %}
      uk-container-xxsmall
    {% elseif content['#block_content'].field_bk_view_type.0.target_id == '90' %}
      uk-padding-remove
    {% endif %}
    {% if content['#block_content'].field_bk_expand.value == '1' %}
      uk-container-expand
    {% endif %}
    ">

    {% set drupal_views = content['#block_content'].field_bk_view.0.target_id %}
    {% set drupal_views_display = content['#block_content'].field_bk_view.0.display_id %}            
    {{ drupal_view(drupal_views, drupal_views_display) }}
    
</div>

    {% endif %}

    {# FOOTER #}
    {% if not ( content['#block_content'].field_bk_view_type.0.target_id == '90' ) %}
        {% if is_front %}
            {% include '@tls/components/more_components/bk_footer.html.twig' %}
        {% else %}
            {% include '@tls/@block_includes/bk-block-footer.html.twig' %}
        {% endif %}
    {% endif %}

    {% if logged_in %}
        {{ title_prefix }} 
        {{ title_suffix }}
    {% endif %}
</section>