{% set block_attr = create_attribute() %}
{% if content['#block_content'].field_bk_id[0].value|length > 0 %}
  {% set block_id = content['#block_content'].field_bk_id.0.value %}
{% endif %}
{% if content['#block_content'].field_bk_clases[0].value|length > 0 %}
  {% set block_class = content['#block_content'].field_bk_clases.0.value %}
{% endif %}

<section{{ 
  block_attr
  .addClass(block_class)
  .setAttribute('id', block_id)
  .setAttribute('uk-scrollspy', 'cls: uk-animation-fade; target: .uk-card; delay: 500') }}>
  
  <ul class="hipericon_items"> 
  {% for hipericon in content['#block_content'].field_bk_hipericon %}
    <li class="hipericon_item hipericon_item-{{ loop.index }}">

{% set link_attr = create_attribute() %}

{% if hipericon.entity.field_px_granja_modal_link[0].value|length > 0 %}
  {% set link_toggle = hipericon.entity.field_px_granja_modal_link.value %}
{% else %}
  {% set link_href = hipericon.entity.field_px_granja_link.0.url %}
{% endif %}

{% set link_aria = hipericon.entity.field_px_granja_link.title %}

{% set link_class = [
  'hipericon_link',
  ( hipericon.entity.field_px_granja_clase[0] is empty ) ? '' : ( hipericon.entity.field_px_granja_clase[0].value ),
  ( hipericon.entity.field_px_granja_svg_sprite[0] is empty ) ? '' : 'imundo ihipericon'
] %}

        <a {{ 
        link_attr
        .addClass(link_class)
        .setAttribute('aria-label', link_aria) }}
        {% if hipericon.entity.field_px_granja_modal_link[0].value|length > 0 %}
          uk-toggle="{{ hipericon.entity.field_px_granja_modal_link.value }}"
        {% else %}
          href="{{ hipericon.entity.field_px_granja_link.0.url }}"
          target="{{ hipericon.entity.field_px_granja_link.0.url.external ? '_blank' : '_self' }}"
          rel="{{ hipericon.entity.field_px_granja_link.0.url.external ? 'noreferrer noopener' : '' }}"
        {% endif %}
        {% if hipericon.entity.field_px_granja_link[0].title|length > 0 %}
          uk-tooltip="title: {{ hipericon.entity.field_px_granja_link.title }}; pos: bottom"
        {% endif %}
        {% if hipericon.entity.field_scroll.value == '1' %} uk-scroll {% endif %}
        {% if hipericon.entity.field_px_granja_svg_sprite.value %}data-mundo="{{ hipericon.entity.field_px_granja_svg_sprite.value }}"{% endif %}
        >

          {% if hipericon.entity.field_px_granja_title[0].value|length > 0 %}
            <span>{{ hipericon.entity.field_px_granja_title.value }}</span>
          {% endif %}

          {% if hipericon.entity.field_px_granja_svg_sprite[0].value|length > 0 %}
            {# NADA #}
          {% elseif hipericon.entity.field_px_granja_svg[0].value|length > 0 %} 
            <div class="uk-animation-toggle" tabindex="0">
              <img class="uk-animation-stroke" src="{{ file_url(hipericon.entity.field_px_granja_svg.entity.uri.value) }}" alt="" uk-svg="stroke-animation: true" uk-img>
            </div>
          {% elseif hipericon.entity.field_px_granja_img[0].value|length > 0 %} 
            <div class="uk-animation-toggle" tabindex="0">
              <img 
              width="{{ hipericon.entity.field_px_granja_img.width }}" height="{{ hipericon.entity.field_px_granja_img.height }}" 
              data-src="{{ file_url(hipericon.entity.field_px_granja_img.entity.fileuri) }}" alt="" uk-img>
            </div>
          {% endif %}

        </a>
      </li>

    {% endfor %} 
    </ul>

{% if logged_in %}
  {{ title_prefix }} 
  {{ title_suffix }}
{% endif %}

</section>