{% set attrs = create_attribute() %}
{% set attrs_cls = [
    'uk-container',
    ( content['#block_content'].field_bk_view_type.0.target_id == '12' ) ? "container_small" : "",
    ( content['#block_content'].field_bk_view_type.0.target_id == '13' ) ? "container_large" : "",
    ( content['#block_content'].field_bk_view_type.0.target_id == '15' ) ? "container_medium" : "",
    ( content['#block_content'].field_bk_view_type.0.target_id == '90' ) ? "uk-padding-remove" : "",
    ( content['#block_content'].field_bk_expand.value == '1' ) ? "container_full" : ""
] %}

{% set drupal_views = content['#block_content'].field_bk_view.0.target_id %}
{% set drupal_views_display = content['#block_content'].field_bk_view.0.display_id %}

<div{{ attrs.addClass(attrs_cls) }}>        
  {{ drupal_view(drupal_views, drupal_views_display) }}    
</div>