{% if content['#block_content'].field_bk_view_type.0.target_id == '14' %}
<div class="switcher-container uk-container container_full" uk-scrollspy="cls: uk-animation-fade; target: .animate; delay: 250;">

<ul class="switcher" uk-switcher>          
{% for tabs in content['#block_content'].field_entities_list %}
<li class="switcher_item">
<a href="#switch_{{ loop.index }}" aria-label="{{ tabs.entity.label }}" class="switcher_link" data-tooltip="{{ tabs.entity.label }}" uk-tooltip="title: {{ tabs.entity.label }}; pos: bottom">
<img class="switcher_img" width="69" height="69" alt="{{ tabs.entity.field_thumbnail.0.alt }}" title="{{ tabs.entity.field_thumbnail.0.title }}" 
data-src="{{ file_url(tabs.entity.field_thumbnail.0.entity.fileuri | image_style('69x69') ) }}" uk-img /> 
</a>
</li>
{% endfor %} 
</ul>

<ul class="switchs uk-switcher">    
{% for tab in content['#block_content'].field_entities_list %}
<li id="switch_{{ loop.index }}" class="switchs_item" uk-grid>  
<figure class="switchs_image">
<img class="switchs_img" width="444" height="444" alt="{{ tab.entity.field_img.0.alt }}" title="{{ tab.entity.field_img.0.title }}" 
data-src="{{ file_url(tab.entity.field_img.0.entity.fileuri | image_style('444x444') ) }}" uk-img /> 
</figure>
<article class="switchs_body">
<h3 class="switch_title">{{ tab.entity.label }}</h3>
<p class="switch_small">{{ tab.entity.field_cargo.value }}</p>
<p class="switch_parrafo">{{ tab.entity.field_quotes.value }}</p>
</article> 
</li>
{% endfor %} 
</ul>

</div>
{% endif %} 