{% set month        = node.created.value|date('F') %}
{% set day          = node.created.value|date('d') %}
{% set year         = node.created.value|date('Y') %}

<header class="intro">
<div class="header_grid" uk-grid>

<div class="calendar">
<span class="calendar_day">{{ '%s'|format(day) }}</span>
<span class="calendar_month">{{ '%s'|format(month|t) }}</span>
</div>

<div class="header_title">
{% if node.field_titulo[0].value|length > 0 %}
{% for titulo in node.field_titulo %}
<h1 id="title" class="title">{% if titulo.entity.field_px_tit_sup[0].value|length > 0 %}{{ titulo.entity.field_px_tit_sup.value }}&nbsp;{% endif %}{% if titulo.entity.field_px_cortar.value == '1' %}<br>{% endif %}{% if titulo.entity.field_px_tit_inf[0].value|length > 0 %}<span class="stroke">{{ titulo.entity.field_px_tit_inf.value }}</span>{% endif %}</h1>
{% endfor %}
{% endif %}

{% if node.field_tags[0].value|length > 0 %}
<p class="subtitle c_rosa">{{ node.field_tags.0.entity.label }}{% if node.field_pub_tipo.0.target_id == '6' and node.field_tema[0].value|length > 0 %} &bull; {{ node.field_tema.value }}{% endif %}
</p>
{% endif %}
</div>

</div>
</header>