{% set bread_txt = (node.field_pub_tipo.0.target_id in ['38']) ? 'blogs' : 'eventos' %} 
    
<section class="bg_blanco page">
<div class="uk-container">
<a class="backwards ileft" data-svg="arrow_left" href="./">Volver a los {{ bread_txt }}</a>
</div>
</section>