{% set hello_title = node.field_pub_tipo.0.target_id in ['38'] ? 'Suscríbete a nuestro blog' : '¿Deseas asistir al evento?' %}
{% set hello_parrafo = node.field_pub_tipo.0.target_id in ['38'] ? 'Recibe gratuitamente en tu correo todos nuestros artículos de diseño, comunicaciones y negocios e innovación.' : 'Completa los siguientes datos y te notificaremos una vez esté por iniciar el evento.' %}
{% set hello_boton = node.field_pub_tipo.0.target_id in ['38'] ? '¡Suscribirse!' : 'Quiero asistir' %} 
{% set hello_href = node.field_pub_tipo.0.target_id in ['38'] ? '#subscripcion' : '#evento' %}

<article>

{% if node.field_image_node.value|length > 0 %}
<img class="body_img" alt="{{ node.field_image_node.0.alt }}" title="{{ node.field_image_node.0.title }}" 
data-src="{{ file_url(node.field_image_node.0.entity.fileuri | image_style('730x500') ) }}" width="730" height="500" uk-img />
{% elseif node.field_mapa_img.value|length > 0 %}
<img class="body_img" alt="{{ node.field_mapa_img.0.alt }}" title="{{ node.field_mapa_img.0.title }}" width="600" height="400" 
data-src="{{ file_url(node.field_mapa_img.0.entity.fileuri | image_style('730x500') ) }}" width="730" height="500" uk-img />
{% endif %}

<section class="hello">
<div>
<img class="hello_img" data-src="{{ base_path ~ directory }}/assets/images/icon_w.png" alt="" title="" width="100" height="100" uk-img /> 
<h4 class="hello_title">{{ hello_title }}</h4>
<p class="hello_parrafo">{{ hello_parrafo }}</p>
<a href="{{ hello_href }}" class="boton_flecha iflecha" uk-scroll>{{ hello_boton }}</a>
</div>
</section>

{% if node.body.summary|length > 0 %}<div class="resumen">{{ node.body.summary|raw }}</div>{% endif %}
<div class="cuerpo">{{ node.body.value|raw }}</div>
{% if ( node.field_fecha.value|length > 0 ) or ( node.field_hora.value|length > 0 ) or ( node.field_lugar.value|length > 0 ) or ( node.field_mapa_img.value|length > 0 ) %}
<div class="detalles">
<h3 class="detalles_title">Detalles del evento</h3>
{% if node.field_fecha.value|length > 0 %}<p><strong>Día: </strong>{{ node.field_fecha.value }}</p>{% endif %}
{% if node.field_hora.value|length > 0 %}<p><strong>Hora: </strong>{{ node.field_hora.value }}</p>{% endif %}
{% if node.field_lugar.value|length > 0 %}<p><strong>Lugar: </strong>{{ node.field_lugar.value }}</p>{% endif %}
{% if node.field_mapa_img.value|length > 0 %}
<img class="body_img" alt="{{ node.field_mapa_img.0.alt }}" title="{{ node.field_mapa_img.0.title }}" width="600" height="400" 
data-src="{{ file_url(node.field_mapa_img.0.entity.fileuri | image_style('600x400') ) }}" uk-img />
</div>
{% endif %}
{% endif %}

</article>