{% set hello_title = node.field_pub_tipo.0.target_id in ['38'] ? 'Suscríbete a nuestro blog' : '¿Deseas asistir al evento?' %}
{% set hello_parrafo = node.field_pub_tipo.0.target_id in ['38'] ? 'Recibe gratuitamente en tu correo todos nuestros artículos de diseño, comunicaciones y negocios e innovación.' : 'Completa los siguientes datos y te notificaremos una vez esté por iniciar el evento.' %}
{% set hello_boton = node.field_pub_tipo.0.target_id in ['38'] ? '¡Suscribirse!' : 'Quiero asistir' %} 
{% set hello_href = node.field_pub_tipo.0.target_id in ['38'] ? '#subscripcion' : '#evento' %}    

<aside class="uk-section">
<section class="hello">
<img class="hello_img" data-src="{{ base_path ~ directory }}/assets/images/icon_w.png" alt="" title="" width="100" height="100" uk-img /> 
<h4 class="hello_title">{{ hello_title }}</h4>
<p class="hello_parrafo">{{ hello_parrafo }}</p>
<a href="{{ hello_href }}" class="boton_flecha iflecha" uk-scroll>{{ hello_boton }}</a>
</section>

{% set view_eventos = drupal_view('lista_pubs', 'eventos_rel') %}
{% set view_blogs = drupal_view('lista_pubs', 'blogs_rel') %}
{% if view_eventos or view_blogs %}
<div class="teasers mini">
<h3 class="teasers_title c_rosa">{% if node.field_pub_tipo.0.target_id in ['6'] %}Eventos{% elseif node.field_pub_tipo.0.target_id in ['38'] %}Blogs{% endif %}&nbsp;Relacionados</h3>
{% if node.field_pub_tipo.0.target_id in ['6'] %}{{ view_eventos }}{% elseif node.field_pub_tipo.0.target_id in ['38'] %}{{ view_blogs }}{% endif %}
</div>
{% endif %}

</aside>