<header 
    class="
    uk-container block--header uk-margin-bottom uk-position-relative
    {# ALINEACION TEXTO #}
    {%- if content['#block_content'].field_bk_ptits.entity.field_px_text_pos.0.target_id == '34' -%}
        uk-text-center uk-text-center--size-m
    {%- elseif content['#block_content'].field_bk_ptits.entity.field_px_text_pos.0.target_id == '35' -%}
        uk-text-center uk-text-right--size-m
    {%- else -%}
        uk-text-center uk-text-left--size-m
    {%- endif -%}
    {% if content['#block_content'].field_bk_enlace.entity.field_px_cta.0.target_id == '19' %}
        block--header-left
    {%- endif -%}
    ">

    {% if content['#block_content'].field_bk_ptits.entity.field_px_big_font.value == '1' %}
    <h1 id="title" class="arky-heading uk-heading-1">
    {% else %}
    <h3 class="arky-heading uk-heading-2">
    {% endif %}
        {% if content['#block_content'].field_bk_ptits.entity.field_px_tit_sup[0].value|length > 0 %}
        <span 
        class="uk-lh-1 
        {% if content['#block_content'].field_bk_ptits.entity.field_px_posicion.0.target_id == '23' %}arky-line{% endif %}">
            {{ content['#block_content'].field_bk_ptits.entity.field_px_tit_sup.value }}
        </span>
        {% endif %}
        {% if content['#block_content'].field_bk_ptits.entity.field_px_cortar.value == '1' %}<br>{% endif %}{# CORTAR #}
        {% if content['#block_content'].field_bk_ptits.entity.field_px_tit_inf[0].value|length > 0 %}
        <span 
        class="uk-lh-1 
        {% if content['#block_content'].field_bk_ptits.entity.field_px_posicion.0.target_id == '24' %}arky-line{% endif %}">
            {{ content['#block_content'].field_bk_ptits.entity.field_px_tit_inf.value }}
        </span>
        {% endif %}
    {% if content['#block_content'].field_bk_ptits.entity.field_px_big_font.value == '1' %}
    </h1>
    {% else %}
    </h3>
    {% endif %}
            
    {% if content['#block_content'].field_bk_enlace.entity.field_px_cta.0.target_id in ['18', '19'] %}
    <a  
        target="{{ content['#block_content'].field_bk_enlace.entity.field_px_link.0.url.external ? '_blank' : '_self' }}"
        class="block--header-button button-arrow uk-button uk-button-primary uk-border-pill uk-box-shadow-small uk-box-shadow-hover-medium uk-margin-bottom" 
        href="{{ content['#block_content'].field_bk_enlace.entity.field_px_link.0.url }}">
            {{ content['#block_content'].field_bk_enlace.entity.field_px_link.0.title }}<span class="uk-position-center-right feather-arrow-right">  
    </a>
    {% endif %} 

</header>

{% if logged_in %}
    {{ title_prefix }} 
    {{ title_suffix }}
  {% endif %}