<section 
  {# ID del BLOCK #}
  {% if content['#block_content'].field_bk_id[0].value|length > 0 %}
  id="{{ content['#block_content'].field_bk_id.0.value }}"
  {% endif %}
  class="uk-section {% if elements.content['#block_content'].bundle() in ['hiper'] %}section-views {% endif %}
  {# CONTEXTUAL #}
  {% if logged_in %} contextual-region {% endif %}
  {# CLASES DE BLOQUE #}
  {% if content['#block_content'].field_bk_clases[0].value|length > 0 %}
    {{ content['#block_content'].field_bk_clases.0.value }}
  {% endif %}
  {# COLOR del BLOCK #}
  {% if content['#block_content'].field_bk_view_color.0.target_id == '8' %}
    arky-bg-violeta uk-light
  {% elseif content['#block_content'].field_bk_view_color.0.target_id == '7' %}
    arky-bg-rosa uk-light
  {% elseif content['#block_content'].field_bk_view_color.0.target_id == '37' %}
    arky-bg-celeste uk-light
  {% elseif content['#block_content'].field_bk_view_color.0.target_id == '25' %}
    arky-bg-suave
  {% endif %}
  {# MARGEN del BLOCK #}
  {% if content['#block_content'].field_bk_margen.0.target_id == '28' %}
    arky-delete-margen-arriba
  {% elseif content['#block_content'].field_bk_margen.0.target_id == '29' %}
    arky-delete-margen-abajo
  {% endif %}
  {# BORDER-TOP #}
  {% if content['#block_content'].field_bk_border.value == '1' %}
        arky-border-top
  {% endif %}
  " uk-scrollspy="cls: uk-animation-fade; target: .uk-card; delay: 250;"> 
  {% if logged_in %}
    {{ title_prefix }} 
    {{ title_suffix }}
  {% endif %}