{% if view_mode == 'teaser' %} 

<a class="uk-card bee-action uk-display-block" href="{{ url }}">
<div class="uk-padding-medium-left uk-padding-medium-right uk-text-center" >

    {% if node.field_image[0].value|length > 0 %}
    <figure class="uk-card uk-margin-small-bottom uk-border-rounded">
        <img 
        class="teaser-img uk-margin-auto"  
        alt="{{ node.field_image.0.alt }}" 
        title="{{ node.field_image.0.title }}" 
        data-src="{{ file_url(node.field_image.0.entity.fileuri | image_style('440x250') ) }}" uk-img /> 
    </figure>
    {% endif %}

    <h3 class="uk-h3 uk-margin-medium-top uk-margin-small-bottom">
        {{ label }}
    </h3>

    <div class="uk-button button-arrow uk-border-pill uk-bottom-default uk-margin-auto uk-margin-small-top uk-border-naked">
        <span>Ver más <span class="uk-position-center-right feather-arrow-right"></span></span>
    </div>

</div>
</a>


{% else %}


<div class="is--perfiles">

    <div class="uk-container uk-margin-xlarge-top">
        <a class="uk-button button-arrow button-arrow-left uk-button-default uk-border-pill uk-border-naked" href="./">
            <span class="uk-position-center-right feather-arrow-left"></span> Ir atrás
        </a>
    </div>

    {% if node.field_titulo[0].value|length > 0 %}
    {% for titulo in node.field_titulo %}

    <header 
    id="welcome"
    class='uk-section tls--page-top uk-text-center'>

        <div class="uk-container"> 

            <h3 class="color-rosa uk-h2 uk-margin-remove-bottom">
                Perfiles de los {% if node.field_pub_proyecto.0.target_id in ['57'] %}estudiantes{% elseif node.field_pub_proyecto.0.target_id in ['58'] %}egresados{% endif %}
            </h3>

            <h1 class="arky-heading uk-heading-1 uk-margin-remove-top">
            {% if titulo.entity.field_px_tit_sup[0].value|length > 0 %}
            <span 
            class="uk-lh-1 
            {% if titulo.entity.field_px_posicion.0.target_id == '23' %}arky-line{% endif %}">
                {{ titulo.entity.field_px_tit_sup.value }}
            </span>
            {% endif %}
            {% if titulo.entity.field_px_cortar.value == '1' %}<br>{% endif %}{# CORTAR #}
            {% if titulo.entity.field_px_tit_inf[0].value|length > 0 %}
            <span 
            class="uk-lh-1 
            {% if titulo.entity.field_px_posicion.0.target_id == '24' %}arky-line{% endif %}">
                {{ titulo.entity.field_px_tit_inf.value }}
            </span>
            {% endif %}        
            </h1>

            {% if node.field_fondo[0].value|length > 0 %}
            <figure class="uk-width-3-5--size-s uk-margin-auto uk-padding-xxxlarge-left uk-padding-xxxlarge-right uk-position-relative">
                <img 
                    class="teaser-img"  
                    alt="{{ node.field_fondo.0.alt }}" 
                    title="{{ node.field_fondo.0.title }}" 
                    data-src="{{ file_url(node.field_fondo.0.entity.fileuri | image_style('372x372') ) }}" uk-img /> 
                {% if node.field_tooltip[0].value|length > 0 %}
                {% for tooltip in node.field_tooltip %}
                <div class="uk-inline uk-position-absolute toolip-{{ loop.index }}">
                    <button class="uk-button uk-button-default uk-border-circle tooltip-button color-rosa" type="button">
                        <span class="feather-plus"></span> <span class="feather-minus"></span>
                    </button>
                    <div uk-drop="mode: click">
                        <article class="tooltip uk-padding-full uk-border-pill">
                            <div class="uk-card color-violeta"> 
                                <div class="uk-grid-small uk-flex-middle uk-text-center" uk-grid>
                                    <figure class="uk-width-auto">
                                        <img class="uk-border-circle" width="69" height="69" data-src="{{ file_url(tooltip.entity.field_px_foto.0.entity.fileuri | image_style('125x125') ) }}" uk-img>
                                    </figure>
                                    <div class="uk-width-expand"> 
                                        <p class="uk-text-meta uk-margin-remove color-violeta">{{ tooltip.entity.field_px_subtitular.value }}</p>
                                    </div>
                                </div> 
                            </div>
                        </article>
                    </div>
                </div>
                {% endfor %}
                {% endif %}
            </figure>
            {% endif %}

        </div>
    </header>

    {% endfor %}
    {% endif %}

    {% include '@tls/@overview/bk-bloque.html.twig' %}

</div>


{% endif %}