{% if view_mode == 'teaser' %} 

    {% include '@tls/node/more_nodes/nodes_quotes_teaser.html.twig' %} 


{% elseif view_mode == 'listado' %}

<div class="uk-text-center">
    <figure class="quotes-figure uk-width-4-5--size-m uk-margin-auto">
        <img height="372" width="372"  
            class="quotes-img uk-margin-auto"  
            alt="{{ node.field_img.0.alt }}" 
            title="{{ node.field_img.0.title }}" 
            data-src="{{ file_url(node.field_img.0.entity.fileuri | image_style('372x372') ) }}" uk-img /> 
    </figure>
    <h3 class="uk-h1 arky-serif uk-margin-small-bottom uk-lh-1">{{ label }}</h3>
    <p class="color-rosa uk-margin-small-bottom uk-lh-1">{{ node.field_cargo.value }}</p>
    {% if node.field_quo_type.0.target_id == '17' %}
        <p>{{ node.field_quotes.value }}</p>
    {% elseif node.field_quo_type.0.target_id == '16' %}
        <p class="uk-lh-1">{{ node.field_experiencia.value }}</p>
    {% endif %}
</div>


{% elseif view_mode == 'entidades' %} 

<li>
    <h3>{{ label }}</h3>
    <p>{{ node.field_cargo.value }}</p>
    <p>{{ node.field_quotes.value }}</p>
</li>

{% else %}



{% endif %}