{% set text = content.field_body|render|striptags %}

{% if view_mode == 'teaser' %}


    <a href="{{ url }}" class="uk-display-inline-block button-soft uk-text-center uk-border-pill uk-position-relative uk-button uk-button-small uk-margin-small-bottom">
        <p class="uk-h6 uk-margin-remove">{{ node.field_search_title.value }}</p>
    </a>


{% elseif view_mode == 'tax' %} 


    <div>
    <a class="uk-display-block uk-card uk-card-small uk-border-rounded card--mundo uk-position-relative uk-padding-full" href="{{ url }}">
        <div class="uk-card-header">
            <p class="uk-h4 uk-margin-remove">{{ node.field_search_title.value }}</p>
            <span class="uk-position-center-right feather-arrow-right"></span>
        </div>
    </a>
    </div>


{% elseif view_mode == 'buscador' %}


<a class="bee-buscador uk-display-block uk-padding-medium-top" href="{{ url }}">
    <h3 class="color-violeta">{{ label }}</h3>
    {% if node.field_buscador.value|length > 0 %}
        <p>{{ node.field_buscador.value }}</p>
    {% else %}
        <p>{{ text|length > 200 ? text|slice(0, 200) ~ '...' : text }}</p>
    {% endif %}
</a>


{% else %}


<div class="uk-section uk-section-bottom">
    <a class="uk-button button-arrow button-arrow-left uk-button-default uk-border-pill uk-border-naked" href="./">
        <span class="uk-position-center-right feather-arrow-left"></span> Ir a atrás
    </a>
</div>

<header class="uk-grid uk-grid-medium uk-flex-center--size-m uk-flex-between--size-m">
    <div class="uk-width-1-1"> 

        {% if node.field_titulo[0].value|length > 0 %}
        {% for titulo in node.field_titulo %}
        <h1 class="uk-heading-2 uk-margin-remove-top">
            {% if titulo.entity.field_px_tit_sup[0].value|length > 0 %}
            <span 
            class="uk-lh-1 
            {% if titulo.entity.field_px_posicion.0.target_id == '23' %}arky-line{% endif %}">
                {{ titulo.entity.field_px_tit_sup.value }}
            </span>
            {% endif %}
            {% if titulo.entity.field_px_cortar.value == '1' %}<br>{% endif %}{# CORTAR #}
            {% if titulo.entity.field_px_tit_inf[0].value|length > 0 %}
            <span 
            class="uk-lh-1 
            {% if titulo.entity.field_px_posicion.0.target_id == '24' %}arky-line{% endif %}">
                {{ titulo.entity.field_px_tit_inf.value }}
            </span>
            {% endif %}   
        </h1>
        {% endfor %}
        {% endif %}
    </div>
</header>

<section class="uk-grid uk-grid-large">
    <article class="arky--body arky--body-news uk-width-2-3--size-l uk-section-bottom">
        {{ node.body.value|raw }}
    </article>
    <aside class="arky--aside uk-width-1-3--size-l uk-flex-first--size-l">
        {{ drupal_menu('faq-menu') }} 
    </aside>
</section>


{% endif %}