{% if view_mode == 'teaser' %} 


<a href="{{ url }}" class="objeto uk-position-relative uk-padding-remove uk-overflow uk-padding-large-full uk-text-center uk-height-large uk-margin-remove">
    <article class="objeto-in arky-bg-violeta uk-light uk-height-1-1 uk-position-relative uk-padding-xlarge-full uk-flex uk-flex-column uk-flex-middle uk-flex-wrap uk-flex-center">
        <div>
            <p class="uk-heading-6 uk-margin-remove">{{ node.field_subtitulo.value }}</p>
            <p class="uk-heading-6 uk-margin-remove">{{ node.field_titulo.entity.field_px_tit_sup.value }} {{ node.field_titulo.entity.field_px_tit_inf.value }}</p>
            <p class="uk-h5 uk-margin-small-top uk-margin-medium-bottom uk-padding-left uk-padding-right">{{ node.field_buscador.value }}</p>
        </div>
        <span class="uk-button uk-button-default uk-border-pill">Ver más</span>
    </article>
    <figure 
    class="objeto-out uk uk-margin-remove uk-position-absolute uk-position-center uk-width-1-1 uk-height-1-1 arky-bg-celeste uk-background-center-center uk-background-norepeat uk-background-cover" 
    data-src="{{ file_url(node.field_img_rsm.0.entity.fileuri) }}" uk-img>
        <p class="uk-heading-2 uk-margin-remove uk-padding-large-full uk-light uk-position-absolute 
        {% if node.id == '57' %}
            uk-position-bottom-left 
        {% elseif node.id == '62' %}
            uk-position-top-left 
        {% elseif node.id == '61' %}
             uk-position-top-right 
        {% elseif node.id == '58' %}
             uk-position-top-left 
        {% else %}
            uk-position-top-center
        {% endif %}">
            {{ node.field_titulo.entity.field_px_tit_sup.value }} {{ node.field_titulo.entity.field_px_tit_inf.value }}
        </p>
    </figure>
</a>

{% else %}


<article 
    class="
    tls--banner section-carousel uk-text-center uk-section uk-background-center-center uk-background-norepeat uk-background-cover uk-flex uk-flex-middle uk-light 
    {% if node.field_fondo.value|length > 0 %}uk-background-primary{% endif %}" 
    {% if node.field_fondo.value|length > 0 %}
        uk-img data-src="{{ file_url(node.field_fondo.0.entity.fileuri) }}"
    {% endif %}
    >
    <div class="uk-container">
        <a class="tls--banner-button uk-button button-arrow button-arrow-left uk-button-default uk-border-pill uk-position-absolute uk-border-naked" href="{{ url('<front>') }}#mundos"><span class="uk-position-center-right feather-arrow-left"></span> Volver atrás</a>
        {% if node.field_subtitulo[0].value|length > 0 %}
        <h2 class="uk-h2 uk-margin-remove-bottom">{{ node.field_subtitulo.value }}</h2>
        {% endif %}
        {% if node.field_titulo[0].value|length > 0 %}
        {% for titulo in node.field_titulo %}
        <h1 class="uk-heading-1 uk-margin-remove-top">
            {% if titulo.entity.field_px_tit_sup[0].value|length > 0 %}
            <span 
            class="uk-lh-1 
            {% if titulo.entity.field_px_posicion.0.target_id == '23' %}arky-line{% endif %}">
                {{ titulo.entity.field_px_tit_sup.value }}
            </span>
            {% endif %}
            {% if titulo.entity.field_px_cortar.value == '1' %}<br>{% endif %}{# CORTAR #}
            {% if titulo.entity.field_px_tit_inf[0].value|length > 0 %}
            <span 
            class="uk-lh-1 
            {% if titulo.entity.field_px_posicion.0.target_id == '24' %}arky-line{% endif %}">
                {{ titulo.entity.field_px_tit_inf.value }}
            </span>
            {% endif %}    
        </h1>
        {% endfor %}
        {% endif %}
    </div>
</article>


{% endif %}