{% set text = content.body|render|striptags %}

{% if view_mode == 'teaser' %} 


<a class="uk-card bee-action uk-display-block" href="{{ url }}">
<div class="uk-padding-medium-left uk-padding-medium-right" >

    {% if node.field_people_foto[0].value|length > 0 %}
    <figure class="uk-card uk-margin-small-bottom uk-border-rounded">
        <img 
        class="teaser-img uk-margin-auto"  
        alt="{{ node.field_people_foto.0.alt }}" 
        title="{{ node.field_people_foto.0.title }}" 
        data-src="{{ file_url(node.field_people_foto.0.entity.fileuri | image_style('300x380') ) }}" uk-img /> 
    </figure>
    {% endif %}

    <h3 class="uk-h3 uk-margin-top uk-margin-small-bottom">
        {{ node.field_people_nombre.value }} {{ node.field_people_apellido.value }}
    </h3>

    {% if node.field_people_puesto[0].value|length > 0 %}
    <p class="color-rosa uk-margin-small-top uk-margin-small-bottom">
        {% if node.field_people_puesto.0.target_id == '27' %}
            {{ node.field_people_cargo_admin.value }}
        {% endif %}
        
        {% if node.field_people_puesto.0.target_id == '26' %}
            {% if node.field_people_carrera.0.entity.field_core_tipo.0.target_id == '3' %}
                Docente en el curso de {{ node.field_people_carrera.0.entity.label }}
            {% elseif node.field_people_carrera.0.entity.field_core_tipo.0.target_id == '4' %}
                Docente del diplomado en {{ node.field_people_carrera.0.entity.label }}
            {% elseif node.field_people_carrera.0.entity.field_core_tipo.0.target_id == '1' %}
                Docente en la carrera de {{ node.field_people_carrera.0.entity.label }}
            {% else %}
                Docente en la carrera técnica de {{ node.field_people_carrera.0.entity.label }}
            {% endif %}
        {% endif %}
    </p>
    {% endif %}

    <div class="uk-button button-arrow uk-border-pill uk-bottom-default uk-margin-small-top uk-border-naked">
        <span>Conocer a {{ node.field_people_nombre.value }} <span class="uk-position-center-right feather-arrow-right"></span></span>
    </div>

</div>
</a>


{% elseif view_mode == 'buscador' %}


<a class="bee-buscador uk-display-block uk-padding-medium-top" href="{{ url }}">
    <h3 class="color-violeta">{{ label }}</h3>
    {% if node.field_buscador.value|length > 0 %}
        <p>{{ node.field_buscador.value }}</p>
    {% else %}
        <p>{{ text|length > 200 ? text|slice(0, 200) ~ '...' : text }}</p>
    {% endif %}
</a>


{% else %}


<div class="is--people">

<div class="uk-container uk-section uk-section-top">
    <a class="uk-button button-arrow button-arrow-left uk-button-default uk-border-pill uk-border-naked" href="./">
        <span class="uk-position-center-right feather-grid"></span> 
        Ir a {% if node.field_people_puesto.0.target_id in ['26'] %}docentes{% elseif node.field_people_puesto.0.target_id in ['27'] %}líderes académicos{% endif %}
    </a>
</div>

<header id="welcome" class='uk-section tls--page-top uk-text-center'>
    <div class="uk-container"> 
        <div class="uk-flex uk-flex-row uk-flex-wrap uk-grid-large uk-flex-middle">

            <article class="uk-width-expand--size-m uk-flex-last--size-m">
                <p class="uk-h2 uk-margin-remove-bottom">Te presentamos a:</p>
                <h1 class="arky-heading uk-heading-1 uk-margin-small-top">
                    <span class="uk-lh-1">{{ node.field_people_nombre.value }}</span>
                        <br>                
                    <span class="uk-lh-1 arky-line">{{ node.field_people_apellido.value }}</span>                
                </h1>
                {% if node.field_people_puesto.0.target_id in ['27'] %}
                <p class="color-rosa uk-h1 uk-margin-remove-top">{{ node.field_people_cargo_admin.value }}</p>
                {% elseif node.field_people_puesto.0.target_id in ['26'] %}
                <p class="color-rosa uk-h1 uk-margin-remove-top">Docente de {{ node.field_people_carrera.entity.label }}</p>
                {% endif %}

                {% if node.field_people_puesto.0.target_id in ['26'] %}
                <div class="uk-text-center uk-margin-bottom">
                    {% if node.field_linkedin[0].value|length > 0 %}
                    <a href="{{ node.field_linkedin.0.url }}" target="_blank" class="feather-linkedin uk-icon-button color--facebook uk-box-shadow-medium uk-margin-small-right uk-margin-small-left"></a>
                    {% endif %}
                    {% if node.field_twitter[0].value|length > 0 %}
                    <a href="{{ node.field_twitter.0.url }}" target="_blank" class="feather-twitter uk-icon-button color--twitter uk-box-shadow-medium uk-margin-small-right uk-margin-small-left"></a>
                    {% endif %}
                    {% if node.field_facebook[0].value|length > 0 %}
                    <a href="{{ node.field_facebook.0.url }}" target="_blank" class="feather-facebook uk-icon-button color--facebook uk-box-shadow-medium uk-margin-small-right uk-margin-small-left"></a>
                    {% endif %}
                    {% if node.field_instagram[0].value|length > 0 %}
                    <a href="{{ node.field_instagram.0.url }}" target="_blank" class="feather-instagram uk-icon-button color--instagram uk-box-shadow-medium uk-margin-small-right uk-margin-small-left"></a>
                    {% endif %}
                    {% if node.field_email[0].value|length > 0 %}
                    <a href="mailto:{{ node.field_email.0.value }}" target="_blank" class="feather-mail uk-icon-button color--tube uk-box-shadow-medium uk-margin-small-right uk-margin-small-left"></a>
                    {% endif %}
                </div>
                {% elseif node.field_people_puesto.0.target_id in ['27'] %}
                    {% if node.field_email[0].value|length > 0 %}
                    <div class="uk-flex uk-flex-middle uk-flex-center">
                        <a href="mailto:{{ node.field_email.0.value }}" target="_blank" class="feather-mail uk-icon-button color--facebook uk-box-shadow-medium uk-margin-small-right"></a>
                        <small>{{ node.field_email.0.value }}</small>
                    </div>
                    {% endif %}
                {% endif %}
            </article>
            <div class="uk-width-1-1 uk-width-2-5--size-m uk-margin-auto">
                <figure class="uk-border-rounded uk-overflow-hidden">
                    <img 
                    class="teaser-img uk-margin-auto uk-border-rounded"  
                    alt="{{ node.field_people_foto.0.alt }}" 
                    title="{{ node.field_people_foto.0.title }}" 
                    data-src="{{ file_url(node.field_people_foto.0.entity.fileuri | image_style('445x500') ) }}" uk-img /> 
                </figure>
            </div>

        </div>
    </div>
</header>

{% if node.body[0].value|length > 0 %}
    <section id="conoceme" class="uk-section arky-border-top">
        <div class="uk-container uk-position-relative">
            <div class="uk-flex uk-flex-row uk-flex-wrap uk-grid-large">
                <header class="uk-width-1-1 uk-width-2-5--size-m">
                    <h3 class="arky-heading uk-heading-2 uk-margin-small-bottom">
                        <span class="uk-lh-1">
                            {% if node.field_people_puesto.0.target_id in ['27'] %}Sobre {{ node.field_people_nombre.value }}{% elseif node.field_people_puesto.0.target_id in ['26'] %}Conoce a{% endif %}
                        </span><br>
                        <span class="uk-lh-1 arky-line">
                            {% if node.field_people_puesto.0.target_id in ['26'] %}{{ node.field_people_nombre.value }} {% endif %}{{ node.field_people_apellido.value }}
                        </span>
                    </h3>
                </header>
                <article class="uk-width-expand--size-m">
                    <p>{{ node.body.value|raw }}</p>
                </article>
            </div>
        </div>
    </section>
{% endif %} 

{% if node.field_people_proyectos[0].value|length > 0 %}
    <section id="proyectos" class="uk-section arky-bg-rosa uk-light">
        <header class="uk-container block--header uk-margin-xlarge-bottom uk-position-relative uk-text-center">
            <h3 class="arky-heading uk-heading-2 uk-margin-small-bottom"> 
                <span class="uk-lh-1">Proyectos de</span><br>
                <span class="uk-lh-1 arky-line">sus estudiantes</span> 
            </h3>
            <a 
            class="block--header-button button-arrow uk-button uk-button-primary uk-border-pill uk-box-shadow-small uk-box-shadow-hover-medium" 
            href="{{ url('<front>')|render ~ 'proyectos/estudiantes' }}">
                Ver todos<span class="uk-position-center-right feather-arrow-right"></span>
            </a>
        </header>

        <div class="uk-container uk-position-relative uk-container-xsmall">
            <div class="swiper-container-centered">
                <div class="swiper-wrapper"> 
                    {% for proyectos in node.field_people_proyectos %}
                    <div class="swiper-slide"> 
                        {{ proyectos | view() }} 
                    </div>  
                    {% endfor %} 
                </div>
                <div class="swiper-pagination"></div>
                
                <div class="swiper-button-prev"></div>
                <div class="swiper-button-next"></div>
            </div>
        </div>
        {{ attach_library('tls/swiper') }}
    </section>
{% endif %}

{% if node.field_people_quote[0].value|length > 0 %}
    <section id="proyectos" class="uk-section arky-bg-rosa uk-light">
        <div class="uk-container uk-text-center">
            {% if node.field_people_foto_full[0].value|length > 0 %}
            <figure class="uk-overflow-hidden uk-border-rounded">
                <img 
                    class="teaser-img uk-margin-auto uk-border-rounded"  
                    alt="{{ node.field_people_foto_full.0.alt }}" 
                    title="{{ node.field_people_foto_full.0.title }}" 
                    data-src="{{ file_url(node.field_people_foto_full.0.entity.fileuri | image_style('920x435') ) }}" uk-img /> 
            </figure>
            {% endif %}
            <p class="arky-serif uk-h3 uk-margin-top uk-margin-remove-bottom uk-width-4-5 uk-margin-auto block-play block-play-center">
                {{ node.field_people_quote.value }}
            </p>
        </div>
    </section>
{% endif %}

{% if node.field_people_carrera_full[0].value|length > 0 %}
    <section id="carreras" class="uk-section"> 
        <header class="uk-container block--header uk-margin-xlarge-bottom uk-position-relative">
            <h3 class="arky-heading uk-heading-2 uk-margin-small-bottom"> 
                <span class="uk-lh-1">Carreras que enseña</span><br>
                <span class="uk-lh-1 arky-line">el docente</span> 
            </h3>
        </header>
        <div class="uk-container">
            <div class="uk-grid-small uk-child-width-1-2 uk-child-width-1-3--size-m uk-child-width-1-4--size-l loco loco-4" uk-grid>
                {{ content.field_people_carrera_full }} 
            </div>
        </div>
    </section>
{% endif %}

</div>


{% endif %}