{% set text = content.field_overview.entity.field_px_ow_body|render|striptags %}

{% if view_mode == 'teaser' %}


<a class="uk-card bee-action uk-display-block uk-padding-medium-left uk-padding-medium-right uk-text-center" href="{{ url }}">
    <figure class="uk-margin-small-bottom uk-border-rounded">
        <img 
        class="teaser-img uk-margin-auto uk-border-rounded"  
        alt="{{ node.field_fondo.0.alt }}" 
        title="{{ node.field_fondo.0.title }}" 
        data-src="{{ file_url(node.field_fondo.0.entity.fileuri | image_style('300x380') ) }}" uk-img /> 
        <small class="uk-card-badge uk-label uk-border-pill uk-text-small">{{ node.field_core_mundo.entity.label }}</small>
        {% if node.field_new.value == '1' %}
        <small class="nueva uk-border-pill uk-light arky-bg-rosa">Nueva</small>
        {% endif %}
    </figure>
    <h3 class="uk-h4 uk-margin-top uk-margin-small-bottom">{{ label }}</h3>
    <div class="uk-button button-arrow uk-border-pill uk-bottom-default uk-margin-small-top uk-border-naked">
        Ver más <span class="uk-position-center-right feather-arrow-right"></span>
    </div>
</a>


{% elseif view_mode == 'buscador' %}


<a class="bee-buscador uk-display-block uk-padding-medium-top" href="{{ url }}">
    <h3 class="color-violeta">{{ label }}</h3>
    {% if node.field_buscador.value|length > 0 %}
        <p>{{ node.field_buscador.value }}</p>
    {% else %}
        <p>{{ text|length > 200 ? text|slice(0, 200) ~ '...' : text }}</p>
    {% endif %}
</a>


{% elseif view_mode == 'inicio' %}

<a class="uk-card uk-display-block uk-padding-medium-left uk-padding-medium-right uk-text-center" href="{{ url }}">
    <figure class="uk-margin-small-bottom">
        <img 
        class="teaser-img uk-margin-auto uk-border-rounded"  
        alt="{{ node.field_fondo.0.alt }}" 
        title="{{ node.field_fondo.0.title }}" 
        data-src="{{ file_url(node.field_fondo.0.entity.fileuri | image_style('300x380') ) }}" uk-img /> 
    </figure>
    <h3 class="uk-h3 uk-margin-medium-top uk-margin-small-bottom">{{ label }}</h3>
    {% if node.field_inicio.value|length > 0 %}
    <p class="color-violeta uk-h6 uk-margin-remove">
        Inicio: {{ node.field_inicio.value|date('d')|t }} de {{ node.field_inicio.value|date('F')|t }}
    </p>
    {% endif %}
    <div class="uk-button uk-button-default uk-button-small uk-margin-medium-top uk-border-pill uk-border-naked">Conocer más</div>
</a>

{% else %}

    <h1 class="uk-heading-1">{{ label }}</h1>

{% endif %}