{% set month        = node.created.value|date('F') %}
{% set day          = node.created.value|date('d') %}
{% set year         = node.created.value|date('Y') %}

{% set text = content.body|render|striptags %}

{% if view_mode == 'teaser' %} 

    {% if is_front %}
    <a href="{{ url }}" class="teaser_link teaser_{{ node.field_pub_tipo.0.target_id }}">
    {% else %}
    <div class="card-container">
    <a href="{{ url }}" class="uk-card uk-card-small uk-display-block uk-padding-medium-left uk-padding-medium-right bee-action">
    {% endif %}

        {# ====================== NOTICIAS ======================= #}
        {% if node.field_pub_tipo.0.target_id in ['5', '38', '39', '40'] %} {# noticias #}

            {% include '@tls/node/more_nodes/nodes_noticias_teaser.html.twig' %} 

        {# ====================== EVENTOS ======================= #}
        {% elseif node.field_pub_tipo.0.target_id in ['6'] %} {# eventos #}

            {% include '@tls/node/more_nodes/nodes_eventos_teaser.html.twig' %} 

        {% endif %}

    </a>
    {% if not is_front %}
    </div>
    {% endif %}



{% elseif view_mode == 'buscador' %}


<a class="bee-buscador uk-display-block uk-padding-medium-top" href="{{ url }}">
    <h3 class="color-violeta">{{ label }}</h3>
    {% if node.field_buscador.value|length > 0 %}
        <p>{{ node.field_buscador.value }}</p>
    {% else %}
        <p>{{ text|length > 200 ? text|slice(0, 200) ~ '...' : text }}</p>
    {% endif %}
</a>


{% elseif view_mode == 'promovidos' %}


<div class="card-container">
<a href="{{ url }}" class="uk-card uk-card-small uk-display-block uk-padding-medium-left uk-padding-medium-right bee-action uk-margin-medium-bottom">
    {% if node.field_pub_tipo.0.target_id in ['5', '38', '39', '40'] %} {# noticias #}

    <div class="cards--news uk-flex uk-flex-row uk-flex-wrap uk-flex-between uk-flex-middle">

    {% if node.field_image[0].value|length > 0 %}
    <figure class="teaser-figure uk-card-media-top uk-border-rounded uk-overflow-hidden uk-margin-remove-bottom uk-width-1-1">
        <img 
        class="teaser-img"  
        alt="{{ node.field_image.0.alt }}" 
        title="{{ node.field_image.0.title }}" 
        data-src="{{ file_url(node.field_image.0.entity.fileuri | image_style('438x302') ) }}" uk-img /> 
        {% if node.field_tags[0].value|length > 0 %}
        <div class="uk-card-badge">
            <span class="uk-label uk-border-pill uk-flex-inline uk-flex-center uk-flex-middle">
                {% if node.field_tags.entity.field_tx_icono[0].value|length > 0 %}
                <span class="color-rosa uk-margin-small-right">
                    <img class="uk-animation-stroke" src="{{ file_url(node.field_tags.entity.field_tx_icono.entity.uri.value) }}" alt="" uk-svg="stroke-animation: true" uk-img>
                </span>
                {% endif %}
                <span class="badge-text">{{ node.field_tags.entity.name.value }}</span>
            </span> 
        </div>
        {% endif %}
    </figure>
    {% endif %}
    <article class="uk-card-body uk-width-1-1">
        <h3 class="uk-h3 uk-margin-small-bottom">{{ label }}</h3>
        <p class="color-violeta uk-margin-remove">{{ '%s de %s del %s'|format(day, month|t, year) }}</p>
        {% if node.body.summary[0].value|length > 0 %}<p class="uk-h4 uk-margin-remove">{{ node.body.summary.value }}</p>{% endif %}
        {% if node.field_autor[0].value|length > 0 and node.field_pub_tipo.0.target_id in ['6', '38', '40'] %}
        {% for people in node.field_autor %}
            <div class="uk-grid-small uk-flex-middle uk-margin person" uk-grid>
                {% if people.entity.field_people_minipic[0].value|length > 0 %}
                <figure class="uk-width-auto uk-border-pill uk-margin-remove-bottom uk-padding-remove uk-margin-left">
                    <img 
                    class="teaser-img"  
                    alt="{{ people.entity.field_people_minipic.0.alt }}" 
                    title="{{ people.entity.field_people_minipic.0.title }}" 
                    data-src="{{ file_url(people.entity.field_people_minipic.0.entity.fileuri | image_style('30x30') ) }}" uk-img />  
                </figure>
                {% endif %}
                <article class="uk-width-expand"> 
                    <p class="uk-h5 uk-margin-remove">{{ people.entity.field_people_nombre.value }} {{ people.entity.field_people_apellido.value }}</p> 
                </article>
            </div>
        {% endfor %} 
        {% endif %}
        <div class="button-arrow uk-button uk-button-default uk-margin-small-top uk-border-pill uk-border-naked">
            Ver más <span class="uk-position-center-right feather-arrow-right">
        </div> 
    </article>

    </div> 

    {% elseif node.field_pub_tipo.0.target_id in ['6'] %} {# eventos #}

    <div class="cards--eventos">

    {% if node.field_image[0].value|length > 0 %}
    <figure class="teaser-figure uk-card-media-top uk-border-rounded uk-overflow-hidden uk-margin-remove-bottom">
        <img 
        class="teaser-img"  
        alt="{{ node.field_image.0.alt }}" 
        title="{{ node.field_image.0.title }}" 
        data-src="{{ file_url(node.field_image.0.entity.fileuri | image_style('438x302') ) }}" uk-img />
        <div class="uk-card-badge">
            <span class="uk-label uk-border-pill">Live</span> 
        </div>
    </figure>
    {% endif %}

    <article class="uk-card-body">
        {% if node.field_tema.value|length > 0 %}<p class="color-rosa uk-h4 uk-margin-small-bottom">{{ node.field_tema.value }}</p>{% endif %}
        <h3 class="uk-h1 uk-margin-small-top uk-margin-small-bottom arky-serif">{{ label }}</h3>
        {% if node.field_lugar.value|length > 0 %}<p class="uk-margin-remove">Lugar: {{ node.field_lugar.value }}</p>{% endif %}
        {% if node.field_fecha.value|length > 0 %}<p class="uk-margin-remove">{{ node.field_fecha.value }} &nbsp;&nbsp; {{ node.field_hora.value }}</p>{% endif %}
        <div class="uk-button button-arrow uk-button-default uk-border-pill uk-margin-medium-top uk-border-naked">
            Ver más <span class="uk-position-center-right feather-arrow-right">
        </div>
    </article>

    </div>

    {% endif %}
</a>
</div>


{% elseif view_mode == 'mini' %}

    {% if node.field_pub_tipo.0.target_id in ['6'] %} {# eventos #}
        {% include '@tls/node/more_nodes/nodes_eventos_mini.html.twig' ignore missing %} 
    {% elseif node.field_pub_tipo.0.target_id in ['38'] %} {# blogs #}
        {% include '@tls/node/more_nodes/nodes_blogs_mini.html.twig' ignore missing %} 
    {% else %}



<div class="card-container">
    <a href="{{ url }}" class="uk-card uk-card-small uk-margin-large-bottom uk-display-block bee-action">
        {% if node.field_image[0].value|length > 0 %}
        <figure class="teaser-figure uk-card-media-top uk-border-rounded uk-overflow-hidden">
            <img 
            class="teaser-img"  
            alt="{{ node.field_image.0.alt }}" 
            title="{{ node.field_image.0.title }}" 
            data-src="{{ file_url(node.field_image.0.entity.fileuri | image_style('252x160') ) }}" uk-img /> 
        </figure>
        {% endif %}
        <p class="uk-h4 uk-margin-small-top uk-margin-small-bottom">{{ label }}</p>
        <p class="uk-h6 color-violeta uk-margin-remove">
            {% if node.field_pub_tipo.0.target_id in ['5', '38'] %} {# noticias #}
                {{ '%s de %s'|format(day, month|t) }}
            {% elseif node.field_pub_tipo.0.target_id == '6' %} {# eventos #}
                {% if node.field_fecha.value|length > 0 %} 
                    {{ node.field_fecha.value }} &nbsp;&nbsp; {{ node.field_hora.value }} 
                {% endif %}
            {% endif %} 
        </p>
    </a>
</div>

    {% endif %}


{% elseif view_mode == 'columnas' %}

    {% if is_front %}
    <a href="{{ url }}" class="teaser_link teaser_{{ node.field_pub_tipo.0.target_id }} teaser_columnas">
    {% else %}
    <div class="card-container">
    <a href="{{ url }}" class="uk-card uk-card-small bee-action"> 
    {% endif %}

        {# ====================== NOTICIAS ======================= #}
        {% if node.field_pub_tipo.0.target_id == '5' %} {# noticias #}

            {% include '@tls/node/more_nodes/nodes_noticias_columnas.html.twig' %} 

        {% endif %}

    </a>
    {% if not is_front %}
    </div>
    {% endif %}

{% else %}

{% endif %}