{% include '@tls/+maquetas/header.html.twig' %}

{% if ( (not node.field_plantilla[0].value|length > 0) and (node.getType in ['article', 'page']) ) %} {# ONE: Si es articulo no target #}

<div id="page" class="page">
<main class="uk-section">
<div class="uk-container">
{% if page.precomplementary %}
    {{ page.precomplementary }}
{% endif %}
{% if page.content %}
    {{ page.content }}
{% endif %}
</div>
</main>

{% if page.complementary %}
    {{ page.complementary }}
{% endif %} 
{% if page.postcomplementary %}
    {{ page.postcomplementary }}
{% endif %} 

{% include '@tls/+maquetas/prefooter.html.twig' %}
{% include '@tls/+maquetas/footer.html.twig' %}
</div>

{% elseif ( is_front or (node.id in ['78']) or ( node.getType in ['tls_core'] ) or ( node.getType in ['article'] and node.field_pub_tipo.0.target_id in ['6', '38'] ) ) %} {# TWO: Si es portada, producto o articulo target #}

{% if page.precomplementary %}
    {{ page.precomplementary }}
{% endif %}
{% if page.content %}
    {{ page.content }}
{% endif %}
{% if page.complementary %}
    {{ page.complementary }}
{% endif %} 
{% if page.postcomplementary %}
    {{ page.postcomplementary }}
{% endif %} 

{% if is_front or ( node.getType in ['tls_core'] ) or (node.id in ['78']) %}
    {% include '@tls/+forms/formulario.html.twig' ignore missing %}
{% elseif ( node.getType in ['article'] and node.field_pub_tipo.0.target_id in ['6'] ) %}
    {% include '@tls/+forms/formulario_eventos.html.twig' ignore missing %}
{% elseif ( node.getType in ['article'] and node.field_pub_tipo.0.target_id in ['38'] ) %}
    {% include '@tls/+forms/formulario_subs.html.twig' ignore missing %}
{% endif %} 

{% include '@tls/+maquetas/prefooter.html.twig' %}
{% include '@tls/+maquetas/footer.html.twig' %}

{% elseif node.id in ['79', '126'] %} {# THREE: Si es leads o contacto #}

<div id="page" class="page">
{% if page.precomplementary %}
    {{ page.precomplementary }}
{% endif %}
{% if page.content %}
    {{ page.content }}
{% endif %}

{% if node.id == '79' %}
{% include '@tls/+forms/leads.html.twig' ignore missing %} 
{% else %}
{% include '@tls/+maquetas/contacto_tab.html.twig' %}
{% include '@tls/+forms/formulario_contacto.html.twig' ignore missing %}
{% endif %}

{% if page.complementary %}
    {{ page.complementary }}
{% endif %} 
{% if page.postcomplementary %}
    {{ page.postcomplementary }}
{% endif %} 
{% include '@tls/+maquetas/prefooter.html.twig' %}
{% include '@tls/+maquetas/footer.html.twig' %}
</div>

{% else %} {# FOUR: Los demas casos #}

<div id="page" class="page">
{% if page.precomplementary %}
    {{ page.precomplementary }}
{% endif %}
{% if page.content %}
    {{ page.content }}
{% endif %}
{% if page.complementary %}
    {{ page.complementary }}
{% endif %} 
{% if page.postcomplementary %}
    {{ page.postcomplementary }}
{% endif %} 
{% include '@tls/+maquetas/prefooter.html.twig' %}
{% include '@tls/+maquetas/footer.html.twig' %}
</div>

{% endif %}

<div id="chat_frame" class="uk-modal-full modal modal_total modal_chat modal_frame" uk-modal></div>

<div style="display: none; width: 0; height: 0; overflow: hidden;">
{% include '@tls/+maquetas/tls_menu.html.twig' %}
{% include '@tls/+maquetas/tls_search.html.twig' %} 
{% include '@tls/+maquetas/tls_chat_invite.html.twig' %}
</div>

{% include '@tls/+maquetas/tls_chat.html.twig' %} 