{% include '@tls/+maquetas/header.html.twig' %}

<div id="page" class="page">

    {% if page.content %}
    <main class="uk-section"> 
        <div class='uk-container'>
            {{ page.precomplementary }} 
            {{ page.content }}  
        </div> 
    </main>
    {% endif %}

    {% if page.complementary %}
        {{ page.complementary }}
    {% endif %} 

{% include '@tls/+maquetas/prefooter.html.twig' %}
{% include '@tls/+maquetas/footer.html.twig' %}

</div>

<div style="display: none; width: 0; height: 0; overflow: hidden;">
{% include '@tls/+maquetas/tls_menu.html.twig' %}
{% include '@tls/+maquetas/tls_search.html.twig' %} 
</div>