<section class="uk-section uk-text-center tls--page">
    <header class="block--header uk-margin-xlarge-top uk-margin-medium-bottom uk-position-relative">
        <figure>
            <img class="uk-margin-auto uk-width-auto" src="{{ file_url( node.field_page_img_advice.entity.fileuri ) }}" uk-img />
        </figure>
        <h3 class="arky-heading uk-heading-6">
            {{ node.field_titulo.entity.field_px_tit_sup.value }}  
        </h3> 
    </header>
    <article class="uk-width-3-5--size-m uk-margin-auto">
        {{ node.body.value|raw }}
        {% if node.field_ad_class.0.getString() in ['clase-403', 'clase-404'] %}
        <p>... o también puedes probar buscando con otra palabra en el siguiente campo:</p>
        <div class="uk-grid-large uk-child-width-expand--size-s search-area-ad" uk-grid>
            {{ drupal_region('search_area') }}  
        </div>
        {% else %}
        <a href="{{ url('<front>') }}" class="uk-button uk-button-primary uk-border-pill uk-margin-medium-top">Volver a la página de inicio</a>
        {% endif %}
    </article>
</section>