{% include '@tls/plantillas/more_core/core_bread.html.twig' ignore missing %}
{% include '@tls/plantillas/more_core/core_intro.html.twig' ignore missing %}
{% include '@tls/plantillas/more_core/core_somos.html.twig' ignore missing %}
{% include '@tls/plantillas/more_core/core_cursos.html.twig' ignore missing %}
{% include '@tls/plantillas/more_core/core_list.html.twig' ignore missing %}
{% include '@tls/plantillas/more_core/core_logro.html.twig' ignore missing %}
{% include '@tls/plantillas/more_core/core_agenda.html.twig' ignore missing %}
{% include '@tls/plantillas/more_core/core_profes.html.twig' ignore missing %}
{% include '@tls/plantillas/more_core/core_inicios.html.twig' ignore missing %}
{% include '@tls/plantillas/more_core/core_campus.html.twig' ignore missing %}
{% include '@tls/plantillas/more_core/core_pie.html.twig' ignore missing %}

<span class="hidden">
<span id="core_id" class="uk-hidden">{{ node.id }}</span>
<span id="core_tipo" class="uk-hidden">{{ node.field_core_tipo.0.target_id }}</span>
</span>
{#

    {% include '@tls/@overview_core/core-cursos-tabs.html.twig' ignore missing %}

    {% include '@tls/@overview_core/core-scorto.html.twig' ignore missing %}

    {% include '@tls/@overview_core/core-logro.html.twig' ignore missing %}

    {% include '@tls/@overview_core/core-detalle.html.twig' ignore missing %}

    {% include '@tls/@overview_core/core-cursos-docente.html.twig' ignore missing %}

    {% include '@tls/@overview_core/core-cursos-inicios.html.twig' ignore missing %}

    {% include '@tls/@overview_core/core-campus.html.twig' ignore missing %}

    {% include '@tls/@overview_core/core-brochure.html.twig' ignore missing %}

    {% include '@tls/@overview_core/core-aid.html.twig' ignore missing %} 
#}