{% include '@tls/plantillas/more_articles/article_bread.html.twig' ignore missing %}

<div class="uk-section mrg_top_delete page bg_blanco">
<div class="uk-container">
<div class="body_container" uk-grid>
<main class="uk-section page bg_blanco">
    {% include '@tls/plantillas/more_articles/article_intro.html.twig' ignore missing %}
    {% include '@tls/plantillas/more_articles/article_body.html.twig' ignore missing %}
</main>
{% include '@tls/plantillas/more_articles/article_aside.html.twig' ignore missing %}
</div>
</div>
</div>

{% include '@tls/plantillas/more_articles/article_share.html.twig' ignore missing %}