<style>
 
.modal_frame { background-color: rgba(0, 0, 0, 0.25); }
.modal_frame .uk-modal-dialog {
    height: calc(80vh)!important; width: 80vw!important;
    margin-right: auto; margin-bottom: auto; margin-left: auto; padding: 0!important; 
    border-radius: 2rem; margin-top: 10vh !important; min-height: calc(80vh)!important; }
.modal.modal_frame > .uk-modal-dialog a[class*="close"] { top: -1.5rem; right: -0.5rem; }
.modal_frame-container { position: relative; padding-bottom: 50%; padding-top: 0; width: 100%; 
    height: 100%; overflow: hidden; border-radius: 1rem; }
.modal_frame iframe { border: 0; width: 100%; height: 100%; 
    position: absolute; border-radius: 1rem; overflow: hidden; }

</style>

<div class="uk-modal-dialog bg_clr-lila" uk-height-viewport> 
<a href="#" class="uk-modal-close uk-position-right"><svg class="svg_24_lila"><use xlink:href="#close"></use></svg></a>
<div class="modal_frame-container">


<iframe src="chat" height="100%" width="100%" name="chattigo_frame">
  <p>Su navegador no es compatible con iframes</p>
</iframe>

</div>
</div>