<section uk-scrollspy="cls: uk-animation-fade; target: .uk-container; delay: 250;" class="uk-section tls--block uk-width-1-1 uk-position-relative arky-delete-margen-arriba uk-light arky-bg-violeta">
<div class="uk-container uk-text-center">

<div class="uk-width-1-1">
    <p class="uk-h5 uk-margin-remove-top uk-margin-small-bottom">Conoce nuestros:</p>
    <ul class="uk-subnav uk-subnav-pill campus-presentador uk-flex-inline uk-padding-top uk-padding-left uk-padding-medium-right uk-border-pill uk-margin-auto uk-width-auto uk-margin-remove-top" uk-switcher>
                <li><a href="#">
                    <img class="uk-margin-auto" data-src="{{ base_path ~ directory }}/assets/images/campus-state.jpg" uk-img />
                    <span>Ver Campus</span>
                </a></li>
                <li><a href="#">
                    <img class="uk-margin-auto" data-src="{{ base_path ~ directory }}/assets/images/sedes-state.jpg" uk-img />
                    <span>Ver Sedes</span>
                </a></li> 
            </ul>
            <ul class="uk-switcher uk-margin campus-presentacion uk-text-left">
                <li class="" uk-grid>
                    <ul class="campus-tabulador uk-width-1-3--size-m" uk-switcher>
                        <p class="arky-serif uk-heading-4 uk-margin-small-top uk-margin-bottom">Campus</p>
                        {{ drupal_view('vw_campus', 'campus_tab') }} 
                    </ul>

                    <ul class="uk-switcher campus-cuerpo uk-width-2-3--size-m uk-flex-first">
                        {{ drupal_view('vw_campus', 'campus_map') }} 
                    </ul>
                </li>
                <li class="" uk-grid>
                    <ul class="campus-tabulador uk-width-1-3--size-m" uk-switcher>
                        <p class="arky-serif uk-heading-4 uk-margin-small-top uk-margin-bottom">Sedes</p>
                        {{ drupal_view('vw_campus', 'sedes_tab') }}
                    </ul>

                    <ul class="uk-switcher campus-cuerpo uk-width-2-3--size-m uk-flex-first">
                        {{ drupal_view('vw_campus', 'sedes_map') }} 
                    </ul>
                </li> 
            </ul>
        </div>

    </div>
</section>

{{ attach_library('tls/class.contact') }}