{% if is_front or (node.id in ['78']) or ( node.getType in ['tls_core', 'article'] ) %}
<footer id="somos_tls" class="uk-section page footer">
{% else %}
<footer id="somos_tls" class="uk-section footer">
{% endif %}
<div class='uk-container'>
<div class="footer_group" uk-grid>
<div class="footer_group-banner"><p>Líderes en carreras<br> <span class="c_rosa">creativas</span></p></div>
<div class="footer_group-paragraph c_violeta"><p>Somos líderes en formar mentes creativas con visión estratégica. Nuestros más de 35 años de experiencia nos respaldan brindándote los mejores servicios educativos con carreras acreditadas, enseñanza personalizada y programas de empleabilidad.</p></div>
<div class="footer_group-icons"> 
    {{ drupal_block('block_content:dbc266c6-c7bd-4e69-bb80-0dca4130b493') }} {# RRSS #}
    {{ drupal_block('block_content:398bfddc-182e-4afd-8781-fabcbe9465db') }} {# Reclamaciones #}
</div>
<div class="footer_group-list">
    {{ drupal_menu('footer', 1 , 0, false) }}
    <p>Toulouse Lautrec - Copyright {{ 'now' | date('Y') }}</p>
</div>
</div>
</div>
</footer>  