{% set head_attr = create_attribute() %}

{% if is_front or (node.getType in ['tls_core'])  %}
    {% set head_class = 'header' %}
{% else %}
    {% set head_class = [ 'header', 'no_form' ] %}
{% endif %}

{% set logo_tag = is_front ? 'h1' : 'div' %}

<header{{ head_attr.addClass(head_class).setAttribute('uk-sticky', '') }}>
{{ drupal_block('block_content:882f8f16-7cdc-41a8-a3de-22073910cadf') }} {# LOGO #}
{{ drupal_block('block_content:994bdcf0-c744-4eee-b140-e1c9d902e594') }} {# BLOCK - HIPERICON: MENU HEADER #}
<button class="head_hamburger" uk-toggle="target: #tls_menu" aria-label="Abrir Menu"> 
<svg class="svg_36_lila"><use xlink:href="#hamburger"></use></svg>  
<svg class="svg_36_lila"><use xlink:href="#close"></use></svg> 
</button>
</header>

{#<a class="head_goto" href="#somos_tls" uk-scroll aria-label="Bajar al pie de pagina"> 
        <svg class="svg_36_lila"><use xlink:href="#goto"></use></svg> 
    </a>#}