<section id="tls_menu" uk-modal class="uk-modal-full modal">
<div class="uk-modal-dialog">
<div class="modal_body bg_clr-lila">

<div class="modal_menu" uk-height-viewport>
<nav class="modal_menu-main">{{ drupal_menu('main', 1, 2, true) }}</nav>
<nav class="modal_menu-submenu">{{ drupal_menu('submenu-simple', 1, 0, true) }}</nav>
<nav class="modal_menu-dropdown">{{ drupal_menu('sub-menu', 1, 2, true) }}</nav>
<nav class="modal_menu-form">
    <a class="boton_calato_icon" href="{{ base_path }}inscribete"><svg class="svg_18_lila"><use xlink:href="#write"></use></svg> ¡Inscríbete!</a>
</nav>
<nav class="modal_menu-rrss">{{ drupal_block('block_content:dbc266c6-c7bd-4e69-bb80-0dca4130b493') }}</nav>
<p class="modal_menu-copyright">&copy; {{ 'now' | date('Y') }}, Toulouse Lautrec - Perú</p>
</div>

<div class="modal_bg" uk-img data-src="{{ base_path ~ directory }}/assets/images/tls_menu.jpg" uk-height-viewport></div>

</div>
</div>
</section>