/* SWITCHER */
.switcher { bottom: 3rem; margin-left: 0; z-index: 2;  }
.switcher-child { padding-bottom: 10rem; }
.switcher--link {
    background-color: transparent !important;
    border: 2px dashed var(--tls-lila); width: 76px; 
    transform: scale(.75); padding: 3px!important;
    transition: var(--tls-time) transform; }
[class*='switcher--item-'] { padding-left: 0!important }
.uk-active .switcher--link { transform: scale(1); }
.switcher--img {
    border: 6px solid var(--tls-lila); transition: var(--tls-time) border-color; } 
.switcher-child--figure { overflow: visible; }
@media (max-width: 899px) {
.switcher-child--figure { max-width: 262px; margin: auto; }
}
@media (min-width: 900px) {
.switcher { 
    left: 0; bottom: auto;
    width: 50%; display: flex; justify-content: space-between; }
.switcher-child { padding-bottom: 0; }
.switcher-child--figure img { width: 572px; }
}
@media (min-width: 1200px) {
.switcher { width: 35%; left: 0; transform: none; }
.switcher-child--body { padding-right: 5rem; margin-left: 1rem; }
.switcher-child--figure { margin-left: 0; }
}
@media (min-width: 900px) and (max-width: 1199px) {
.switcher-child--body { padding-top: 8rem; }
} 