.forms .uk-input,.forms .uk-select {border: 0;border-bottom: 2px solid var(--tls-lila);line-height: 34px;height: auto;padding-top: 0;color: var(--tls-violeta);}
.forms .uk-form-danger,
.forms .uk-form-danger:focus {border-color: var(--tls-error);}
.forms .uk-form-danger+small {color: var(--tls-error);line-height: 1;display: block;font-size: 10px;}
.forms .uk-form-success,.forms .uk-form-success:focus {border-color: var(--tls-success);}
[disabled] {opacity: .75;}
.forms .uk-form-success+.error,.uk-display-none {display: none;}
.checkbox-label .uk-display-none {display: inline-block;}
.uk-light .forms .uk-input,
.uk-light .forms .uk-select {border-bottom-color: white;color: white;background-color: transparent;}
.uk-light .forms .uk-form-danger+small {color: white;}