.arky--body h3{font-size:22px;line-height:26px;font-weight:700;}
.arky--body h4{font-size:20px;line-height:24px;font-weight:700;}
.arky--body p{color:var(--tls-violeta);font-size:16px;line-height:20px;}
.arky--body li{color:var(--tls-violeta);font-size:18px;line-height:22px;}
.arky--body a{border-bottom:1px solid white;opacity:1;transition:var(--tls-time) opacity;}
.arky--body a:hover{opacity:.75}
.uk-light .arky--body p,
.uk-light .arky--body li{color:white;}
.arky--body li{text-align:left;margin-bottom:.5rem;}
.arky--body > * + *{margin-top:1rem;}
.arky--body + .arky--body{margin-top:1.5rem;}
.arky--body-news h2, .arky--body-news h3{color:var(--tls-rosa);}
@media (min-width:900px){.arky--body h3{font-size:26px;line-height:32px;}
.arky--body h4{font-size:22px;line-height:26px;}
.arky--body p{font-size:18px;line-height:24px;}
.arky--body li{font-size:19px;line-height:24px;}
}
.uk-text-underline{border-bottom:1px solid;}
.arky-border-top header .uk-container::before,
.arky-border-top header.uk-container::before{content:'';width:calc(100% - calc(6*var(--tls-xxx)));height:1px;background:var(--tls-fino);position:absolute;left:calc(3*var(--tls-xxx));top:-70px;}
.arky-border-top header.uk-container::before{top:-4rem;}
@media (min-width:600px){.promocionado a{padding-left:0!important;padding-right:0!important}
.promocionado figure{max-width:43%;}
.promocionado article{max-width:50%;padding:0!important;}
.promocionado img{height:250px;width:auto;}
.promocionado .uk-h3{font-size:20px;line-height:1.25;}
.promocionado .uk-h4{display:none;}
.promocionado .uk-button{padding:.5rem 1rem;margin-top:1rem !important;padding-right:2rem;}
.promocionado .person{display:none;}
}
.botones-tipo-1 [class*="swiper-button-"]{top:auto;margin:auto;bottom:.5rem;left:0;right:0;display:inline-flex;}
.botones-tipo-1.botones-tipo-1-lila [class*="swiper-button-"]{background-color:var(--tls-lila);color:white!important;}
.uk-light .botones-tipo-1.botones-tipo-1-lila [class*="swiper-button-"]{background-color:white;color:var(--tls-lila)!important;}
.botones-tipo-1.botones-tipo-1-lila .swiper-button-next::after,
.botones-tipo-1.botones-tipo-1-lila .swiper-button-prev::after{-webkit-text-stroke-color:white;}
.botones-tipo-1 [class*="button-prev"]{left:-5rem;}
.botones-tipo-1 [class*="button-next"]{right:-5rem;}
@media (min-width:600px){.botones-tipo-1 [class*="button-prev"],
.botones-tipo-1 [class*="button-next"]{left:auto;right:6rem;bottom:2rem;}
.botones-tipo-1.botones-tipo-1-lila [class*="swiper-button-"]{bottom:0;}
.botones-tipo-1 [class*="button-next"]{right:2rem;}
.botones-tipo-1 .uk-padding-xlarge-bottom{padding:0 !important;}
}
@media (min-width:900px){.swiper-container{width:100%;margin-left:auto;margin-right:auto;}
.swiper-slide{background-size:cover;background-position:center;}
.gallery-top{width:100%;}
.gallery-thumbs{box-sizing:border-box;padding:10px 0;}
.gallery-thumbs .swiper-slide{height:100%;opacity:0.4;}
.gallery-thumbs .swiper-slide-thumb-active{opacity:1;border-color:var(--tls-lila);}
.gallery-top figure{margin:0;}
.gallery-top img{height:500px;}
.gallery-thumbs figure{height:120px !important;margin-top:0;border:5px solid transparent;transition:var(--tls-time) opacity, var(--tls-time) border-color;}
.gallery-thumbs figure:last-child{margin-bottom:0 !important;}
}
.autor-pic{border:8px solid rgba(255,255,255,.5);padding:16px;margin-left:2rem;align-self:flex-start;}
.proyecto-grupal .autor-pic{max-width:60px;border-width:4px;padding:0;margin-bottom:.25rem!important;margin:0;width:100%;}
[class*='body--view'] .proyecto-grupal .autor-pic{max-width:55px;border-width:0;padding:4px;}
.compartir-right .uk-button-group li:not(:first-child){margin-top:.75rem;}
@media (min-width:900px){.compartir-right::before{content:'';width:2px;height:100%;background-color:white;display:block;position:absolute;left:2rem;opacity:.25;}
}
.bef-exposed-form .uk-button{border:0;border-bottom:2px solid var(--tls-lila);color:var(--tls-lila);}
.bef-exposed-form input{display:none!important;}
.button-tags{float:right;}
.bef-link{color:var(--tls-violeta) !important;}
.bef-link:hover,
.bef-link[class*="selected"]{color:var(--tls-rosa) !important;}
.uk-dropdown{border:2px solid var(--tls-lila);border-left:5px solid var(--tls-rosa);;}
a[id*="granja_"]{background-color:transparent;transition:var(--tls-time) background-color;}
a[id*="granja_"]:hover{background-color:var(--tls-lila-soft);}
.uk-light a[id*="granja_"]{background-color:rgba(255,255,255,.125);border:0;}
.uk-light a[id*="granja_"]:hover{background-color:rgba(255,255,255,.25);}
.uk-text-center a[id*='granja_'] img{margin:auto;}
.mas-simple p{margin:0;font-size:18px;padding-right:1rem;}
.mas-simple a .button-arrow{margin:auto !important;position:absolute !important;right:0;top:0;bottom:0;}
.mas-simple a .uk-text-underline{display:none;}
.nueva{position:absolute;top:1rem;right:1rem;width:4rem;height:4rem;line-height:4rem;}
.boton-red{width:3rem;height:3rem;padding:0;line-height:3rem!important;font-size:22px;margin-right:1rem;}
.tooltip{background-color:white;border:1px solid #cacaca;}
.tooltip-button{width:2.5rem;height:2.5rem;padding:0 !important;font-size:1.5em !important;background-color:white !important;box-shadow:0 0 0px 8px rgba(0,0,0,.25);border:0 !important;}
.tooltip-button [class*='minus'],
.tooltip-button.uk-open [class*='plus']{display:none;}
.tooltip-button.uk-open [class*='minus']{display:inline;}
.toolip-1{top:15%;left:25%;}
.toolip-2{top:25%;right:20%;}
.toolip-3{bottom:25%;left:20%;}
.toolip-4{bottom:15%;right:25%;}
.is--perfiles #welcome{padding-bottom:0;border-bottom:1px solid #dadada;}
.button-soft{background-color:var(--tls-lila-soft);padding-top:.75rem!important;padding-bottom:.75rem!important;}
.button-soft:hover,
.menu-item--active-trail .button-soft{background-color:var(--tls-lila);color:white;}
@media (min-width:900px){.body--taxonomy .card--mundo .uk-card-header{padding:0!important;}
}
.acordion-basico .uk-accordion-title::before{content:none;}
.acordion-basico .uk-accordion-title span{height:auto;transform:none!important;top:1rem;bottom:0;}
.acordion-basico .uk-accordion-title [class*='minus'],
.acordion-basico .uk-open .uk-accordion-title [class*='plus']{display:none;}
.acordion-basico .uk-open .uk-accordion-title [class*='minus']{display:inline;}
.acordion-basico li{border-bottom:1px solid var(--tls-linea)}
.acordion-basico .uk-accordion-content::before{content:'';height:100%;width:5px;border-radius:5px;background-color:var(--tls-rosa);position:absolute;left:0;top:0;}
.lapse::after{content:'';width:1rem;height:100%;position:absolute;left:0;right:0;margin:auto;background-color:var(--tls-rosa);top:0;}
.lapse-last::after{height:50%;}
.lapse .uk-container::after,
.lapse-first .uk-container::after{content:'';width:3rem;height:3rem;background-color:var(--tls-rosa);position:absolute;display:block;top:0;border-radius:50%;bottom:0;margin:auto;left:0;right:0;box-shadow:0 0 0 2rem rgba(0,0,0,.05);z-index:-1;}
.lapse-first .uk-container::after{bottom:auto;}
.lapse-first::before{content:'Presente';color:var(--tls-rosa);text-align:center;display:block;position:absolute;top:-4rem;left:0;right:0;}
.lapse-last.uk-light::before{content:'';width:25%;height:20px;background:var(--tls-rosa);display:block;position:absolute;top:0;bottom:0;margin:auto;z-index:0;}
.lapse.lapse-right{padding-left:4rem;}
.lapse-first.lapse-right::before{left:calc(5% - 1.5rem);right:auto;}
.lapse.lapse-right .uk-container::after,
.lapse-first.lapse-right .uk-container::after{left:calc(5% - 1rem);right:auto;}
.lapse.lapse-right::after{left:5%;right:auto;}
@media (max-width:899px){.lapse{padding-left:4rem;}
.lapse-first::before{left:0;right:auto;}
.lapse-first.lapse-right::before{left:0;}
.lapse .uk-container::after,
.lapse-first .uk-container::after{left:1rem;right:auto;}
.lapse::after{left:2rem;right:auto;}
}
.border-rosa{border-bottom:5px solid var(--tls-rosa);}
.arky-bg-rosa .border-rosa{border-bottom-color:white;}
.grupo-3 > *,
.grupo-4 > *{width:50%;}
@media (min-width:600px){.grupo-3 > *,
.grupo-4 > *{width:33.32%;}
}
@media (min-width:900px){.grupo-4 > *{width:25%;}
}
.body--buscador [class*="js-view"] header{color:var(--tls-rosa);margin-bottom:1rem;font-size:1.5em;font-weight:700;}
.bee-buscador:not(:nth-child(2)){border-top:1px solid var(--tls-fino);}
.pager__items{margin:auto;width:auto;display:inline-flex;border:1px solid var(--tls-fino);border-radius:2rem;padding:.75rem;padding-right:1rem;font-size:14px;text-transform:uppercase;}
.pager li{padding-left:.5rem;}
.pager a{min-width:1.5rem;line-height:1.5rem;}
.pager .uk-active a{box-shadow:0 0 0 1px var(--tls-rosa), 0 0 0 10px inset var(--tls-rosa);border-radius:100px;color:white;}
.pager__item--previous{border-right:1px solid var(--tls-fino);padding-right:.5rem;}
.pager__item--next{border-left:1px solid var(--tls-fino);padding-left:.5rem;}
div:not([uk-dropdown]).bef-links ul{display:inline-block;width:100%;}
div:not([uk-dropdown]).bef-links li{display:inline-flex;}
@media (max-width:599px){div:not([uk-dropdown]).bef-links ul{text-align:center;}
}
.bef-links:not([uk-dropdown]) .bef-link{background-color:var(--tls-lila-soft);display:inline-block;color:var(--tls-lila) !important;padding:.5rem 1rem .5rem 2.5rem;border-radius:3rem;position:relative;margin-bottom:.5rem;margin-right:.5rem;}
.bef-links:not([uk-dropdown]) .bef-link::before{content:'';width:1rem;height:1rem;background-color:white;display:block;position:absolute;left:1rem;top:0;bottom:0;margin:auto;border-radius:50%;}
.bef-links:not([uk-dropdown]) .bef-link--selected::after{content:'';width:.35rem;height:.65rem;position:absolute;top:0;display:block;border-right:1px solid var(--tls-lila);border-bottom:1px solid var(--tls-lila);transform:rotate(45deg);bottom:0;margin:auto;left:1.25rem;}
.uk-navbar-nav{border-bottom:1px solid var(--tls-linea);}
.uk-navbar-nav > li > a{min-height:50px;text-transform:none;font-weight:700;color:var(--tls-lila);position:relative;}
.uk-navbar-nav > li > a::after{content:'';width:100%;height:4px;border-radius:2rem;background-color:var(--tls-lila);position:absolute;bottom:0;opacity:0;}
.uk-navbar-nav > li[class*="active"] > a::after{opacity:1;}
.video-play::before{content:'';width:100px;height:100px;display:block;position:absolute;background-image:url(imgs/iconos/play.png);left:50%;top:50%;transform:translate3d(-50%,-50%,0);}
.block-play, blockquote{position:relative;padding-top:65px;}
blockquote::before,
.block-play::before{content:'';background-image:url(imgs/iconos/quote.png);width:80px;height:55px;display:block;position:absolute;top:0;left:2rem;z-index:2;margin:auto;}
.block-play-center::before{left:0;right:0;}
.arky-bg-rosa .block-play::before{filter:brightness(0.5) sepia(1) hue-rotate(-70deg) saturate(5)}
blockquote::before{left:0;right:0;margin:auto;}
@media (max-width:599px){.block-play::before{left:0;right:0;margin:auto;}
}
.proyecto-grupal .uk-flex-inline:first-child{position:relative;z-index:-1;}
.proyecto-grupal .uk-flex-inline:not(:first-child){position:relative;margin-left:-2rem;z-index:2;}
.arky-variacion-50 header h2,
.arky-variacion-50 .arky--body{width:100%;margin-left:0 !important;margin-right:auto;text-align:center;}
.image-variacion{max-width:50%;margin:auto;bottom:-2.5rem;}
@media (min-width:900px){.arky-variacion-50 header h2,
.arky-variacion-50 .arky--body{width:50%;margin-left:0 !important;margin-right:auto;text-align:left;}
.image-variacion{max-width:calc(550px - 6rem);width:calc(550px - 6rem);position:absolute;right:calc(50vw - 3rem - 550px);bottom:0;}
}
.schedule-group{border-bottom:1px solid var(--tls-fino);}
.schedule-box{width:5.5rem;background-color:var(--tls-violeta);color:white;}
.schedule-color-lila .schedule-box{background-color:var(--tls-lila);}
.schedule-color-rosa .schedule-box{background-color:var(--tls-rosa);}
.schedule-color-celeste .schedule-box{background-color:var(--tls-celeste);}
.schedule-color-gris .schedule-box{background-color:var(--tls-suave);color:var(--tls-lila);}
.schedule-color-ambar .schedule-box{background-color:var(--tls-ambar);color:var(--tls-lila);}
.schedule-list li::after{content:'';border:2px solid var(--tls-violeta);width:.75rem;height:.75rem;display:block;position:absolute;left:0;margin:auto;bottom:0;top:0;border-radius:50%;}
.schedule-color-lila .schedule-list li::after{border-color:var(--tls-lila);}
.schedule-color-rosa .schedule-list li::after{border-color:var(--tls-rosa);}
.schedule-color-ambar .schedule-list li::after{border-color:var(--tls-ambar);}
.schedule-color-celeste .schedule-list li::after{border-color:var(--tls-celeste);}
.schedule-color-gris .schedule-list li::after{border-color:var(--tls-suave);}
.objeto-out{z-index:2;width:100% !important;opacity:1;transition:var(--tls-time) opacity;}
.objeto:hover .objeto-out{opacity:0;}
@media (max-width:1199px){.objeto{height:250px;}
}
@media (max-width:599px){.objeto-in{padding:1rem;}
}
.tabs-2 li{margin-bottom:.5rem;}
.tabs-2 a{background-color:var(--tls-lila-soft) !important;color:var(--tls-lila) !important;line-height:1;padding:.5rem .75rem .5rem !important;border-radius:2rem;border:2px solid transparent;font-size:14px;}
.uk-light .tabs-2 a{background-color:rgba(255,255,255,.15) !important;color:white !important;}
.tabs-2 .uk-active a{border-color:var(--tls-lila);}
.uk-light .tabs-2 .uk-active a{border-color:white;}
blockquote{text-align:center;padding-left:5%;padding-right:5%;padding-bottom:2rem;border-bottom:5px dashed var(--tls-rosa);position:relative;margin-bottom:2rem;}
blockquote p{font-style:normal;color:var(--tls-rosa) !important;font-family:Trocchi, serif;font-size:22px !important;line-height:28px !important;}
blockquote::after{content:'\e937  \e937  \e937';font-family:'BeeTLS' !important;font-style:normal;color:var(--tls-rosa);background-color:white;position:absolute;width:120px;height:30px;left:0;right:0;margin:auto;bottom:-15px;}
.acordeon--core-list{background-color:rgba(39, 0, 109,.3);}
.acordeon--core-list.uk-open{background-color:#27006d;}
.acordeon--header{background-color:transparent;line-height:1;}
.acordeon--header::before{content:none;}
.acordeon--header h4{padding-left:1rem;padding-right:1.5rem;}
.acordeon--cuerpo{padding:0 1rem 2rem;}
.acordeon--header-modulo{width:4rem;height:4rem;background-color:transparent;transition:var(--tls-time) background-color;}
.is--carreras .uk-open .acordeon--header-modulo{background-color:var(--tls-rosa);}
.is--carreras .acordeon--cuerpo .uk-h4,
.is--carreras .uk-accordion .uk-position-center-right{color:var(--tls-rosa);}
.is--cursos .uk-open .acordeon--header-modulo{background-color:var(--tls-celeste);}
.is--cursos .uk-accordion .uk-position-center-right,
.is--cursos .acordeon--cuerpo .uk-h4{color:var(--tls-celeste);}
@media (min-width:900px){.acordeon--header-modulo{width:100px;height:100px;}
.acordeon--cuerpo{padding:0 calc(100px + 1rem) 2rem;}
}
@media (max-width:899px){.shareit .uk-button-group{display:block;}
.shareit .uk-button-group a{width:100%;margin-bottom:.75rem;}
}
.uk-icon-button{box-sizing:border-box;width:3rem;height:3rem;border-radius:500px;background-color:transparent;vertical-align:middle;display:inline-flex;justify-content:center;align-items:center;transition:var(--tls-time) ease-in-out;transition-property:color, background-color;}
/* ESPECIALES */
.achicar .uk-heading-4 {font-size: 30px;line-height: 1;}
.achicar .uk-h1 {font-size: 21px;line-height: 1;margin-bottom: 1rem;font-weight: 700;}
.achicar .arky--body p, .achicar .arky--body li {font-size: 14px;line-height: 1.5;margin-bottom: 1rem;}
.achicar .arky--body li {margin-bottom: .5rem;}
.achicar .arky--body li::before { top: 5px; }
.loco-4 .uk-button { font-size: 13px; letter-spacing: 0; }
.body--node-79 .uk-pagination { max-width: 600px; min-width: 600px; position: relative; display: flex; flex-flow: wrap row; margin: 0; }
.body--node-79 .uk-pagination>* { background-color: var(--tls-rosa); border-radius: 2rem; padding:.25rem;min-width:0; display: inline-flex; }
.marquee {display:block;overflow: hidden;position: relative;}
.marquee::before {content: '\00a0';}
.marquee span {animation: marquee 10s linear infinite;display: block;min-width: 100%;position: absolute;left: 0;top: 0;white-space: nowrap;}
.marquee:last-child span {animation: marquee 13s linear infinite;}
@keyframes marquee { from {transform: translateX(100%); }to { transform: translateX(-100%); } }
@media (max-width: 599px){ 
.marquee span { animation: none!important; position: relative; font-size: 36px; white-space:normal; }
.marquee::before { content: none; }
}