@font-face{font-family:Gilroy;src:url(font/Gilroy-SemiBold.woff2) format('woff2'),url(font/Gilroy-SemiBold.woff) format('woff');font-weight:400;font-style:normal;-webkit-font-smoothing:antialiased;-moz-osx-font-smoothing:grayscale;font-display:swap;}
@font-face{font-family:Gilroy;src:url(font/Gilroy-Heavy.woff2) format('woff2');font-weight:900;font-style:normal;-webkit-font-smoothing:antialiased;-moz-osx-font-smoothing:grayscale;font-display:swap;}
@font-face{font-family:Gilroy;src:url(font/Gilroy-ExtraBold.woff2) format('woff2');font-weight:700;font-style:normal;-webkit-font-smoothing:antialiased;-moz-osx-font-smoothing:grayscale;font-display:swap;}
@font-face{font-family:BeeTLS;src:url(font/Feather.woff?sdxovp) format('woff');font-weight:400;font-style:normal;-webkit-font-smoothing:antialiased;-moz-osx-font-smoothing:grayscale;font-display:swap;}

.wf-active [class*=" feather-"],.wf-active [class^=feather-]{font-family:BeeTLS!important;speak:none;font-style:normal;font-weight:400;font-variant:normal;text-transform:none;line-height:1;-webkit-font-smoothing:antialiased;-moz-osx-font-smoothing:grayscale;font-display:swap;}
img[data-src][src*='data:image']{background:rgba(0,0,0,0.1);}
u{text-decoration:underline;text-decoration-color:var(--c-lila);}
.aw-border{border:1px solid;}
.aw-border-top{border-top:1px solid;}
.aw-border-bottom{border-bottom:1px solid;}
.aw-border-left{border-left:1px solid;}
.aw-border-right{border-right:1px solid;}
.arky-bg-blanco{background-color:white;}
.arky-bg-rosa{background-color:var(--c-rosa);}
.arky-bg-violeta{background-color:var(--c-lila);}
.arky-bg-gris,
.arky-bg-suave{background-color:var(--tls-suave);}
.arky-bg-celeste{background-color:var(--tls-celeste);}
.arky-bg-transparent{background-color:transparent!important;}
.arky-bg-ambar{background-color:var(--tls-ambar);}
.uk-light .color-rosa{color:white!important}
.feather-arrow-right,
.uk-light .uk-border-naked:hover .feather-arrow-right{color:var(--c-rosa);}
.uk-light .uk-border-naked .feather-arrow-right{color:white;}
.arky-heading{line-height:1;}
.arky-line{-webkit-text-stroke:1px var(--c-lila);color:transparent;}
.uk-light .arky-line{-webkit-text-stroke-color:white;}
.form-down .hipericon-item--5,
.form-externo .hipericon-item--4{display:none;}
.wf-active body{font-family:Gilroy;}
.wf-active .arky-serif{font-family:Trocchi, serif;}
.uk-h1, .uk-h2, uk-h3, .uk-h4, .uk-h5, .uk-h6{font-weight:400;}
.uk-heading-3, .uk-heading-4, .uk-heading-5, .uk-heading-6{font-weight:700;}
.uk-h7{font-size:10px;font-weight:700;}
.uk-heading-1, .uk-heading-2{font-weight:900;}
@media (min-width:900px){.uk-h7{font-size:12px}
}
[class*='uk-light'][class*='aw-border']
[class*='uk-light'] [class*='aw-border']{border-color:white;}
.uk-link-toggle svg{stroke-width:2px;width:30px;}

@media(min-width:900px) and (min-height:600px){
.uk-sticky-placeholder{display:none;}
.page{margin-left:var(--head-width);}
.tls--modal{margin-left:var(--head-width);margin-top:0;}

}

@media (max-width:899px){.footer--campus-tits::after{content:'-';position:absolute;right:0;margin:auto;top:0;bottom:0;}
.footer--campus-contents[aria-hidden="true"] + .footer--campus-tits::after{content:'+';}
}
@media (min-width:900px){.footer--campus-contents{display:block !important;opacity:1 !important;}
}

.carousel--banner-tits span:first-child{display:block;}
@media (max-width:899px){.carousel--container{padding-bottom:10vh;}
[class*='uk-slideshow-item-']{align-items:flex-end;}
}
@media (min-width:900px){.block--header-left .block--header{text-align:left!important;}
.block--header-left .block--header-button{position:absolute;top:50%;transform:translateY(-50%);right:0;}
}
.block--header-button{font-size:16px;font-weight:700;}
.button-arrow{padding-right:2.5rem!important;position:relative;}
.button-arrow-left{padding-right:1rem!important;padding-left:2.5rem!important;}
.button-arrow span{right:14px;}
.button-arrow-left span{right:auto;left:14px;}
.button-arrow svg{width:21px;stroke-width:2px;}


.menu--hijo-li{display:block!important;position:absolute;top:0;left:0;transform:translateX(-100%);width:100%;transition:calc(2*var(--timer)) transform;}
.menu--hijo-li.uk-active{transform:translateX(0);}
@media (min-width:900px){.menu--principal-a{padding:.5rem !important;}
}
@media (max-width:899px){.menu--principal-li{border-bottom:1px solid rgba(255,255,255,.8);}
.menu--hijo{display:none;}
}
.card--mundo{border:1px solid rgba(20, 0, 73, 0.1);background-color:white;padding-right:2.5rem;transition:var(--timer) border-color, var(--timer) color, var(--timer) background-color;}
.card--mundo:hover,
.card--mundo:active{background-color:var(--c-lila);color:white;border-color:var(--c-lila);}
.mundos--tabs{background-color:transparent;padding:.75rem 1rem!important;border-left:5px solid transparent;border-radius:.5rem 0 0 .5rem;color:var(--c-lila);font-size:16px;margin-bottom:.75rem;transition:var(--timer) border-color, var(--timer) color, var(--timer) background-color;}
.uk-active .mundos--tabs{border-color:var(--c-violeta);color:var(--c-violeta);background-color:white;}
.card--mundo .uk-position-center-right{right:1rem;}
.cards--mundo:nth-child(2n){position:relative;top:1rem;}
.card--mundo .color-dis,
.card--mundo:hover .color-violeta{fill:#f1c400 !important;}
.card--mundo:hover .color-dis{fill:white !important;}
.cards--mundo svg{max-width:4rem;}
@media (max-width:599px){.card--mundo .uk-grid-small >:not(span){width:100%;}
}
@media (max-width:899px){.footer--campus-contents{margin-top:1rem;}
.footer--campus-contents [class*='uk-child'] > *{padding-left:0;}
.footer--campus-contents [class*="uk-child"] > * span.uk-icon{position:absolute;right:0;top:0;bottom:0;width:auto;height:30px;}
.campus--tits br{display:none;}
}
.uk-icon svg > *{stroke-width:2px;}
.icon-open,
.uk-open .icon-off{display:none;}
.uk-open .icon-open{display:inline-block;}
.card-ec{border:1px solid white;}
.card-ec img{margin-top:-3rem;}
.section-views{overflow:hidden;}
.swiper-container-centered{position:relative;}
.swiper-container-horizontal > .swiper-pagination-bullets,
.swiper-pagination-custom, .swiper-pagination-fraction{bottom:-1rem;}
.swiper-slide{opacity:.5;transition:var(--timer) opacity;}
.swiper-slide-active{opacity:1}
.swiper-button-next, .swiper-button-prev{color:var(--c-violeta);width:3rem;height:3rem;background-color:white;border-radius:50%;}
.swiper-button-next::after, .swiper-button-prev::after{-webkit-text-stroke:2px var(--c-violeta);font-size:18px;}
.swiper-pagination-bullet{width:10px;height:10px;background-color:var(--c-rosa);}
.swiper-pagination-bullet-active{background-color:var(--c-rosa);}
.is--cursos .swiper-pagination-bullet-active{background-color:var(--tls-celeste);}
.uk-light .swiper-pagination-bullet{background-color:white;}
.uk-light .swiper-pagination-bullet-active{background-color:white;}
.swiper-button-prev, .swiper-container-rtl .swiper-button-next{left:-1rem;}
.swiper-button-next, .swiper-container-rtl .swiper-button-prev{right:-1rem;}
.swiper-button-next,
.swiper-button-prev{display:none;}
@media (min-width:900px){.swiper-button-next,
.swiper-button-prev{display:inline-flex;}
.slider--quotes [class*='swiper-button-'],
.swiper-pagination{display:none;}
.swiper-container-centered{margin-bottom:0;}
}
[class*='cards--'] img{width:100%;}
@media (min-width:480px){[class*='swiper'] .cards--eventos{padding-left:3.5rem;padding-right:3.5rem;}
}
@media (min-width:600px){[class*='swiper'] .cards--news,
[class*='swiper'] .cards--eventos{padding-left:5rem;padding-right:5rem;}
.cards--news .teaser-body{order:-1;}
}
@media (min-width:900px){[class*='swiper'] .cards--eventos{padding-left:7rem;padding-right:7rem;}
}
.slider--quotes footer{margin-top:0 !important;padding-left:0;padding-right:0;background-color:white;min-width:100%;max-width:100%;padding-bottom:3rem;padding-top:5rem;}
.slider--quotes .swiper-container-horizontal > .swiper-pagination-bullets,
.slider--quotes .swiper-pagination-custom, .swiper-pagination-fraction{bottom:-3rem;}
.quotes-img{max-width:60vw;width:100%;}
.quotes--header{background-color:white;}
.quotes--body p{margin-bottom:0;}
.quotes--body{background-color:white;min-height:150px;padding-top:2rem;border-top:2px solid #ece5f4;}
.quotes--body p,
.quotes--header > *{opacity:0;transition:var(--timer) opacity;}
.swiper-slide-active .quotes--body p,
.swiper-slide-active .quotes--header > *{opacity:1;}
.slider--quotes .swiper-slide{margin-right:0!important;opacity:1;}
.slider--quotes .swiper-slide figure{opacity:.5;}
.slider--quotes .swiper-slide-active figure{opacity:1;}
.quotes-figure{transition:var(--timer) left, var(--timer) right;left:0;right:0;}
.swiper-slide-prev .quotes-figure{right:-20vw;left:auto;}
.swiper-slide-next .quotes-figure{left:-20vw;right:auto;}
@media (min-width:600px){.swiper-slide-prev .quotes-figure{right:-30vw;left:auto;}
.swiper-slide-next .quotes-figure{left:-30vw;right:auto;}
.quotes-img{max-width:372px;}
}
@media (min-width:900px){.slider--quotes .uk-container:last-child{padding-top:1rem;}
.swiper-slide-prev .quotes-figure{right:-40vw;left:auto;}
.swiper-slide-next .quotes-figure{left:-40vw;right:auto;}
.quotes--header{background-color:transparent;position:absolute;top:5%;left:60%;font-size:15px;}
}
.description{font-size:12px;}
.uk-button{position:relative;}
.uk-light .uk-button[class*='naked']:hover{background-color:white;}
.uk-light[class*='rosa'] .uk-button[class*='naked']:hover{color:var(--c-rosa);}
.uk-light[class*='violeta'] .uk-button[class*='naked']:hover{color:var(--c-lila);}
.uk-light[class*='celeste'] .uk-button[class*='naked']:hover{color:var(--tls-celeste);}
.uk-border-naked{border:2px solid var(--c-lila);color:var(--c-lila);transition:var(--timer) background-color, var(--timer) color;}
.uk-border-naked:hover,
.uk-border-naked:active{background-color:var(--c-lila);color:white;}
.arky--body li,
.acordeon--cuerpo li{position:relative;padding-left:1rem;padding-right:1rem;}
.arky--body li::before,
.acordeon--cuerpo li::before{content:'';width:10px;height:10px;border:2px solid var(--c-rosa);display:inline-block;border-radius:50%;position:absolute;top:10px;left:-4px;}
.arky-bg-rosa .arky--body li::before{border-color:var(--color-violeta);}
.is--cursos .acordeon--cuerpo li::before{border-color:var(--color-celeste)}
.arky-delete-margen-arriba.uk-section{padding-top:0;}
.arky-delete-margen-abajo.uk-section{padding-bottom:0;}
.teaser-img{width:100%;}
.uk-light .color-violeta{color:white}
.arky-bordeado{border:2px solid var(--tls-fino);height:100%;}
@media (max-width:599px){.uk-card[class*="uk-padding-"]{padding-left:0 !important;padding-right:0 !important;}
.arky-border-top .uk-container::before{top:-35px;}
}
.menu_top [class*="hipericon-item"]{min-width:54px;line-height:60px;padding-left:0;text-align:center;}
.menu_top .hipericon-link-1 .hipericon--title{display:none;}
@media (min-width:900px){.menu_top .hipericon-link-1{padding-left:1.5rem;padding-right:1.5rem;}
.menu_top .hipericon-link-1 .hipericon--title{display:inline-block;width:210px;position:relative;top:-.05rem;color:#999;overflow:hidden;height:20px;line-height:1;transition:var(--timer) width;}
.change .menu_top .hipericon-link-1 .hipericon--title{width:0;}
}
@media (max-width:599px){.menu_top .hipericon-item--3{display:none;}
}
@media (min-width:900px) and (min-height:600px){.menu_top .hipericon-link-1{border-radius:2rem 0 0 2rem;}
.menu_top .hipericon-link-4,
.menu_top .hipericon-link-5{border-radius:0 2rem 2rem 0;}
.menu_top [class*="hipericon-item"]{min-width:70px;}
}
.menu_top [class*="hipericon-link"]{border-left:1px solid var(--c-sombra)!important;line-height:50px;padding-top:11px;background-color:white;}
.footer .uk-iconnav{justify-content:center;}
.footer [class*="hipericon-item"]{margin-left:.5rem;margin-right:.5rem;}
@media (min-width:900px){.footer .uk-iconnav{justify-content:flex-start;}
.footer [class*="hipericon-item"]{margin-left:0;margin-right:1rem;}
}
.uk-animation-toggle{display:inline-flex;}
[data-tooltip]{position:relative;}
[data-tooltip]::before{transform:translateX(-50%) scale(0);content:attr(data-tooltip);position:absolute;line-height:1;left:50%;margin:auto;bottom:-2.25rem;background-color:white;font-size:13px;text-align:center;padding:.5rem .75rem;border-radius:2rem;display:inline-table;transform-origin:center;transition:var(--timer) transform, var(--timer) opacity;opacity:0;color:var(--c-lila);min-width:100px;}
[data-tooltip]::after{content:'';width:1rem;height:1rem;background-color:white;display:block;position:absolute;left:0;right:0;bottom:-1.125rem;position:absolute;margin:auto;border-radius:.25rem;transform:scale(0) rotate(0deg);z-index:-1;transform-origin:center;transition:var(--timer) transform, calc(2*var(--timer)) opacity;opacity:0;}
[data-tooltip]:hover::before{transform:translateX(-50%) scale(1);opacity:1;}
[data-tooltip]:hover::after{transform:scale(1) rotate(45deg);opacity:1;}
.tls--banner{min-height:450px}
.tls--banner-button{top:1.5rem;left:1rem;}
.tls--banner-button:hover{color:var(--c-violeta)!important;}
@media (min-width:900px){.tls--banner{min-height:600px}
}
@media (min-width:1400px){.tls--banner-button{top:2.5rem;left:calc(50% - 555px);}
}
.tls--page-top figure{overflow:visible;}
.tls--page-top .uk-card-badge{width:90px;height:90px;padding-top:1.75rem;bottom:auto;top:1rem;right:1rem;z-index:2;}
.tls--page-top .uk-card-badge span{display:block;}
@media (min-width:900px){.tls--page-top .uk-card-badge{padding-top:2rem;width:120px;height:120px;}
}
.header-calendar{width:100%;background-color:var(--tls-suave);height:84px;border-top:5px solid var(--c-lila);border-radius:1rem;text-align:center;padding:0;}
@media (min-width:900px){.header-calendar{width:120px;height:120px;}
}
.summary{border-left:8px solid var(--c-rosa);padding-left:1.5rem;border-radius:.5rem;}
.uk-button-opacity{background-color:rgba(0,0,0,.125);padding-top:1rem;padding-bottom:1.125rem;}
.uk-button-opacity:hover,
.uk-button-opacity:focus{background-color:rgba(0,0,0,.5);}
.border-dashed{border:1px dashed white;}
.logro--titulo{padding:1rem 2rem;}
.logro--icono{background-color:rgba(255,255,255,.2);background-image:url(imgs/premio.png);background-position:center;background-repeat:no-repeat;width:116px;height:116px;}
.uk-card.card--inicios > div{background-color:rgba(255,255,255,.1);border:5px solid rgba(255,255,255,.4);}
.uk-card.card--inicios > div > article:last-child{border-top:2px solid rgba(255,255,255,.2);}
.card--inicios-fecha{width:120px;}
@media (max-width:599px){.uk-card.card--inicios > div{padding:.5rem!important;}
.card--inicios-fecha{width:80px;}
}
.card--docentes figure{border:.5rem solid rgba(255,255,255,.2);padding:.5rem;}
@media (max-width:899px){.is--cursos .uk-tab{justify-content:center;}
.is--cursos .uk-tab a span{display:none;}
}
@media (min-width:900px){.is--cursos .uk-tab-left::before{content:none;}
.uk-tab >:not(:first-child){border-top:1px solid rgba(255,255,255,.25);}
.is--cursos .uk-tab > * > a{padding-top:1rem;padding-bottom:1rem;border-right:0;}
.is--cursos .uk-tab > * > a span{font-size:40px;opacity:0;transition:var(--timer) opacity;}
.is--cursos .uk-tab > .uk-active > a span{opacity:1;}
}
@media (max-width:599px){.max-height-figure img{max-height:250px;}
}

.menu--small li a{position:relative;display:inline-block;}

.menu--small .menu-item--expanded > a::after{content:'\e9b1';font-family:'BeeTLS' !important;color:var(--c-rosa);margin-left:.5rem;}
.menu--small .menu-item--expanded > a.uk-open::after{content:'\e996';}
.menu--submenu ul{position:relative;padding-left:1.5rem!important;}
.menu--submenu ul::before{content:'';width:5px;height:100%;background-color:var(--c-rosa);position:absolute;border-radius:1rem;left:0;}
.menu--small li a{transition:var(--timer) opacity;}
.menu--small li a:hover{opacity:.5}
.tls--modal .menu--rrss{padding:1rem;}
.tls--modal .menu--rrss li{margin-right:1rem;}
.tls--modal .menu--rrss li a{width:3rem;height:3rem;background-color:rgba(39, 0, 109, 0.5);border-radius:50%;}
.tls--modal .menu--rrss li a:hover{background-color:white;color:var(--c-violeta);}
.tls--modal .menu--rrss li a::before,
.tls--modal .menu--rrss li a::after{content:none;}
.tls--modal .menu--rrss li svg{width:22px;position:absolute;top:50%;transform:translate3d(-50%, -50%, 0);left:50%;}
@media (max-width:899px){.tls--modal .uk-iconnav{justify-content:center;}
.tls--modal .menu--rrss li{margin-right:.5rem;margin-left:.5rem;}
}
.tabla-container{font-size:12px;line-height:1;}
#inscripcion_menu li a{color:var(--c-lila);}
#inscripcion_menu li a:hover{color:white;opacity:1;}
#inscripcion_menu svg{max-width:18px;}
.body--node-45 main{display:flex;flex-flow:column wrap;}
.wasap{width:60px;height:60px;position:fixed;z-index:11;bottom:.6rem;right:.5rem;}
.chattigo-widget-trigger {
    bottom: 40px !important;
    right: 125px !important;
  }
  .chattigo-widget-trigger--complete {
    box-shadow: 0 0 15px rgba(80, 80, 80, .5);
    width: 60px !important;
    height: 60px !important;
  }
  .chattigo-widget-trigger--complete .chattigo-widget-trigger__logo {
    max-height: 70px !important;
    right: -4px !important;
    top: -6px !important;
  }

.sprite-wasap{border-radius:50%;animation:wasap 1s infinite;}
@media (max-width:480px){
  .chattigo-widget-trigger {
    bottom: 10px !important;
    right: 75px !important;
  }
}
@media (min-width:900px){.wasap{bottom:2.5rem;right:3rem;}
}
@keyframes wasap{0%{box-shadow:0 0 0 0px rgba(0,0,0,0.2);}100%{box-shadow:0 0 0 35px rgba(0,0,0,0);}}
@media (max-width:899px){.header-calendar{margin-left:1rem;}
}
@media (max-width:599px){.body--node-68 [class*="child-"],
.body--node-69 [class*="child-"],
.body--node-70 [class*="child-"],
.body--node-71 [class*="child-"],
.is--cursos [class*="child-"]
.mundos-child{padding-left:1rem;}
.body--node-68 .uk-card figure,
.body--node-68 .uk-card img,
.body--node-69 .uk-card figure,
.body--node-69 .uk-card img,
.body--node-70 .uk-card figure,
.body--node-70 .uk-card img,
.body--node-71 .uk-card figure,
.body--node-71 .uk-card img,
.mundos-child figure,
.mundos-child img,
.is--cursos .uk-card figure,
.is--cursos .uk-card img{max-height:300px;border-radius:1rem;}
}
.uk-search-input{background-color:white !important;color:var(--c-lila) !important;height:50px !important;}
.uk-search-input::placeholder{color:var(--c-violeta)!important;}
.uk-search span.uk-icon{color:var(--c-rosa)!important;}
form .form-submit[class*="search"]{background-color:var(--c-lila);width:auto;height:44px;top:3px;right:3px;padding:0 1rem;cursor:pointer;color:white;font-family:inherit;}
.uk-modal .uk-modal-close{max-height:30px;top:1rem;right:1rem;}
.uk-modal .uk-modal-close [class*="feather"]{background-color:white;width:30px;height:30px;display:inline-block;color:var(--c-lila) !important;line-height:30px;text-align:center;border-radius:50%;margin-left:.5rem;}
.enlace-list{padding:0;margin:0;}
[class*='enlace-link-']{display:block;padding-right:1.5rem;padding-top:.5rem;padding-bottom:.5rem;border-bottom:1px solid rgba(255,255,255,.2);}
.bee-action figure img{transition:calc(4*var(--timer)) transform;}
.bee-action:hover figure img{transform:scale(1.5) rotate(15deg);}
.teaser-figure .color-rosa{width:18px;}
#edit-submit-buscador{color:white}
#block-tls-footer li a{margin-bottom:.5rem;display:inline-block;border-bottom:2px solid transparent;transition:var(--timer) border-bottom;}
#block-tls-footer li a:hover{border-bottom:2px solid var(--c-lila);}
.loco > *{position:relative;}
@media (min-width:1200px){.loco-4 > *:nth-child(4n+2){top:1rem;}
.loco-4 > *:nth-child(4n+3){top:2rem}
.loco-4 > *:nth-child(4n+4){top:-1rem;}
.loco-3 > *:nth-child(3n+3){top:-1rem;}
.loco-3 > *:nth-child(3n+2){bottom:-1rem;}
.loco-2 >:nth-child(2n){top:1.5rem;}
}
@media (max-width:599px){.loco{margin-left:0!important;}
.loco-4 > a:nth-child(4n+1), .loco-4 > a:nth-child(4n+3){padding-right:.5rem !important;}
}
.barra{margin-left:.25rem;}
[class*="barra-paso-"] small{color:#FBD7E1!important;}
[class*="barra-paso-"] small p{background-color:#FBD7E1;color:white;display:inline-block;border-radius:50%;min-width:22px;font-size:13px;margin-right:.25rem;margin-bottom:0;}
.barra-activo small,
.barra-listo small{color:var(--c-rosa)!important;}
.barra-activo small p,
.barra-listo small p{background-color:var(--c-rosa);}
[class*="barra-paso-"] span{width:100%;height:.5rem;background-color:#FBD7E1;display:block;margin-top:.25rem;position:relative;overflow:hidden;}
[class*="barra-paso-"] span:before{content:'';height:100%;background-color:var(--c-rosa);position:absolute;left:0;}
.barra-paso-1 span{border-radius:1rem 0 0 1rem;}
.barra-paso-2 span{border-radius:0 1rem 1rem 0;}
.barra-activo span::before{width:10%;}
.barra-listo span::before{width:100%;}
.color-rosa.uk-button-text::before{border-color:var(--c-rosa);}
.quotes--body{position:relative;}
.quotes--body::before{background-image:url(imgs/iconos/quote.png);background-repeat:no-repeat;background-position:center;background-blend-mode:darken;content:'';position:absolute;top:2rem;left:0;right:0;width:80px;height:55px;opacity:.25;margin:auto;}
.tls-border::before{content:'';background-image:repeating-linear-gradient(-50deg,var(--c-lila),var(--c-lila) 2px,transparent 2px,transparent 10px);width:300px;height:300px;border-radius:50%;display:block;position:absolute;left:-150px;}
.tls-border.tls-border-right::before{left:auto;right:-150px;}
.uk-light.tls-border::before{background-image:repeating-linear-gradient(-50deg,white ,white 2px,transparent 2px,transparent 10px);}
.tls--modal .menu--rrss li.hipericon-item--1 path{fill:white;}
.tls--modal .menu--rrss li.hipericon-item--1 a:hover path{fill:var(--c-lila);}
.switcher{bottom:3rem!important;margin-left:0!important;z-index:2;}
.switcher--link{background-color:transparent !important;border:2px dashed transparent;padding:4px !important;width:76px;transform:scale(.75);transition:var(--timer) border-color, var(--timer) transform;}
[class*='switcher--item-']{padding-left:0!important}
.uk-active .switcher--link{border-color:white;transform:scale(1);}
.switcher--img{border:5px solid var(--tls-vino);transition:var(--timer) border-color;}
.uk-active .switcher--img{border-color:white;}
.switcher-child--figure{overflow:visible;}
@media (max-width:899px){.switcher-container{padding-bottom:12rem;}
.switcher-child--figure{max-width:262px;margin:auto;}
}
@media (min-width:900px){.switcher{left:calc(75%)!important;bottom:auto!important;width:50%!important;display:flex;justify-content:space-between;}
.switcher-child{padding-bottom:0;}
.switcher-child--figure img{width:572px;}
}
@media (min-width:1200px){.switcher{width:35%!important;left:calc(48px + 604px - 5vw)!important;transform:none!important;}
.logros-interno .switcher { left: 0!important; }
.switcher-child--body{padding-right:5rem;margin-left:2vw;}
.switcher-child--figure{margin-left:-7vw;}
}
@media (min-width:900px) and (max-width:1199px){.switcher-child--body{padding-top:8rem;}
}
.switcher-child--figure::before{content:'';background:repeating-linear-gradient(-50deg,rgba(255,255,255,.4),rgba(255,255,255,.4) 2px,transparent 2px,transparent 10px);width:120px;height:120px;position:absolute;border-radius:50%;bottom:2rem;left:-3rem;}
@media (min-width:900px){.switcher-child--figure::before{width:370px;height:370px;left:-185px;}
}
.search-area-ad > section { display: none; }
.body--authenticated #block-tls-main-menu { position: static!important; }
/* FEATHER */
.feather-activity:before{content:"\e900"}.feather-airplay:before{content:"\e901"}.feather-alert-circle:before{content:"\e902"}.feather-alert-octagon:before{content:"\e903"}.feather-alert-triangle:before{content:"\e904"}.feather-align-center:before{content:"\e905"}.feather-align-justify:before{content:"\e906"}.feather-align-left:before{content:"\e907"}.feather-align-right:before{content:"\e908"}.feather-anchor:before{content:"\e909"}.feather-aperture:before{content:"\e90a"}.feather-archive:before{content:"\e90b"}.feather-arrow-down:before{content:"\e90c"}.feather-arrow-down-circle:before{content:"\e90d"}.feather-arrow-down-left:before{content:"\e90e"}.feather-arrow-down-right:before{content:"\e90f"}.feather-arrow-left:before{content:"\e910"}.feather-arrow-left-circle:before{content:"\e911"}.feather-arrow-right:before{content:"\e912"}.feather-arrow-right-circle:before{content:"\e913"}.feather-arrow-up:before{content:"\e914"}.feather-arrow-up-circle:before{content:"\e915"}.feather-arrow-up-left:before{content:"\e916"}.feather-arrow-up-right:before{content:"\e917"}.feather-at-sign:before{content:"\e918"}.feather-award:before{content:"\e919"}.feather-bar-chart:before{content:"\e91a"}.feather-bar-chart-2:before{content:"\e91b"}.feather-battery:before{content:"\e91c"}.feather-battery-charging:before{content:"\e91d"}.feather-bell:before{content:"\e91e"}.feather-bell-off:before{content:"\e91f"}.feather-bluetooth:before{content:"\e920"}.feather-bold:before{content:"\e921"}.feather-book:before{content:"\e922"}.feather-book-open:before{content:"\e923"}.feather-bookmark:before{content:"\e924"}.feather-box:before{content:"\e925"}.feather-briefcase:before{content:"\e926"}.feather-calendar:before{content:"\e927"}.feather-camera:before{content:"\e928"}.feather-camera-off:before{content:"\e929"}.feather-cast:before{content:"\e92a"}.feather-check:before{content:"\e92b"}.feather-check-circle:before{content:"\e92c"}.feather-check-square:before{content:"\e92d"}.feather-chevron-down:before{content:"\e92e"}.feather-chevron-left:before{content:"\e92f"}.feather-chevron-right:before{content:"\e930"}.feather-chevron-up:before{content:"\e931"}.feather-chevrons-down:before{content:"\e932"}.feather-chevrons-left:before{content:"\e933"}.feather-chevrons-right:before{content:"\e934"}.feather-chevrons-up:before{content:"\e935"}.feather-chrome:before{content:"\e936"}.feather-circle:before{content:"\e937"}.feather-clipboard:before{content:"\e938"}.feather-clock:before{content:"\e939"}.feather-cloud:before{content:"\e93a"}.feather-cloud-drizzle:before{content:"\e93b"}.feather-cloud-lightning:before{content:"\e93c"}.feather-cloud-off:before{content:"\e93d"}.feather-cloud-rain:before{content:"\e93e"}.feather-cloud-snow:before{content:"\e93f"}.feather-code:before{content:"\e940"}.feather-codepen:before{content:"\e941"}.feather-command:before{content:"\e942"}.feather-compass:before{content:"\e943"}.feather-copy:before{content:"\e944"}.feather-corner-down-left:before{content:"\e945"}.feather-corner-down-right:before{content:"\e946"}.feather-corner-left-down:before{content:"\e947"}.feather-corner-left-up:before{content:"\e948"}.feather-corner-right-down:before{content:"\e949"}.feather-corner-right-up:before{content:"\e94a"}.feather-corner-up-left:before{content:"\e94b"}.feather-corner-up-right:before{content:"\e94c"}.feather-cpu:before{content:"\e94d"}.feather-credit-card:before{content:"\e94e"}.feather-crop:before{content:"\e94f"}.feather-crosshair:before{content:"\e950"}.feather-database:before{content:"\e951"}.feather-delete:before{content:"\e952"}.feather-disc:before{content:"\e953"}.feather-dollar-sign:before{content:"\e954"}.feather-download:before{content:"\e955"}.feather-download-cloud:before{content:"\e956"}.feather-droplet:before{content:"\e957"}.feather-edit:before{content:"\e958"}.feather-edit-2:before{content:"\e959"}.feather-edit-3:before{content:"\e95a"}.feather-external-link:before{content:"\e95b"}.feather-eye:before{content:"\e95c"}.feather-eye-off:before{content:"\e95d"}.feather-facebook:before{content:"\e95e"}.feather-fast-forward:before{content:"\e95f"}.feather-feather:before{content:"\e960"}.feather-file:before{content:"\e961"}.feather-file-minus:before{content:"\e962"}.feather-file-plus:before{content:"\e963"}.feather-file-text:before{content:"\e964"}.feather-film:before{content:"\e965"}.feather-filter:before{content:"\e966"}.feather-flag:before{content:"\e967"}.feather-folder:before{content:"\e968"}.feather-folder-minus:before{content:"\e969"}.feather-folder-plus:before{content:"\e96a"}.feather-gift:before{content:"\e96b"}.feather-git-branch:before{content:"\e96c"}.feather-git-commit:before{content:"\e96d"}.feather-git-merge:before{content:"\e96e"}.feather-git-pull-request:before{content:"\e96f"}.feather-github:before{content:"\e970"}.feather-gitlab:before{content:"\e971"}.feather-globe:before{content:"\e972"}.feather-grid:before{content:"\e973"}.feather-hard-drive:before{content:"\e974"}.feather-hash:before{content:"\e975"}.feather-headphones:before{content:"\e976"}.feather-heart:before{content:"\e977"}.feather-help-circle:before{content:"\e978"}.feather-home:before{content:"\e979"}.feather-image:before{content:"\e97a"}.feather-inbox:before{content:"\e97b"}.feather-info:before{content:"\e97c"}.feather-instagram:before{content:"\e97d"}.feather-italic:before{content:"\e97e"}.feather-layers:before{content:"\e97f"}.feather-layout:before{content:"\e980"}.feather-life-buoy:before{content:"\e981"}.feather-link:before{content:"\e982"}.feather-link-2:before{content:"\e983"}.feather-linkedin:before{content:"\e984"}.feather-list:before{content:"\e985"}.feather-loader:before{content:"\e986"}.feather-lock:before{content:"\e987"}.feather-log-in:before{content:"\e988"}.feather-log-out:before{content:"\e989"}.feather-mail:before{content:"\e98a"}.feather-map:before{content:"\e98b"}.feather-map-pin:before{content:"\e98c"}.feather-maximize:before{content:"\e98d"}.feather-maximize-2:before{content:"\e98e"}.feather-menu:before{content:"\e98f"}.feather-message-circle:before{content:"\e990"}.feather-message-square:before{content:"\e991"}.feather-mic:before{content:"\e992"}.feather-mic-off:before{content:"\e993"}.feather-minimize:before{content:"\e994"}.feather-minimize-2:before{content:"\e995"}.feather-minus:before{content:"\e996"}.feather-minus-circle:before{content:"\e997"}.feather-minus-square:before{content:"\e998"}.feather-monitor:before{content:"\e999"}.feather-moon:before{content:"\e99a"}.feather-more-horizontal:before{content:"\e99b"}.feather-more-vertical:before{content:"\e99c"}.feather-move:before{content:"\e99d"}.feather-music:before{content:"\e99e"}.feather-navigation:before{content:"\e99f"}.feather-navigation-2:before{content:"\e9a0"}.feather-octagon:before{content:"\e9a1"}.feather-package:before{content:"\e9a2"}.feather-paperclip:before{content:"\e9a3"}.feather-pause:before{content:"\e9a4"}.feather-pause-circle:before{content:"\e9a5"}.feather-percent:before{content:"\e9a6"}.feather-phone:before{content:"\e9a7"}.feather-phone-call:before{content:"\e9a8"}.feather-phone-forwarded:before{content:"\e9a9"}.feather-phone-incoming:before{content:"\e9aa"}.feather-phone-missed:before{content:"\e9ab"}.feather-phone-off:before{content:"\e9ac"}.feather-phone-outgoing:before{content:"\e9ad"}.feather-pie-chart:before{content:"\e9ae"}.feather-play:before{content:"\e9af"}.feather-play-circle:before{content:"\e9b0"}.feather-plus:before{content:"\e9b1"}.feather-plus-circle:before{content:"\e9b2"}.feather-plus-square:before{content:"\e9b3"}.feather-pocket:before{content:"\e9b4"}.feather-power:before{content:"\e9b5"}.feather-printer:before{content:"\e9b6"}.feather-radio:before{content:"\e9b7"}.feather-refresh-ccw:before{content:"\e9b8"}.feather-refresh-cw:before{content:"\e9b9"}.feather-repeat:before{content:"\e9ba"}.feather-rewind:before{content:"\e9bb"}.feather-rotate-ccw:before{content:"\e9bc"}.feather-rotate-cw:before{content:"\e9bd"}.feather-rss:before{content:"\e9be"}.feather-save:before{content:"\e9bf"}.feather-scissors:before{content:"\e9c0"}.feather-search:before{content:"\e9c1"}.feather-send:before{content:"\e9c2"}.feather-server:before{content:"\e9c3"}.feather-settings:before{content:"\e9c4"}.feather-share:before{content:"\e9c5"}.feather-share-2:before{content:"\e9c6"}.feather-shield:before{content:"\e9c7"}.feather-shield-off:before{content:"\e9c8"}.feather-shopping-bag:before{content:"\e9c9"}.feather-shopping-cart:before{content:"\e9ca"}.feather-shuffle:before{content:"\e9cb"}.feather-sidebar:before{content:"\e9cc"}.feather-skip-back:before{content:"\e9cd"}.feather-skip-forward:before{content:"\e9ce"}.feather-slack:before{content:"\e9cf"}.feather-slash:before{content:"\e9d0"}.feather-sliders:before{content:"\e9d1"}.feather-smartphone:before{content:"\e9d2"}.feather-speaker:before{content:"\e9d3"}.feather-square:before{content:"\e9d4"}.feather-star:before{content:"\e9d5"}.feather-stop-circle:before{content:"\e9d6"}.feather-sun:before{content:"\e9d7"}.feather-sunrise:before{content:"\e9d8"}.feather-sunset:before{content:"\e9d9"}.feather-tablet:before{content:"\e9da"}.feather-tag:before{content:"\e9db"}.feather-target:before{content:"\e9dc"}.feather-terminal:before{content:"\e9dd"}.feather-thermometer:before{content:"\e9de"}.feather-thumbs-down:before{content:"\e9df"}.feather-thumbs-up:before{content:"\e9e0"}.feather-toggle-left:before{content:"\e9e1"}.feather-toggle-right:before{content:"\e9e2"}.feather-trash:before{content:"\e9e3"}.feather-trash-2:before{content:"\e9e4"}.feather-trending-down:before{content:"\e9e5"}.feather-trending-up:before{content:"\e9e6"}.feather-triangle:before{content:"\e9e7"}.feather-truck:before{content:"\e9e8"}.feather-tv:before{content:"\e9e9"}.feather-twitter:before{content:"\e9ea"}.feather-type:before{content:"\e9eb"}.feather-umbrella:before{content:"\e9ec"}.feather-underline:before{content:"\e9ed"}.feather-unlock:before{content:"\e9ee"}.feather-upload:before{content:"\e9ef"}.feather-upload-cloud:before{content:"\e9f0"}.feather-user:before{content:"\e9f1"}.feather-user-check:before{content:"\e9f2"}.feather-user-minus:before{content:"\e9f3"}.feather-user-plus:before{content:"\e9f4"}.feather-user-x:before{content:"\e9f5"}.feather-users:before{content:"\e9f6"}.feather-video:before{content:"\e9f7"}.feather-video-off:before{content:"\e9f8"}.feather-voicemail:before{content:"\e9f9"}.feather-volume:before{content:"\e9fa"}.feather-volume-1:before{content:"\e9fb"}.feather-volume-2:before{content:"\e9fc"}.feather-volume-x:before{content:"\e9fd"}.feather-watch:before{content:"\e9fe"}.feather-wifi:before{content:"\e9ff"}.feather-wifi-off:before{content:"\ea00"}.feather-wind:before{content:"\ea01"}.feather-x:before{content:"\ea02"}.feather-x-circle:before{content:"\ea03"}.feather-x-square:before{content:"\ea04"}.feather-youtube:before{content:"\ea05"}.feather-zap:before{content:"\ea06"}.feather-zap-off:before{content:"\ea07"}.feather-zoom-in:before{content:"\ea08"}.feather-zoom-out:before{content:"\ea09"}
/* swiper */
.swiper-container{margin-left:auto;margin-right:auto;position:relative;overflow:hidden;list-style:none;padding:0;z-index:1}
.swiper-container-vertical>.swiper-wrapper{flex-direction:column}
.swiper-wrapper{position:relative;width:100%;height:100%;z-index:1;display:flex;transition-property:transform;box-sizing:content-box}
.swiper-container-android .swiper-slide,
.swiper-wrapper{transform:translate3d(0px,0,0)}
.swiper-container-multirow>.swiper-wrapper{flex-wrap:wrap}
.swiper-container-multirow-column>.swiper-wrapper{flex-wrap:wrap;flex-direction:column}
.swiper-container-free-mode>.swiper-wrapper{transition-timing-function:ease-out;margin:0 auto}
.swiper-slide{flex-shrink:0;width:100%;height:100%;position:relative;transition-property:transform}
.swiper-slide-invisible-blank{visibility:hidden}
.swiper-container-autoheight,
.swiper-container-autoheight .swiper-slide{height:auto}
.swiper-container-autoheight .swiper-wrapper{align-items:flex-start;transition-property:transform,height}
.swiper-container-css-mode>.swiper-wrapper{overflow:auto;scrollbar-width:none;-ms-overflow-style:none}
.swiper-container-css-mode>.swiper-wrapper::-webkit-scrollbar{display:none}
.swiper-container-css-mode>.swiper-wrapper>.swiper-slide{scroll-snap-align:start start}
.swiper-container-horizontal.swiper-container-css-mode>.swiper-wrapper{scroll-snap-type:x mandatory}
.swiper-container-vertical.swiper-container-css-mode>.swiper-wrapper{scroll-snap-type:y mandatory}
:root{--swiper-navigation-size:44px}
.swiper-button-next,
.swiper-button-prev{position:absolute;top:50%;width:3rem;height:3rem;z-index:10;cursor:pointer;display:flex;align-items:center;justify-content:center;color:var(--c-lila);font-size:30px;}
.swiper-button-next.swiper-button-disabled,
.swiper-button-prev.swiper-button-disabled{opacity:.35;cursor:auto;pointer-events:none}
.swiper-button-prev,
.swiper-container-rtl .swiper-button-next{left:10px;right:auto}
.swiper-button-next,
.swiper-container-rtl .swiper-button-prev{right:10px;left:auto}
.swiper-button-lock{display:none}
.swiper-pagination{position:absolute;text-align:center;transition:.3s opacity;transform:translate3d(0,0,0);z-index:10}
.swiper-pagination.swiper-pagination-hidden{opacity:0}
.swiper-container-horizontal>.swiper-pagination-bullets,
.swiper-pagination-custom,
.swiper-pagination-fraction{bottom:-20px;left:0;width:100%}
.swiper-pagination-bullet{width:8px;height:8px;display:inline-block;border-radius:100%;background:#000;opacity:.2}
button.swiper-pagination-bullet{border:none;margin:0;padding:0;box-shadow:none;-webkit-appearance:none;-moz-appearance:none;appearance:none}
.swiper-pagination-clickable .swiper-pagination-bullet{cursor:pointer}
.swiper-pagination-bullet-active{opacity:1;background-color:var(--c-rosa);}
.swiper-container-vertical>.swiper-pagination-bullets{right:10px;top:50%;transform:translate3d(0px,-50%,0)}
.swiper-container-vertical>.swiper-pagination-bullets .swiper-pagination-bullet{margin:6px 0;display:block}
.swiper-container-vertical>.swiper-pagination-bullets.swiper-pagination-bullets-dynamic{top:50%;transform:translateY(-50%);width:8px}
.swiper-container-vertical>.swiper-pagination-bullets.swiper-pagination-bullets-dynamic .swiper-pagination-bullet{display:inline-block;transition:.2s transform,.2s top}
.swiper-container-horizontal>.swiper-pagination-bullets .swiper-pagination-bullet{margin:0 4px}
.swiper-container-horizontal>.swiper-pagination-bullets.swiper-pagination-bullets-dynamic{left:50%;transform:translateX(-50%);white-space:nowrap}
.swiper-container-horizontal>.swiper-pagination-bullets.swiper-pagination-bullets-dynamic .swiper-pagination-bullet{transition:.2s transform,.2s left}
.swiper-container-horizontal.swiper-container-rtl>.swiper-pagination-bullets-dynamic .swiper-pagination-bullet{transition:.2s transform,.2s right}
.swiper-pagination-white{--swiper-pagination-color:#ffffff}
.swiper-pagination-black{--swiper-pagination-color:#000000}
.swiper-pagination-lock{display:none}
.swiper-container-fade .swiper-slide{pointer-events:none;transition-property:opacity}
.swiper-container-fade .swiper-slide .swiper-slide{pointer-events:none}
.swiper-container-fade .swiper-slide-active,
.swiper-container-fade .swiper-slide-active .swiper-slide-active{pointer-events:auto}
@media (max-width:599px){.swiper-pagination + [class*="button"], .swiper-pagination + [class*="button"] + [class*="button"]{display:none!important;}
}