.uk-table {
  border-collapse: collapse;
  border-spacing: 0;
  width: 100%;
  margin-bottom: calc(1.5 * var(--tls-xxx))
 }
 *+.uk-table {
  margin-top: calc(1.5 * var(--tls-xxx))
 }
 .uk-table th {
  padding: calc(1 * var(--tls-xxx)) calc(.75 * var(--tls-xxx));
  text-align: left;
  vertical-align: bottom;
  font-size: 0.875rem;
  font-weight: normal;
  color: #999;
  text-transform: uppercase
 }
 .uk-table td {
  padding: calc(1 * var(--tls-xxx)) calc(.75 * var(--tls-xxx));
  vertical-align: top
 }
 .uk-table td>:last-child {
  margin-bottom: 0
 }
 .uk-table tfoot {
  font-size: 0.875rem;
  display: block;
    position: absolute;
    width: 100%;
 }
 .uk-table caption {
  font-size: 0.875rem;
  text-align: left;
  color: #999
 }
 .uk-table-middle,
 .uk-table-middle td {
  vertical-align: middle !important
 }
 .uk-table-divider>tr:not(:first-child),
 .uk-table-divider>:not(:first-child)>tr,
 .uk-table-divider>:first-child>tr:not(:first-child) {
  border-top: 1px solid #e5e5e5
 }
 .uk-table-striped > tr:nth-of-type(odd),
 .uk-table-striped tbody tr:nth-of-type(odd) {
  background: #f8f8f8;
  border-top: 1px solid #e5e5e5;
  border-bottom: 1px solid #e5e5e5
 }
 .uk-table-hover > tr:hover,
 .uk-table-hover tbody tr:hover {
  background: #ffd
 }
 .uk-table > tr.uk-active,
 .uk-table tbody tr.uk-active {
  background: #ffd
 }
 .uk-table-small th,
 .uk-table-small td {
  padding: 10px calc(.75 * var(--tls-xxx))
 }
 .uk-table-large th,
 .uk-table-large td {
  padding: 22px calc(.75 * var(--tls-xxx))
 }
 .uk-table-justify th:first-child,
 .uk-table-justify td:first-child {
  padding-left: 0
 }
 .uk-table-justify th:last-child,
 .uk-table-justify td:last-child {
  padding-right: 0
 }
 .uk-table-shrink {
  width: 1px
 }
 .uk-table-expand {
  min-width: 150px
 }
 .uk-table-link {
  padding: 0 !important
 }
 .uk-table-link>a {
  display: block;
  padding: calc(1 * var(--tls-xxx)) calc(.75 * var(--tls-xxx))
 }
 .uk-table-small .uk-table-link>a {
  padding: 10px calc(.75 * var(--tls-xxx))
 }
 @media (max-width: 899px) {
  .uk-table-responsive,
  .uk-table-responsive tbody,
  .uk-table-responsive th,
  .uk-table-responsive td,
  .uk-table-responsive tr {
    display: block
  }
  .uk-table-responsive thead {
    display: none
  }
  .uk-table-responsive th,
  .uk-table-responsive td {
    width: auto !important;
    max-width: none !important;
    min-width: 0 !important;
    overflow: visible !important;
    white-space: normal !important
  }
  .uk-table-responsive th:not(:first-child):not(.uk-table-link),
  .uk-table-responsive td:not(:first-child):not(.uk-table-link),
  .uk-table-responsive .uk-table-link:not(:first-child)>a {
    padding-top: 5px !important
  }
  .uk-table-responsive th:not(:last-child):not(.uk-table-link),
  .uk-table-responsive td:not(:last-child):not(.uk-table-link),
  .uk-table-responsive .uk-table-link:not(:last-child)>a {
    padding-bottom: 5px !important
  }
  .uk-table-justify.uk-table-responsive th,
  .uk-table-justify.uk-table-responsive td {
    padding-left: 0;
    padding-right: 0
  }
 }
 .uk-table tbody tr {
  transition: background-color var(--tls-time) linear
 }