html{font-family:-apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";font-size:14px;font-weight:normal;line-height:1.5;-webkit-text-size-adjust:100%;background:#fff;color:#666}
@media (min-width:900px){html{font-size:16px}
}
body{margin:0}
a:active,
a:hover{outline:none}
a,
.uk-link{color:var(--c-lila);text-decoration:none;cursor:pointer;transition:var(--timer) color, var(--timer) border-color}
.uk-link{border-bottom:1px solid var(--c-lila)}
a:hover,
.uk-link:hover,
.uk-link-toggle:hover .uk-link,
.uk-link-toggle:focus .uk-link{color:var(--c-violeta);border-color:var(--c-violeta);text-decoration:none}
small{font-size:80%}
audio,
canvas,
iframe,
img,
svg,
video{vertical-align:middle}
canvas,
img,
video{max-width:100%;height:auto;box-sizing:border-box}
@supports (display:block){svg{max-width:100%;height:auto;box-sizing:border-box}
}
svg:not(:root){overflow:hidden}
img:not([src]){min-width:1px;visibility:hidden}
iframe{border:0}
p,
ul,
ol,
dl,
pre,
address,
fieldset,
figure{margin:0 0 calc(1.5 * var(--sz-reg)) 0}
*+p,
*+ul,
*+ol,
*+dl,
*+pre,
*+address,
*+fieldset,
*+figure{margin-top:calc(1.5 * var(--sz-reg))}
h1,
.uk-h1,
h2,
.uk-h2,
h3,
.uk-h3,
.tls--page>h3,
.tls--page>h4,
.tls--page>h5,
h4,
.uk-h4,
h5,
.uk-h5,
h6,
.uk-h6,
.uk-heading-1,
.uk-heading-2,
.uk-heading-3,
.uk-heading-4,
.uk-heading-5,
.uk-heading-6{margin:0 0 calc(1.5 * var(--sz-reg)) 0;text-transform:none}
*+h1,
*+.uk-h1,
*+h2,
*+.uk-h2,
*+h3,
*+.uk-h3,
*+h4,
*+.uk-h4,
*+h5,
*+.uk-h5,
*+h6,
*+.uk-h6,
.tls--page>*+h3,
.tls--page>*+h4,
.tls--page>*+h5,
*+.uk-heading-1,
*+.uk-heading-2,
*+.uk-heading-3,
*+.uk-heading-4,
*+.uk-heading-5,
*+.uk-heading-6{margin-top:calc(2 * var(--sz-reg))}
h1,
.uk-h1,
.tls--page>h3{font-size:22px;line-height:26px}
h2,
.uk-h2,
.tls--page>h4{font-size:20px;line-height:24px}
h3,
.uk-h3,
.tls--page>h5{font-size:18px;line-height:22px}
h4,
.uk-h4{font-size:16px;line-height:20px}
h5,
.uk-h5,
p{font-size:calc(1 * var(--sz-reg));line-height:18px}
h6,
.uk-h6{font-size:12px;line-height:16px}
@media (min-width:900px){h1,
.uk-h1{font-size:26px;line-height:32px}
h2,
.uk-h2{font-size:24px;line-height:30px}
h3,
.uk-h3{font-size:22px;line-height:28px}
h4,
.uk-h4{font-size:18px;line-height:24px}
h5,
.uk-h5,
p{font-size:calc(1 * var(--sz-reg));line-height:22px}
h6,
.uk-h6{font-size:14px;line-height:20px}
}
ul>li>ul,
ul>li>ol,
ol>li>ol,
ol>li>ul{margin:0}
::selection{background:var(--tls-ambar);color:var(--c-lila);text-shadow:none}
details,
main{display:block}
[class*='uk-heading']{font-weight:700}
.uk-heading-1{font-size:48px;line-height:52px;font-weight:900}
.uk-heading-2{font-size:32px;line-height:36px}
.uk-heading-3{font-size:28px;line-height:32px}
.uk-heading-4{font-size:24px;line-height:28px}
.uk-heading-5{font-size:22px;line-height:26px}
.uk-heading-6{font-size:18px;line-height:22px}
@media (min-width:900px){.uk-heading-1{font-size:84px;line-height:90px}
.uk-heading-2{font-size:54px;line-height:60px}
.uk-heading-3{font-size:48px;line-height:54px}
.uk-heading-4{font-size:42px;line-height:48px}
.uk-heading-5{font-size:36px;line-height:42px}
.uk-heading-6{font-size:32px;line-height:38px}
}
[class*='uk-divider']{border:none;margin-bottom:20px}
*+[class*='uk-divider']{margin-top:20px}
.uk-input,
.uk-select,
.uk-textarea,
.uk-radio,
.uk-checkbox{box-sizing:border-box;margin:0;border-radius:0;font:inherit}
.uk-input{overflow:visible}
.uk-select{text-transform:none}
.uk-select optgroup{font:inherit;font-weight:bold}
.uk-textarea{overflow:auto}
.uk-input[type="search"]::-webkit-search-cancel-button,
.uk-input[type="search"]::-webkit-search-decoration{-webkit-appearance:none}
.uk-input[type="number"]::-webkit-inner-spin-button,
.uk-input[type="number"]::-webkit-outer-spin-button{height:auto}
.uk-input::-moz-placeholder,
.uk-textarea::-moz-placeholder{opacity:1}
.uk-radio:not(:disabled),
.uk-checkbox:not(:disabled){cursor:pointer}
.uk-fieldset{border:none;margin:0;padding:0}
.uk-input,
.uk-textarea{-webkit-appearance:none}
.uk-input,
.uk-select,
.uk-textarea{max-width:100%;width:100%;border:0 none;padding:0 10px;background:#fff;color:#666;border:1px solid #e5e5e5;transition:0.2s ease-in-out;transition-property:color, background-color, border}
.uk-input,
.uk-select:not([multiple]):not([size]){height:40px;vertical-align:middle;display:inline-block}
.uk-input:not(input),
.uk-select:not(select){line-height:38px}
.uk-select[multiple],
.uk-select[size],
.uk-textarea{padding-top:4px;padding-bottom:4px;vertical-align:top}
.uk-input:focus,
.uk-select:focus,
.uk-textarea:focus{outline:none;background-color:#fff;color:#666;border-color:var(--c-lila)}
.uk-input:disabled,
.uk-select:disabled,
.uk-textarea:disabled{background-color:#f8f8f8;color:#999;border-color:#e5e5e5}
.uk-input::-ms-input-placeholder{color:#999 !important}
.uk-input::placeholder{color:#999}
.uk-textarea::-ms-input-placeholder{color:#999 !important}
.uk-textarea::placeholder{color:#999}
.uk-form-small{font-size:0.875rem}
.uk-form-small:not(textarea):not([multiple]):not([size]){height:30px;padding-left:8px;padding-right:8px}
.uk-form-small:not(select):not(input):not(textarea){line-height:28px}
.uk-form-large{font-size:1.25rem}
.uk-form-large:not(textarea):not([multiple]):not([size]){height:55px;padding-left:calc(.75 * var(--sz-reg));padding-right:calc(.75 * var(--sz-reg))}
.uk-form-large:not(select):not(input):not(textarea){line-height:53px}
.uk-form-danger,
.uk-form-danger:focus{color:#f0506e;border-color:#f0506e}
.uk-form-success,
.uk-form-success:focus{color:#32d296;border-color:#32d296}
.uk-form-blank{background:none;border-color:transparent}
.uk-form-blank:focus{border-color:#e5e5e5;border-style:dashed}
input.uk-form-width-xsmall{width:50px}
select.uk-form-width-xsmall{width:75px}
.uk-form-width-small{width:130px}
.uk-form-width-medium{width:200px}
.uk-form-width-large{width:500px}
.uk-select:not([multiple]):not([size]){-webkit-appearance:none;-moz-appearance:none;padding-right:20px;background-image:url("data:image/svg+xml;charset=UTF-8,%3Csvg%20width%3D%2224%22%20height%3D%2216%22%20viewBox%3D%220%200%2024%2016%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%0A%20%20%20%20%3Cpolygon%20fill%3D%22%23666%22%20points%3D%2212%201%209%206%2015%206%22%20%2F%3E%0A%20%20%20%20%3Cpolygon%20fill%3D%22%23666%22%20points%3D%2212%2013%209%208%2015%208%22%20%2F%3E%0A%3C%2Fsvg%3E%0A");background-repeat:no-repeat;background-position:100% 50%}
.uk-select:not([multiple]):not([size])::-ms-expand{display:none}
.uk-select:not([multiple]):not([size]) option{color:#444}
.uk-select:not([multiple]):not([size]):disabled{background-image:url("data:image/svg+xml;charset=UTF-8,%3Csvg%20width%3D%2224%22%20height%3D%2216%22%20viewBox%3D%220%200%2024%2016%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%0A%20%20%20%20%3Cpolygon%20fill%3D%22%23999%22%20points%3D%2212%201%209%206%2015%206%22%20%2F%3E%0A%20%20%20%20%3Cpolygon%20fill%3D%22%23999%22%20points%3D%2212%2013%209%208%2015%208%22%20%2F%3E%0A%3C%2Fsvg%3E%0A")}
.uk-input[list]{padding-right:20px;background-repeat:no-repeat;background-position:100% 50%}
.uk-input[list]:hover,
.uk-input[list]:focus{background-image:url("data:image/svg+xml;charset=UTF-8,%3Csvg%20width%3D%2224%22%20height%3D%2216%22%20viewBox%3D%220%200%2024%2016%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%0A%20%20%20%20%3Cpolygon%20fill%3D%22%23666%22%20points%3D%2212%2012%208%206%2016%206%22%20%2F%3E%0A%3C%2Fsvg%3E%0A")}
.uk-input[list]::-webkit-calendar-picker-indicator{display:none}
.uk-radio,
.uk-checkbox{display:inline-block;height:calc(1 * var(--sz-reg));width:calc(1 * var(--sz-reg));overflow:hidden;margin-top:-4px;vertical-align:middle;-webkit-appearance:none;-moz-appearance:none;background-color:transparent;background-repeat:no-repeat;background-position:50% 50%;border:2px solid var(--c-rosa);transition:0.2s ease-in-out;transition-property:background-color, border}
.uk-radio{border-radius:50%}
.uk-radio:focus,
.uk-checkbox:focus{outline:none;border-color:var(--c-lila)}
.uk-radio:checked,
.uk-checkbox:checked,
.uk-checkbox:indeterminate{background-color:var(--c-rosa);border-color:var(--c-rosa)}
.uk-radio:checked:focus,
.uk-checkbox:checked:focus,
.uk-checkbox:indeterminate:focus{background-color:#0e6dcd}
.uk-radio:checked{background-image:url("data:image/svg+xml;charset=UTF-8,%3Csvg%20width%3D%2216%22%20height%3D%2216%22%20viewBox%3D%220%200%2016%2016%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%0A%20%20%20%20%3Ccircle%20fill%3D%22%23fff%22%20cx%3D%228%22%20cy%3D%228%22%20r%3D%222%22%20%2F%3E%0A%3C%2Fsvg%3E")}
.uk-checkbox:checked{background-image:url("data:image/svg+xml;charset=UTF-8,%3Csvg%20width%3D%2214%22%20height%3D%2211%22%20viewBox%3D%220%200%2014%2011%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%0A%20%20%20%20%3Cpolygon%20fill%3D%22%23fff%22%20points%3D%2212%201%205%207.5%202%205%201%205.5%205%2010%2013%201.5%22%20%2F%3E%0A%3C%2Fsvg%3E%0A")}
.uk-checkbox:indeterminate{background-image:url("data:image/svg+xml;charset=UTF-8,%3Csvg%20width%3D%2216%22%20height%3D%2216%22%20viewBox%3D%220%200%2016%2016%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%0A%20%20%20%20%3Crect%20fill%3D%22%23fff%22%20x%3D%223%22%20y%3D%228%22%20width%3D%2210%22%20height%3D%221%22%20%2F%3E%0A%3C%2Fsvg%3E")}
.uk-radio:disabled,
.uk-checkbox:disabled{background-color:#f8f8f8;border-color:#e5e5e5}
.uk-radio:disabled:checked{background-image:url("data:image/svg+xml;charset=UTF-8,%3Csvg%20width%3D%2216%22%20height%3D%2216%22%20viewBox%3D%220%200%2016%2016%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%0A%20%20%20%20%3Ccircle%20fill%3D%22%23999%22%20cx%3D%228%22%20cy%3D%228%22%20r%3D%222%22%20%2F%3E%0A%3C%2Fsvg%3E")}
.uk-checkbox:disabled:checked{background-image:url("data:image/svg+xml;charset=UTF-8,%3Csvg%20width%3D%2214%22%20height%3D%2211%22%20viewBox%3D%220%200%2014%2011%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%0A%20%20%20%20%3Cpolygon%20fill%3D%22%23999%22%20points%3D%2212%201%205%207.5%202%205%201%205.5%205%2010%2013%201.5%22%20%2F%3E%0A%3C%2Fsvg%3E%0A")}
.uk-checkbox:disabled:indeterminate{background-image:url("data:image/svg+xml;charset=UTF-8,%3Csvg%20width%3D%2216%22%20height%3D%2216%22%20viewBox%3D%220%200%2016%2016%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%0A%20%20%20%20%3Crect%20fill%3D%22%23999%22%20x%3D%223%22%20y%3D%228%22%20width%3D%2210%22%20height%3D%221%22%20%2F%3E%0A%3C%2Fsvg%3E")}
.uk-legend{width:100%;color:inherit;padding:0;font-size:1.5rem;line-height:1.4}
.uk-form-custom{display:inline-block;position:relative;max-width:100%;vertical-align:middle}
.uk-form-custom select,
.uk-form-custom input[type="file"]{position:absolute;top:0;z-index:1;width:100%;height:100%;left:0;-webkit-appearance:none;opacity:0;cursor:pointer}
.uk-form-custom input[type="file"]{font-size:500px;overflow:hidden}
.uk-form-label{color:var(--c-lila);font-size:16px}
.uk-form-stacked .uk-form-label{display:block;margin-bottom:5px}
@media (max-width:899px){.uk-form-horizontal .uk-form-label{display:block;margin-bottom:5px}
}
@media (min-width:900px){.uk-form-horizontal .uk-form-label{width:200px;margin-top:7px;float:left}
.uk-form-horizontal .uk-form-controls{margin-left:2calc(1 * var(--sz-reg))}
.uk-form-horizontal .uk-form-controls-text{padding-top:7px}
}
.uk-form-icon{position:absolute;top:0;bottom:0;left:0;width:40px;display:inline-flex;justify-content:center;align-items:center;color:#999}
.uk-form-icon:hover{color:#666}
.uk-form-icon:not(a):not(button):not(input){pointer-events:none}
.uk-form-icon:not(.uk-form-icon-flip)~.uk-input{padding-left:40px !important}
.uk-form-icon-flip{right:0;left:auto}
.uk-form-icon-flip~.uk-input{padding-right:40px !important}
.uk-button{margin:0;border:0;background-color:transparent;overflow:visible;font:inherit;font-size:14px;color:inherit;text-transform:none;-webkit-appearance:none;border-radius:0;display:inline-block;box-sizing:border-box;padding:12px 24px;vertical-align:middle;line-height:1;text-align:center;text-decoration:none;transition-duration:var(--timer)!important;transition-timing-function:ease-in-out!important;transition-property:color, background-color, border-color, box-shadow!important}
.uk-button-primary {background-color: var(--c-lila);color: #fff; border: 1px solid transparent; }
.uk-button-primary:hover, .uk-button-primary:focus {background-color: var(--c-violeta); color: white; }
.uk-button:not(:disabled){cursor:pointer}
.uk-button::-moz-focus-inner{border:0;padding:0}
.uk-button:hover{text-decoration:none}
.uk-button:focus{outline:none}
@media (min-width:900px){.uk-button{font-size:16px}
}
.uk-button-danger{background-color:#f0506e;color:#fff;border:1px solid transparent}
.uk-button-danger:hover,
.uk-button-danger:focus{background-color:#ee395b;color:#fff}
.uk-button-danger:active,
.uk-button-danger.uk-active{background-color:#ec2147;color:#fff}
.uk-button-large{padding:0 40px;line-height:53px;font-size:0.875rem}
.uk-button-text{padding:0;line-height:1.5;background:none;color:#333;position:relative}
.uk-button-text::before{content:"";position:absolute;bottom:0;left:0;right:100%;border-bottom:1px solid #333;transition:right 0.3s ease-out}
.uk-button-text:hover,
.uk-button-text:focus{color:#333}
.uk-button-text:hover::before,
.uk-button-text:focus::before{right:0}
.uk-button-text:disabled{color:#999}
.uk-button-text:disabled::before{display:none}
.uk-button-link{padding:0;line-height:1.5;background:none;color:var(--c-lila)}
.uk-button-link:hover,
.uk-button-link:focus{color:var(--c-violeta)}
.uk-button-link:disabled{color:#999;text-decoration:none}
.uk-button-group{display:inline-flex;vertical-align:middle;position:relative}
.uk-button-group > .uk-button:nth-child(n+2),
.uk-button-group > div:nth-child(n+2) .uk-button{margin-left:-1px}
.uk-button-group .uk-button:hover,
.uk-button-group .uk-button:focus,
.uk-button-group .uk-button:active,
.uk-button-group .uk-button.uk-active{position:relative;z-index:1}
.uk-section{display:flow-root;box-sizing:border-box;padding-top:calc(2.5*var(--sz-reg));padding-bottom:calc(2.5*var(--sz-reg))}
.uk-section-top{padding-top:calc(2.5*var(--sz-reg));padding-bottom:0}
.uk-section-bottom{padding-bottom:calc(2.5*var(--sz-reg));padding-top:0}
@media (min-width:900px){.uk-section{padding-top:calc(4*var(--sz-reg));padding-bottom:calc(4*var(--sz-reg))}
.uk-section-top{padding-top:calc(4*var(--sz-reg));padding-bottom:0}
.uk-section-bottom{padding-bottom:calc(4*var(--sz-reg));padding-top:0}
}
.uk-section>:last-child{margin-bottom:0}
.uk-section-xsmall{padding-top:20px;padding-bottom:20px}
.uk-section-small{padding-top:40px;padding-bottom:40px}
.uk-section-large{padding-top:70px;padding-bottom:70px}
@media (min-width:900px){.uk-section-large{padding-top:140px;padding-bottom:140px}
}
.uk-section-xlarge{padding-top:140px;padding-bottom:140px}
@media (min-width:900px){.uk-section-xlarge{padding-top:210px;padding-bottom:210px}
}
.uk-section-default{background:#fff}
.uk-section-muted{background:#f8f8f8}
.uk-section-primary{background:var(--c-lila)}
.uk-section-secondary{background:var(--c-rosa)}

.uk-container>:last-child{margin-bottom:0}
.uk-container .uk-container{padding-left:0;padding-right:0}
.uk-container-xxxsmall{max-width:480px}
.uk-container-xxsmall{max-width:600px}
.uk-container-tiny{max-width:635px}
.uk-container-xsmall{max-width:710px}
.uk-container-small{max-width:900px}
.uk-container-medium{max-width:1000px}
.uk-container-large{max-width:1400px}
.uk-container-xlarge{max-width:1600px}
.uk-container-expand{max-width:none}
.uk-container-expand-left{margin-left:0}
.uk-container-expand-right{margin-right:0}
@media (min-width:600px){.uk-container-expand-left.uk-container-xsmall,
.uk-container-expand-right.uk-container-xsmall{max-width:calc(50% + (750px/2) - 30px)}
.uk-container-expand-left.uk-container-small,
.uk-container-expand-right.uk-container-small{max-width:calc(50% + (900px/2) - 30px)}
}
@media (min-width:900px){.uk-container-expand-left,
.uk-container-expand-right{max-width:calc(50% + (1200px/2) - 40px)}
.uk-container-expand-left.uk-container-xsmall,
.uk-container-expand-right.uk-container-xsmall{max-width:calc(50% + (750px/2) - 40px)}
.uk-container-expand-left.uk-container-small,
.uk-container-expand-right.uk-container-small{max-width:calc(50% + (900px/2) - 40px)}
.uk-container-expand-left.uk-container-large,
.uk-container-expand-right.uk-container-large{max-width:calc(50% + (1400px/2) - 40px)}
.uk-container-expand-left.uk-container-xlarge,
.uk-container-expand-right.uk-container-xlarge{max-width:calc(50% + (1600px/2) - 40px)}
}
.uk-container-item-padding-remove-left,
.uk-container-item-padding-remove-right{width:calc(100% + calc(1 * var(--sz-reg)))}
.uk-container-item-padding-remove-left{margin-left:-calc(1 * var(--sz-reg))}
.uk-container-item-padding-remove-right{margin-right:-calc(1 * var(--sz-reg))}
@media (min-width:600px){.uk-container-item-padding-remove-left,
.uk-container-item-padding-remove-right{width:calc(100%+30px)}
.uk-container-item-padding-remove-left{margin-left:-30px}
.uk-container-item-padding-remove-right{margin-right:-30px}
}
@media (min-width:900px){.uk-container-item-padding-remove-left,
.uk-container-item-padding-remove-right{width:calc(100%+40px)}
.uk-container-item-padding-remove-left{margin-left:-40px}
.uk-container-item-padding-remove-right{margin-right:-40px}
}
.uk-grid{display:flex;flex-wrap:wrap;margin:0;padding:0;list-style:none}
.uk-grid>*{margin:0}
.uk-grid>*>:last-child{margin-bottom:0}
.uk-grid{margin-left:calc(-1 * var(--sz-reg))}
.uk-grid>*{padding-left:calc(1 * var(--sz-reg))}
.uk-grid+.uk-grid,
.uk-grid>.uk-grid-margin,
*+.uk-grid-margin{margin-top:calc(1 * var(--sz-reg))}
@media (min-width:1200px){.uk-grid{margin-left:calc(-1 * var(--sz-reg))}
.uk-grid>*{padding-left:calc(1 * var(--sz-reg))}
.uk-grid+.uk-grid,
.uk-grid>.uk-grid-margin,
*+.uk-grid-margin{margin-top:calc(1 * var(--sz-reg))}
.uk-card .uk-grid + .uk-grid,
.uk-card .uk-grid > .uk-grid-margin,
.uk-card *+.uk-grid-margin{margin-top:0}
}
@media (min-width:600px){.uk-grid-small,
.uk-grid-column-small{margin-left:calc(-1 * var(--sz-reg))}
.uk-grid-small>*,
.uk-grid-column-small>*{padding-left:calc(1 * var(--sz-reg))}
.uk-grid+.uk-grid-small,
.uk-grid+.uk-grid-row-small,
.uk-grid-small>.uk-grid-margin,
.uk-grid-row-small>.uk-grid-margin,
*+.uk-grid-margin-small{margin-top:calc(1 * var(--sz-reg))}
.uk-grid-medium,
.uk-grid-column-medium{margin-left:calc(-2 * var(--sz-reg))}
.uk-grid-medium>*,
.uk-grid-column-medium>*{padding-left:calc(2 * var(--sz-reg))}
.uk-grid+.uk-grid-medium,
.uk-grid+.uk-grid-row-medium,
.uk-grid-medium>.uk-grid-margin,
.uk-grid-row-medium>.uk-grid-margin,
*+.uk-grid-margin-medium{margin-top:calc(2 * var(--sz-reg))}
.uk-grid-large,
.uk-grid-column-large{margin-left:calc(-3 * var(--sz-reg))}
.uk-grid-large>*,
.uk-grid-column-large>*{padding-left:calc(3 * var(--sz-reg))}
.uk-grid+.uk-grid-large,
.uk-grid+.uk-grid-row-large,
.uk-grid-large>.uk-grid-margin,
.uk-grid-row-large>.uk-grid-margin,
*+.uk-grid-margin-large{margin-top:calc(3 * var(--sz-reg))}
.uk-grid-xlarge,
.uk-grid-column-xlarge{margin-left:calc(-4 * var(--sz-reg))}
.uk-grid-xlarge>*,
.uk-grid-column-xlarge>*{padding-left:calc(4 * var(--sz-reg))}
.uk-grid+.uk-grid-xlarge,
.uk-grid+.uk-grid-row-xlarge,
.uk-grid-xlarge>.uk-grid-margin,
.uk-grid-row-xlarge>.uk-grid-margin,
*+.uk-grid-margin-xlarge{margin-top:calc(4 * var(--sz-reg))}
}
@media (min-width:1200px){.uk-grid-large,
.uk-grid-column-large{margin-left:calc(-4 * var(--sz-reg))}
.uk-grid-large>*,
.uk-grid-column-large>*{padding-left:calc(4 * var(--sz-reg))}
.uk-grid+.uk-grid-large,
.uk-grid+.uk-grid-row-large,
.uk-grid-large>.uk-grid-margin,
.uk-grid-row-large>.uk-grid-margin,
*+.uk-grid-margin-large{margin-top:calc(4 * var(--sz-reg))}
.uk-grid-xlarge,
.uk-grid-column-xlarge{margin-left:calc(-5 * var(--sz-reg))}
.uk-grid-xlarge>*,
.uk-grid-column-xlarge>*{padding-left:calc(5 * var(--sz-reg))}
.uk-grid+.uk-grid-xlarge,
.uk-grid+.uk-grid-row-xlarge,
.uk-grid-xlarge>.uk-grid-margin,
.uk-grid-row-xlarge>.uk-grid-margin,
*+.uk-grid-margin-xlarge{margin-top:calc(5 * var(--sz-reg))}
}
.uk-grid-collapse,
.uk-grid-column-collapse{margin-left:0}
.uk-grid-collapse>*,
.uk-grid-column-collapse>*{padding-left:0}
.uk-grid+.uk-grid-collapse,
.uk-grid+.uk-grid-row-collapse,
.uk-grid-collapse>.uk-grid-margin,
.uk-grid-row-collapse>.uk-grid-margin{margin-top:0}
.uk-grid-match>*,
.uk-grid-item-match{display:flex;flex-wrap:wrap}
.uk-grid-match>*>:not([class*='uk-width']),
.uk-grid-item-match>:not([class*='uk-width']){box-sizing:border-box;width:100%;flex:auto}
.uk-card{position:relative;box-sizing:border-box;transition:box-shadow var(--timer) ease-in-out}
.uk-card-body{display:flow-root;padding:30px 30px}
.uk-card-header{display:flow-root;padding:calc(1 * var(--sz-reg)) 30px}
.uk-card-footer{display:flow-root;padding:calc(1 * var(--sz-reg)) 30px}
@media (min-width:1200px){.uk-card-body{padding:40px 40px}
.uk-card-header{padding:20px 40px}
.uk-card-footer{padding:20px 40px}
}
.uk-card-body>:last-child,
.uk-card-header>:last-child,
.uk-card-footer>:last-child{margin-bottom:0}
.uk-card-title{font-size:1.5rem;line-height:1.4}
.uk-card-badge{position:absolute;bottom:1rem;right:1rem;z-index:1}
.uk-card-badge:first-child+*{margin-top:0}
.uk-card-hover:not(.uk-card-default):not(.uk-card-primary):not(.uk-card-secondary):hover{background:#fff;box-shadow:0 14px 25px rgba(0, 0, 0, 0.16)}
.uk-card-default{background:#fff;color:#666;box-shadow:0 5px calc(1 * var(--sz-reg)) rgba(0, 0, 0, 0.08)}
.uk-card-default .uk-card-title{color:#333}
.uk-card-default.uk-card-hover:hover{background-color:#fff;box-shadow:0 14px 25px rgba(0, 0, 0, 0.16)}
.uk-card-default .uk-card-header{border-bottom:1px solid #e5e5e5}
.uk-card-default .uk-card-footer{border-top:1px solid #e5e5e5}
.uk-card-primary{background:var(--c-lila);color:#fff;box-shadow:0 5px calc(1 * var(--sz-reg)) rgba(0, 0, 0, 0.08)}
.uk-card-primary .uk-card-title{color:#fff}
.uk-card-primary.uk-card-hover:hover{background-color:var(--c-lila);box-shadow:0 14px 25px rgba(0, 0, 0, 0.16)}
.uk-card-secondary{background:var(--c-rosa);color:#fff;box-shadow:0 5px calc(1 * var(--sz-reg)) rgba(0, 0, 0, 0.08)}
.uk-card-secondary .uk-card-title{color:#fff}
.uk-card-secondary.uk-card-hover:hover{background-color:var(--c-rosa);box-shadow:0 14px 25px rgba(0, 0, 0, 0.16)}
.uk-card-small.uk-card-body,
.uk-card-small .uk-card-body{padding:calc(1* var(--sz-reg))}
.uk-card-small .uk-card-header{padding:calc(.75* var(--sz-reg)) calc(1* var(--sz-reg))}
.uk-card-small .uk-card-footer{padding:calc(.75* var(--sz-reg)) calc(1* var(--sz-reg))}
@media (min-width:1200px){.uk-card-large.uk-card-body,
.uk-card-large .uk-card-body{padding:calc(4* var(--sz-reg))}
.uk-card-large .uk-card-header{padding:calc(2* var(--sz-reg)) calc(4* var(--sz-reg))}
.uk-card-large .uk-card-footer{padding:calc(2* var(--sz-reg)) calc(4* var(--sz-reg))}
}
.uk-card-body>.uk-nav-default{margin-left:calc(-2* var(--sz-reg));margin-right:calc(-2* var(--sz-reg))}
.uk-card-body>.uk-nav-default:only-child{margin-top:-calc(1 * var(--sz-reg));margin-bottom:-calc(1 * var(--sz-reg))}
.uk-card-body .uk-nav-default > li > a,
.uk-card-body .uk-nav-default .uk-nav-header,
.uk-card-body .uk-nav-default .uk-nav-divider{padding-left:30px;padding-right:30px}
.uk-card-body .uk-nav-default .uk-nav-sub{padding-left:45px}
@media (min-width:1200px){.uk-card-body>.uk-nav-default{margin-left:-40px;margin-right:-40px}
.uk-card-body>.uk-nav-default:only-child{margin-top:-25px;margin-bottom:-25px}
.uk-card-body .uk-nav-default > li > a,
.uk-card-body .uk-nav-default .uk-nav-header,
.uk-card-body .uk-nav-default .uk-nav-divider{padding-left:40px;padding-right:40px}
.uk-card-body .uk-nav-default .uk-nav-sub{padding-left:55px}
}
.uk-card-small>.uk-nav-default{margin-left:-20px;margin-right:-20px}
.uk-card-small>.uk-nav-default:only-child{margin-top:-5px;margin-bottom:-5px}
.uk-card-small .uk-nav-default > li > a,
.uk-card-small .uk-nav-default .uk-nav-header,
.uk-card-small .uk-nav-default .uk-nav-divider{padding-left:20px;padding-right:20px}
.uk-card-small .uk-nav-default .uk-nav-sub{padding-left:35px}
@media (min-width:1200px){.uk-card-large>.uk-nav-default{margin:0}
.uk-card-large>.uk-nav-default:only-child{margin:0}
.uk-card-large .uk-nav-default > li > a,
.uk-card-large .uk-nav-default .uk-nav-header,
.uk-card-large .uk-nav-default .uk-nav-divider{padding-left:0;padding-right:0}
.uk-card-large .uk-nav-default .uk-nav-sub{padding-left:calc(1 * var(--sz-reg))}
}
.uk-close{color:#999;transition:var(--timer) ease-in-out;transition-property:color, opacity}
.uk-close:hover,
.uk-close:focus{color:#666;outline:none}
.uk-spinner>*{animation:uk-spinner-rotate 1.4s linear infinite}
@keyframes uk-spinner-rotate{0%{transform:rotate(0deg)}
100%{transform:rotate(270deg)}
}
.uk-alert{position:relative;margin-bottom:20px;padding:calc(1 * var(--sz-reg)) 29px calc(1 * var(--sz-reg)) calc(1 * var(--sz-reg));background:#f8f8f8;color:#666}
*+.uk-alert{margin-top:20px}
.uk-alert>:last-child{margin-bottom:0}
.uk-alert-close{position:absolute;top:20px;right:calc(1 * var(--sz-reg));color:inherit;opacity:0.4}
.uk-alert-close:first-child+*{margin-top:0}
.uk-alert-close:hover,
.uk-alert-close:focus{color:inherit;opacity:0.8}
.uk-alert-primary{background:#d8eafc;color:var(--c-lila)}
.uk-alert-success{background:#edfbf6;color:#32d296}
.uk-alert-warning{background:#fff6ee;color:#faa05a}
.uk-alert-danger{background:#fef4f6;color:#f0506e}
.uk-alert h1,
.uk-alert h2,
.uk-alert h3,
.uk-alert h4,
.uk-alert h5,
.uk-alert h6{color:inherit}
.uk-alert a:not([class]){color:inherit;text-decoration:underline}
.uk-alert a:not([class]):hover{color:inherit;text-decoration:underline}
.uk-badge{box-sizing:border-box;min-width:22px;height:22px;padding:0 5px;border-radius:500px;vertical-align:middle;background:var(--c-lila);color:#fff;font-size:0.875rem;display:inline-flex;justify-content:center;align-items:center}
.uk-badge:hover,
.uk-badge:focus{color:#fff;text-decoration:none;outline:none}
.uk-label{display:inline-block;padding:.5rem 1rem;background:white;line-height:1.5;font-size:0.875rem;color:var(--c-lila);vertical-align:middle;white-space:nowrap;border-radius:2px}
.uk-label-success{background-color:#32d296;color:#fff}
.uk-label-warning{background-color:#faa05a;color:#fff}
.uk-label-danger{background-color:#f0506e;color:#fff}
.uk-overlay{padding:30px 30px}
.uk-overlay>:last-child{margin-bottom:0}
.uk-overlay-default{background:rgba(255, 255, 255, 0.8)}
.uk-overlay-primary{background:rgba(34, 34, 34, 0.8)}
.uk-search{display:inline-block;position:relative;max-width:100%;margin:0}
.uk-search-input::-webkit-search-cancel-button,
.uk-search-input::-webkit-search-decoration{-webkit-appearance:none}
.uk-search-input::-moz-placeholder{opacity:1}
.uk-search-input{box-sizing:border-box;margin:0;border-radius:0;font:inherit;overflow:visible;-webkit-appearance:none;vertical-align:middle;width:100%;border:none;color:#666}
.uk-search-input:focus{outline:none}
.uk-search-input:-ms-input-placeholder{color:#999 !important}
.uk-search-input::placeholder{color:#999}
.uk-search-icon:focus{outline:none}
.uk-search .uk-search-icon{position:absolute;top:0;bottom:0;left:0;display:inline-flex;justify-content:center;align-items:center;color:#999}
.uk-search .uk-search-icon:hover{color:#999}
.uk-search .uk-search-icon:not(a):not(button):not(input){pointer-events:none}
.uk-search .uk-search-icon-flip{right:0;left:auto}
.uk-search-default{width:180px}
.uk-search-default .uk-search-input{height:40px;padding-left:6px;padding-right:6px;background:transparent;border:1px solid #e5e5e5}
.uk-search-default .uk-search-input:focus{background-color:transparent}
.uk-search-default .uk-search-icon{width:40px}
.uk-search-default .uk-search-icon:not(.uk-search-icon-flip)~.uk-search-input{padding-left:40px}
.uk-search-default .uk-search-icon-flip~.uk-search-input{padding-right:40px}
.uk-search-navbar{width:400px}
.uk-search-navbar .uk-search-input{height:40px;background:transparent;font-size:1.5rem}
.uk-search-navbar .uk-search-icon{width:40px}
.uk-search-navbar .uk-search-icon:not(.uk-search-icon-flip)~.uk-search-input{padding-left:40px}
.uk-search-navbar .uk-search-icon-flip~.uk-search-input{padding-right:40px}
.uk-search-large{width:500px}
.uk-search-large .uk-search-input{height:80px;background:transparent;font-size:2.625rem}
.uk-search-large .uk-search-icon{width:80px}
.uk-search-large .uk-search-icon:not(.uk-search-icon-flip)~.uk-search-input{padding-left:80px}
.uk-search-large .uk-search-icon-flip~.uk-search-input{padding-right:80px}
.uk-search-toggle{color:#999}
.uk-search-toggle:hover,
.uk-search-toggle:focus{color:#666}
.uk-nav,
.uk-nav ul{margin:0;padding:0;list-style:none}
.uk-nav li>a{display:block;text-decoration:none}
.uk-nav li>a:focus{outline:none}
.uk-nav>li>a{padding:5px 0}
ul.uk-nav-sub{padding:5px 0 5px calc(1 * var(--sz-reg))}
.uk-nav-sub ul{padding-left:calc(1 * var(--sz-reg))}
.uk-nav-sub a{padding:2px 0}
.uk-navbar{display:flex;position:relative}
.uk-navbar-nav{display:flex;margin:0;padding:0;list-style:none}
.uk-navbar-left,
.uk-navbar-right,
.uk-navbar-center:only-child{flex-wrap:wrap}
.uk-navbar-nav>li>a,
.uk-navbar-item,
.uk-navbar-toggle{display:flex;justify-content:center;align-items:center;box-sizing:border-box;min-height:80px;padding:0 calc(1 * var(--sz-reg));font-size:0.875rem;font-family:-apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";text-decoration:none}
.uk-navbar-nav>li>a{color:#999;text-transform:uppercase;transition:var(--timer) ease-in-out;transition-property:color, background-color}
.uk-navbar-nav>li:hover>a,
.uk-navbar-nav>li>a:focus,
.uk-navbar-nav>li>a.uk-open{color:#666;outline:none}
.uk-navbar-nav>li>a:active{color:#333}
.uk-navbar-nav>li.uk-active>a{color:#333}
.uk-navbar-item{color:#666}
.uk-navbar-toggle{color:#999}
.uk-navbar-toggle:hover,
.uk-navbar-toggle:focus,
.uk-navbar-toggle.uk-open{color:#666;outline:none;text-decoration:none}
.uk-subnav{display:flex;flex-wrap:wrap;margin-left:-20px;padding:0;list-style:none}
.uk-subnav>*{flex:none;padding-left:20px;position:relative}
.uk-subnav>*>:first-child{display:block;color:#999;transition:var(--timer) ease-in-out;transition-property:color, background-color}
.uk-subnav>*>a:hover,
.uk-subnav>*>a:focus{color:#666;text-decoration:none;outline:none}
.uk-subnav>.uk-active>a{color:#333}
.uk-pagination{display:flex;flex-wrap:wrap;margin-left:-20px;padding:0;list-style:none;display:block;padding:1rem;}
.uk-pagination>*{flex:none;margin-left:1rem;position:relative;display:inline-flex;color:white;line-height:1;margin-bottom:.25rem;cursor:pointer;}
.uk-pagination>*>*{display:block;color:#999;transition:color var(--timer) ease-in-out}
.uk-pagination>*>:hover,
.uk-pagination>*>:focus{color:#666;text-decoration:none}
.uk-pagination>.uk-active>*{color:#666}
.uk-pagination>.uk-disabled>*{color:#999}
.uk-tab{display:flex;flex-wrap:wrap;margin-left:-20px;padding:0;list-style:none;position:relative}
.uk-tab::before{content:"";position:absolute;bottom:0;left:20px;right:0;border-bottom:1px solid #e5e5e5}
.uk-tab>*{flex:none;padding-left:20px;position:relative}
.uk-tab>*>a{display:block;text-align:center;padding:5px 10px;color:#999;border-bottom:1px solid transparent;font-size:0.875rem;text-transform:uppercase;transition:color var(--timer) ease-in-out}
.uk-tab>*>a:hover,
.uk-tab>*>a:focus{color:#666;text-decoration:none}
.uk-tab>.uk-active>a{color:#333;border-color:var(--c-lila)}
.uk-tab>.uk-disabled>a{color:#999}
.uk-tab-bottom::before{top:0;bottom:auto}
.uk-tab-bottom>*>a{border-top:1px solid transparent;border-bottom:none}
.uk-tab-left,
.uk-tab-right{flex-direction:column;margin-left:0}
.uk-tab-left>*,
.uk-tab-right>*{padding-left:0}
.uk-tab-left::before{top:0;bottom:0;left:auto;right:0;border-left:1px solid #e5e5e5;border-bottom:none}
.uk-tab-right::before{top:0;bottom:0;left:0;right:auto;border-left:1px solid #e5e5e5;border-bottom:none}
.uk-tab-left>*>a{text-align:left;border-right:1px solid transparent;border-bottom:none}
.uk-tab-right>*>a{text-align:left;border-left:1px solid transparent;border-bottom:none}
.uk-tab .uk-dropdown{margin-left:30px}
.uk-slidenav{padding:5px 10px;color:rgba(102, 102, 102, 0.5);transition:color var(--timer) ease-in-out}
.uk-slidenav:hover,
.uk-slidenav:focus{color:rgba(102, 102, 102, 0.9);outline:none}
.uk-slidenav:active{color:rgba(102, 102, 102, 0.5)}
.uk-slidenav-large{padding:10px 10px}
.uk-slidenav-container{display:flex}
.uk-dotnav{display:flex;flex-wrap:wrap;margin:0;padding:0;list-style:none;margin-left:-calc(.75 * var(--sz-reg))}
.uk-dotnav>*{flex:none;padding-left:calc(.75 * var(--sz-reg))}
.uk-dotnav>*>*{display:block;box-sizing:border-box;width:30px;height:30px;background-color:transparent;transition:var(--timer) ease-in-out;transition-property:all;transition-property:opacity;color:white;text-align:center;opacity:.5;position:relative;font-size:16px}
@media (min-width:900px){.uk-dotnav>*>*{width:30px;font-size:18px}
}
.uk-dotnav>*>*::after{content:'';width:100%;background-color:white;height:5px;display:block;border-radius:1rem;position:relative;bottom:-5px;transition:var(--timer) bottom}
.uk-dotnav>*>:hover,
.uk-dotnav>*>:focus{background-color:transparent;color:white!important;opacity:.75}
.uk-dotnav .uk-active>*{opacity:1}
.uk-dotnav .uk-active>::after{bottom:0}
.uk-dotnav-vertical{flex-direction:column;margin-left:0;margin-top:-calc(.75 * var(--sz-reg))}
.uk-dotnav-vertical>*{padding-left:0;padding-top:calc(.75 * var(--sz-reg))}
.uk-accordion {padding: 0;list-style: none}
.uk-accordion>:nth-child(n+2) {margin-top: 20px}
.uk-accordion-title {display: block;line-height: 1.4;color: #333;overflow: hidden} 
.uk-accordion-title:hover,
.uk-accordion-title:focus {color: var(--c-violeta);text-decoration: none;outline: none}
.uk-accordion-content {display: flow-root;margin-top: 20px}
.uk-accordion-content>:last-child {margin-bottom: 0}
.uk-drop{display:none;position:absolute;z-index:1020;box-sizing:border-box;width:300px}
.uk-drop.uk-open{display:block}
[class*='uk-drop-top']{margin-top:-20px}
[class*='uk-drop-bottom']{margin-top:20px}
[class*='uk-drop-left']{margin-left:-20px}
[class*='uk-drop-right']{margin-left:20px}
.uk-drop-stack .uk-drop-grid>*{width:100% !important}
.uk-dropdown{display:none;position:absolute;z-index:1020;box-sizing:border-box;min-width:200px;padding:25px;background:#fff;color:#666;box-shadow:0 5px calc(.75 * var(--sz-reg)) rgba(0, 0, 0, 0.15)}
.uk-dropdown.uk-open{display:block}
.uk-dropdown-nav{white-space:nowrap;font-size:0.875rem}
.uk-dropdown-nav>li>a{color:#999}
.uk-dropdown-nav>li>a:hover,
.uk-dropdown-nav>li>a:focus,
.uk-dropdown-nav>li.uk-active>a{color:#666}
.uk-dropdown-nav .uk-nav-header{color:#333}
.uk-dropdown-nav .uk-nav-divider{border-top:1px solid #e5e5e5}
.uk-dropdown-nav .uk-nav-sub a{color:#999}
.uk-dropdown-nav .uk-nav-sub a:hover,
.uk-dropdown-nav .uk-nav-sub a:focus,
.uk-dropdown-nav .uk-nav-sub li.uk-active>a{color:#666}
[class*='uk-dropdown-top']{margin-top:-10px}
[class*='uk-dropdown-bottom']{margin-top:10px}
[class*='uk-dropdown-left']{margin-left:-10px}
[class*='uk-dropdown-right']{margin-left:10px}
.uk-dropdown-stack .uk-dropdown-grid>*{width:100% !important}

.uk-modal-full .uk-modal-dialog{margin:0;width:100%;max-width:100%;transform:translateY(0)}
.uk-modal-body{display:flow-root;padding:30px 30px}
.uk-modal-header{display:flow-root;padding:calc(1 * var(--sz-reg)) 30px;background:#fff;border-bottom:1px solid #e5e5e5}
.uk-modal-footer{display:flow-root;padding:calc(1 * var(--sz-reg)) 30px;background:#fff;border-top:1px solid #e5e5e5}
.uk-modal-body>:last-child,
.uk-modal-header>:last-child,
.uk-modal-footer>:last-child{margin-bottom:0}
.uk-modal-title{font-size:2rem;line-height:1.3}
[class*='uk-modal-close-']{position:absolute;z-index:1010;top:10px;right:10px;padding:5px}
[class*='uk-modal-close-']:first-child+*{margin-top:0}
.uk-modal-close-outside{top:0;right:-5px;transform:translate(0, -100%);color:#fff}
.uk-modal-close-outside:hover{color:#fff}
@media (min-width:900px){.uk-modal-close-outside{right:0;transform:translate(100%, -100%)}
}
.uk-modal-close-full{top:0;right:0;padding:20px;background:#fff}
.uk-slideshow{-webkit-tap-highlight-color:transparent}
.uk-slideshow-items{position:relative;z-index:0;margin:0;padding:0;list-style:none;overflow:hidden;-webkit-touch-callout:none}
.uk-slideshow-items>*{position:absolute;top:0;left:0;right:0;bottom:0;overflow:hidden;will-change:transform, opacity;touch-action:pan-y}
.uk-slideshow-items>:focus{outline:none}
.uk-slideshow-items>:not(.uk-active){display:none}
.uk-slider{-webkit-tap-highlight-color:transparent}
.uk-slider-container{overflow:hidden}
.uk-slider-items{will-change:transform;position:relative}
.uk-slider-items:not(.uk-grid){display:flex;margin:0;padding:0;list-style:none;-webkit-touch-callout:none}
.uk-slider-items.uk-grid{flex-wrap:nowrap}
.uk-slider-items>*{flex:none;position:relative;touch-action:pan-y}
.uk-slider-items>:focus{outline:none}
.uk-sticky-fixed{z-index:980;box-sizing:border-box;margin:0 !important;-webkit-backface-visibility:hidden;backface-visibility:hidden}
.uk-sticky[class*='uk-animation-']{animation-duration:0.2s}
.uk-sticky.uk-animation-reverse{animation-duration:0.2s}
.uk-switcher{margin:0;padding:0;list-style:none}
.uk-switcher>:not(.uk-active){display:none}
.uk-switcher>*>:last-child{margin-bottom:0}
.uk-iconnav{display:flex;flex-wrap:wrap;margin:0;padding:0;list-style:none;margin-left:-10px}
.uk-iconnav>*>a{display:block}
.uk-iconnav>*>a:hover,
.uk-iconnav>*>a:focus{color:#666;outline:none}
.uk-iconnav>.uk-active>a{color:#666}
.uk-iconnav-vertical{flex-direction:column;margin-left:0;margin-top:-10px}
.uk-iconnav-vertical>*{padding-left:0;padding-top:10px}
.uk-tooltip{display:none;position:absolute;z-index:1030;top:0;box-sizing:border-box;max-width:200px;padding:3px 6px;background:#666;border-radius:2px;color:#fff;font-size:calc(.75 * var(--sz-reg))}
.uk-tooltip.uk-active{display:block}
[class*='uk-tooltip-top']{margin-top:-10px}
[class*='uk-tooltip-bottom']{margin-top:10px}
[class*='uk-tooltip-left']{margin-left:-10px}
[class*='uk-tooltip-right']{margin-left:10px}
.uk-placeholder{margin-bottom:20px;padding:30px 30px;background:transparent;border:1px dashed #e5e5e5}
*+.uk-placeholder{margin-top:20px}
.uk-placeholder>:last-child{margin-bottom:0}
[class*='uk-animation-']{animation-duration:0.5s;animation-timing-function:ease-out;animation-fill-mode:both}
.uk-animation-fade{animation-name:uk-fade;animation-duration:0.8s;animation-timing-function:linear}
.uk-animation-scale-up{animation-name:uk-fade-scale-02}
.uk-animation-scale-down{animation-name:uk-fade-scale-18}
.uk-animation-slide-top{animation-name:uk-fade-top}
.uk-animation-slide-bottom{animation-name:uk-fade-bottom}
.uk-animation-slide-left{animation-name:uk-fade-left}
.uk-animation-slide-right{animation-name:uk-fade-right}
.uk-animation-slide-top-small{animation-name:uk-fade-top-small}
.uk-animation-slide-bottom-small{animation-name:uk-fade-bottom-small}
.uk-animation-slide-left-small{animation-name:uk-fade-left-small}
.uk-animation-slide-right-small{animation-name:uk-fade-right-small}
.uk-animation-slide-top-medium{animation-name:uk-fade-top-medium}
.uk-animation-slide-bottom-medium{animation-name:uk-fade-bottom-medium}
.uk-animation-slide-left-medium{animation-name:uk-fade-left-medium}
.uk-animation-slide-right-medium{animation-name:uk-fade-right-medium}
.uk-animation-kenburns{animation-name:uk-scale-kenburns;animation-duration:15s}
.uk-animation-shake{animation-name:uk-shake}
.uk-animation-stroke{animation-name:uk-stroke;stroke-dasharray:var(--uk-animation-stroke);animation-duration:2s}
.uk-animation-reverse{animation-direction:reverse;animation-timing-function:ease-in}
.uk-animation-fast{animation-duration:var(--timer)}
.uk-animation-toggle:not(:hover):not(:focus)[class*='uk-animation-']{animation-name:none}
.uk-animation-toggle{-webkit-tap-highlight-color:transparent}
.uk-animation-toggle:focus{outline:none}
@keyframes uk-fade{0%{opacity:0}
100%{opacity:1}
}
@keyframes uk-fade-top{0%{opacity:0;transform:translateY(-100%)}
100%{opacity:1;transform:translateY(0)}
}
@keyframes uk-fade-bottom{0%{opacity:0;transform:translateY(100%)}
100%{opacity:1;transform:translateY(0)}
}
@keyframes uk-fade-left{0%{opacity:0;transform:translateX(-100%)}
100%{opacity:1;transform:translateX(0)}
}
@keyframes uk-fade-right{0%{opacity:0;transform:translateX(100%)}
100%{opacity:1;transform:translateX(0)}
}
@keyframes uk-fade-top-small{0%{opacity:0;transform:translateY(-10px)}
100%{opacity:1;transform:translateY(0)}
}
@keyframes uk-fade-bottom-small{0%{opacity:0;transform:translateY(10px)}
100%{opacity:1;transform:translateY(0)}
}
@keyframes uk-fade-left-small{0%{opacity:0;transform:translateX(-10px)}
100%{opacity:1;transform:translateX(0)}
}
@keyframes uk-fade-right-small{0%{opacity:0;transform:translateX(10px)}
100%{opacity:1;transform:translateX(0)}
}
@keyframes uk-fade-top-medium{0%{opacity:0;transform:translateY(-50px)}
100%{opacity:1;transform:translateY(0)}
}
@keyframes uk-fade-bottom-medium{0%{opacity:0;transform:translateY(50px)}
100%{opacity:1;transform:translateY(0)}
}
@keyframes uk-fade-left-medium{0%{opacity:0;transform:translateX(-50px)}
100%{opacity:1;transform:translateX(0)}
}
@keyframes uk-fade-right-medium{0%{opacity:0;transform:translateX(50px)}
100%{opacity:1;transform:translateX(0)}
}
@keyframes uk-fade-scale-02{0%{opacity:0;transform:scale(0.2)}
100%{opacity:1;transform:scale(1)}
}
@keyframes uk-fade-scale-18{0%{opacity:0;transform:scale(1.8)}
100%{opacity:1;transform:scale(1)}
}
@keyframes uk-scale-kenburns{0%{transform:scale(1)}
100%{transform:scale(1.2)}
}
@keyframes uk-shake{0%, 100%{transform:translateX(0)}
10%{transform:translateX(-9px)}
20%{transform:translateX(8px)}
30%{transform:translateX(-7px)}
40%{transform:translateX(6px)}
50%{transform:translateX(-5px)}
60%{transform:translateX(4px)}
70%{transform:translateX(-3px)}
80%{transform:translateX(2px)}
90%{transform:translateX(-1px)}
}
@keyframes uk-stroke{0%{stroke-dashoffset:var(--uk-animation-stroke)}
100%{stroke-dashoffset:0}
}
[class*='uk-child-width']>*{box-sizing:border-box;width:100%}
.uk-child-width-1-2>*{width:50%}
.uk-child-width-1-3>*{width:calc(100% * 1/3.001)}
.uk-child-width-1-4>*{width:25%}
.uk-child-width-1-5>*{width:20%}
.uk-child-width-1-6>*{width:calc(100% * 1/6.001)}
.uk-child-width-auto>*{width:auto}
.uk-child-width-expand>:not([class*='uk-width']){flex:1;min-width:1px}
@media (min-width:600px){.uk-child-width-1-1--size-s>*{width:100%}
.uk-child-width-1-2--size-s>*{width:50%}
.uk-child-width-1-3--size-s>*{width:calc(100% * 1/3.001)}
.uk-child-width-1-4--size-s>*{width:25%}
.uk-child-width-1-5--size-s>*{width:20%}
.uk-child-width-1-6--size-s>*{width:calc(100% * 1/6.001)}
.uk-child-width-auto--size-s>*{width:auto}
.uk-child-width-expand--size-s>:not([class*='uk-width']){flex:1;min-width:1px}
}
@media (min-width:900px){.uk-child-width-1-1--size-m>*{width:100%}
.uk-child-width-1-2--size-m>*{width:50%}
.uk-child-width-1-3--size-m>*{width:calc(100% * 1/3.001)}
.uk-child-width-1-4--size-m>*{width:25%}
.uk-child-width-1-5--size-m>*{width:20%}
.uk-child-width-1-6--size-m>*{width:calc(100% * 1/6.001)}
.uk-child-width-auto--size-m>*{width:auto}
.uk-child-width-expand--size-m>:not([class*='uk-width']){flex:1;min-width:1px}
}
@media (min-width:1200px){.uk-child-width-1-1--size-l>*{width:100%}
.uk-child-width-1-2--size-l>*{width:50%}
.uk-child-width-1-3--size-l>*{width:calc(100% * 1/3.001)}
.uk-child-width-1-4--size-l>*{width:25%}
.uk-child-width-1-5--size-l>*{width:20%}
.uk-child-width-1-6--size-l>*{width:calc(100% * 1/6.001)}
.uk-child-width-auto--size-l>*{width:auto}
.uk-child-width-expand--size-l>:not([class*='uk-width']){flex:1;min-width:1px}
}
@media (min-width:1600px){.uk-child-width-1-1--size-xl>*{width:100%}
.uk-child-width-1-2--size-xl>*{width:50%}
.uk-child-width-1-3--size-xl>*{width:calc(100% * 1/3.001)}
.uk-child-width-1-4--size-xl>*{width:25%}
.uk-child-width-1-5--size-xl>*{width:20%}
.uk-child-width-1-6--size-xl>*{width:calc(100% * 1/6.001)}
.uk-child-width-auto--size-xl>*{width:auto}
.uk-child-width-expand--size-xl>:not([class*='uk-width']){flex:1;min-width:1px}
}
[class*='uk-width']{box-sizing:border-box;width:100%;max-width:100%}
.uk-width-1-2{width:50%}
.uk-width-1-3{width:calc(100% * 1/3.001)}
.uk-width-2-3{width:calc(100% * 2/3.001)}
.uk-width-1-4{width:25%}
.uk-width-3-4{width:75%}
.uk-width-1-5{width:20%}
.uk-width-2-5{width:40%}
.uk-width-3-5{width:60%}
.uk-width-4-5{width:80%}
.uk-width-1-6{width:calc(100% * 1/6.001)}
.uk-width-5-6{width:calc(100% * 5/6.001)}
.uk-width-small{width:150px}
.uk-width-medium{width:300px}
.uk-width-large{width:450px}
.uk-width-xlarge{width:600px}
.uk-width-2xlarge{width:750px}
.uk-width-auto{width:auto}
.uk-width-expand{flex:1;min-width:1px}
@media (min-width:600px){.uk-width-1-1--size-s{width:100%}
.uk-width-1-2--size-s{width:50%}
.uk-width-1-3--size-s{width:calc(100% * 1/3.001)}
.uk-width-2-3--size-s{width:calc(100% * 2/3.001)}
.uk-width-1-4--size-s{width:25%}
.uk-width-3-4--size-s{width:75%}
.uk-width-1-5--size-s{width:20%}
.uk-width-2-5--size-s{width:40%}
.uk-width-3-5--size-s{width:60%}
.uk-width-4-5--size-s{width:80%}
.uk-width-1-6--size-s{width:calc(100% * 1/6.001)}
.uk-width-5-6--size-s{width:calc(100% * 5/6.001)}
.uk-width-small--size-s{width:150px}
.uk-width-medium--size-s{width:300px}
.uk-width-large--size-s{width:450px}
.uk-width-xlarge--size-s{width:600px}
.uk-width-2xlarge--size-s{width:750px}
.uk-width-auto--size-s{width:auto}
.uk-width-expand--size-s{flex:1;min-width:1px}
}
@media (min-width:900px){.uk-width-1-1--size-m{width:100%}
.uk-width-1-2--size-m{width:50%}
.uk-width-1-3--size-m{width:calc(100% * 1/3.001)}
.uk-width-2-3--size-m{width:calc(100% * 2/3.001)}
.uk-width-1-4--size-m{width:25%}
.uk-width-3-4--size-m{width:75%}
.uk-width-1-5--size-m{width:20%}
.uk-width-2-5--size-m{width:40%}
.uk-width-3-5--size-m{width:60%}
.uk-width-4-5--size-m{width:80%}
.uk-width-1-6--size-m{width:calc(100% * 1/6.001)}
.uk-width-5-6--size-m{width:calc(100% * 5/6.001)}
.uk-width-small--size-m{width:150px}
.uk-width-medium--size-m{width:300px}
.uk-width-large--size-m{width:450px}
.uk-width-xlarge--size-m{width:600px}
.uk-width-2xlarge--size-m{width:750px}
.uk-width-auto--size-m{width:auto}
.uk-width-expand--size-m{flex:1;min-width:1px}
}
@media (min-width:1200px){.uk-width-1-1--size-l{width:100%}
.uk-width-1-2--size-l{width:50%}
.uk-width-1-3--size-l{width:calc(100% * 1/3.001)}
.uk-width-2-3--size-l{width:calc(100% * 2/3.001)}
.uk-width-1-4--size-l{width:25%}
.uk-width-3-4--size-l{width:75%}
.uk-width-1-5--size-l{width:20%}
.uk-width-2-5--size-l{width:40%}
.uk-width-3-5--size-l{width:60%}
.uk-width-4-5--size-l{width:80%}
.uk-width-1-6--size-l{width:calc(100% * 1/6.001)}
.uk-width-5-6--size-l{width:calc(100% * 5/6.001)}
.uk-width-small--size-l{width:150px}
.uk-width-medium--size-l{width:300px}
.uk-width-large--size-l{width:450px}
.uk-width-xlarge--size-l{width:600px}
.uk-width-2xlarge--size-l{width:750px}
.uk-width-auto--size-l{width:auto}
.uk-width-expand--size-l{flex:1;min-width:1px}
}
@media (min-width:1600px){.uk-width-1-1--size-xl{width:100%}
.uk-width-1-2--size-xl{width:50%}
.uk-width-1-3--size-xl{width:calc(100% * 1/3.001)}
.uk-width-2-3--size-xl{width:calc(100% * 2/3.001)}
.uk-width-1-4--size-xl{width:25%}
.uk-width-3-4--size-xl{width:75%}
.uk-width-1-5--size-xl{width:20%}
.uk-width-2-5--size-xl{width:40%}
.uk-width-3-5--size-xl{width:60%}
.uk-width-4-5--size-xl{width:80%}
.uk-width-1-6--size-xl{width:calc(100% * 1/6.001)}
.uk-width-5-6--size-xl{width:calc(100% * 5/6.001)}
.uk-width-small--size-xl{width:150px}
.uk-width-medium--size-xl{width:300px}
.uk-width-large--size-xl{width:450px}
.uk-width-xlarge--size-xl{width:600px}
.uk-width-2xlarge--size-xl{width:750px}
.uk-width-auto--size-xl{width:auto}
.uk-width-expand--size-xl{flex:1;min-width:1px}
}
[class*='uk-height']{box-sizing:border-box}
.uk-height-1-1{height:100%}
.uk-height-viewport{min-height:100vh}
.uk-height-small{height:150px}
.uk-height-medium{height:300px}
.uk-height-large{height:450px}
.uk-height-max-small{max-height:150px}
.uk-height-max-medium{max-height:300px}
.uk-height-max-large{max-height:450px}
.uk-text-lead{font-size:1.5rem;line-height:1.5;}
.uk-text-meta{font-size:0.875rem;line-height:1.4;}
.uk-text-meta a{}
.uk-text-meta a:hover{text-decoration:none}
.uk-text-small{font-size:0.75rem;line-height:1.5}
.uk-text-large{font-size:1rem;line-height:1.5}
@media (min-width:640px){.uk-text-large{font-size:1.25rem}
}
.uk-text-light{font-weight:300}
.uk-text-normal{font-weight:400}
.uk-text-bold{font-weight:700}
.uk-text-lighter{font-weight:lighter}
.uk-text-bolder{font-weight:bolder}
.uk-text-italic{font-style:italic}
.uk-text-capitalize{text-transform:capitalize !important}
.uk-text-uppercase{text-transform:uppercase !important}
.uk-text-lowercase{text-transform:lowercase !important}
.uk-text-muted{color:#999 !important}
.uk-text-emphasis{color:#333 !important}
.uk-text-primary{color:var(--c-lila) !important}
.uk-text-secondary{color:var(--c-rosa) !important}
.uk-text-success{color:#32d296 !important}
.uk-text-warning{color:#faa05a !important}
.uk-text-danger{color:#f0506e !important}
.uk-text-background{-webkit-background-clip:text;display:inline-block;color:var(--c-lila) !important}
@supports (-webkit-background-clip:text){.uk-text-background{background-color:var(--c-lila);color:transparent !important}
}
.uk-text-left{text-align:left !important}
.uk-text-right{text-align:right !important}
.uk-text-center{text-align:center !important}
.uk-text-justify{text-align:justify !important}
@media (min-width:600px){.uk-text-left--size-s{text-align:left !important}
.uk-text-right--size-s{text-align:right !important}
.uk-text-center--size-s{text-align:center !important}
}
@media (min-width:900px){.uk-text-left--size-m{text-align:left !important}
.uk-text-right--size-m{text-align:right !important}
.uk-text-center--size-m{text-align:center !important}
}
@media (min-width:1200px){.uk-text-left--size-l{text-align:left !important}
.uk-text-right--size-l{text-align:right !important}
.uk-text-center--size-l{text-align:center !important}
}
@media (min-width:1600px){.uk-text-left--size-xl{text-align:left !important}
.uk-text-right--size-xl{text-align:right !important}
.uk-text-center--size-xl{text-align:center !important}
}
.uk-text-top{vertical-align:top !important}
.uk-text-middle{vertical-align:middle !important}
.uk-text-bottom{vertical-align:bottom !important}
.uk-text-baseline{vertical-align:baseline !important}
.uk-text-nowrap{white-space:nowrap}
.uk-text-truncate{max-width:100%;overflow:hidden;text-overflow:ellipsis;white-space:nowrap}
th.uk-text-truncate,
td.uk-text-truncate{max-width:0}
.uk-text-break{overflow-wrap:break-word;word-wrap:break-word}
th.uk-text-break,
td.uk-text-break{word-break:break-all}
[class*='uk-column-']{column-gap:30px}
@media (min-width:1200px){[class*='uk-column-']{column-gap:40px}
}
[class*='uk-column-'] img{transform:translate3d(0, 0, 0)}
.uk-column-divider{column-rule:1px solid #e5e5e5;column-gap:60px}
@media (min-width:1200px){.uk-column-divider{column-gap:80px}
}
.uk-column-1-2{column-count:2}
.uk-column-1-3{column-count:3}
.uk-column-1-4{column-count:4}
.uk-column-1-5{column-count:5}
.uk-column-1-6{column-count:6}
@media (min-width:600px){.uk-column-1-2--size-s{column-count:2}
.uk-column-1-3--size-s{column-count:3}
.uk-column-1-4--size-s{column-count:4}
.uk-column-1-5--size-s{column-count:5}
.uk-column-1-6--size-s{column-count:6}
}
@media (min-width:900px){.uk-column-1-2--size-m{column-count:2}
.uk-column-1-3--size-m{column-count:3}
.uk-column-1-4--size-m{column-count:4}
.uk-column-1-5--size-m{column-count:5}
.uk-column-1-6--size-m{column-count:6}
}
@media (min-width:1200px){.uk-column-1-2--size-l{column-count:2}
.uk-column-1-3--size-l{column-count:3}
.uk-column-1-4--size-l{column-count:4}
.uk-column-1-5--size-l{column-count:5}
.uk-column-1-6--size-l{column-count:6}
}
@media (min-width:1600px){.uk-column-1-2--size-xl{column-count:2}
.uk-column-1-3--size-xl{column-count:3}
.uk-column-1-4--size-xl{column-count:4}
.uk-column-1-5--size-xl{column-count:5}
.uk-column-1-6--size-xl{column-count:6}
}
.uk-column-span{column-span:all}
.uk-cover{max-width:none;position:absolute;left:50%;top:50%;transform:translate(-50%, -50%)}
iframe.uk-cover{pointer-events:none}
.uk-cover-container{overflow:hidden;position:relative}
.uk-background-default{background-color:#fff}
.uk-background-muted{background-color:#f8f8f8}
.uk-background-primary{background-color:var(--c-lila)}
.uk-background-secondary{background-color:var(--c-rosa)}
.uk-background-cover,
.uk-background-contain{background-position:50% 50%;background-repeat:no-repeat}
.uk-background-cover{background-size:cover}
.uk-background-contain{background-size:contain}
.uk-background-top-left{background-position:0 0}
.uk-background-top-center{background-position:50% 0}
.uk-background-top-right{background-position:100% 0}
.uk-background-center-left{background-position:0 50%}
.uk-background-center-center{background-position:50% 50%}
.uk-background-center-right{background-position:100% 50%}
.uk-background-bottom-left{background-position:0 100%}
.uk-background-bottom-center{background-position:50% 100%}
.uk-background-bottom-right{background-position:100% 100%}
.uk-background-norepeat{background-repeat:no-repeat}
.uk-background-fixed{background-attachment:fixed;backface-visibility:hidden}
@media (pointer:coarse){.uk-background-fixed{background-attachment:scroll}
}
@media (max-width:599px){.uk-background-image--size-s{background-image:none !important}
}
@media (max-width:899px){.uk-background-image--size-m{background-image:none !important}
}
@media (max-width:1199px){.uk-background-image--size-l{background-image:none !important}
}
@media (max-width:1599px){.uk-background-image--size-xl{background-image:none !important}
}
[class*='uk-align']{display:block;margin-bottom:30px}
*+[class*='uk-align']{margin-top:30px}
.uk-align-center{margin-left:auto;margin-right:auto}
.uk-align-left{margin-top:0;margin-right:30px;float:left}
.uk-align-right{margin-top:0;margin-left:30px;float:right}
@media (min-width:600px){.uk-align-left--size-s{margin-top:0;margin-right:30px;float:left}
.uk-align-right--size-s{margin-top:0;margin-left:30px;float:right}
}
@media (min-width:900px){.uk-align-left--size-m{margin-top:0;margin-right:30px;float:left}
.uk-align-right--size-m{margin-top:0;margin-left:30px;float:right}
}
@media (min-width:1200px){.uk-align-left--size-l{margin-top:0;float:left}
.uk-align-right--size-l{margin-top:0;float:right}
.uk-align-left,
.uk-align-left--size-s,
.uk-align-left--size-m,
.uk-align-left--size-l{margin-right:40px}
.uk-align-right,
.uk-align-right--size-s,
.uk-align-right--size-m,
.uk-align-right--size-l{margin-left:40px}
}
@media (min-width:1600px){.uk-align-left--size-xl{margin-top:0;margin-right:40px;float:left}
.uk-align-right--size-xl{margin-top:0;margin-left:40px;float:right}
}
.uk-svg,
.uk-svg:not(.uk-preserve)[fill*='#']:not(.uk-preserve){fill:currentcolor}
.uk-svg:not(.uk-preserve)[stroke*='#']:not(.uk-preserve){stroke:currentcolor}
.uk-svg{transform:translate(0, 0)}
.uk-panel{display:flow-root;position:relative;box-sizing:border-box}
.uk-panel>:last-child{margin-bottom:0}
.uk-panel-scrollable{height:170px;padding:calc(1 * var(--sz-reg));border:1px solid #e5e5e5;overflow:auto;-webkit-overflow-scrolling:touch;resize:both}
.uk-clearfix::before{content:"";display:table-cell}
.uk-clearfix::after{content:"";display:table;clear:both}
.uk-float-left{float:left}
.uk-float-right{float:right}
[class*='uk-float-']{max-width:100%}
.uk-overflow-hidden{overflow:hidden}
@media (min-width:900px){.uk-overflow-hidden--size-m{overflow:hidden}
}
.uk-overflow-auto{overflow:auto;-webkit-overflow-scrolling:touch}
.uk-overflow-auto>:last-child{margin-bottom:0}
.uk-resize{resize:both}
.uk-resize-vertical{resize:vertical}
.uk-display-block{display:block !important}
.uk-display-inline{display:inline !important}
.uk-display-inline-block{display:inline-block !important}
[class*='uk-inline']{display:inline-block;position:relative;max-width:100%;vertical-align:middle;-webkit-backface-visibility:hidden}
.uk-inline-clip{overflow:hidden}
.uk-preserve-width,
.uk-preserve-width canvas,
.uk-preserve-width img,
.uk-preserve-width svg,
.uk-preserve-width video{max-width:none}
.uk-responsive-width,
.uk-responsive-height{box-sizing:border-box}
.uk-responsive-width{max-width:100% !important;height:auto}
.uk-responsive-height{max-height:100%;width:auto;max-width:none}
.uk-border-circle{border-radius:50%}
.uk-border-pill{border-radius:500px}
.uk-border-rounded{border-radius:.5rem}
.uk-inline-clip[class*='uk-border-']{-webkit-transform:translateZ(0)}
.uk-box-shadow-small{box-shadow:0 2px 8px rgba(0, 0, 0, 0.08)}
.uk-box-shadow-medium{box-shadow:0 5px calc(1 * var(--sz-reg)) rgba(0, 0, 0, 0.08)}
.uk-box-shadow-large{box-shadow:0 14px 25px rgba(0, 0, 0, 0.16)}
.uk-box-shadow-xlarge{box-shadow:0 28px 50px rgba(0, 0, 0, 0.16)}
[class*='uk-box-shadow-hover']{transition:box-shadow var(--timer) ease-in-out}
.uk-box-shadow-hover-small:hover{box-shadow:0 2px 8px rgba(0, 0, 0, 0.08)}
.uk-box-shadow-hover-medium:hover{box-shadow:0 5px calc(1 * var(--sz-reg)) rgba(0, 0, 0, 0.08)}
.uk-box-shadow-hover-large:hover{box-shadow:0 14px 25px rgba(0, 0, 0, 0.16)}
.uk-box-shadow-hover-xlarge:hover{box-shadow:0 28px 50px rgba(0, 0, 0, 0.16)}
@supports (filter:blur(0)){.uk-box-shadow-bottom{display:inline-block;position:relative;max-width:100%;vertical-align:middle}
.uk-box-shadow-bottom::before{content:'';position:absolute;bottom:-30px;left:0;right:0;height:30px;border-radius:100%;background:#444;filter:blur(20px)}
.uk-box-shadow-bottom>*{position:relative}
}
.uk-dropcap::first-letter,
.uk-dropcap>p:first-of-type::first-letter{display:block;margin-right:10px;float:left;font-size:4.5em;line-height:1;margin-bottom:-2px}
@-moz-document url-prefix(){.uk-dropcap::first-letter, .uk-dropcap>p:first-of-type::first-letter{margin-top:1.1%}
}
@supports (-ms-ime-align:auto){.uk-dropcap>p:first-of-type::first-letter{font-size:1em}
}
.uk-logo{font-size:1.5rem;font-family:-apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";color:#666;text-decoration:none}
.uk-logo:hover,
.uk-logo:focus{color:#666;outline:none;text-decoration:none}
.uk-logo-inverse{display:none}
.uk-disabled{pointer-events:none}
.uk-drag,
.uk-drag *{cursor:move}
.uk-drag iframe{pointer-events:none}
.uk-dragover{box-shadow:0 0 20px rgba(100, 100, 100, 0.3)}
.uk-transform-center{transform:translate(-50%, -50%)}
.uk-transform-origin-top-left{transform-origin:0 0}
.uk-transform-origin-top-center{transform-origin:50% 0}
.uk-transform-origin-top-right{transform-origin:100% 0}
.uk-transform-origin-center-left{transform-origin:0 50%}
.uk-transform-origin-center-right{transform-origin:100% 50%}
.uk-transform-origin-bottom-left{transform-origin:0 100%}
.uk-transform-origin-bottom-center{transform-origin:50% 100%}
.uk-transform-origin-bottom-right{transform-origin:100% 100%}
.uk-flex{display:flex}
.uk-flex-inline{display:inline-flex}
.uk-flex::before,
.uk-flex::after,
.uk-flex-inline::before,
.uk-flex-inline::after{display:none}
.uk-flex-left{justify-content:flex-start}
.uk-flex-center{justify-content:center}
.uk-flex-right{justify-content:flex-end}
.uk-flex-between{justify-content:space-between}
.uk-flex-around{justify-content:space-around}
@media (min-width:600px){.uk-flex-left--size-s{justify-content:flex-start}
.uk-flex-center--size-s{justify-content:center}
.uk-flex-right--size-s{justify-content:flex-end}
.uk-flex-between--size-s{justify-content:space-between}
.uk-flex-around--size-s{justify-content:space-around}
}
@media (min-width:900px){.uk-flex-left--size-m{justify-content:flex-start}
.uk-flex-center--size-m{justify-content:center}
.uk-flex-right--size-m{justify-content:flex-end}
.uk-flex-between--size-m{justify-content:space-between}
.uk-flex-around--size-m{justify-content:space-around}
}
@media (min-width:1200px){.uk-flex-left--size-l{justify-content:flex-start}
.uk-flex-center--size-l{justify-content:center}
.uk-flex-right--size-l{justify-content:flex-end}
.uk-flex-between--size-l{justify-content:space-between}
.uk-flex-around--size-l{justify-content:space-around}
}
@media (min-width:1600px){.uk-flex-left--size-xl{justify-content:flex-start}
.uk-flex-center--size-xl{justify-content:center}
.uk-flex-right--size-xl{justify-content:flex-end}
.uk-flex-between--size-xl{justify-content:space-between}
.uk-flex-around--size-xl{justify-content:space-around}
}
.uk-flex-stretch{align-items:stretch}
.uk-flex-top{align-items:flex-start}
.uk-flex-middle{align-items:center}
.uk-flex-bottom{align-items:flex-end}
.uk-flex-row{flex-direction:row}
.uk-flex-row-reverse{flex-direction:row-reverse}
.uk-flex-column{flex-direction:column}
.uk-flex-column-reverse{flex-direction:column-reverse}
.uk-flex-nowrap{flex-wrap:nowrap}
.uk-flex-wrap{flex-wrap:wrap}
.uk-flex-wrap-reverse{flex-wrap:wrap-reverse}
.uk-flex-wrap-stretch{align-content:stretch}
.uk-flex-wrap-top{align-content:flex-start}
.uk-flex-wrap-middle{align-content:center}
.uk-flex-wrap-bottom{align-content:flex-end}
.uk-flex-wrap-between{align-content:space-between}
.uk-flex-wrap-around{align-content:space-around}
.uk-flex-first{order:-1}
.uk-flex-last{order:99}
@media (min-width:600px){.uk-flex-first--size-s{order:-1}
.uk-flex-last--size-s{order:99}
}
@media (min-width:900px){.uk-flex-first--size-m{order:-1}
.uk-flex-last--size-m{order:99}
}
@media (min-width:1200px){.uk-flex-first--size-l{order:-1}
.uk-flex-last--size-l{order:99}
}
@media (min-width:1600px){.uk-flex-first--size-xl{order:-1}
.uk-flex-last--size-xl{order:99}
}
.uk-flex-none{flex:none}
.uk-flex-auto{flex:auto}
.uk-flex-1{flex:1}
.uk-margin{margin-bottom:calc(1 * var(--sz-reg))}
*+.uk-margin{margin-top:calc(1 * var(--sz-reg)) !important}
.uk-margin-top{margin-top:calc(1 * var(--sz-reg)) !important}
.uk-margin-bottom{margin-bottom:calc(1 * var(--sz-reg)) !important}
.uk-margin-left{margin-left:calc(1 * var(--sz-reg)) !important}
.uk-margin-right{margin-right:calc(1 * var(--sz-reg)) !important}
.uk-margin-small{margin-bottom:calc(.5 * var(--sz-reg))}
*+.uk-margin-small{margin-top:calc(.5 * var(--sz-reg)) !important}
.uk-margin-small-top{margin-top:calc(.5 * var(--sz-reg)) !important}
.uk-margin-small-bottom{margin-bottom:calc(.5 * var(--sz-reg)) !important}
.uk-margin-small-left{margin-left:calc(.5 * var(--sz-reg)) !important}
.uk-margin-small-right{margin-right:calc(.5 * var(--sz-reg)) !important}
.uk-margin-medium{margin-bottom:calc(1.5 * var(--sz-reg))}
*+.uk-margin-medium{margin-top:calc(1.5 * var(--sz-reg)) !important}
.uk-margin-medium-top{margin-top:calc(1.5 * var(--sz-reg)) !important}
.uk-margin-medium-bottom{margin-bottom:calc(1.5 * var(--sz-reg)) !important}
.uk-margin-medium-left{margin-left:calc(1.5 * var(--sz-reg)) !important}
.uk-margin-medium-right{margin-right:calc(1.5 * var(--sz-reg)) !important}
.uk-margin-large{margin-bottom:calc(2 * var(--sz-reg))}
*+.uk-margin-large{margin-top:calc(2 * var(--sz-reg)) !important}
.uk-margin-large-top{margin-top:calc(2 * var(--sz-reg)) !important}
.uk-margin-large-bottom{margin-bottom:calc(2 * var(--sz-reg)) !important}
.uk-margin-large-left{margin-left:calc(2 * var(--sz-reg)) !important}
.uk-margin-large-right{margin-right:calc(2 * var(--sz-reg)) !important}
.uk-margin-xlarge{margin-bottom:calc(2.5 * var(--sz-reg))}
*+.uk-margin-xlarge{margin-top:calc(2.5 * var(--sz-reg)) !important}
.uk-margin-xlarge-top{margin-top:calc(2.5 * var(--sz-reg)) !important}
.uk-margin-xlarge-bottom{margin-bottom:calc(2.5 * var(--sz-reg)) !important}
.uk-margin-xlarge-left{margin-left:calc(2.5 * var(--sz-reg)) !important}
.uk-margin-xlarge-right{margin-right:calc(2.5 * var(--sz-reg)) !important}
@media (min-width:900px){.uk-margin-xlarge{margin-bottom:calc(3 * var(--sz-reg))}
*+.uk-margin-xlarge{margin-top:calc(3 * var(--sz-reg)) !important}
.uk-margin-xlarge-top{margin-top:calc(3 * var(--sz-reg)) !important}
.uk-margin-xlarge-bottom{margin-bottom:calc(3 * var(--sz-reg)) !important}
.uk-margin-xlarge-left{margin-left:calc(3 * var(--sz-reg)) !important}
.uk-margin-xlarge-right{margin-right:calc(3 * var(--sz-reg)) !important}
}
.uk-margin-auto{margin-left:auto !important;margin-right:auto !important}
.uk-margin-auto-top{margin-top:auto !important}
.uk-margin-auto-bottom{margin-bottom:auto !important}
.uk-margin-auto-left{margin-left:auto !important}
.uk-margin-auto-right{margin-right:auto !important}
.uk-margin-auto-vertical{margin-top:auto !important;margin-bottom:auto !important}
@media (min-width:600px){.uk-margin-auto--size-s{margin-left:auto !important;margin-right:auto !important}
.uk-margin-auto-left--size-s{margin-left:auto !important}
.uk-margin-auto-right--size-s{margin-right:auto !important}
}
@media (min-width:900px){.uk-margin-auto--size-m{margin-left:auto !important;margin-right:auto !important}
.uk-margin-auto-left--size-m{margin-left:auto !important}
.uk-margin-auto-right--size-m{margin-right:auto !important}
}
@media (min-width:1200px){.uk-margin-auto--size-l{margin-left:auto !important;margin-right:auto !important}
.uk-margin-auto-left--size-l{margin-left:auto !important}
.uk-margin-auto-right--size-l{margin-right:auto !important}
}
@media (min-width:1600px){.uk-margin-auto--size-xl{margin-left:auto !important;margin-right:auto !important}
.uk-margin-auto-left--size-xl{margin-left:auto !important}
.uk-margin-auto-right--size-xl{margin-right:auto !important}
}
.uk-margin-remove{margin:0 !important}
.uk-margin-remove-top{margin-top:0 !important}
.uk-margin-remove-bottom{margin-bottom:0 !important}
.uk-margin-remove-left{margin-left:0 !important}
.uk-margin-remove-right{margin-right:0 !important}
.uk-margin-remove-vertical{margin-top:0 !important;margin-bottom:0 !important}
.uk-margin-remove-adjacent+*,
.uk-margin-remove-first-child>:first-child{margin-top:0 !important}
.uk-margin-remove-last-child>:last-child{margin-bottom:0 !important}
@media (min-width:600px){.uk-margin-remove-left--size-s{margin-left:0 !important}
.uk-margin-remove-right--size-s{margin-right:0 !important}
}
@media (min-width:900px){.uk-margin-remove-left--size-m{margin-left:0 !important}
.uk-margin-remove-right--size-m{margin-right:0 !important}
}
@media (min-width:1200px){.uk-margin-remove-left--size-l{margin-left:0 !important}
.uk-margin-remove-right--size-l{margin-right:0 !important}
}
@media (min-width:1600px){.uk-margin-remove-left--size-xl{margin-left:0 !important}
.uk-margin-remove-right--size-xl{margin-right:0 !important}
}
.uk-padding{padding-bottom:calc(1 * var(--sz-reg))}
.uk-padding-full{padding:calc(1 * var(--sz-reg))}
*+.uk-padding{padding-top:calc(1 * var(--sz-reg)) !important}
.uk-padding-top{padding-top:calc(1 * var(--sz-reg)) !important}
.uk-padding-bottom{padding-bottom:calc(1 * var(--sz-reg)) !important}
.uk-padding-left{padding-left:calc(1 * var(--sz-reg)) !important}
.uk-padding-right{padding-right:calc(1 * var(--sz-reg)) !important}
.uk-padding-small{padding-bottom:calc(.5 * var(--sz-reg))}
.uk-padding-small-full{padding:calc(.5 * var(--sz-reg))}
*+.uk-padding-small{padding-top:calc(.5 * var(--sz-reg)) !important}
.uk-padding-small-top{padding-top:calc(.5 * var(--sz-reg)) !important}
.uk-padding-small-bottom{padding-bottom:calc(.5 * var(--sz-reg)) !important}
.uk-padding-small-left{padding-left:calc(.5 * var(--sz-reg)) !important}
.uk-padding-small-right{padding-right:calc(.5 * var(--sz-reg)) !important}
.uk-padding-medium{padding-bottom:calc(1.5 * var(--sz-reg))}
.uk-padding-medium-full{padding:calc(1.5 * var(--sz-reg))}
*+.uk-padding-medium{padding-top:calc(1.5 * var(--sz-reg)) !important}
.uk-padding-medium-top{padding-top:calc(1.5 * var(--sz-reg)) !important}
.uk-padding-medium-bottom{padding-bottom:calc(1.5 * var(--sz-reg)) !important}
.uk-padding-medium-left{padding-left:calc(1.5 * var(--sz-reg)) !important}
.uk-padding-medium-right{padding-right:calc(1.5 * var(--sz-reg)) !important}
.uk-padding-large{padding-bottom:calc(2 * var(--sz-reg))}
.uk-padding-large-full{padding:calc(2 * var(--sz-reg))}
*+.uk-padding-large{padding-top:calc(2 * var(--sz-reg)) !important}
.uk-padding-large-top{padding-top:calc(2 * var(--sz-reg)) !important}
.uk-padding-large-bottom{padding-bottom:calc(2 * var(--sz-reg)) !important}
.uk-padding-large-left{padding-left:calc(2 * var(--sz-reg)) !important}
.uk-padding-large-right{padding-right:calc(2 * var(--sz-reg)) !important}
.uk-padding-xlarge{padding-bottom:calc(2.5 * var(--sz-reg))}
.uk-padding-xlarge-full{padding:calc(2.5 * var(--sz-reg))}
*+.uk-padding-xlarge{padding-top:calc(2.5 * var(--sz-reg)) !important}
.uk-padding-xlarge-top{padding-top:calc(2.5 * var(--sz-reg)) !important}
.uk-padding-xlarge-bottom{padding-bottom:calc(2.5 * var(--sz-reg)) !important}
.uk-padding-xlarge-left{padding-left:calc(2.5 * var(--sz-reg)) !important}
.uk-padding-xlarge-right{padding-right:calc(2.5 * var(--sz-reg)) !important}
@media (min-width:900px){.uk-padding-xxxlarge-left{padding-left:calc(4 * var(--sz-reg)) !important}
.uk-padding-xxxlarge-right{padding-right:calc(4 * var(--sz-reg)) !important}
}
.uk-padding-remove{padding:0 !important}
.uk-padding-remove-top{padding-top:0 !important}
.uk-padding-remove-bottom{padding-bottom:0 !important}
.uk-padding-remove-left{padding-left:0 !important}
.uk-padding-remove-right{padding-right:0 !important}
.uk-padding-remove-vertical{padding-top:0 !important;padding-bottom:0 !important}
.uk-padding-remove-horizontal{padding-left:0 !important;padding-right:0 !important}
@media (max-width:899px){.uk-padding-mobile{padding-left:10%;padding-right:10%}
}
[class*='uk-position-top'],
[class*='uk-position-bottom'],
[class*='uk-position-left'],
[class*='uk-position-right'],
[class*='uk-position-center']{position:absolute !important;max-width:100%}
.uk-position-top{top:0;left:0;right:0}
.uk-position-bottom{bottom:0;left:0;right:0}
.uk-position-left{top:0;bottom:0;left:0}
.uk-position-right{top:0;bottom:0;right:0}
.uk-position-top-left{top:0;left:0}
.uk-position-top-right{top:0;right:0}
.uk-position-bottom-left{bottom:0;left:0}
.uk-position-bottom-right{bottom:0;right:0}
.uk-position-center{top:50%;left:50%;transform:translate(-50%, -50%);width:max-content;max-width:100%;box-sizing:border-box}
[class*='uk-position-center-left'],
[class*='uk-position-center-right']{top:50%;transform:translateY(-50%)}
.uk-position-center-left{left:0}
.uk-position-center-right{right:0}
.uk-position-center-left-out{right:100%;width:max-content}
.uk-position-center-right-out{left:100%;width:max-content}
.uk-position-top-center,
.uk-position-bottom-center{left:50%;transform:translateX(-50%);width:max-content;max-width:100%;box-sizing:border-box}
.uk-position-top-center{top:0}
.uk-position-bottom-center{bottom:0}
.uk-position-cover{position:absolute;top:0;bottom:0;left:0;right:0}
.uk-position-relative{position:relative !important}
.uk-position-absolute{position:absolute !important}
.uk-position-fixed{position:fixed !important}
.uk-position-z-index{z-index:1}
.uk-position-small{max-width:calc(100% - (calc(1 * var(--sz-reg)) * 2));margin:calc(1 * var(--sz-reg))}
.uk-position-small.uk-position-center{transform:translate(-50%, -50%) translate(calc(-1 * var(--sz-reg)), calc(-1 * var(--sz-reg)))}
.uk-position-small[class*='uk-position-center-left'],
.uk-position-small[class*='uk-position-center-right']{transform:translateY(-50%) translateY(calc(-1 * var(--sz-reg)))}
.uk-position-small.uk-position-top-center,
.uk-position-small.uk-position-bottom-center{transform:translateX(-50%) translateX(calc(-1 * var(--sz-reg)))}
.uk-position-medium{max-width:calc(100% - (calc(1.5 * var(--sz-reg)) * 2));margin:calc(1.5 * var(--sz-reg))}
.uk-position-medium.uk-position-center{transform:translate(-50%, -50%) translate(calc(-2 * var(--sz-reg)), calc(-2 * var(--sz-reg)))}
.uk-position-medium[class*='uk-position-center-left'],
.uk-position-medium[class*='uk-position-center-right']{transform:translateY(-50%) translateY(calc(-2 * var(--sz-reg)))}
.uk-position-medium.uk-position-top-center,
.uk-position-medium.uk-position-bottom-center{transform:translateX(-50%) translateX(calc(-2 * var(--sz-reg)))}
.uk-position-large{max-width:calc(100% - (calc(1.5 * var(--sz-reg)) * 2));margin:calc(1.5 * var(--sz-reg))}
.uk-position-large.uk-position-center{transform:translate(-50%, -50%) translate(calc(-2 * var(--sz-reg)), calc(-2 * var(--sz-reg)))}
.uk-position-large[class*='uk-position-center-left'],
.uk-position-large[class*='uk-position-center-right']{transform:translateY(-50%) translateY(calc(-2 * var(--sz-reg)))}
.uk-position-large.uk-position-top-center,
.uk-position-large.uk-position-bottom-center{transform:translateX(-50%) translateX(calc(-2 * var(--sz-reg)))}
@media (min-width:1200px){.uk-position-large{max-width:calc(100% - (calc(2 * var(--sz-reg)) * 2));margin:calc(2 * var(--sz-reg))}
.uk-position-large.uk-position-center{transform:translate(-50%, -50%) translate(-50px, calc(2 * var(--sz-reg)))}
.uk-position-large[class*='uk-position-center-left'],
.uk-position-large[class*='uk-position-center-right']{transform:translateY(-50%) translateY(calc(2 * var(--sz-reg)))}
.uk-position-large.uk-position-top-center,
.uk-position-large.uk-position-bottom-center{transform:translateX(-50%) translateX(calc(2 * var(--sz-reg)))}
}
.uk-transition-toggle{-webkit-tap-highlight-color:transparent}
.uk-transition-toggle:focus{outline:none}
.uk-transition-fade,
[class*='uk-transition-scale'],
[class*='uk-transition-slide']{transition:0.3s ease-out;transition-property:opacity, transform, filter;opacity:0}
.uk-transition-toggle:hover .uk-transition-fade,
.uk-transition-toggle:focus .uk-transition-fade,
.uk-transition-active.uk-active .uk-transition-fade{opacity:1}
.uk-transition-scale-up{transform:scale(1, 1)}
.uk-transition-scale-down{transform:scale(1.1, 1.1)}
.uk-transition-toggle:hover .uk-transition-scale-up,
.uk-transition-toggle:focus .uk-transition-scale-up,
.uk-transition-active.uk-active .uk-transition-scale-up{opacity:1;transform:scale(1.1, 1.1)}
.uk-transition-toggle:hover .uk-transition-scale-down,
.uk-transition-toggle:focus .uk-transition-scale-down,
.uk-transition-active.uk-active .uk-transition-scale-down{opacity:1;transform:scale(1, 1)}
.uk-transition-slide-top{transform:translateY(-100%)}
.uk-transition-slide-bottom{transform:translateY(100%)}
.uk-transition-slide-left{transform:translateX(-100%)}
.uk-transition-slide-right{transform:translateX(100%)}
.uk-transition-slide-top-small{transform:translateY(calc(-1 * var(--sz-reg)))}
.uk-transition-slide-bottom-small{transform:translateY(calc(1 * var(--sz-reg)))}
.uk-transition-slide-left-small{transform:translateX(calc(-1 * var(--sz-reg)))}
.uk-transition-slide-right-small{transform:translateX(calc(1 * var(--sz-reg)))}
.uk-transition-slide-top-medium{transform:translateY(calc(-3 * var(--sz-reg)))}
.uk-transition-slide-bottom-medium{transform:translateY(calc(2 * var(--sz-reg)))}
.uk-transition-slide-left-medium{transform:translateX(calc(-3 * var(--sz-reg)))}
.uk-transition-slide-right-medium{transform:translateX(calc(2 * var(--sz-reg)))}
.uk-transition-toggle:hover[class*='uk-transition-slide'],
.uk-transition-toggle:focus[class*='uk-transition-slide'],
.uk-transition-active.uk-active[class*='uk-transition-slide']{opacity:1;transform:translate(0, 0)}
.uk-transition-opaque{opacity:1}
.uk-transition-slow{transition-duration:0.7s}
[hidden],
.uk-hidden{display:none !important}
@media (min-width:600px){.uk-hidden--size-s{display:none !important}
}
@media (min-width:900px){.uk-hidden--size-m{display:none !important}
}
@media (min-width:1200px){.uk-hidden--size-l{display:none !important}
}
@media (min-width:1600px){.uk-hidden--size-xl{display:none !important}
}
@media (max-width:599px){.uk-visible--size-s{display:none !important}
}
@media (max-width:899px){.uk-visible--size-m{display:none !important}
}
@media (max-width:1199px){.uk-visible--size-l{display:none !important}
}
@media (max-width:1599px){.uk-visible--size-xl{display:none !important}
}
.uk-invisible{visibility:hidden !important}
.uk-visible-toggle:not(:hover):not(:focus) .uk-hidden-hover:not(:focus-within){position:absolute !important;width:0 !important;height:0 !important;padding:0 !important;margin:0 !important;overflow:hidden !important}
.uk-visible-toggle:not(:hover):not(:focus) .uk-invisible-hover:not(:focus-within){opacity:0 !important}
.uk-visible-toggle{-webkit-tap-highlight-color:transparent}
.uk-visible-toggle:focus{outline:none}
@media (pointer:coarse){.uk-hidden-touch{display:none !important}
}
.uk-hidden-notouch{display:none !important}
@media (pointer:coarse){.uk-hidden-notouch{display:block !important}
}
.uk-light{color:rgba(255, 255, 255, 1)}
.uk-light a,
.uk-light .uk-link{color:#fff}
.uk-light a:hover,
.uk-light .uk-link:hover{color:#fff}
.uk-light:not(pre) > code,
.uk-light:not(pre) > kbd,
.uk-light:not(pre) > samp{color:rgba(255, 255, 255, 0.7);background:rgba(255, 255, 255, 0.1)}
.uk-light em{color:#fff}
.uk-light h1,
.uk-light .uk-h1,
.uk-light h2,
.uk-light .uk-h2,
.uk-light h3,
.uk-light .uk-h3,
.uk-light h4,
.uk-light .uk-h4,
.uk-light h5,
.uk-light .uk-h5,
.uk-light h6,
.uk-light .uk-h6,
.uk-light .uk-heading-1,
.uk-light .uk-heading-2,
.uk-light .uk-heading-3,
.uk-light .uk-heading-4,
.uk-light .uk-heading-5,
.uk-light .uk-heading-6{color:#fff}
.uk-light blockquote{color:#fff}
.uk-light blockquote footer{color:rgba(255, 255, 255, 0.7)}
.uk-light hr,
.uk-light .uk-hr{border-top-color:rgba(255, 255, 255, 0.2)}
.uk-light .uk-link-muted,
.uk-light .uk-link-muted a{color:rgba(255, 255, 255, 0.5)}
.uk-light .uk-link-muted:hover,
.uk-light .uk-link-muted a:hover{color:rgba(255, 255, 255, 0.7)}
.uk-light .uk-link-text:hover,
.uk-light .uk-link-text a:hover{color:rgba(255, 255, 255, 0.5)}
.uk-light .uk-link-heading:hover,
.uk-light .uk-link-heading a:hover{color:#fff}
.uk-light .uk-heading-divider{border-bottom-color:rgba(255, 255, 255, 0.2)}
.uk-light .uk-heading-bullet::before{border-left-color:rgba(255, 255, 255, 0.2)}
.uk-light .uk-heading-line >::before,
.uk-light .uk-heading-line >::after{border-bottom-color:rgba(255, 255, 255, 0.2)}
.uk-light .uk-divider-icon{background-image:url("data:image/svg+xml;charset=UTF-8,%3Csvg%20width%3D%2220%22%20height%3D%2220%22%20viewBox%3D%220%200%2020%2020%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%0A%20%20%20%20%3Ccircle%20fill%3D%22none%22%20stroke%3D%22rgba%28255,%20255,%20255,%200.2%29%22%20stroke-width%3D%222%22%20cx%3D%2210%22%20cy%3D%2210%22%20r%3D%227%22%20%2F%3E%0A%3C%2Fsvg%3E%0A")}
.uk-light .uk-divider-icon::before,
.uk-light .uk-divider-icon::after{border-bottom-color:rgba(255, 255, 255, 0.2)}
.uk-light .uk-divider-small::after{border-top-color:rgba(255, 255, 255, 0.2)}
.uk-light .uk-divider-vertical{border-left-color:rgba(255, 255, 255, 0.2)}
.uk-light .uk-list-muted li::marker{color:rgba(255, 255, 255, 0.5) !important}
.uk-light .uk-list-emphasis li::marker{color:#fff !important}
.uk-light .uk-list-primary li::marker{color:#fff !important}
.uk-light .uk-list-secondary li::marker{color:#fff !important}
.uk-light .uk-list-bullet > li::before{background-image:url("data:image/svg+xml;charset=UTF-8,%3Csvg%20width%3D%226%22%20height%3D%226%22%20viewBox%3D%220%200%206%206%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%0A%20%20%20%20%3Ccircle%20fill%3D%22rgba%28255,%20255,%20255,%200.7%29%22%20cx%3D%223%22%20cy%3D%223%22%20r%3D%223%22%20%2F%3E%0A%3C%2Fsvg%3E")}
.uk-light .uk-list-divider > li:nth-child(n+2){border-top-color:rgba(255, 255, 255, 0.2)}
.uk-light .uk-list-striped > li:nth-of-type(odd){border-top-color:rgba(255, 255, 255, 0.2);border-bottom-color:rgba(255, 255, 255, 0.2)}
.uk-light .uk-list-striped > li:nth-of-type(odd){background-color:rgba(255, 255, 255, 0.1)}
.uk-light .uk-table th{color:rgba(255, 255, 255, 0.7)}
.uk-light .uk-table caption{color:rgba(255, 255, 255, 0.5)}
.uk-light .uk-table > tr.uk-active,
.uk-light .uk-table tbody tr.uk-active{background:rgba(255, 255, 255, 0.08)}
.uk-light .uk-table-divider > tr:not(:first-child),
.uk-light .uk-table-divider >:not(:first-child) > tr,
.uk-light .uk-table-divider >:first-child > tr:not(:first-child){border-top-color:rgba(255, 255, 255, 0.2)}
.uk-light .uk-table-striped > tr:nth-of-type(odd),
.uk-light .uk-table-striped tbody tr:nth-of-type(odd){background:rgba(255, 255, 255, 0.1);border-top-color:rgba(255, 255, 255, 0.2);border-bottom-color:rgba(255, 255, 255, 0.2)}
.uk-light .uk-table-hover > tr:hover,
.uk-light .uk-table-hover tbody tr:hover{background:rgba(255, 255, 255, 0.08)}
.uk-light .uk-icon-link{color:rgba(255, 255, 255, 0.5)}
.uk-light .uk-icon-link:hover,
.uk-light .uk-icon-link:focus{color:rgba(255, 255, 255, 0.7)}
.uk-light .uk-icon-link:active,
.uk-light .uk-active > .uk-icon-link{color:rgba(255, 255, 255, 0.7)}
.uk-light .uk-icon-button{background-color:rgba(255, 255, 255, 0.1);color:rgba(255, 255, 255, 0.5)}
.uk-light .uk-icon-button:hover,
.uk-light .uk-icon-button:focus{background-color:rgba(242, 242, 242, 0.1);color:rgba(255, 255, 255, 0.7)}
.uk-light .uk-icon-button:active{background-color:rgba(230, 230, 230, 0.1);color:rgba(255, 255, 255, 0.7)}
.uk-light .uk-input,
.uk-light .uk-select,
.uk-light .uk-textarea{background-color:rgba(255, 255, 255, 0.1);color:rgba(255, 255, 255, 0.7);background-clip:padding-box;border-color:rgba(255, 255, 255, 0.2)}
.uk-light .uk-input:focus,
.uk-light .uk-select:focus,
.uk-light .uk-textarea:focus{background-color:rgba(255, 255, 255, 0.1);color:rgba(255, 255, 255, 0.7);border-color:rgba(255, 255, 255, 0.7)}
.uk-light .uk-input::-ms-input-placeholder{color:rgba(255, 255, 255, 0.5) !important}
.uk-light .uk-input::placeholder{color:rgba(255, 255, 255, 0.5)}
.uk-light .uk-textarea::-ms-input-placeholder{color:rgba(255, 255, 255, 0.5) !important}
.uk-light .uk-textarea::placeholder{color:rgba(255, 255, 255, 0.5)}
.uk-light .uk-select:not([multiple]):not([size]){background-image:url("data:image/svg+xml;charset=UTF-8,%3Csvg%20width%3D%2224%22%20height%3D%2216%22%20viewBox%3D%220%200%2024%2016%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%0A%20%20%20%20%3Cpolygon%20fill%3D%22rgba%28255,%20255,%20255,%200.7%29%22%20points%3D%2212%201%209%206%2015%206%22%20%2F%3E%0A%20%20%20%20%3Cpolygon%20fill%3D%22rgba%28255,%20255,%20255,%200.7%29%22%20points%3D%2212%2013%209%208%2015%208%22%20%2F%3E%0A%3C%2Fsvg%3E%0A")}
.uk-light .uk-input[list]:hover,
.uk-light .uk-input[list]:focus{background-image:url("data:image/svg+xml;charset=UTF-8,%3Csvg%20width%3D%2224%22%20height%3D%2216%22%20viewBox%3D%220%200%2024%2016%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%0A%20%20%20%20%3Cpolygon%20fill%3D%22rgba%28255,%20255,%20255,%200.7%29%22%20points%3D%2212%2012%208%206%2016%206%22%20%2F%3E%0A%3C%2Fsvg%3E%0A")}
.uk-light .uk-radio,
.uk-light .uk-checkbox{background-color:transparent;border-color:var(--c-rosa)}
.uk-light .uk-radio:focus,
.uk-light .uk-checkbox:focus{border-color:white}
.uk-light .uk-radio:checked,
.uk-light .uk-checkbox:checked,
.uk-light .uk-checkbox:indeterminate{background-color:white;border-color:white}
.uk-light .uk-radio:checked:focus,
.uk-light .uk-checkbox:checked:focus,
.uk-light .uk-checkbox:indeterminate:focus{background-color:#e6e6e6}
.uk-light .uk-radio:checked{background-image:url("data:image/svg+xml;charset=UTF-8,%3Csvg%20width%3D%2216%22%20height%3D%2216%22%20viewBox%3D%220%200%2016%2016%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%0A%20%20%20%20%3Ccircle%20fill%3D%22%23666%22%20cx%3D%228%22%20cy%3D%228%22%20r%3D%222%22%20%2F%3E%0A%3C%2Fsvg%3E")}
.uk-light .uk-checkbox:checked{background-image:url("data:image/svg+xml;charset=UTF-8,%3Csvg%20width%3D%2214%22%20height%3D%2211%22%20viewBox%3D%220%200%2014%2011%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%0A%20%20%20%20%3Cpolygon%20fill%3D%22%23666%22%20points%3D%2212%201%205%207.5%202%205%201%205.5%205%2010%2013%201.5%22%20%2F%3E%0A%3C%2Fsvg%3E%0A")}
.uk-light .uk-checkbox:indeterminate{background-image:url("data:image/svg+xml;charset=UTF-8,%3Csvg%20width%3D%2216%22%20height%3D%2216%22%20viewBox%3D%220%200%2016%2016%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%0A%20%20%20%20%3Crect%20fill%3D%22%23666%22%20x%3D%223%22%20y%3D%228%22%20width%3D%2210%22%20height%3D%221%22%20%2F%3E%0A%3C%2Fsvg%3E")}
.uk-light .uk-form-label{color:#fff}
.uk-light .uk-form-icon{color:rgba(255, 255, 255, 0.5)}
.uk-light .uk-form-icon:hover{color:rgba(255, 255, 255, 0.7)}
.uk-light .uk-button-default{background-color:transparent;color:#fff;border-color:rgba(255, 255, 255, 0.7)}
.uk-light .uk-button-default:hover,
.uk-light .uk-button-default:focus{background-color:transparent;color:#fff;border-color:#fff}
.uk-light .uk-button-default:active,
.uk-light .uk-button-default.uk-active{background-color:transparent;color:#fff;border-color:#fff}
.uk-light .uk-button-primary{background-color:#fff;color:var(--c-lila)}
.uk-light .uk-button-primary:hover,
.uk-light .uk-button-primary:focus{background-color:var(--c-violeta);color:white}
.uk-light .uk-button-primary:active,
.uk-light .uk-button-primary.uk-active{background-color:var(--c-violeta);color:white}
.uk-light .uk-button-secondary{background-color:#fff;color:#666}
.uk-light .uk-button-secondary:hover,
.uk-light .uk-button-secondary:focus{background-color:#f2f2f2;color:#666}
.uk-light .uk-button-secondary:active,
.uk-light .uk-button-secondary.uk-active{background-color:#e6e6e6;color:#666}
.uk-light .uk-button-text{color:#fff}
.uk-light .uk-button-text::before{border-bottom-color:#fff}
.uk-light .uk-button-text:hover,
.uk-light .uk-button-text:focus{color:#fff}
.uk-light .uk-button-text:disabled{color:rgba(255, 255, 255, 0.5)}
.uk-light .uk-button-link{color:rgba(255, 255, 255, 0.5)}
.uk-light .uk-button-link:hover,
.uk-light .uk-button-link:focus{color:rgba(255, 255, 255, 0.7)}
.uk-light .uk-grid-divider >:not(.uk-first-column)::before{border-left-color:rgba(255, 255, 255, 0.2)}
.uk-light .uk-grid-divider.uk-grid-stack > .uk-grid-margin::before{border-top-color:rgba(255, 255, 255, 0.2)}
.uk-light .uk-close,
.uk-overlay-primary .uk-close,
.uk-offcanvas-bar .uk-close{color:rgba(255, 255, 255, 0.5)}
.uk-light .uk-close:hover,
.uk-light .uk-close:focus,
.uk-overlay-primary .uk-close:hover,
.uk-overlay-primary .uk-close:focus,
.uk-offcanvas-bar .uk-close:hover,
.uk-offcanvas-bar .uk-close:focus{color:rgba(255, 255, 255, 0.7)}
.uk-light .uk-totop{color:rgba(255, 255, 255, 0.5)}
.uk-light .uk-totop:hover,
.uk-light .uk-totop:focus{color:rgba(255, 255, 255, 0.7)}
.uk-light .uk-totop:active{color:#fff}
.uk-light .uk-marker{background:#f8f8f8;color:#666}
.uk-light .uk-marker:hover,
.uk-light .uk-marker:focus{color:#666}
.uk-light .uk-badge{background-color:#fff;color:#666}
.uk-light .uk-badge:hover,
.uk-light .uk-badge:focus{color:#666}
.uk-light .uk-label{background-color:#fff;color:var(--c-lila)}
.uk-light .uk-article-meta{color:rgba(255, 255, 255, 0.5)}
.uk-light .uk-search-input{color:rgba(255, 255, 255, 0.7)}
.uk-light .uk-search-input:-ms-input-placeholder{color:rgba(255, 255, 255, 0.5) !important}
.uk-light .uk-search-input::placeholder{color:rgba(255, 255, 255, 0.5)}
.uk-light .uk-search .uk-search-icon{color:rgba(255, 255, 255, 0.5)}
.uk-light .uk-search .uk-search-icon:hover{color:rgba(255, 255, 255, 0.5)}
.uk-light .uk-search-default .uk-search-input{background-color:transparent;border-color:rgba(255, 255, 255, 0.2)}
.uk-light .uk-search-default .uk-search-input:focus{background-color:transparent}
.uk-light .uk-search-navbar .uk-search-input{background-color:transparent}
.uk-light .uk-search-large .uk-search-input{background-color:transparent}
.uk-light .uk-search-toggle{color:rgba(255, 255, 255, 0.5)}
.uk-light .uk-search-toggle:hover,
.uk-light .uk-search-toggle:focus{color:rgba(255, 255, 255, 0.7)}
.uk-light .uk-nav-parent-icon > .uk-parent > a::after{background-image:url("data:image/svg+xml;charset=UTF-8,%3Csvg%20width%3D%2214%22%20height%3D%2214%22%20viewBox%3D%220%200%2014%2014%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%0A%20%20%20%20%3Cpolyline%20fill%3D%22none%22%20stroke%3D%22rgba%28255,%20255,%20255,%200.7%29%22%20stroke-width%3D%221.1%22%20points%3D%2210%201%204%207%2010%2013%22%20%2F%3E%0A%3C%2Fsvg%3E")}
.uk-light .uk-nav-parent-icon > .uk-parent.uk-open > a::after{background-image:url("data:image/svg+xml;charset=UTF-8,%3Csvg%20width%3D%2214%22%20height%3D%2214%22%20viewBox%3D%220%200%2014%2014%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%0A%20%20%20%20%3Cpolyline%20fill%3D%22none%22%20stroke%3D%22rgba%28255,%20255,%20255,%200.7%29%22%20stroke-width%3D%221.1%22%20points%3D%221%204%207%2010%2013%204%22%20%2F%3E%0A%3C%2Fsvg%3E")}
.uk-light .uk-nav-default > li > a{color:rgba(255, 255, 255, 0.5)}
.uk-light .uk-nav-default > li > a:hover,
.uk-light .uk-nav-default > li > a:focus{color:rgba(255, 255, 255, 0.7)}
.uk-light .uk-nav-default > li.uk-active > a{color:#fff}
.uk-light .uk-nav-default .uk-nav-header{color:#fff}
.uk-light .uk-nav-default .uk-nav-divider{border-top-color:rgba(255, 255, 255, 0.2)}
.uk-light .uk-nav-default .uk-nav-sub a{color:rgba(255, 255, 255, 0.5)}
.uk-light .uk-nav-default .uk-nav-sub a:hover,
.uk-light .uk-nav-default .uk-nav-sub a:focus{color:rgba(255, 255, 255, 0.7)}
.uk-light .uk-nav-default .uk-nav-sub li.uk-active > a{color:#fff}
.uk-light .uk-nav-primary > li > a{color:rgba(255, 255, 255, 0.5)}
.uk-light .uk-nav-primary > li > a:hover,
.uk-light .uk-nav-primary > li > a:focus{color:rgba(255, 255, 255, 0.7)}
.uk-light .uk-nav-primary > li.uk-active > a{color:#fff}
.uk-light .uk-nav-primary .uk-nav-header{color:#fff}
.uk-light .uk-nav-primary .uk-nav-divider{border-top-color:rgba(255, 255, 255, 0.2)}
.uk-light .uk-nav-primary .uk-nav-sub a{color:rgba(255, 255, 255, 0.5)}
.uk-light .uk-nav-primary .uk-nav-sub a:hover,
.uk-light .uk-nav-primary .uk-nav-sub a:focus{color:rgba(255, 255, 255, 0.7)}
.uk-light .uk-nav-primary .uk-nav-sub li.uk-active > a{color:#fff}
.uk-light .uk-navbar-nav > li > a{color:rgba(255, 255, 255, 0.5)}
.uk-light .uk-navbar-nav > li:hover > a,
.uk-light .uk-navbar-nav > li > a:focus,
.uk-light .uk-navbar-nav > li > a.uk-open{color:rgba(255, 255, 255, 0.7)}
.uk-light .uk-navbar-nav > li > a:active{color:#fff}
.uk-light .uk-navbar-nav > li.uk-active > a{color:#fff}
.uk-light .uk-navbar-item{color:rgba(255, 255, 255, 0.7)}
.uk-light .uk-navbar-toggle{color:rgba(255, 255, 255, 1)}
.uk-light .uk-navbar-toggle:hover,
.uk-light .uk-navbar-toggle:focus,
.uk-light .uk-navbar-toggle.uk-open{color:rgba(255, 255, 255, 0.7)}
.uk-light .uk-subnav > * >:first-child{color:rgba(255, 255, 255, 0.5)}
.uk-light .uk-subnav > * > a:hover,
.uk-light .uk-subnav > * > a:focus{color:rgba(255, 255, 255, 0.7)}
.uk-light .uk-subnav > .uk-active > a{color:#fff}
.uk-light .uk-subnav-divider >:nth-child(n+2):not(.uk-first-column)::before{border-left-color:rgba(255, 255, 255, 0.2)}
.uk-light .uk-subnav-pill > * >:first-child{background-color:transparent;color:rgba(255, 255, 255, 1)}
.uk-light .uk-subnav-pill > * > a:hover,
.uk-light .uk-subnav-pill > * > a:focus{background-color:rgba(255, 255, 255, 0.1);color:rgba(255, 255, 255, 0.7)}
.uk-light .uk-subnav-pill > * > a:active{background-color:rgba(255, 255, 255, 0.1);color:rgba(255, 255, 255, 0.7)}
.uk-light .uk-subnav-pill > .uk-active > a{background-color:#fff;color:#666}
.uk-light .uk-subnav > .uk-disabled > a{color:rgba(255, 255, 255, 0.5)}
.uk-light .uk-pagination > * > *{color:rgba(255, 255, 255, 0.5)}
.uk-light .uk-pagination > * >:hover,
.uk-light .uk-pagination > * >:focus{color:rgba(255, 255, 255, 0.7)}
.uk-light .uk-pagination > .uk-active > *{color:rgba(255, 255, 255, 0.7)}
.uk-light .uk-pagination > .uk-disabled > *{color:rgba(255, 255, 255, 0.5)}
.uk-light .uk-tab::before{border-color:rgba(255, 255, 255, 0.2)}
.uk-light .uk-tab > * > a{color:rgba(255, 255, 255, 0.5)}
.uk-light .uk-tab > * > a:hover,
.uk-light .uk-tab > * > a:focus{color:rgba(255, 255, 255, 0.7)}
.uk-light .uk-tab > .uk-active > a{color:#fff;border-color:#fff}
.uk-light .uk-tab > .uk-disabled > a{color:rgba(255, 255, 255, 0.5)}
.uk-light .uk-slidenav{color:rgba(255, 255, 255, 0.7)}
.uk-light .uk-slidenav:hover,
.uk-light .uk-slidenav:focus{color:rgba(255, 255, 255, 0.95)}
.uk-light .uk-slidenav:active{color:rgba(255, 255, 255, 0.7)}
.uk-light .uk-dotnav > * > *{background-color:transparent;border-color:rgba(255, 255, 255, 0.9)}
.uk-light .uk-dotnav > * >:hover,
.uk-light .uk-dotnav > * >:focus{background-color:rgba(255, 255, 255, 0.9);border-color:transparent}
.uk-light .uk-dotnav > * >:active{background-color:rgba(255, 255, 255, 0.5);border-color:transparent}
.uk-light .uk-dotnav > .uk-active > *{background-color:rgba(255, 255, 255, 0.9);border-color:transparent}
.uk-light .uk-accordion-title{color:#fff}
.uk-light .uk-accordion-title:hover,
.uk-light .uk-accordion-title:focus{color:rgba(255, 255, 255, 0.7)}
.uk-light .uk-iconnav > * > a{color:rgba(255, 255, 255, 0.5)}
.uk-light .uk-iconnav > * > a:hover,
.uk-light .uk-iconnav > * > a:focus{color:rgba(255, 255, 255, 0.7)}
.uk-light .uk-iconnav > .uk-active > a{color:rgba(255, 255, 255, 0.7)}
.uk-light .uk-text-lead{color:rgba(255, 255, 255, 0.7)}
.uk-light .uk-text-meta{color:rgba(255, 255, 255, 0.5)}
.uk-light .uk-text-muted{color:rgba(255, 255, 255, 0.5) !important}
.uk-light .uk-text-emphasis{color:#fff !important}
.uk-light .uk-text-primary{color:#fff !important}
.uk-light .uk-text-secondary{color:#fff !important}
.uk-light .uk-column-divider{column-rule-color:rgba(255, 255, 255, 0.2)}
.uk-light .uk-logo{color:rgba(255, 255, 255, 0.7)}
.uk-light .uk-logo:hover,
.uk-light .uk-logo:focus{color:rgba(255, 255, 255, 0.7)}
.uk-light .uk-logo >:not(.uk-logo-inverse):not(:only-of-type){display:none}
.uk-light .uk-logo-inverse{display:inline}
.uk-light .uk-accordion-title::before{background-image:url("data:image/svg+xml;charset=UTF-8,%3Csvg%20width%3D%2213%22%20height%3D%2213%22%20viewBox%3D%220%200%2013%2013%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%0A%20%20%20%20%3Crect%20fill%3D%22rgba%28255,%20255,%20255,%200.7%29%22%20width%3D%2213%22%20height%3D%221%22%20x%3D%220%22%20y%3D%226%22%20%2F%3E%0A%20%20%20%20%3Crect%20fill%3D%22rgba%28255,%20255,%20255,%200.7%29%22%20width%3D%221%22%20height%3D%2213%22%20x%3D%226%22%20y%3D%220%22%20%2F%3E%0A%3C%2Fsvg%3E")}
.uk-light .uk-open > .uk-accordion-title::before{background-image:url("data:image/svg+xml;charset=UTF-8,%3Csvg%20width%3D%2213%22%20height%3D%2213%22%20viewBox%3D%220%200%2013%2013%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%0A%20%20%20%20%3Crect%20fill%3D%22rgba%28255,%20255,%20255,%200.7%29%22%20width%3D%2213%22%20height%3D%221%22%20x%3D%220%22%20y%3D%226%22%20%2F%3E%0A%3C%2Fsvg%3E")}
.uk-lh-1{line-height:1}.uk-lh-1-2{line-height:1.2}