{% if is_front %}
    <div class="teaser_quotes">
        <img height="372" width="372" 
            class="teaser_img" alt="{{ node.field_img.0.alt }}" title="{{ node.field_img.0.title }}" 
            data-src="{{ file_url(node.field_img.0.entity.fileuri | image_style('372x372') ) }}" uk-img />
        <article class="teaser_body">
            <div>
                <p class="teaser_parrafo teaser_quote">"
                    {{ node.field_quotes.value }}"
                    <svg class="svg_64_rosa"><use xlink:href="#quotes"></use></svg>  
                </p>
                <h3 class="teaser_title">{{ label }}</h3>
                <p class="teaser_parrafo c_rosa">{{ node.field_cargo.value }}</p>
                <p class="teaser_small">{{ node.field_experiencia.value }}</p>
            </div>
        </article> 
    </div>
{% else %}
    <div class="cards--quotes uk-card uk-position-relative">
        <figure class="quotes-figure uk-width-4-5--size-m uk-margin-auto uk-margin-remove-bottom">
        <img height="372" width="372" 
            class="quotes-img uk-margin-auto"  
            alt="{{ node.field_img.0.alt }}" 
            title="{{ node.field_img.0.title }}" 
            data-src="{{ file_url(node.field_img.0.entity.fileuri | image_style('372x372') ) }}" uk-img /> 
        </figure>
        <article class="quotes--body uk-width-5-5 uk-margin-auto uk-text-center">
            <p class="uk-h4 arky-serif uk-margin-auto uk-width-3-5--size-s uk-width-2-5--size-m">"{{ node.field_quotes.value }}"</p>
        </article>
        <header class="quotes--header uk-width-5-5 uk-width-1-4--size-m uk-text-center uk-text-left--size-m uk-padding-medium-top uk-padding-small-bottom">
            <h3 class="uk-h1 arky-serif uk-margin-small-bottom uk-lh-1">{{ label }}</h3>
            <p class="color-rosa uk-margin-remove-top uk-margin-bottom uk-lh-1">{{ node.field_cargo.value }}</p>
            <p class="uk-lh-1 uk-margin-remove">{{ node.field_experiencia.value }}</p>
        </header>
    </div>
{% endif %}