<a class="footer_campus-link iflecha _rosa" href="{{ url }}">
    <h3>
        {#{% if node.field_campus_lista.0.getString() == 'campus_lista_01' %}Campus&nbsp;{% else %}Sede&nbsp;{% endif %}#}
        {% if node.field_campus_tipo.0.target_id == '32' %}Campus&nbsp;{% else %}Sede&nbsp;{% endif %}<br>
        {{ node.field_campus_name.value }}
    </h3>
    {% if node.field_direccion.value|length > 0 %}<p>{{ node.field_direccion.value }}</p>{% endif %}
    {% if node.field_telefono.value|length > 0 %}<p>{{ node.field_telefono.0.value }}</p>{% endif %}
    {#<svg class="svg_18_rosa" viewBox="0 0 18 18"><use xlink:href="#arrow_right"></use></svg>#}
</a>