{% if is_front %}
    
    {% if node.field_image[0].value|length > 0 %}
    <figure class="teaser_figure">
        <img class="teaser_img" alt="{{ node.field_image.0.alt }}" title="{{ node.field_image.0.title }}" height="302" width="438"  
            data-src="{{ file_url(node.field_image.0.entity.fileuri | image_style('438x302') ) }}" uk-img /> 
            <span class="teaser_badge">Novedades</span>
    </figure>
    {% endif %}
    <article class="teaser_body">
        <h3 class="teaser_title">{{ label }}</h3>
        <p class="teaser_parrafo">
            {{ '%s de %s del %s'|format(day, month|t, year) }}
        </p>
        <span class="boton_desnudo_flecha iflecha">Ver más</span>
    </article>

{% else %}

    <div class="cards--news uk-flex-middle uk-flex uk-flex-row uk-flex-wrap">
    
        {% if node.field_image[0].value|length > 0 %}
        <figure class="teaser-figure uk-card-media-top uk-border-rounded uk-overflow-hidden uk-width-1-1 uk-width-1-2--size-s uk-width-3-5--size-l">
            <img 
            class="teaser-img"  
            alt="{{ node.field_image.0.alt }}" 
            title="{{ node.field_image.0.title }}" 
            data-src="{{ file_url(node.field_image.0.entity.fileuri | image_style('438x302') ) }}" uk-img /> 
            <div class="uk-card-badge">
                <span class="uk-label uk-border-pill">Novedades</span> 
            </div>
        </figure>
        {% endif %}
        <article class="teaser-body uk-card-body uk-width-1-1 uk-width-1-2--size-s uk-width-2-5--size-l">
            <h3 class="uk-h3 uk-margin-small-bottom">{{ label }}</h3>
            <p>{{ '%s de %s del %s'|format(day, month|t, year) }}</p>
            <div class="button-arrow uk-button uk-button-default uk-margin-small-top uk-border-naked uk-border-pill">
                Ver más <span class="uk-position-center-right feather-arrow-right">
            </div>
        </article>

    </div>

{% endif %}