{% if is_front %}

    {% if node.field_image[0].value|length > 0 %}
        <figure class="teaser_figure">
            <img class="teaser_img"  height="302" width="438" 
            alt="{{ node.field_image.0.alt }}" title="{{ node.field_image.0.title }}" 
            data-src="{{ file_url(node.field_image.0.entity.fileuri | image_style('438x302') ) }}" uk-img />
            <span class="teaser_badge">Live</span>
        </figure>
    {% endif %}

        <article class="teaser_body">
            {% if node.field_tema.value|length > 0 %}
                <p class="teaser_parrafo">
                    {{ node.field_tema.value }}
                </p>
            {% endif %}
                <h3 class="teaser_title">{{ label }}</h3>
            {% if node.field_lugar.value|length > 0 %}
                <p class="teaser_parrafo">
                    Lugar: {{ node.field_lugar.value }}
                </p>
            {% endif %}
            {% if node.field_fecha.value|length > 0 %}
                <p class="teaser_parrafo">
                    {{ node.field_fecha.value }} &nbsp;&nbsp; {{ node.field_hora.value }}
                </p>
            {% endif %}
            <div class="boton_desnudo_flecha iflecha">Ver más</div>
        </article>

{% else %}

    <div class="cards--eventos">

    {% if node.field_image[0].value|length > 0 %}
    <figure class="teaser-figure uk-card-media-top uk-border-rounded uk-overflow-hidden uk-margin-remove-bottom">
        <img 
        class="teaser-img"  
        alt="{{ node.field_image.0.alt }}" height="302" width="438"  
        title="{{ node.field_image.0.title }}" 
        data-src="{{ file_url(node.field_image.0.entity.fileuri | image_style('438x302') ) }}" uk-img />
        <div class="uk-card-badge">
            <span class="uk-label uk-border-pill">Live</span> 
        </div>
    </figure>
    {% endif %}

    <article class="uk-card-body">
        {% if node.field_tema.value|length > 0 %}<p class="color-rosa uk-h4 uk-margin-small-bottom">{{ node.field_tema.value }}</p>{% endif %}
        <h3 class="uk-h1 uk-margin-small-top uk-margin-small-bottom arky-serif">{{ label }}</h3>
        {% if node.field_lugar.value|length > 0 %}<p class="uk-margin-remove">Lugar: {{ node.field_lugar.value }}</p>{% endif %}
        {% if node.field_fecha.value|length > 0 %}<p class="uk-margin-remove">{{ node.field_fecha.value }} &nbsp;&nbsp; {{ node.field_hora.value }}</p>{% endif %}
        <div class="uk-button button-arrow uk-button-default uk-border-pill uk-margin-medium-top uk-border-naked">
            Ver más <span class="uk-position-center-right feather-arrow-right">
        </div>
    </article>

    </div>

{% endif %}