{% if is_front %}

    {% if node.field_image[0].value|length > 0 %}
        <figure class="teaser_figure">
            <img class="teaser_img"  height="302" width="438" 
            alt="{{ node.field_image.0.alt }}" title="{{ node.field_image.0.title }}" 
            data-src="{{ file_url(node.field_image.0.entity.fileuri | image_style('438x302') ) }}" uk-img />
            <span class="teaser_badge">{{ node.field_tags.entity.name.value }}</span>
            {% if node.field_tags[0].value|length > 0 %}
            <span class="teaser_badge">{{ node.field_tags.entity.name.value }}</span>
            {% endif %}
        </figure>
    {% endif %}

        <article class="teaser_body"> 
                <h3 class="teaser_title">{{ label }}</h3>
            {% if node.field_lugar.value|length > 0 %}
                <p class="teaser_parrafo">
                    Lugar: {{ node.field_lugar.value }}
                </p>
            {% endif %}
            {% if node.field_fecha.value|length > 0 %}
                <p class="teaser_parrafo">
                    {{ '%s de %s del %s'|format(day, month|t, year) }}
                </p>
            {% endif %}
            <div class="boton_desnudo_flecha iflecha">
                Ver más
            </div>
        </article>

{% else %}

    <div class="cards--news">

    {% if node.field_image[0].value|length > 0 %}
    <figure class="teaser-figure uk-card-media-top uk-border-rounded uk-overflow-hidden uk-margin-remove">
        <img 
        class="teaser-img"  
        alt="{{ node.field_image.0.alt }}" 
        title="{{ node.field_image.0.title }}" 
        data-src="{{ file_url(node.field_image.0.entity.fileuri | image_style('438x302') ) }}" uk-img /> 
        {% if node.field_tags[0].value|length > 0 %}
        <div class="uk-card-badge">
            <span class="uk-label uk-border-pill uk-flex-inline uk-flex-center uk-flex-middle">
                {% if node.field_tags.entity.field_tx_icono[0].value|length > 0 %}
                <span class="color-rosa uk-margin-small-right">
                    <img class="uk-animation-stroke" src="{{ file_url(node.field_tags.entity.field_tx_icono.entity.uri.value) }}" alt="" uk-svg="stroke-animation: true" uk-img>
                </span>
                {% endif %}
                <span class="badge-text uk-text-small">{{ node.field_tags.entity.name.value }}</span>
            </span> 
        </div>
        {% endif %}
    </figure>
    {% endif %}
    <article class="uk-card-body">
        <h3 class="uk-h3 uk-margin-small-bottom">{{ label }}</h3>
        <p class="color-violeta uk-margin-remove-top uk-margin-small-bottom">{{ '%s de %s del %s'|format(day, month|t, year) }}</p>
        {% if node.field_pub_tipo.0.target_id in ['39'] %}
            <div class="uk-first-column proyecto-grupal uk-flex-middle uk-flex">
                {% for people_grupal in node.field_autor.entity.field_people_grupal %}
                <div class="uk-flex-inline autor-pic-{{ loop.index }}">
                    <div class="autor-pic uk-width-auto uk-border-pill">
                        <img 
                            class="teaser-img uk-border-pill"  
                            alt="{{ people_grupal.entity.field_px_foto.0.alt }}" 
                            title="{{ people_grupal.entity.field_px_foto.0.title }}" 
                            data-src="{{ file_url(people_grupal.entity.field_px_foto.0.entity.fileuri | image_style('45x45') ) }}" uk-img />  
                    </div> 
                </div>
                {% endfor %}
                <p class="uk-h5 uk-margin-remove uk-padding-small-left uk-flex-inline">{{ node.field_autor.entity.label }}</p> 
            </div>
        {% elseif node.field_pub_tipo.0.target_id in ['5', '38', '40'] %}
            {% for people in node.field_autor %}
            <div class="uk-grid-small uk-flex-middle uk-margin person" uk-grid>
                {% if people.entity.field_people_minipic[0].value|length > 0 %}
                <figure class="uk-width-auto uk-border-pill uk-margin-remove-bottom uk-padding-remove uk-margin-left">
                    <img 
                    class="teaser-img"  
                    alt="{{ people.entity.field_people_minipic.0.alt }}" 
                    title="{{ people.entity.field_people_minipic.0.title }}" 
                    data-src="{{ file_url(people.entity.field_people_minipic.0.entity.fileuri | image_style('30x30') ) }}" uk-img />  
                </figure>
                {% endif %}
                <article class="uk-width-expand"> 
                    <p class="uk-h5 uk-margin-remove">{{ people.entity.field_people_nombre.value }} {{ people.entity.field_people_apellido.value }}</p> 
                </article>
            </div>  
            {% endfor %}
        {% endif %}
        <div class="button-arrow uk-button uk-button-default uk-margin-small-top uk-border-pill uk-border-naked">
            Ver más <span class="uk-position-center-right feather-arrow-right">
        </div> 
    </article>

    </div>

{% endif %}