  <svg class="defs-only" data-url="{{ base_path }}themes/custom/tls/templates/+sprites/main.svg"></svg>
  <svg class="defs-only" data-url="{{ base_path }}themes/custom/tls/templates/+sprites/logo.svg"></svg>
  {% if is_front %}
  <svg class="defs-only" data-url="{{ base_path }}themes/custom/tls/templates/+sprites/products.svg"></svg>
  {% elseif node.getType in ['tls_core'] %}
  <svg class="defs-only" data-url="{{ base_path }}themes/custom/tls/templates/+sprites/interno.svg"></svg>
  {% endif %}