<div class="swiper-container-centered">
    <div class="swiper-wrapper">
    {% for row in rows %} 

      <div class="swiper-slide">
        {{- row.content -}}
      </div>

    {% endfor %}
    </div>
    <div class="swiper-pagination"></div>
    
    <div class="swiper-button-prev feather-chevron-left"></div>
    <div class="swiper-button-next feather-chevron-right"></div>
</div>

{{ attach_library('tls/swiper') }}