{#
/**
 * @file
 * Theme override to display a view of unformatted rows.
 *
 * Available variables:
 * - title: The title of this group of rows. May be empty.
 * - rows: A list of the view's row items.
 *   - attributes: The row's HTML attributes.
 *   - content: The row's content.
 * - view: The view object.
 * - default_row_class: A flag indicating whether default classes should be
 *   used on rows.
 *
 * @see template_preprocess_views_view_unformatted()
 */
#}
{% if title %}
  <h3>{{ title }}</h3>
{% endif %}
{% for row in rows %}
  {%
    set row_classes = [
      default_row_class ? 'views-row',
    ]
  %}
  {#<div{{ row.attributes.addClass(row_classes) }}>#}
    {% if loop.first %}
        <div class="uk-width-1-1 uk-width-1-2--size-s uk-width-3-5--size-m">
          {{- row.content -}}
        </div>
        <div class="uk-width-1-1 uk-width-1-2--size-s uk-width-2-5--size-m promocionado">
    {% elseif loop.last %}
        {{- row.content -}}</div>
    {% else %}
        {{- row.content -}} 
    {% endif %}
  {#</div>#}
{% endfor %}
