<ul class="eval_tiny-2" uk-grid>
{% for row in rows %} 
  <li>{{- row.content -}}</li>
{% endfor %}


{#
<p class="arrastrar uk-margin-auto uk-padding-remove">
  <img class="uk-flex-inline uk-margin-small-right" data-src="{{ base_path ~ directory }}/directos/arrastrar.png" uk-img /><small>Arrastra para navegar</small>
</p>
<div class="swiper-container-centered uk-width-1-1">
    <div class="swiper-wrapper">
    {% for row in rows %} 

      <div class="swiper-slide">
        {{- row.content -}}
      </div>

    {% endfor %}
    </div> 
</div>

{{ attach_library('tls/swiper') }}
#}