{#
/**
 * @file
 * Theme override to display a view of unformatted rows.
 *
 * Available variables:
 * - title: The title of this group of rows. May be empty.
 * - rows: A list of the view's row items.
 *   - attributes: The row's HTML attributes.
 *   - content: The row's content.
 * - view: The view object.
 * - default_row_class: A flag indicating whether default classes should be
 *   used on rows.
 *
 * @see template_preprocess_views_view_unformatted()
 */
#}
{#}
{% if title %}
  <h3>{{ title }}</h3>
{% endif %}
#}
 
{% if options.row_class_default %}
  {%
    set row_classes = [
      'views-row',
      options.alignment == 'horizontal' ? 'clearfix',
    ]
  %}
{% endif %}
{% if options.col_class_default %}
  {%
    set col_classes = [
      'views-col',
      options.alignment == 'vertical' ? 'clearfix',
    ]
  %}
{% endif %}

{% if title %}
  <h3>{{ title }}</h3>
{% endif %}

  {% if options.alignment == 'horizontal' %}
    <div class="uk-child-width-1-2--size-s uk-child-width-1-3--size-m uk-grid-small uk-grid uk-grid-large" uk-grid>
    {% for row in items %}
       
        {% for column in row.content %}
          
            {{- column.content -}}
           
        {% endfor %}
       
    {% endfor %}
    </div>
  {% else %}
    <div class="uk-child-width-1-2--size-s uk-grid-small uk-grid uk-grid-large" uk-grid>
    {% for column in items %}
       
        {% for row in column.content %}
           
            {{- row.content -}}
           
        {% endfor %}
       
    {% endfor %}
    </div>
  {% endif %}
