.calendar {
    background-color: var(--c-suave); width: 100%; height: 100px; border-top: 5px solid var(--c-lila);
    border-radius: .5rem; text-align: center; line-height: 1; padding-top: .75rem; margin-bottom: 1rem!important; }
.calendar_day { display: block; font-size: 48px; font-weight: 900; }
@media (min-width: 600px) {
.calendar { width: 100px; margin-right: 2rem!important; margin-bottom: 0!important; }
}

.intro { margin-bottom: 2.5rem; }
.header_grid { justify-content: start; align-items: center; }
.header_title { display: grid; flex-flow: column wrap; flex: 1;}
.title { font-weight: 900; font-size: 48px; line-height: 1; }
.subtitle { order: -1; font-size: 24px; margin-bottom: .5rem; }
@media (min-width: 600px) {
.title { font-size: 48px; }
}

.cuerpo { font-size: 18px; line-height: 1.5; }
.cuerpo > *:not(:first-child) { margin-top: 1rem; }
.cuerpo a { color: var(--c-rosa); display: inline-block; border-bottom: 1px dashed var(--c-rosa); }

.body_container { justify-content: space-between; }
.body_img { width: 100%; height: auto; border-radius: 1rem; margin-bottom: 1.5rem; }
.body_container aside { margin-top: 3rem; }
@media (min-width: 900px) {
.body_container main { width: 62%; }
.body_container aside { width: 35%; margin-top: 0; }
}
@media (min-width: 1200px) {
.body_container main { width: 70%; }
.body_container aside { width: 25%; }
}

.resumen {
    color: var(--c-rosa); font-size: 21px; line-height: 1.5; margin-bottom: 1.25rem;
    padding: 1rem 2rem; border-left: 5px solid var(--c-rosa); border-radius: 1rem; }