html { max-width: 100vw; overflow-x: hidden; }
img, svg { aspect-ratio: attr(width) / attr(height); }
body { overflow-x: hidden; }
body, body * { margin: 0; padding: 0; text-decoration: inherit; }
body { font-size: 14px; font-family: Helvetica, Arial, sans-serif; font-weight: 400; letter-spacing: 1px; }
@media (min-width: 20rem) { body { font-size: 16px; } }
*, *:before, *:after { box-sizing: border-box; }
ol, ul { list-style: none; }
h1, h2, h3, b, strong, h4, h5, h6 { font-weight: 400; line-height: 1; } 
figure { overflow: hidden; position: relative; }
img, svg { display: block; height: auto; object-fit: cover; object-position: center; }
fieldset { border: 0; }
.visually-hidden, .hidden, .sr-only, [hidden] { display: none; }
.defs-only { opacity:0; position: fixed; top:-1000%; left: -1000%; width: 0; height: 0; }

.logo { margin: auto!important; height:var(--head-height); }
.logo_movil{ width: 130px; height: var(--head-height); padding: .75rem .5rem; display:block; }
.logo_desktop{ width:100%; height: 77px; display:none; }

.header{
    border-bottom: 1px solid var(--c-sombra); background-color: white; 
    position:fixed; top:0; left:0; z-index:10; overflow: hidden;
    height:var(--head-height); width:100%; } 

.head_hamburger {
    border-left:1px solid #ccc; width:54px; font-size:24px; text-decoration:none; outline: 0;
    height:var(--head-height); position:absolute; top:0; right:0; color: var(--c-lila); 
    margin: 0; border: 0; background-color: transparent; line-height: 1; }
.head_hamburger > :last-child { opacity:0; }

.menu_top {
    height:var(--head-height); width:auto; 
    position:absolute; top:0; right:54px; }
.menu_top > ul { display: flex; flex-wrap: wrap; }
.menu_top li { min-width: 45px; padding-left: 0; text-align: center; }

.hipericon_item-4,
.no_form .hipericon_item-3 { display: none; }
.no_form .hipericon_item-4 { display: inline-flex; }

@media(min-width:900px) and (min-height:600px) { 

.header{ 
    border-right: 1px solid var(--c-sombra);
    width:var(--head-width)!important; height:100vh; }

.uk-sticky-placeholder{ display:none; }
.page{ margin-left:var(--head-width); }

.logo { 
    margin:auto; left:0; right:0; top:1rem; position:absolute;
    width:calc(var(--head-width) - 2rem); 
    height:calc(var(--head-width) - 2rem); } 
.logo_movil{ display:none; }
.logo_desktop{ display:block; }

.head_hamburger,
.head_goto { margin:auto; left:0; right:0; position:absolute!important; } 

}

.uk-modal {
    display:none; position:fixed; top:0; right:0; bottom:0; left:0; z-index:1010; 
    overflow-y:auto;-webkit-overflow-scrolling:touch; 
    padding:calc(1 * var(--sz-reg)) calc(1 * var(--sz-reg)); background: rgba(0, 0, 0, 0.6); 
    opacity:0;transition:opacity calc(var(--timer)/2) linear; }
.uk-modal.uk-open { opacity: 1; }