.backwards { 
    border: 1px solid var(--c-lila); color: var(--c-lila); margin-top: 2.5rem; padding: .75rem 1.5rem; border-radius: 2.5rem; display: inline-block;
    position: relative; transition-duration: var(--timer); transition-property: background-color, color; padding-left: 2.75rem; }
.backwards:hover { background-color: var(--c-lila); color: white; }
a.backwards svg { right: auto; left: 1.75rem; fill: var(--c-rosa); }

.tls_body { text-align: center; line-height: 1.5; }
.tls_title { font-size: 36px; font-weight: 900; margin-bottom: 1rem; }
.tls_maintitle { font-size: 48px; font-weight: 900; margin-bottom: 1rem; }
.tls_parrafo { text-align: justify; }
.tls_body + .tls_img { margin-top: 1.5rem; margin-left: auto; margin-right: auto; }
.tls_left + .tls_body { margin-top: 1.5rem; }
.tls_img { border-radius: 1rem; max-width: 80%; }
@media (min-width: 600px) {
.tls_texto { align-items: center; }
.tls_body { flex: 1; text-align: left; }
.tls_body + .tls_img { margin-left: 2.5rem; margin-top: 0; max-width: 35%; }
.tls_left + .tls_body { margin-left: 2.5rem; margin-top: 0; }
}
@media (min-width: 900px) {
.tls_img { max-width: 445px; }   
}