{% if node.field_core_curso_objs[0].value|length > 0 %}
<section class="uk-section bg_clr-celeste"> 
<div class="uk-container">
<div uk-grid>
                
<header class="tls_left">
{% for tabs in node.field_core_curso_objs %}
<h3 class="tls_maintitle">{{ tabs.entity.field_px_titulo.value }}</h3>
{% endfor %} 
</header>
{% for tabs in node.field_core_curso_objs %}
<article class="tls_body tls_list">{{ tabs.entity.field_px_ow_body.value|raw }}</article>
{% endfor %}  

</div>
</div>
</section>
{% endif %}