{% if node.field_core_sedes[0].value|length > 0 %}
{% set section_attr = create_attribute() %}
{% set section_class = [
    "uk-section", "page",
    (node.field_core_tipo.0.target_id in ['1', '2']) ? "bg_clr-rosa" : "bg_clr-celeste"
] %}
<section{{ section_attr.addClass(section_class) }}>

<header class="tls_header uk-container alinear_izq alinear_cen">
<h3 class="tls_header-title"><span>Conoce dónde</span><br><span class="stroke">aprenderás</span></h3>
</header>

<div class="uk-container container_small">
<div class="slider_container uk-slider-container" tabindex="-1" uk-slider="autoplay: true; center: true;">

<ul class="uk-slider-items slider_items">
{% for campus in node.field_core_sedes %}
<li class="uk-slider-item slider_item">
<a href="{{ path('entity.node.canonical', {'node': campus.entity.id()  }) }}" class="teaser_link">
<figure class="teaser_figure">
<img class="teaser_img" alt="{{ campus.entity.field_campus_img.0.alt }}" title="{{ campus.entity.field_campus_img.0.title }}" 
    data-src="{{ file_url(campus.entity.field_campus_img.0.entity.fileuri | image_style('438x302') ) }}" width="438" height="302" uk-img />
<span class="teaser_badge badge_online">Online</span>
</figure>
<article class="teaser_body">
<h3 class="teaser_title">
{% if campus.entity.field_campus_tipo.0.target_id == '32' %}Campus&nbsp;{% else %}Sede&nbsp;{% endif %}{{ campus.entity.field_campus_name.value }}
</h3>
<p class="teaser_parrafo">{{ campus.entity.field_direccion.value }}</p>
<div class="boton_desnudo_flecha iflecha">Explorar campus</div>
</article>
</a>
</li>
{% endfor %} 
</ul>
<a class="boton_redondo_left icon_svg_18_rosa imundo ihipericon" href="#" uk-slidenav-previous uk-slider-item="previous" data-mundo="chevron_left"></a>
<a class="boton_redondo_right icon_svg_18_rosa imundo ihipericon" href="#" uk-slidenav-next uk-slider-item="next" data-mundo="chevron_right"></a>

</div>
</div>

</section>

{% endif %}