{% if node.field_core_brochure[0].value|length > 0 %}
{% for brochure in node.field_core_brochure %}
<section class="uk-section bg_clr-violeta page brochure">
<header class="tls_header">
<h3 class="tls_header-title">
<span class="marquee"><span>{{ brochure.entity.field_px_ow_tits.entity.field_px_tit_sup.value }}</span></span>
<span class="marquee stroke"><span>{{ brochure.entity.field_px_ow_tits.entity.field_px_tit_inf.value }}</span></span>
</h3>
</header>
<div class="uk-container">
<div class="tls_texto uk-grid" uk-grid>
<article class="tls_body">
<div class="tls_parrafo">{{ brochure.entity.field_px_ow_body.value|raw }}</div>
<a class="boton_calato backwards ileft" data-svg="download" href="{{ file_url(brochure.entity.field_px_ow_file.entity.uri.value) }}" target="_blank">
Descargar brochure</a>
</article>
{% if brochure.entity.field_px_ow_img[0].value|length > 0 %}
<img class="tls_img" alt="{{ brochure.entity.field_px_ow_img.0.alt }}" title="{{ brochure.entity.field_px_ow_img.0.title }}" 
data-src="{{ file_url(brochure.entity.field_px_ow_img.0.entity.fileuri | image_style('445x542') ) }}" width="445" height="542" uk-img />
</div>
{% endif %}
</div>
</section>
{% endfor %}
{% endif %}