{% if node.field_core_slider_corto[0].value|length > 0 %}
<section class="uk-section page bg_blanco">

<header class="tls_header uk-container alinear_izq alinear_cen">
<h3 class="tls_header-title">
{% if node.field_core_tipo.0.target_id in ['1', '2'] %}
<span>Nuestros</span><br><span class="stroke">Convenios</span>
{% elseif node.field_core_tipo.0.target_id in ['3', '4'] %}
<span>¿A quién esta</span><br><span class="stroke">dirigido?</span>
{% endif %} 
</h3>
</header>

<div class="uk-container">
<ul class="solo_items" uk-grid>
{% for slider in node.field_core_slider_corto %}
<li class="solo_item">
<article class="teaser_body">
{% if node.field_core_tipo.0.target_id in ['1', '2'] %}
<p class="teaser_title c_rosa">{{ slider.entity.field_px_tit_sup.value }}</p>
<p class="teaser_parrafo">{{ slider.entity.field_px_tit_inf.value }}</p>
{% elseif node.field_core_tipo.0.target_id in ['3', '4'] %}
<p class="teaser_title c_celeste">
{{ slider.entity.field_px_tit_sup.value }}
{% if slider.entity.field_px_tit_inf[0].value|length > 0 %}<br>{{ slider.entity.field_px_tit_inf.value }}{% endif %}</p>
{% endif %} 
</article>
</li>
{% endfor %}
</div>

</section>
{% endif %} 