{% if node.field_core_aid[0].value|length > 0 %}
<section class="uk-section bg_clr-celeste page inicios pie">
<header class="tls_header uk-container alinear_izq alinear_cen">
<h3 class="tls_header-title"><span>¿Necesitas</span> <span class="stroke">ayuda?</span>
</h3>
</header>
<div class="uk-container">
<ul class="solo_items uk-grid" uk-grid>
{% for ayuda in node.field_core_aid %}
<li class="solo_item">
<article class="help">
<h4 class="help_title">{{ ayuda.entity.field_px_ow_tits.entity.field_px_tit_sup.value }}</h4>
{% if ayuda.entity.field_px_ow_body[0].value|length > 0 %}
<div class="help_parrafo">{{ ayuda.entity.field_px_ow_body.value|raw }}</div>
{% endif %}
{% if ayuda.entity.field_px_ow_link[0].value|length > 0 %}
<a href="{{ ayuda.entity.field_px_ow_link.0.url }}" class="boton_calato_flecha iflecha">
{{ ayuda.entity.field_px_ow_link.title }}
</a>
{% endif %}
</article>
</li>
{% endfor %}
</ul>          
</div>
</section>
{% endif %}