{% if node.field_core_docentes[0].value|length > 0 %}
<section class="uk-section page bg_clr-celeste">
<header class="tls_header uk-container alinear_izq alinear_cen">
<h3 class="tls_header-title"><span>Docentes</span><br><span class="stroke">del diplomado</span>
</h3>
</header>
<div class="uk-container">
<ul class="solo_items" uk-grid>
{% for docente in node.field_core_docentes %}
<li class="solo_item">
<article class="teaser_body">
<p class="teaser_title">{{ docente.entity.field_people_nombre.value }} {{ docente.entity.field_people_apellido.value }}</p>
</article>
</li>
{% endfor %}
</div>
</section>
{% endif %}