<section class="bg_blanco page">
<div class="uk-container">
<a class="backwards ileft" data-svg="grilla" href="./">
{% if node.field_core_tipo.0.target_id in ['1', '2'] %}
Ir a carreras
{% elseif node.field_core_tipo.0.target_id in ['2'] %}
Ir a carreras técnicas
{% elseif node.field_core_tipo.0.target_id in ['3'] %}
Ir a cursos
{% elseif node.field_core_tipo.0.target_id in ['4'] %}
Ir a diplomados
{% endif %}
</a>
</div>
</section>