{% if node.field_core_detalle[0].value|length > 0 %}
{% for arky in node.field_core_detalle %}

{% set section_attr = create_attribute() %}
{% set section_class = [
    "uk-section", "page",
    (arky.entity.field_px_color.0.target_id == '8') ? "bg_clr-lila" : "",
    (arky.entity.field_px_color.0.target_id == '7') ? "bg_clr-rosa" : "",
    (arky.entity.field_px_color.0.target_id == '37') ? "bg_clr-celeste" : "",
    (arky.entity.field_px_color.0.target_id == '25') ? "bg_suave" : "",
    (node.field_core_tipo.0.target_id in ['1', '2']) ? "agenda_carreras" : "agenda_cursos"
] %}
<section{{ section_attr.addClass(section_class) }} uk-scrollspy="cls: uk-animation-fade; target: .uk-card; delay: 500;">

{% for arky_header in node.field_core_detalle.entity.field_px_ow_tits %}
<header class="tls_header uk-container alinear_izq alinear_cen">
<h3 class="tls_header-title"><span>{{ arky_header.entity.field_px_tit_sup.value }}</span>&nbsp;<span class="stroke">{{ arky_header.entity.field_px_tit_inf.value }}</span></h3>
{% if arky_header.entity.field_px_subtitular[0].value|length > 0 %}
<p class="tls_header-sub">{{ arky_header.entity.field_px_subtitular.value }}</p>
{% endif %}
</header>
{% endfor %}

<div class="uk-container">
<ul class="agenda" uk-accordion>
{% for arky_acordeon in arky.entity.field_px_acordeon %}
<li class="agenda_item{% if loop.first %} uk-open{% endif %}">

<a class="agenda_link uk-accordion-title imundo" data-mundo="arrow_down" uk-grid href="#">
<div class="agenda_link-box">
{% if arky_acordeon.entity.field_px_core_tipo[0].value|length > 0 %}
<span class="agenda_link-name">
{% if arky_acordeon.entity.field_px_core_tipo.0.getString() == 'px_core_tipo_modulo' %}Módulo{% else %}Curso{% endif %}
</span>
{% endif %}
<span class="agenda_link-loop">{{ loop.index }}</span>
</div>
<h4 class="agenda_link-title">{{ arky_acordeon.entity.field_px_titulo.value }}</h4>
</a>

<div class="agenda_body uk-accordion-content tls_body tls_list">
{% if arky_acordeon.entity.field_px_ow_body[0].value|length > 0 %}
<h4 class="agenda_body-desc">
<span>Descripción</span> 
{% if arky_acordeon.entity.field_px_sesiones[0].value|length > 0 %}
<span>Sesiones: {{ arky_acordeon.entity.field_px_sesiones.value }}</span>
{% endif %}
</h4>
{{ arky_acordeon.entity.field_px_ow_body.value|raw }}
{% endif %}
{% if arky_acordeon.entity.field_px_listado[0].value|length > 0 %}
<ul>
{% for arky_acordeon_lista in arky_acordeon.entity.field_px_listado %}
<li>{{ arky_acordeon_lista.value }}</li>
{% endfor %}
</ul>
{% endif %}
</div>

</li>
{% endfor %}
</ul>
</div>

</section>

{% endfor %}
{% endif %}