{% set section_attr = create_attribute() %}
{% set section_class = [
    'uk-section', 'page', 'logro',
    (node.field_core_tipo.0.target_id in ['1', '2']) ? "bg_clr-rosa" : "bg_clr-celeste"
] %}
<section{{ section_attr.addClass(section_class) }}>
<div class="uk-container">
<span class="logro_icon ileft" data-svg="award"></span>
<p class="logro_text">Al culminar {% if node.field_core_tipo.0.target_id in ['1', '2'] %}tu carrera{% elseif node.field_core_tipo.0.target_id in ['3'] %}el curso{% elseif node.field_core_tipo.0.target_id in ['4'] %}el diplomado{% endif %}, <span class="stroke">se otorga:</span></p>
<p class="logro_prep">{% if node.field_core_tipo.0.target_id in ['1'] %}El Título Profesional y <br>el Grado de Bachiller en:{% elseif node.field_core_tipo.0.target_id in ['2'] %}El Título Profesional Técnico y <br>el Grado de Bachiller Técnico en:{% elseif node.field_core_tipo.0.target_id in ['3', '4'] %}El Diploma de:{% endif %}</p>
<p class="logro_destaca">{{ label }}</p>
</div>
</section>