{%
  set body_classes = [
    not root_path ? 'body--home' : 'body--' ~ root_path|clean_class,
    language ? 'body--lang-' ~ language|clean_class,
    not logged_in ? 'body--off' : 'body--in',
    not node_type ? 'body--type-off' : 'body--type-' ~ node_type|clean_class,
    term_id ? 'body--tx-' ~ term_id
  ]
%}



<!DOCTYPE html>

<html{{ html_attributes }}>

  <head>
  
    <head-placeholder token="{{ placeholder_token|raw }}">
    <title>{{ head_title|safe_join(' | ') }}</title>
    <js-placeholder token="{{ placeholder_token|raw }}">
{#
    <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
    new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
    j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
    'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
    })(window,document,'script','dataLayer','GTM-KQDCR4V');</script>
#}
    {% if logged_in %}  
      {{ attach_library('tls/uk.logged') }}
    {% endif %}

  </head>

<body id="tls" {{ attributes.addClass(body_classes) }}>

  {% include '@tls/+sprites/_main.html.twig' %}
{#
  {% if not logged_in %}  
    {% include '@tls/@loader/loader.html.twig' ignore missing %}   
  {% endif %}
#}
  <style media="all"> 
    {% include '@tls/+inlines/i.css' ignore missing %}
    {% if is_front %}
      {% include '@tls/+inlines/i.home.css' ignore missing %}
    {% endif %}
  </style>  

  <style>
     #testing { display: none; } 
     .no-visible { display: none!important; } 
     #testing.visible { display: block; }
     .chattigo-activa { 
      width: 60px; height: 60px; box-shadow: 0 0 15px rgb(80 80 80 / 50%); border-radius: 50%!important; padding: 0!important;
      position: fixed!important; z-index: 11; bottom: .5rem; right: 5rem; background-color: white!important; }
      @media (min-width: 480px) { .chattigo-activa { bottom: 2.5rem; right: 8rem; } }
  </style>
    
    {{ page_top }}
    {{ page }}
    {{ page_bottom }}

    <css-placeholder token="{{ placeholder_token|raw }}">
    <js-bottom-placeholder token="{{ placeholder_token|raw }}">
{#}
        <script>

function xxx() {
  var testing = document.getElementById('testing');
  var chattigo_activa = document.getElementById('chattigo_activa');
  testing.classList.toggle('visible'); 
  chattigo_activa.classList.toggle('no-visible');
  setCookie("modalDisplay", false, 365);
}
function setCookie(cname, cvalue, exdays) {
    var d = new Date();
    d.setTime(d.getTime() + (exdays * 24 * 60 * 60 * 1000));
    var expires = "expires="+d.toUTCString();
    document.cookie = cname + "=" + cvalue + ";" + expires + ";path=/";
}
function getCookie(cname) {
    var name = cname + "=";
    var ca = document.cookie.split(';');
    for(var i = 0; i < ca.length; i++) {
        var c = ca[i];
        while (c.charAt(0) == ' ') {
            c = c.substring(1);
        }
        if (c.indexOf(name) == 0) {
            return c.substring(name.length, c.length);
        }
    }
    return "";
}
function documentLoad(){
  modalDisplay = getCookie( 'modalDisplay' );
  if( !modalDisplay ){
    closeModal();
  }
}
documentLoad();

    </script>

    <button id="chattigo_activa" class="chattigo-activa uk-button uk-button-default" uk-toggle="target: #modal-center" uk-toggle>
      <img data-src="https://www.toulouselautrec.edu.pe/sites/default/files/chat-tls.png" uk-img />
    </button>

    <div id="modal-center" class="uk-flex-top" uk-modal>
        <div class="uk-modal-dialog uk-modal-body uk-margin-auto-vertical uk-text-center">

            <a href="#" class="uk-modal-close uk-position-right">Cerrar<span class="feather-x"></span></a>

            <p class="uk-heading-4">Chat Toulouse</p>

            <p>He leído las <a href="{{ url('<front>') }}/politicas-privacidad" rel="noopener noreferrer" target="_blank" class="uk-link">Políticas Generales de Privacidad</a> referidas al tratamiento de mis datos personales.<br>
            Acepto se utilicen mis datos personales para fines comerciales y publicitarios.</p> 

            <div><div style="text-align: center; display: flex; justify-content: center; align-items: center; width: 100%; padding-left: 2rem">
            <button class="uk-button uk-button-primary click-me uk-modal-close" type="button" id="btn2" onclick="xxx();" style="max-height: 100%; margin: 0 .25rem;">Sí, acepto</button>
            <button class="uk-button uk-button-default uk-modal-close" type="button" style="max-height: 100%; margin: 0 .25rem; background-color: #fefefe; border-color: #fefefe">No acepto</button>  
            </div></div>  
            <br> 

        </div> 
    </div>#}
{#
    <div id="testing" class="chattigo">
    <app-widget-root did="CanalBidireccional@WC" remote="true"></app-widget-root>
    </div>

    <script>
        widget = document.querySelector("app-widget-root");
          document.addEventListener("DOMContentLoaded", function () {
           widget.init(); 
           widget.expandChat();
        });
    </script>

    <script src="https://cdn-widgets.chattigo.com/webchat-widget.js"></script>#}
{#
    <link rel="preload" href="{{ url('<front>')|render }}/themes/custom/tls/assets/css/font/Gilroy-ExtraBold.woff2" as="font" type="font/woff2" crossorigin>
    <link rel="preload" href="{{ url('<front>')|render }}/themes/custom/tls/assets/css/font/Gilroy-Heavy.woff2" as="font" type="font/woff2" crossorigin>
    <link rel="preload" href="{{ url('<front>')|render }}/themes/custom/tls/assets/css/font/Gilroy-SemiBold.woff2" as="font" type="font/woff2" crossorigin> #}

    {#<link rel="prefetch" href="https://cdnjs.cloudflare.com/ajax/libs/uikit/3.5.6/js/uikit.min.js" as="script" type="text/javascript" crossorigin>#}

    <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-KQDCR4V" height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>

  </body>
</html>