<!DOCTYPE html>
<html{{ html_attributes }}>
<head>
<title>{{ head_title|safe_join(' | ') }}</title>
<style>
html { max-width: 100vw; overflow-x: hidden; }
img, svg { aspect-ratio: attr(width) / attr(height); }
body { overflow-x: hidden; }
body, body * { margin: 0; padding: 0; text-decoration: inherit; }
body { font-size: 14px; font-family: Helvetica, Arial, sans-serif; font-weight: 400; letter-spacing: 1px; }
@media (min-width: 20rem) { body { font-size: 16px; } }
*, *:before, *:after { box-sizing: border-box; }
ol, ul { list-style: none; }
h1, h2, h3, b, strong, h4, h5, h6 { font-weight: 400; line-height: 1; } 
figure { overflow: hidden; position: relative; }
img, svg { display: block; height: auto; object-fit: cover; object-position: center; }
fieldset { border: 0; }

.chattigo-widget {
    width: 100%!important;
    height: 100%!important;
    right: 0!important;
    bottom: 0!important;
    margin: 0!important;
    border-radius: 1rem!important;
    max-height: 100vh!important; }
a.chattigo-widget__close-icon {
    display: none!important; }
</style>     
</head>
<body id="chat">  
<app-widget-root did="CanalBidireccional@WC" remote="true"></app-widget-root>
<script>
widget = document.querySelector("app-widget-root");
document.addEventListener("DOMContentLoaded", function () {
    widget.init(); 
    widget.expandChat();
});
</script>
<script src="https://cdn-widgets.chattigo.com/webchat-widget.js"></script>
</body>
</html>