{% import _self as menu %}

{{ menu.menu_links(items, attributes, 0) }}

{% macro menu_links(items, attributes, menu_level) %}
  <ul class="menu menu--principal menu-level-{{ items|first.menu_level }}">
  {% for key, item in items if key|first != '#' %}
    {% set menu_item_classes = [
      'menu-item', 'menu--principal-item',
      item.is_expanded ? 'menu-item--expanded',
      item.is_collapsed ? 'menu-item--collapsed',
      item.in_active_trail ? 'menu-item--active-trail',
    ] %}

    {%
        set link_classes = [
          'menu--principal-link', 'uk-h1', 'uk-margin-remove', 'uk-padding-top', 'uk-padding-bottom', 'uk-display-block', 'uk-text-left',
          item.is_expanded ? 'menu-link-expanded',
        ]
      %}

    <li{{ item.attributes.addClass(menu_item_classes) }}>
      {{ link(item.title, item.url, item.attributes.addClass(link_classes)) }}
      {% set rendered_content = item.content|without('') %}
      {% if rendered_content|render %}
        {{ rendered_content }}
      {% endif %}
    </li>
  {% endfor %}
  </ul>
{% endmacro %}