{% import _self as menu %}

{{ menu.menu_links(items, attributes, 0) }}

{% macro menu_links(items, attributes, menu_level) %}
  <ul class="menu menu_principal menu-level-{{ items|first.menu_level }}" uk-tab="active: 10">
  {% for key, item in items if key|first != '#' %}
    {% set menu_item_classes = [
      'menu_item', 'menu_principal-item',
      item.is_expanded ? 'menu_item--expanded',
      item.is_collapsed ? 'menu_item--collapsed',
      item.in_active_trail ? 'menu_item--active-trail',
    ] %}

    {%
        set link_classes = [
          'menu_principal-link', 
          item.is_expanded ? 'menu-link-expanded',
        ]
      %}

    <li{{ item.attributes.addClass(menu_item_classes) }}>
      {{ link(item.title, item.url, item.attributes.addClass(link_classes)) }}
      {% set rendered_content = item.content|without('') %}
      {% if rendered_content|render %}
        {{ rendered_content }}
      {% endif %}
    </li>
  {% endfor %}
  </ul>
{% endmacro %}