{% import _self as menu %}
{{ menu.build_menu_link_content(attributes, menu_link_content, show_item_link, content, elements) }}
{% macro build_menu_link_content(attributes, menu_link_content, show_item_link, content, elements) %}
{% set menu_dropdown_classes = 'drop_menu' %}

<nav{{ attributes.addClass(menu_dropdown_classes).setAttribute('uk-drop', 'mode: click') }}>
  <div class="uk-card bg_clr-rosa">
    <button class="button_return uk-drop-close" type="button" uk-close>
      <svg class="svg_24_blanco"><use xlink:href="#arrow_left"></use></svg>  Volver atrás
    </button>
    {% if show_item_link %}
      {{ link(menu_link_content.getTitle(), menu_link_content.getUrlObject()) }}
    {% endif %}
    {% if content %}
      {{ content }}
    {% endif %}
  </div>
</nav>
{% endmacro %}