{% import _self as menu %}

{{ menu.menu_links(items, attributes, 0) }}

{% macro menu_links(items, attributes, menu_level) %}
  <ul class="menu menu-level-{{ items|first.menu_level }}">
  {% for key, item in items if key|first != '#' %}
    {% set menu_item_classes = [
      'menu-item',
      item.is_expanded ? 'menu-item--expanded',
      item.is_collapsed ? 'menu-item--collapsed',
      item.in_active_trail ? 'menu-item--active-trail',
    ] %}
    {% set link_classes_sub = 'menu_principal-sublink' %} 

    <li{{ item.attributes.addClass(menu_item_classes) }}>
      <svg class="svg_24_blanco"><use xlink:href="#arrow_right"></use></svg> 
      {{ link(item.title, item.url, item.attributes.removeClass(menu_item_classes).addClass(link_classes_sub)) }}

      {% set rendered_content = item.content|without('') %}
      {% if rendered_content|render %}
        {{ rendered_content }}
      {% endif %}
    </li>
  {% endfor %}
  </ul>
{% endmacro %}