{%
  set classes = [
    'bef-links',
    is_nested ? 'bef-nested'
  ]
%}
{%
  set is_nested = true
%}

<button class="uk-button uk-button-default" type="button">Año <span class="feather-chevron-down"></span></button>
<div{{ attributes.addClass(classes).setAttribute('uk-dropdown', '') }}>
  {% set current_nesting_level = 0 %}
  {% for child in children %}
    {% set item = attribute(element, child) %}
    {% set new_nesting_level = attribute(depth, child) %}
      {% include '@tls/better_exposed_filters/bef-nested-elements.html.twig' %}
    {% set current_nesting_level = new_nesting_level %}
  {% endfor %}
</div>