<link rel="preload" href="{{ base_path }}themes/custom/tls/assets/css/font/Gilroy-Heavy.woff2" as="font" type="font/woff2" crossorigin />
<link rel="preload" href="{{ base_path }}themes/custom/tls/assets/css/font/Gilroy-SemiBold.woff2" as="font" type="font/woff2" crossorigin /> 