<link rel="preload" href="{{ base_path }}themes/custom/tls/assets/css/arky/css.css" as="style" onload="this.rel='stylesheet'">
<noscript><link rel="stylesheet" href="{{ base_path }}themes/custom/tls/assets/css/arky/css.css"></noscript>

{% if is_front %}
<link rel="preload" href="{{ base_path }}themes/custom/tls/assets/css/arky/css.home.css" as="style" onload="this.rel='stylesheet'">
<noscript><link rel="stylesheet" href="{{ base_path }}themes/custom/tls/assets/css/arky/css.home.css"></noscript>
{% endif %}

{% if node.getType in ['tls_core'] %}
<link rel="preload" href="{{ base_path }}themes/custom/tls/assets/css/arky/css.core.css" as="style" onload="this.rel='stylesheet'">
<noscript><link rel="stylesheet" href="{{ base_path }}themes/custom/tls/assets/css/arky/css.core.css"></noscript>
{% endif %}

{% if ( node.getType in ['article'] and node.field_pub_tipo.0.target_id in ['6', '38'] ) %}
<link rel="preload" href="{{ base_path }}themes/custom/tls/assets/css/arky/css.article.css" as="style" onload="this.rel='stylesheet'">
<noscript><link rel="stylesheet" href="{{ base_path }}themes/custom/tls/assets/css/arky/css.article.css"></noscript>
{% endif %}