<head-placeholder token="{{ placeholder_token|raw }}">
<title>{{ head_title|safe_join(' | ') }}</title>
<js-placeholder token="{{ placeholder_token|raw }}">     

{% if logged_in %}  
    {{ attach_library('tls/logged') }}
{% endif %}