<style>
{% include '@tls/+inlines/i.css' ignore missing %}

{% if is_front %}
{% include '@tls/+inlines/i.home.css' ignore missing %}
{% endif %}

{% if ( node.getType in ['tls_core'] or (node.id in ['78']) or ( node.getType in ['article'] and node.field_pub_tipo.0.target_id in ['6', '38'] ) ) %}
{% include '@tls/+inlines/i.interno.css' ignore missing %}
{% endif %}

{% if node.getType in ['tls_core'] %}
{% include '@tls/+inlines/i.core.css' ignore missing %}
{% endif %}

{% if ( node.getType in ['article'] and node.field_pub_tipo.0.target_id in ['6', '38'] ) %}
{% include '@tls/+inlines/i.article.css' ignore missing %} 
{% endif %}
</style>