<link rel="dns-prefetch" href="https://widgets-api.embluemail.com">
<link rel="dns-prefetch" href="https://widgets-static.embluemail.com">
<link rel="dns-prefetch" href="https://predictable-gcp.web.app">
<link rel="dns-prefetch" href="https://www.google-analytics.com">
<link rel="dns-prefetch" href="https://www.googletagmanager.com">
<link rel="dns-prefetch" href="https://www.facebook.com">
<link rel="dns-prefetch" href="https://toulouse-predictable.firebaseapp.com">
<link rel="dns-prefetch" href="https://toulouse-261516.firebaseapp.com">
<link rel="dns-prefetch" href="https://connect.facebook.net"> 
<link rel="dns-prefetch" href="https://cdn.embluemail.com">