<section id="toulouse_lautrec" class="page slider_tls" tabindex="-1" uk-slideshow="autoplay: true; animation: pull; autoplay-interval: 6000">

<ul class="slider_tls-items uk-slideshow-items" style="min-height: 700px">
{% for banner in node.field_banner %}
{% if banner.entity.field_goes.value == '1' %}
{% else %}
    
{% if not loop.first %}
<li class="slider_tls-item" data-src="{{ file_url( banner.entity.field_px_img.entity.fileuri ) }}" uk-img>
{% else %}
<li id= "slider_1" class="slider_tls-item">
{% endif %}
    
<div class="slider_tls-container">

<p class="banner_title" uk-slider-parallax="x: 100,-100; opacity: 1,1,0">
{% if banner.entity.field_px_posicion.0.target_id == '24' %}
<span>{{ banner.entity.field_px_tit_sup.value }}</span>
<span class="stroke">{{ banner.entity.field_px_tit_inf.value }}</span>
{% else %}
<span class="stroke">{{ banner.entity.field_px_tit_sup.value }}</span>
<span>{{ banner.entity.field_px_tit_inf.value }}</span>
{% endif %}
</p>
                    
{% if banner.entity.field_px_parrafo[0].value|length > 0 %}
<p class="banner_body" uk-slider-parallax="x: 200,-200; opacity: 1,1,0">
{{ banner.entity.field_px_parrafo.value }}
</p>
{% endif %}
            
{% if banner.entity.field_px_link[0].value|length > 0 %}
<a class="banner_button is_button iflecha _rosa" href="{{ banner.entity.field_px_link.0.url }}" uk-slider-parallax="x: 300,-300; opacity: 1,1,0">
{{ banner.entity.field_px_link.title }}
</a>
{% endif %}
</div>
                    
{% if banner.entity.field_px_img_movil.value|length > 0 %}
{% if not loop.first %} 
<div class="slider_tls-background" data-src="{{ file_url( banner.entity.field_px_img_movil.entity.fileuri ) }}" uk-img></div> 
{% else %}
<div id="slider_bg-1" class="slider_tls-background"></div>
{% endif %}
{% endif %}

</li>

{% endif %}
{% endfor %}
</ul>

<ul class="slider_tls-dots">
{% for banner in node.field_banner %}
{% if banner.entity.field_goes.value == '1' %}
{% else %}
<li uk-slideshow-item="{{ loop.index - 1 }}"><span>0{{ loop.index }}</span></li>
{% endif %}
{% endfor %}
</ul>  

</section> 

{#<img class="slider_tls-deco" data-src="{{ base_path ~ directory }}/directos/gradiente.png" width="205" height="392" uk-img>#}