{% set giro_attr = create_attribute() %}
{% set giro_class = [
    "giro", 
    ( node.field_home_ec|length == 3 ) ? "giro-3" : "",
    ( node.field_home_ec|length == 2 ) ? "giro-2" : ""
] %}

<section id="educacion_continua" class="page uk-section bg_clr_celeste" uk-scrollspy="cls: uk-animation-fade; target: .giro_link; delay: 200;">

<header class="tls_header uk-container alinear_izq tls_header_alineado">
<h2 class="tls_header-title"><span>Dale un giro a </span><br><span class="stroke">tu carrera</span></h2>
</header>

<div class="uk-container">
<ul{{ giro_attr.addClass(giro_class) }} uk-grid>

{% for ec in node.field_home_ec %}
{% if ec.entity.field_goes.value == '1' %}
{% else %}
<li class="giro_item">
<a href="{{ ec.entity.field_px_link.0.url }}" class="giro_link">
<img class="giro_img" alt="{{ ec.entity.field_px_img.0.alt }}" title="{{ ec.entity.field_px_img.0.title }}" height="264" width="224"  
    data-src="{{ file_url(ec.entity.field_px_img.0.entity.fileuri | image_style('224x264') ) }}" uk-img /> 
<h4 class="giro_title stroke">{{ ec.entity.field_px_titulo.value }}</h4>
{% if ec.entity.field_px_sesiones[0].value|length > 0 %}
<p class="giro_parrafo"><span>Tiempo de duración:</span><br><span class="boom">{{ ec.entity.field_px_sesiones.value }}</span></p>
{% endif %}
{% if ec.entity.field_px_parrafo[0].value|length > 0 %} 
<p class="giro_small">{{ ec.entity.field_px_parrafo.value }}</p>
{% endif %}
<div class="boton_calato_flecha iflecha">{{ ec.entity.field_px_link.title }}</div>
</a> 
</li>
{% endif %}
{% endfor %}

</ul>
</div>
</section> 