<section id="mundos" class="page uk-section bg_clr_suave" uk-scrollspy="cls: uk-animation-fade; target: .mundo_link; delay: 250;">

<header class="tls_header uk-container alinear_izq alinear_cen">
<h2 class="tls_header-title"><span>Inicia tu futuro</span><br><span class="stroke">profesional en Toulouse</span></h2>
</header> 

<div class="uk-container">
<div class="mundo_grid" uk-grid>

<div class="mundo_grid-tab">
<p class="mundo_grid-welcome c_rosa">¡Conoce las carreras que más se adapten a ti!</p>
<ul class="mundo_grid-items uk-nav" uk-switcher="connect: #mundo_listado; animation: uk-animation-fade">
{% for mundos_tabs in node.field_home_mundos %}
<li class="mundo_grid-item">
<a href="#" class="mundo_grid-link">
<span>{{ mundos_tabs.entity.field_px_banner.0.value }} </span>{{ mundos_tabs.entity.field_px_banner.2.value }}
</a>
</li> 
{% endfor %}
</ul>
</div>

<div id="mundo_listado" class="mundo_grid-listado mundo_listado uk-switcher">
{% for mundos_tab in node.field_home_mundos %}
<article class="mundo_listado-item">

<p class="mundo_listado-welcome">Carreras para <span class="c_rosa">{{ mundos_tab.entity.field_px_banner.1.value }} {{ mundos_tab.entity.field_px_banner.2.value }}</span></p>

<ul class="mundo_items" uk-grid>
{% for tabs_entities in mundos_tab.entity.field_px_entidad|slice(0, 7) %}

{% set mundo_var =
    tabs_entities.entity.label|replace({ 
        ' ':'', 'á':'a', 'é':'e', 'í':'i', 'ó':'o', 'ú':'u', 'ñ':'n', 'para ':'', 'y ':'', 'e ':'', 'la ':'', 'de ':''
    })|lower|raw|trim 
%}

<li class="mundo_item">
<a class="mundo_link iflecha imundo _rosa" href="{{ path('entity.node.canonical', {'node': tabs_entities.entity.id()  }) }}" data-mundo="{{ mundo_var }}">
<p>{{ tabs_entities.entity.label }}</p> 
</a>
</li>

{% endfor %}
</ul>

<a href="{{ mundos_tab.entity.field_px_link.0.url }}" class="mundo_links"><span>Ver más</span></a>

</article> 
{% endfor %}
</div>

</div>
</div>
</section>