{#<div{{ attributes }}>
    {% if label %}
        <h2{{ title_attributes }}>{{ label }}</h2>
    {% endif %}#}
    {{ title_prefix }}
    {{ title_suffix }}
    
    {% block content %}
        {{ content }}
    {% endblock %}
{#</div>#}