<div class="uk-container">
        <ul class="acordeon--core uk-width-4-5--size-m uk-margin-auto" uk-accordion>
            {% for arky_acordeon in arky.entity.field_px_acordeon %}
            <li class="acordeon--core-list uk-margin-small-top uk-border-rounded uk-overflow-hidden {% if loop.first %}uk-open uk-margin-remove-top{% endif %}">

                <a class="uk-accordion-title acordeon--header uk-flex uk-position-relative uk-flex-middle" href="#">
                    <div class="acordeon--header-modulo uk-text-center uk-flex uk-flex-column uk-flex-middle uk-flex-center">
                        {% if arky_acordeon.entity.field_px_core_tipo[0].value|length > 0 %}
                        <span class="uk-width uk-h7">
                        {% if arky_acordeon.entity.field_px_core_tipo.0.getString() == 'px_core_tipo_modulo' %}
                            Módulo 
                        {% else %}
                            Curso
                        {% endif %}
                        </span>
                        {% endif %}
                        <span class="uk-heading-6 uk-margin-remove">{{ loop.index }}</span>
                    </div>
                    <h4 class="arky-serif uk-h4 uk-width-expand uk-margin-remove">{{ arky_acordeon.entity.field_px_titulo.value }}</h4>
                    <span class="uk-position-center-right feather-arrow-down"></span>
                </a>

                <div class="uk-accordion-content acordeon--cuerpo">

                    {% if arky_acordeon.entity.field_px_ow_body[0].value|length > 0 %}
                        <h4 class="uk-h4 uk-margin-remove uk-overflow-hidden">
                            <span class="uk-align-left uk-margin-remove">Descripción</span> 
                            {% if arky_acordeon.entity.field_px_sesiones[0].value|length > 0 %}
                                <span class="uk-align-right uk-margin-remove">Sesiones: {{ arky_acordeon.entity.field_px_sesiones.value }}</span>
                            {% endif %}
                        </h4>
                        {{ arky_acordeon.entity.field_px_ow_body.value|raw }}
                    {% endif %}

                    {% if arky_acordeon.entity.field_px_listado[0].value|length > 0 %}
                        <ul class="uk-column-1-2--size-m">
                        {% for arky_acordeon_lista in arky_acordeon.entity.field_px_listado %}
                            <li>{{ arky_acordeon_lista.value }}</li>
                        {% endfor %}
                        </ul>
                    {% endif %}

                </div>

            </li>
            {% endfor %}
        </ul>
    </div>