{% for arky_header in node.field_core_detalle.entity.field_px_ow_tits %}
    <header 
    class="uk-container block--header uk-margin-xlarge-bottom uk-position-relative
    {# ALINEACION TEXTO #}
    {%- if arky_header.entity.field_px_text_pos.0.target_id == '34' -%}
        uk-text-center uk-text-center--size-m
    {%- elseif arky_header.entity.field_px_text_pos.0.target_id == '35' -%}
        uk-text-center uk-text-right--size-m
    {%- else -%}
        uk-text-center uk-text-left--size-m
    {%- endif -%}
    ">
        <h3 
        class="arky-heading uk-heading-2 
        {% if arky_header.entity.field_px_subtitular[0].value|length > 0 %}
        uk-margin-small-bottom
        {% endif %}">
            {% if arky_header.entity.field_px_tit_sup[0].value|length > 0 %}
            <span 
            class="uk-lh-1 
            {% if arky_header.entity.field_px_posicion.0.target_id == '23' %}arky-line{% endif %}">
                {{ arky_header.entity.field_px_tit_sup.value }}
            </span>
            {% endif %}
            {% if arky_header.entity.field_px_cortar.value == '1' %}<br>{% endif %}{# CORTAR #}
            {% if arky_header.entity.field_px_tit_inf[0].value|length > 0 %}
            <span 
            class="uk-lh-1 
            {% if arky_header.entity.field_px_posicion.0.target_id == '24' %}arky-line{% endif %}">
                {{ arky_header.entity.field_px_tit_inf.value }}
            </span>
            {% endif %}
        </h3>
        {% if arky_header.entity.field_px_subtitular[0].value|length > 0 %}
        <p class="uk-margin-small-top uk-h3">{{ arky_header.entity.field_px_subtitular.value }}</p>
        {% endif %}
    </header>
{% endfor %}