<a 
    class="uk-card uk-display-block bee-action uk-padding-medium-left uk-padding-medium-right" 
    href="{{ path('entity.node.canonical', {'node': entidades.entity.id()  }) }}">

    {% if entidades.entity.field_people_foto[0].value|length > 0 %}
    <figure class="uk-card uk-margin-small-bottom uk-border-rounded">
        <img 
        class="teaser-img uk-margin-auto"  
        alt="{{ entidades.entity.field_people_foto.0.alt }}" 
        title="{{ entidades.entity.field_people_foto.0.title }}" 
        data-src="{{ file_url(entidades.entity.field_people_foto.0.entity.fileuri | image_style('300x380') ) }}" uk-img /> 
    </figure>
    {% endif %}

    <h3 class="uk-h3 uk-margin-top uk-margin-small-bottom">
        {{ entidades.entity.field_people_nombre.value }} {{ entidades.entity.field_people_apellido.value }}
    </h3>

    {% if entidades.entity.field_people_puesto[0].value|length > 0 %}
    <p class="color-rosa uk-margin-small-top uk-margin-small-bottom">
        {% if entidades.entity.field_people_puesto.0.target_id == '27' %}
            {{ entidades.entity.field_people_cargo_admin.value }}
        {% endif %}
        
        {% if entidades.entity.field_people_puesto.0.target_id == '26' %}
            {% if entidades.entity.field_people_carrera.0.entity.field_core_tipo.0.target_id == '3' %}
                Docente en el curso de {{ entidades.entity.field_people_carrera.0.entity.label }}
            {% elseif entidades.entity.field_people_carrera.0.entity.field_core_tipo.0.target_id == '4' %}
                Docente del diplomado en {{ entidades.entity.field_people_carrera.0.entity.label }}
            {% elseif entidades.entity.field_people_carrera.0.entity.field_core_tipo.0.target_id == '1' %}
                Docente en la carrera de {{ entidades.entity.field_people_carrera.0.entity.label }}
            {% else %}
                Docente en la carrera técnica de {{ entidades.entity.field_people_carrera.0.entity.label }}
            {% endif %}
        {% endif %}
    </p>
    {% endif %}

    <div class="uk-button button-arrow uk-border-pill uk-bottom-default uk-margin-small-top uk-border-naked">
        <span>Conocer a {{ entidades.entity.field_people_nombre.value }} <span class="uk-position-center-right feather-arrow-right"></span>
    </div>

</a>