<a 
class="uk-display-block uk-card uk-padding-large-left uk-padding-large-right" 
href="{{ path('entity.node.canonical', {'node': entidades.entity.id()  }) }}">

    <figure class="uk-margin-small-bottom uk-border-rounded">
        <img 
        class="teaser-img uk-margin-auto"  
        alt="{{ entidades.entity.field_campus_img.0.alt }}" 
        title="{{ entidades.entity.field_campus_img.0.title }}" 
        data-src="{{ file_url(entidades.entity.field_campus_img.0.entity.fileuri | image_style('438x302') ) }}" uk-img /> 
    </figure>
    
    <h3 class="arky-serif uk-h3 uk-margin-medium-top uk-margin-small-bottom uk-margin-small-top">
        {% if entidades.entity.field_campus_tipo.0.target_id == '32' %}
            <span>Campus&nbsp;</span>
        {% else %}
            <span>Sede&nbsp;</span>
        {% endif %}{{ entidades.entity.field_campus_name.value }}
    </h3>

    {% if entidades.entity.field_direccion.value|length > 0 %}
    <p class="color-rosa uk-margin-small-bottom uk-margin-small-top">{{ entidades.entity.field_direccion.value }}</p>
    {% endif %}

    {% if entidades.entity.field_telefono.value|length > 0 %}
    <strong class="color-violeta uk-text-bold">Comunícate al:</strong>
    <p class="uk-margin-small-bottom uk-margin-small-top">
        {{ entidades.entity.field_telefono.0.value }}
        {% if entidades.entity.field_telefono[1].value|length > 0 %}
            <span class="color-rosa">&nbsp;&bull;&nbsp;</span>
        {{ entidades.entity.field_telefono.1.value }}
        {% endif %}
    </p>
    {% endif %}

    {% if entidades.entity.field_campus_desc.value|length > 0 %}
    <strong class="color-violeta uk-text-bold">
        {% if entidades.entity.field_campus_tipo.0.target_id == '32' %}
            <span>Este campus</span>
        {% else %}
            <span>Esta sede</span>
        {% endif %}cuenta con:
    </strong>
    <p class="uk-margin-small-bottom uk-margin-small-top">{{ entidades.entity.field_campus_desc.value }}</p>
    {% endif %}

    <div class="uk-button uk-border-pill button-arrow uk-bottom-default uk-margin-small-top uk-border-naked">
        Explorar {% if entidades.entity.field_campus_tipo.0.target_id == '32' %}Campus{% else %}Sede{% endif %} <span class="uk-position-center-right feather-arrow-right">
    </div>
                        
</a>