{% if tls_bk.entity.field_px_caro.0.target_id == '63' %}

<div class="swiper-container-centered">
    <div class="swiper-wrapper">

    {% for carousel in tls_bk.entity.field_px_carousel %}

        <div class="swiper-slide">

            <article class="uk-card uk-card-small uk-display-block uk-padding-medium-left uk-padding-medium-right uk-text-center">
                        <div class="cards--para">
                            {% if carousel.entity.field_px_img[0].value|length > 0 %}
                            <figure class="teaser-figure uk-card-media-top uk-margin-auto uk-width-4-5 uk-width-2-5--size-s">
                                <img 
                                class="teaser-img uk-border-circle"  
                                alt="{{ carousel.entity.field_px_img.0.alt }}" 
                                title="{{ carousel.entity.field_px_img.0.title }}"  
                                data-src="{{ file_url(carousel.entity.field_px_img.0.entity.fileuri | image_style('372x372') ) }}"  
                                uk-img />
                            </figure>
                            {% endif %}
                            <div class="uk-card-body"> 
                                <h4 class="uk-h1 uk-margin-remove-bottom">{{ carousel.entity.field_px_tit_sup.value }}</h4> 
                                <p class="uk-width-4-5 uk-margin-auto">{{ carousel.entity.field_px_parrafo.value|raw }}</p>
                            </div>
                        </div>
            </article>
                    
        </div> 

    {% endfor %}

    </div>

    <div class="swiper-pagination"></div>
    <div class="swiper-button-prev feather-chevron-left"></div>
    <div class="swiper-button-next feather-chevron-right"></div>

</div>

{{ attach_library('tls/swiper') }}



{% elseif tls_bk.entity.field_px_caro.0.target_id == '79' %}


<div class="swiper-container-centered botones-tipo-1">
    <div class="swiper-wrapper">

    {% for carousel in tls_bk.entity.field_px_carousel %}

        <div class="swiper-slide">

            <article class="uk-card uk-card-small uk-display-block uk-padding-medium-left uk-padding-medium-right">
                        <div class="cards--para">
                            {% if carousel.entity.field_px_img[0].value|length > 0 %}
                            <figure class="teaser-figure uk-card-media-top uk-margin-auto uk-width-1-1 uk-margin-remove-bottom">
                                <img 
                                class="teaser-img uk-border-rounded"  
                                alt="{{ carousel.entity.field_px_img.0.alt }}" 
                                title="{{ carousel.entity.field_px_img.0.title }}"  
                                data-src="{{ file_url(carousel.entity.field_px_img.0.entity.fileuri | image_style('900x500') ) }}"  
                                uk-img />
                            </figure>
                            {% endif %}
                            <div class="uk-card-body">  
                                <p class="uk-width-1-1 uk-margin-auto">{{ carousel.entity.field_px_parrafo.value|raw }}</p>
                            </div>
                        </div>
            </article>
                    
        </div> 

    {% endfor %}

    </div>

    <div class="swiper-pagination"></div>
    <div class="swiper-button-prev feather-chevron-left"></div>
    <div class="swiper-button-next feather-chevron-right"></div>

</div>

{{ attach_library('tls/swiper') }}


{% else %}


<div class="swiper-container-centered uk-overflow-hidden botones-tipo-1">
    <div class="swiper-wrapper uk-padding-xlarge-bottom">


    {% for carousel in tls_bk.entity.field_px_carousel %}

    <div class="swiper-slide uk-padding-xlarge-bottom">

        <div class="uk-flex-middle uk-flex uk-flex-row uk-flex-wrap">

            {% if carousel.entity.field_px_img[0].value|length > 0 %}
            <figure class="uk-card uk-margin-small-bottom uk-card-media-top uk-border-rounded uk-overflow-hidden uk-width-1-1 uk-width-1-2--size-s">
                <img 
                class="teaser-img uk-margin-auto"  
                alt="{{ carousel.entity.field_px_img.0.alt }}" 
                title="{{ carousel.entity.field_px_img.0.title }}" 
                data-src="{{ file_url(carousel.entity.field_px_img.0.entity.fileuri | image_style('445x500') ) }}" uk-img /> 
            </figure>
            {% endif %}

            <article class="uk-card-body uk-width-1-1 uk-width-1-2--size-s uk-flex-first--size-s">
                {% if carousel.entity.field_px_ow_body[0].value|length > 0 %}
                    {% if carousel.entity.field_px_tit_inf[0].value|length > 0 %}
                        <p class="uk-margin-remove-top uk-h1 color-rosa">{{ carousel.entity.field_px_tit_inf.value }}</p>
                    {% endif %}
                    <h4 class="uk-margin-remove-top uk-heading-4">{{ carousel.entity.field_px_tit_sup.value }}</h4>
                    <div class="arky--body">
                        {{ carousel.entity.field_px_ow_body.value|raw }}
                    </div>
                {% else %}
                    <h5 class="uk-margin-remove-top uk-margin-bottom">0{{ loop.index }}.</h5>
                    {% if carousel.entity.field_px_tit_sup[0].value|length > 0 %}
                        <h4 class="uk-margin-remove-top uk-heading-2">{{ carousel.entity.field_px_tit_sup.value }}</h4>
                    {% endif %}
                    {% if carousel.entity.field_px_parrafo[0].value|length > 0 %}
                        <p>{{ carousel.entity.field_px_parrafo.value }}</p>
                    {% endif %}
                {% endif %} 
            </article>

        </div>

    </div> 

    {% endfor %}

    </div> 

    <div class="swiper-button-prev feather-chevron-left"></div>
    <div class="swiper-button-next feather-chevron-right"></div>

</div>

{{ attach_library('tls/swiper') }}


{% endif %} 