{% if tls_bk.entity.field_px_entidad.entity.getType == 'tls_people' %}
<li>{{ tls_bk.entity.field_px_entidad | view('teaser') }}</li>
{% elseif tls_bk.entity.field_px_entidad.entity.getType == 'tls_campus' %}
<li>{{ tls_bk.entity.field_px_entidad | view('teaser') }}</li>
{% elseif tls_bk.entity.field_px_entidad.entity.getType == 'tls_quotes' %}
    {% include '@tls/@similar/bk-quotes.html.twig' %}
{% else %}
    {{ tls_bk.entity.field_px_entidad.entity.label }}
{% endif %}

{#
{% if tls_bk.entity.field_px_entidad.entity.getType in ['tls_people', 'tls_campus'] %}
{% for entidades in tls_bk.entity.field_px_entidad %}
    <li>
        {% if entidades.entity.getType == 'tls_people' %}
            {% include '@tls/@similar/bk-people.html.twig' %}
        {% elseif entidades.entity.getType == 'tls_campus' %}
            {% include '@tls/@similar/bk-campus.html.twig' %} 
        {% else %}
            <a href="{{ path('entity.node.canonical', {'node': entidades.entity.id()  }) }}">
                {{ entidades.entity.label }}
            </a>
        {% endif %}
    </li>
{% endfor %}
{% endif %}
#} 