{% if tls_bk.entity.field_cta.entity.field_px_cta.0.target_id == '20' %}
<footer class="uk-container uk-margin-top uk-text-center">
<div class="uk-container uk-position-relative">

    <a 
    target="{{ tls_bk.entity.field_cta.entity.field_px_link.0.url.external ? '_blank' : '_self' }}"
    class="block--header-button button-arrow uk-button uk-button-primary uk-border-pill uk-box-shadow-small uk-box-shadow-hover-medium" 
    href="{{ tls_bk.entity.field_cta.entity.field_px_link.0.url }}">
        {{ tls_bk.entity.field_cta.entity.field_px_link.0.title }} <span class="uk-position-center-right feather-arrow-right"></span>
    </a>

</div>{#container#}
</footer>
{% endif %}