{% for granja in tls_bk.entity.field_px_granja %}
<li>
    <a 
        id="granja_{{ loop.index }}" 
        class="uk-border-rounded uk-display-block uk-padding-top uk-padding-right uk-padding-left uk-padding-bottom arky-bordeado"
        {% if granja.entity.field_px_granja_link[0].value|length > 0 %} 
            href="{{ granja.entity.field_px_granja_link.0.url }}"
            target="{{ granja.entity.field_px_granja_link.0.url.external ? '_blank' : '_self' }}"
        {% elseif granja.entity.field_px_granja_file[0].value|length > 0 %}
            href="{{ file_url(granja.entity.field_px_granja_file.entity.uri.value) }}"
            target="_blank"
        {% endif %}
    >   
        {% if granja.entity.field_px_granja_icono.entity.field_tx_icono_img[0].value|length > 0 %} 
            <img class="uk-margin-small-bottom" data-src="{{ file_url(granja.entity.field_px_granja_icono.entity.field_tx_icono_img.entity.uri.value) }}" alt="" uk-img>
        {% endif %} 
        <p class="uk-h3 color-violeta uk-margin-remove-top">{{ granja.entity.field_px_granja_title.value }}</p>
        <div class="uk-position-relative uk-margin-medium-top uk-display-inline-block button-arrow"><span class="uk-text-underline">Conocer más</span> <span class="uk-position-center-right feather-arrow-right"></span></div>
    </a>
</li>
{% endfor %}