    {% if tls_bk.entity.field_px_acordeon[0].value|length > 0 %}
    <ul class="acordion-basico" uk-accordion>
        {% for acordion in tls_bk.entity.field_px_acordeon %}
        <li>
            <a class="uk-accordion-title uk-padding-top uk-padding-bottom uk-position-relative" href="#">
                <p class="color-lila uk-h3 uk-margin-remove">{{ acordion.entity.field_px_titulo.value }}</p>
                <span class="uk-position-center-right color-rosa feather-plus-circle uk-h1 uk-margin-remove"></span>
                <span class="uk-position-center-right color-rosa feather-minus-circle uk-h1 uk-margin-remove"></span>
            </a>
            <div class="uk-accordion-content color-violeta uk-padding-bottom uk-padding-top uk-margin-remove-top uk-margin-bottom uk-padding-medium-left uk-position-relative">
                {{ acordion.entity.field_px_ow_body.value|raw }}
            </div>
        </li>
        {% endfor %}
    </ul>
    {% endif %}