{% if tls_bk.entity.field_px_ow_tits[0].value|length > 0 %}
<header 
    class="bktls--header uk-position-relative 
    {# ALINEACION TEXTO #}
    {%- if tls_bk.entity.field_px_ow_tits.entity.field_px_text_pos.0.target_id == '34' -%}
        uk-text-center
    {%- elseif tls_bk.entity.field_px_ow_tits.entity.field_px_text_pos.0.target_id == '35' -%}
        uk-text-right
    {%- else -%}
        uk-text-left
    {%- endif -%}
    {% if tls_bk.entity.field_cta.entity.field_px_cta.0.target_id == '19' %}
        block--header-left
    {%- endif -%}">

<div class="uk-container uk-position-relative uk-margin-bottom">

    <h2 class="arky-heading uk-heading-2">
        {% if tls_bk.entity.field_px_ow_tits.entity.field_px_subtitular[0].value|length > 0 and tls_bk.entity.field_px_variacion.0.target_id == '80' %}
        <span class="uk-display-block uk-h1 uk-margin-remove-bottom">
            {{ tls_bk.entity.field_px_ow_tits.entity.field_px_subtitular.value }}
        </span>
        {% endif %}
        {% if tls_bk.entity.field_px_ow_tits.entity.field_px_tit_sup[0].value|length > 0 %}
        <span 
        class="uk-lh-1 
        {% if tls_bk.entity.field_px_ow_tits.entity.field_px_posicion.0.target_id == '23' %}arky-line{% endif %}">
            {{ tls_bk.entity.field_px_ow_tits.entity.field_px_tit_sup.value }}
        </span>
        {% endif %}
        {% if tls_bk.entity.field_px_ow_tits.entity.field_px_cortar.value == '1' %}<br>{% endif %}{# CORTAR #}
        {% if tls_bk.entity.field_px_ow_tits.entity.field_px_tit_inf[0].value|length > 0 %}
        <span 
        class="uk-lh-1 
        {% if tls_bk.entity.field_px_ow_tits.entity.field_px_posicion.0.target_id == '24' %}arky-line{% endif %}">
            {{ tls_bk.entity.field_px_ow_tits.entity.field_px_tit_inf.value }}
        </span>
        {% endif %}
        {% if tls_bk.entity.field_px_ow_tits.entity.field_px_subtitular[0].value|length > 0 and not tls_bk.entity.field_px_variacion.0.target_id == '80' %}
        <br>
        <span class="uk-display-block uk-heading-5">
            {{ tls_bk.entity.field_px_ow_tits.entity.field_px_subtitular.value }}
        </span>
        {% endif %}
    </h2>

    {% if tls_bk.entity.field_cta.entity.field_px_cta.0.target_id in ['18', '19'] %}
    <a  
        target="{{ tls_bk.entity.field_cta.entity.field_px_link.0.url.external ? '_blank' : '_self' }}"
        class="block--header-button button-arrow uk-button uk-button-primary uk-border-pill uk-box-shadow-small uk-box-shadow-hover-medium" 
        href="{{ tls_bk.entity.field_cta.entity.field_px_link.0.url }}">
            {{ tls_bk.entity.field_cta.entity.field_px_link.0.title }}<span class="uk-position-center-right feather-arrow-right"></span> 
    </a>
    {% endif %} 

</div>{#container#}
    
</header>
{% endif %}