{% if tls_bk.entity.field_px_icono_tipo.0.target_id == '67' %}


<div class="uk-grid-large uk-child-width-1-2 uk-child-width-1-3--size-m" uk-grid>
{% for icon in tls_bk.entity.field_px_iconos %}
    <div class="uk-card">
        <div class="uk-grid-medium uk-flex-middle" uk-grid>
            <figure class="uk-width-2-5 uk-margin-auto">
                <img 
                class="teaser-img uk-border-circle"  
                alt="{{ icon.entity.field_px_icono_png.0.alt }}" 
                title="{{ icon.entity.field_px_icono_png.0.title }}"  
                data-src="{{ file_url(icon.entity.field_px_icono_png.0.entity.fileuri | image_style('144x144') ) }}"  
                uk-img />
            </figure>
            <article class="uk-width-3-5">
                {% if icon.entity.field_px_txt_1[0].value|length > 0 %}
                <p class="uk-heading-4 uk-margin-small-bottom">{{ icon.entity.field_px_txt_1.value }}</p>
                {% endif %}
                {% if icon.entity.field_px_txt_2[0].value|length > 0 %}
                <p class="uk-h4 uk-margin-remove">{{ icon.entity.field_px_txt_2.value }}</p>
                {% endif %}
                {% if icon.entity.field_px_txt_strong[0].value|length > 0 %}
                <p class="uk-h3 uk-margin-remove">{{ icon.entity.field_px_txt_strong.value }}</p>
                {% endif %}
            </article>
        </div>
    </div>
{% endfor %}
</div>


{% elseif tls_bk.entity.field_px_icono_tipo.0.target_id == '71' %}


<div class="uk-grid-large uk-child-width-1-2--size-s" uk-grid>
{% for icon in tls_bk.entity.field_px_iconos %}
    <div class="uk-card">
        <div class="uk-grid-medium uk-flex-middle" uk-grid>
            {% if icon.entity.field_px_icono_png[0].value|length > 0 %}
            <figure class="uk-width-2-5 uk-margin-auto">
                <img 
                class="teaser-img uk-border-circle"  
                alt="{{ icon.entity.field_px_icono_png.0.alt }}" 
                title="{{ icon.entity.field_px_icono_png.0.title }}"  
                data-src="{{ file_url(icon.entity.field_px_icono_png.0.entity.fileuri | image_style('144x144') ) }}"  
                uk-img />
            </figure>
            {% endif %}
            <article class="uk-width-expand">
                {% if icon.entity.field_px_txt_1[0].value|length > 0 %}
                    <p class="uk-h1 uk-margin-small-bottom">{{ icon.entity.field_px_txt_1.value }}</p>
                {% endif %}
                {% if icon.entity.field_px_txt_2[0].value|length > 0 %}
                    <p class="uk-h4 uk-margin-remove">{{ icon.entity.field_px_txt_2.value }}</p>
                {% endif %}
                {% if icon.entity.field_px_txt_strong[0].value|length > 0 %}
                    <p class="uk-h3 uk-margin-remove">{{ icon.entity.field_px_txt_strong.value }}</p>
                {% endif %}
                {% if icon.entity.field_px_parrafo[0].value|length > 0 %}
                    <p class="color-violeta">{{ icon.entity.field_px_parrafo.value }}</p>
                {% endif %}
            </article>
        </div>
    </div>
{% endfor %}
</div>


{% elseif tls_bk.entity.field_px_icono_tipo.0.target_id == '66' %}


<div class="uk-grid-large uk-child-width-1-2 uk-child-width-1-3--size-s uk-child-width-1-4--size-l" uk-grid>
{% for icon in tls_bk.entity.field_px_iconos %}
    <div class="uk-card">
        <figure class="uk-width-3-5 uk-margin-auto">
            <img 
            class="teaser-img uk-border-circle"  
            alt="{{ icon.entity.field_px_icono_png.0.alt }}" 
            title="{{ icon.entity.field_px_icono_png.0.title }}"  
            data-src="{{ file_url(icon.entity.field_px_icono_png.0.entity.fileuri | image_style('144x144') ) }}"  
            uk-img />
        </figure>
        <article class="uk-width-1-1 uk-margin-auto">
            {% if icon.entity.field_px_txt_1[0].value|length > 0 %}
            <p class="uk-heading-4 uk-margin-small-bottom">{{ icon.entity.field_px_txt_1.value }}</p>
            {% endif %}
            {% if icon.entity.field_px_txt_2[0].value|length > 0 %}
            <p class="uk-h4 uk-margin-remove">{{ icon.entity.field_px_txt_2.value }}</p>
            {% endif %}
            {% if icon.entity.field_px_txt_strong[0].value|length > 0 %}
            <p class="uk-h3 uk-margin-remove">{{ icon.entity.field_px_txt_strong.value }}</p>
            {% endif %}
        </article>
    </div>
{% endfor %}
</div>


{% elseif tls_bk.entity.field_px_icono_tipo.0.target_id == '81' %}


<div class="uk-grid-large uk-child-width-1-2 uk-child-width-1-3--size-s" uk-grid>
{% for icon in tls_bk.entity.field_px_iconos %}
    <div class="uk-card">
        <figure class="uk-width-3-5 uk-margin-auto">
            <img 
            class="teaser-img uk-border-circle"  
            alt="{{ icon.entity.field_px_icono_png.0.alt }}" 
            title="{{ icon.entity.field_px_icono_png.0.title }}"  
            data-src="{{ file_url(icon.entity.field_px_icono_png.0.entity.fileuri | image_style('144x144') ) }}"  
            uk-img />
        </figure>
        <article class="uk-width-1-1 uk-margin-auto">
            {% if icon.entity.field_px_txt_1[0].value|length > 0 %}
            <p class="uk-heading-6 uk-margin-small-bottom">{{ icon.entity.field_px_txt_1.value }}</p>
            {% endif %}
            {% if icon.entity.field_px_txt_2[0].value|length > 0 %}
            <p class="uk-h4 uk-margin-remove">{{ icon.entity.field_px_txt_2.value }}</p>
            {% endif %}
            {% if icon.entity.field_px_txt_strong[0].value|length > 0 %}
            <p class="uk-h3 uk-margin-remove">{{ icon.entity.field_px_txt_strong.value }}</p>
            {% endif %}
        </article>
    </div>
{% endfor %}
</div>


{% elseif tls_bk.entity.field_px_icono_tipo.0.target_id == '84' %}


{% if tls_bk.entity.field_px_parrafo[0].value|length > 0 %}
<p class="uk-width-3-5--size-s uk-text-center uk-margin-auto">{{ tls_bk.entity.field_px_parrafo.value }}</p>
{% endif %}

<div class="uk-flex uk-flex-row uk-flex-wrap uk-flex-center grupo-3 uk-grid-small" uk-grid>
{% for icon in tls_bk.entity.field_px_iconos %}
    <div class="uk-card">
        <figure class="uk-width-3-5 uk-margin-auto">
            <img 
            class="teaser-img uk-border-circle"  
            alt="{{ icon.entity.field_px_icono_png.0.alt }}" 
            title="{{ icon.entity.field_px_icono_png.0.title }}"  
            data-src="{{ file_url(icon.entity.field_px_icono_png.0.entity.fileuri | image_style('144x144') ) }}"  
            uk-img />
        </figure>
        <article class="uk-width-1-1 uk-margin-auto">
            {% if icon.entity.field_px_txt_1[0].value|length > 0 %}
            <p class="uk-h4 uk-margin-remove">{{ icon.entity.field_px_txt_1.value }}</p>
            {% endif %}
            {% if icon.entity.field_px_txt_2[0].value|length > 0 %}
            <p class="uk-h4 uk-margin-remove">{{ icon.entity.field_px_txt_2.value }}</p>
            {% endif %}
            {% if icon.entity.field_px_txt_strong[0].value|length > 0 %}
            <p class="uk-h3 uk-margin-remove">{{ icon.entity.field_px_txt_strong.value }}</p>
            {% endif %}
        </article>
    </div>
{% endfor %}
</div>


{% else %}


{% if tls_bk.entity.field_px_parrafo[0].value|length > 0 %}
<p class="uk-width-3-5--size-s uk-text-center uk-margin-auto">{{ tls_bk.entity.field_px_parrafo.value }}</p>
{% endif %}

<div class="uk-flex uk-flex-row uk-flex-wrap uk-flex-center grupo-4">
{% for icon in tls_bk.entity.field_px_iconos %}
    <div class="uk-card">
        <figure class="uk-width-3-5 uk-margin-auto">
            <img 
            class="teaser-img uk-border-circle"  
            alt="{{ icon.entity.field_px_icono_png.0.alt }}" 
            title="{{ icon.entity.field_px_icono_png.0.title }}"  
            data-src="{{ file_url(icon.entity.field_px_icono_png.0.entity.fileuri | image_style('144x144') ) }}"  
            uk-img />
        </figure>
        <article class="uk-width-1-1 uk-margin-auto">
            {% if icon.entity.field_px_txt_1[0].value|length > 0 %}
            <p class="uk-h4 uk-margin-remove">{{ icon.entity.field_px_txt_1.value }}</p>
            {% endif %}
            {% if icon.entity.field_px_txt_2[0].value|length > 0 %}
            <p class="uk-h4 uk-margin-remove">{{ icon.entity.field_px_txt_2.value }}</p>
            {% endif %}
            {% if icon.entity.field_px_txt_strong[0].value|length > 0 %}
            <p class="uk-h3 uk-margin-remove">{{ icon.entity.field_px_txt_strong.value }}</p>
            {% endif %}
        </article>
    </div>
{% endfor %}

</div>

{% endif %}