{% if tls_bk.entity.field_px_variacion.0.target_id == '76' %}


    {% if tls_bk.entity.field_px_listado[0].value|length > 0 %}
        <article class="bktls--cuerpo uk-margin-top">
            <ul class="uk-margin-auto uk-grid-small uk-child-width-1-2 uk-child-width-1-4--size-m uk-h3" uk-grid>
                {% for listado in tls_bk.entity.field_px_listado %}
                    <li><span class="border-rosa uk-display-block uk-padding-large-bottom uk-height-1-1 uk-text-break">{{ listado.value }}</span></li>
                {% endfor %}
            </ul>
        </article>
    {% endif %} 


{% elseif tls_bk.entity.field_px_variacion.0.target_id == '77' %}


    {% if tls_bk.entity.field_px_listado[0].value|length > 0 %}
        <article class="bktls--cuerpo uk-margin-top">
            <ul class="uk-margin-auto uk-grid-small uk-child-width-1-2 uk-child-width-1-3--size-m uk-width-4-5--size-m uk-h3" uk-grid>
                {% for listado in tls_bk.entity.field_px_listado %}
                    <li><span class="border-rosa uk-display-block uk-padding-large-bottom uk-height-1-1 uk-text-break">{{ listado.value }}</span></li>
                {% endfor %}
            </ul>
        </article>
    {% endif %} 


{% else %}


<article class="bktls--cuerpo">
 
    {% if tls_bk.entity.field_px_listado[0].value|length > 0 %}
        <ul class="bktls--body arky--body uk-column-1-2--size-m uk-width-3-5--size-m uk-margin-auto">
            {% for listado in tls_bk.entity.field_px_listado %}
            <li>{{ listado.value }}</li>
            {% endfor %}
        </ul>
    {% endif %} 

    {% if tls_bk.entity.field_px_ow_body[0].value|length > 0 %}
        <div class="bktls--body arky--body {% if tls_bk.entity.field_px_columnas.0.target_id == '31' %}uk-column-1-2--size-m{% else %}uk-width-3-5--size-m{% endif %} uk-margin-auto">
        {{ tls_bk.entity.field_px_ow_body.value|raw }}
        </div>
    {% endif %} 

    {% if tls_bk.entity.field_px_ow_link.value|length > 0 %}
    <a class="uk-button button-arrow uk-button-primary uk-border-pill uk-margin-medium-top" href="{{ tls_bk.entity.field_px_ow_link.0.url }}">
        {{ tls_bk.entity.field_px_ow_link.title }} <span class="uk-position-center-right feather-arrow-right"></span>
    </a>
    {% endif %}

</article> 

{% endif %}