<div class="swiper-container-centered uk-overflow-hidden botones-tipo-1 botones-tipo-1-lila">
    <div class="swiper-wrapper uk-padding-xlarge-bottom">

{% for videos in tls_bk.entity.field_px_video %}

<div class="swiper-slide">
<div class="uk-flex uk-flex-row uk-flex-wrap uk-grid-medium uk-flex-middle uk-text-center uk-text-left--size-s">

{% if videos.entity.field_px_img[0].value|length > 0 and videos.entity.field_px_id_video[0].value|length > 0  %}
<div class="uk-card uk-margin-xlarge-bottom uk-card-media-top uk-width-expand uk-flex-last--size-s">
    <figure class="uk-border-rounded uk-overflow-hidden">
        <a class="video-play" href="#{{ videos.entity.field_px_id_video.value }}" uk-toggle>
            <img 
            class="teaser-img uk-margin-auto"  
            alt="{{ videos.entity.field_px_img.0.alt }}" 
            title="{{ videos.entity.field_px_img.0.title }}" 
            data-src="{{ file_url(videos.entity.field_px_img.0.entity.fileuri | image_style('800x500') ) }}" uk-img /> 
        </a>
    </figure>
</div>
<article class="uk-width-1-1 uk-width-2-5--size-s block-play">
    {% if videos.entity.field_px_parrafo[0].value|length > 0 %}
    <p class="arky-serif uk-h4 uk-margin-remove-top uk-margin-bottom">{{ videos.entity.field_px_parrafo.value }}</p>
    {% endif %}
    {% if videos.entity.field_px_titulo[0].value|length > 0 %}
    <p class="uk-h2 uk-margin-top uk-margin-bottom color-violeta">{{ videos.entity.field_px_titulo.value }}</p>
    {% endif %}
    {% if videos.entity.field_px_subtitular[0].value|length > 0 %}
    <p class="uk-h4 uk-margin-top uk-margin-bottom color-rosa">{{ videos.entity.field_px_subtitular.value }}</p>
    {% endif %} 
</article>
{% endif %} 

</div></div>

{% if videos.entity.field_px_id_video[0].value|length > 0 %}
<div id="{{ videos.entity.field_px_id_video.value }}" class="uk-flex-top" uk-modal>
    <div class="uk-modal-dialog uk-width-auto uk-margin-auto-vertical arky-bg-transparent">
        <button class="uk-modal-close-outside" type="button" uk-close></button>
        <iframe class="uk-responsive-width uk-border-rounded" src="https://www.youtube-nocookie.com/embed/{{ videos.entity.field_px_embed.value }}?autoplay=0&amp;showinfo=0&amp;rel=0&amp;modestbranding=1&amp;playsinline=1" width="1920" height="1080" frameborder="0" allowfullscreen uk-responsive uk-video="automute: false;"></iframe> 
    </div>
</div>
{% endif %} 

{% endfor %}

</div> 

    <div class="swiper-button-prev feather-chevron-left"></div>
    <div class="swiper-button-next feather-chevron-right"></div>

</div>

{{ attach_library('tls/swiper') }}