<div class="uk-container uk-position-relative">

    <div class="uk-grid-large" uk-grid>

        <header class="uk-width-1-1 uk-width-2-5--size-m">

            <h2 class="arky-heading uk-heading-2">
                {% if tls_bk.entity.field_px_ow_tits.entity.field_px_tit_sup[0].value|length > 0 %}
                <span 
                class="uk-lh-1 
                {% if tls_bk.entity.field_px_ow_tits.entity.field_px_posicion.0.target_id == '23' %}arky-line{% endif %}">
                    {{ tls_bk.entity.field_px_ow_tits.entity.field_px_tit_sup.value }}
                </span>
                {% endif %}
                {% if tls_bk.entity.field_px_ow_tits.entity.field_px_cortar.value == '1' %}<br>{% endif %}{# CORTAR #}
                {% if tls_bk.entity.field_px_ow_tits.entity.field_px_tit_inf[0].value|length > 0 %}
                <span 
                class="uk-lh-1 
                {% if tls_bk.entity.field_px_ow_tits.entity.field_px_posicion.0.target_id == '24' %}arky-line{% endif %}">
                    {{ tls_bk.entity.field_px_ow_tits.entity.field_px_tit_inf.value }}
                </span>
                {% endif %}
                {% if tls_bk.entity.field_px_ow_tits.entity.field_px_subtitular[0].value|length > 0 %}
                <br>
                <span class="uk-display-block uk-heading-5">
                    {{ tls_bk.entity.field_px_ow_tits.entity.field_px_subtitular.value }}
                </span>
                {% endif %}
            </h2>

        </header>

        <article class="bktls--cuerpo uk-width-expand">

            {% if tls_bk.entity.field_px_ow_body[0].value|length > 0 %}
                <div class="bktls--body arky--body uk-margin-auto">
                {{ tls_bk.entity.field_px_ow_body.value|raw }}
                </div>
            {% endif %} 

        </article>

    </div>

</div>