.campus-tabulador a {
    border-bottom: 1px solid rgba(255,255,255,.25);
}
.campus-tabulador li a::after {
    content: '';
    height: 50%;
    width: 4px;
    display: block;
    position: absolute;
    margin: auto;
    background-color: white;
    left: 0;
    top: 0;
    bottom: 0;
    border-radius: 1rem;
    opacity: 0;
    transition: var(--tls-time) opacity;
}
.campus-tabulador li.uk-active a::after {
    opacity: 1;
}

.campus-presentador {
    border: 1px solid white; 
}
.campus-presentador a {
    background-color: transparent !important;
    color: white !important;
    padding-bottom: .75rem !important;
    position: relative;
}
.campus-presentador li a::after {
    content: '';
    width: 80%;
    height: 6px;
    background-color: white;
    display: block;
    bottom: -2px;
    position: absolute;
    border-radius: 4rem;
    opacity: 0;
    transition: var(--tls-time) opacity;
}
.campus-presentador li.uk-active a::after {
    opacity: 1;
}

@media (max-width: 899px) {
.campus-cuerpo {
    padding-left: 1rem;
}
.campus-cuerpo li { 
    padding-right: 0!important; 
}
}