.uk-button{margin:0;border:0;background-color:transparent;overflow:visible;font:inherit;font-size:14px;color:inherit;
    text-transform:none;-webkit-appearance:none;display:inline-block;box-sizing:border-box;padding:12px 24px;
    vertical-align:middle;line-height:1;text-align:center;text-decoration:none;transition-duration:var(--timer)!important;
    transition-timing-function:ease-in-out!important;transition-property:color, background-color, border-color, box-shadow!important}
.uk-button-primary {background-color: var(--c-lila);color: #fff; border: 1px solid transparent; }
.uk-button-primary:hover, .uk-button-primary:focus {background-color: var(--c-violeta); color: white; }
.uk-button:not(:disabled){cursor:pointer}
.uk-button::-moz-focus-inner{border:0;padding:0}
.uk-button:hover{text-decoration:none}
.uk-button:focus{outline:none}
@media (min-width:900px){.uk-button{font-size:16px}
}
.uk-button-danger{background-color:#f0506e;color:#fff;border:1px solid transparent}
.uk-button-danger:hover,
.uk-button-danger:focus{background-color:#ee395b;color:#fff}
.uk-button-danger:active,
.uk-button-danger.uk-active{background-color:#ec2147;color:#fff}
.uk-button-large{padding:0 40px;line-height:53px;font-size:0.875rem}
.uk-button-text{padding:0;line-height:1.5;background:none;color:#333;position:relative}
.uk-button-text::before{content:"";position:absolute;bottom:0;left:0;right:100%;border-bottom:1px solid #333;transition:right 0.3s ease-out}
.uk-button-text:hover,
.uk-button-text:focus{color:#333}
.uk-button-text:hover::before,
.uk-button-text:focus::before{right:0}
.uk-button-text:disabled{color:#999}
.uk-button-text:disabled::before{display:none}
.uk-button-link{padding:0;line-height:1.5;background:none;color:var(--tls-lila)}
.uk-button-link:hover,
.uk-button-link:focus{color:var(--tls-violeta)}
.uk-button-link:disabled{color:#999;text-decoration:none}
.uk-button-group{display:inline-flex;vertical-align:middle;position:relative}
.uk-button-group > .uk-button:nth-child(n+2),
.uk-button-group > div:nth-child(n+2) .uk-button{margin-left:-1px}
.uk-button-group .uk-button:hover,
.uk-button-group .uk-button:focus,
.uk-button-group .uk-button:active,
.uk-button-group .uk-button.uk-active{position:relative;z-index:1}

.uk-close{color:#999;transition:var(--timer) ease-in-out;transition-property:color, opacity}
.uk-close:hover,
.uk-close:focus{color:#666;outline:none}

.uk-alert{position:relative;padding:calc(1 * 1rem) 2rem calc(1 * 1rem) calc(1 * 1rem);background:#f8f8f8;color:#666}
*+.uk-alert{margin-top:20px}
.uk-alert>:last-child{margin-bottom:0}
.uk-alert-close{position:absolute;top:20px;right:calc(1 * 1rem);color:inherit;opacity:0.4}
.uk-alert-close:first-child+*{margin-top:0}
.uk-alert-close:hover,
.uk-alert-close:focus{color:inherit;opacity:0.8}
.uk-alert-primary{background:#d8eafc;color:var(--c-lila)}
.uk-alert-success{background:#edfbf6;color:#32d296}
.uk-alert-warning{background:#fff6ee;color:#faa05a}
.uk-alert-danger{background:#fef4f6;color:#f0506e}
.uk-alert h1,
.uk-alert h2,
.uk-alert h3,
.uk-alert h4,
.uk-alert h5,
.uk-alert h6{color:inherit}
.uk-alert a:not([class]){color:inherit;text-decoration:underline}
.uk-alert a:not([class]):hover{color:inherit;text-decoration:underline}
.uk-badge{box-sizing:border-box;min-width:22px;height:22px;padding:0 5px;border-radius:500px;vertical-align:middle;background:var(--c-lila);
    color:#fff;font-size:0.875rem;display:inline-flex;justify-content:center;align-items:center}
.uk-badge:hover,
.uk-badge:focus{color:#fff;text-decoration:none;outline:none}
.uk-label{display:inline-block;padding:.5rem 1rem;background:white;line-height:1.5;font-size:0.875rem;color:var(--c-lila);vertical-align:middle;white-space:nowrap;border-radius:2px}
.uk-label-success{background-color:#32d296;color:#fff}
.uk-label-warning{background-color:#faa05a;color:#fff}
.uk-label-danger{background-color:#f0506e;color:#fff}

/* CORRECIONES */
ul.menu_principal li.menu_principal-item .contextual-region { position: absolute; }