<section id="inscripcion" class="uk-section page">

    <header class="tls_header uk-container alinear_izq alinear_cen">
        <img class="tls_header-img" data-src="{{ base_path ~ directory }}/assets/images/form_core.jpg" uk-img
            width="600" height="114" alt="Contáctanos" />
        <p class="tls_header-sub">Contáctanos para brindarte la asesoría más adecuada para tu talento.</p>
    </header>

    <div class="formulario">
        <form id="tls_form" uk-grid method="post">

            <ul class="form_barra" uk-grid>
                <li id="barra_1" class="form_barra-item form_barra-item-1 barra-activo">
                    <small class="form_barrita-text c_rosa"><span>1</span>Datos personales</small>
                    <span class="form_barrita"></span>
                </li>
                <li id="barra_2" class="form_barra-item form_barra-item-2">
                    <small class="form_barrita-text c_rosa"><span>2</span>Programa de interés</small>
                    <span class="form_barrita"></span>
                </li>
            </ul>

            <article class="form_steps">
                {#--**** PASO 1 ******--#}
                <div id="step_1" class="step step_1 excel" uk-grid>
                    <p class="step_title c_rosa">1. Ingresa tus datos personales</p>
                    {# NOMBRES #}
                    <div class="form_nombre step_two">
                        <label class="step_label" for="nombres">Mi nombre es: </label>
                        <span class="step_box" data-mensaje='Por favor, ingrese su nombre'>
                            <input id="nombres" class="core_nombres" name="nombres" type="text" placeholder="P. ej. Gia"
                                aria-label="core_nombres" data-step>
                        </span>
                    </div>
                    {# AP PATERNO #}
                    <div class="form_paterno step_two">
                        <label class="step_label" for="paterno">Mi apellido paterno es: </label>
                        <span class="step_box" data-mensaje='Por favor, ingrese su apellido paterno' >
                            <input id="paterno" class="core_paterno" name="paterno" type="text"
                                placeholder="P. ej. Odicio" aria-label="core_paterno" data-step>
                        </span>
                    </div>
                    {# AP MATERNO #}
                    <div class="form_materno step_two">
                        <label class="step_label" for="materno">Mi apellido materno es: </label>
                        <span class="step_box" data-mensaje='Por favor, ingrese su apellido materno'>
                            <input id="materno" name="materno" class="core_materno" type="text"
                                placeholder="P. ej. Arriola" aria-label="core_materno" data-step>
                        </span>
                    </div>
                    {# CORREO #}
                    <div class="form_correo step_two">
                        <label class="step_label" for="correo">Mi correo electrónico es: </label>
                        <span class="step_box" data-mensaje='Por favor, ingrese su correo'>
                            <input id="correo" name="correo" class="core_correo" type="email"
                                placeholder="P. ej. gia@tls.edu.pe" aria-label="core_correo" data-step>
                        </span>
                    </div>
                    {# CELULAR #}
                    <div class="form_celular step_two">
                        <label class="step_label" for="celular">Mi teléfono celular es: </label>
                        <span class="step_box" data-mensaje='Por favor, ingrese su celular con 9 dígitos'>
                            <input id="celular" name="celular" maxlength="9" class="core_celular" type="tel"
                                placeholder="P. ej. 987654321" aria-label="core_celular" data-step>
                        </span>
                    </div>
                    {# DNI #}
                    <div class="form_dni step_two">
                        <label class="step_label" for="dni">Mi número de DNI es: </label>
                        <span class="step_box" data-mensaje='Por favor, ingrese DNI con 8 dígitos'>
                            <input id="dni" name="dni" class="core_dni" maxlength="8" type="tel"
                                placeholder="P. ej. 42514057" aria-label="core_dni" data-step>
                        </span>
                    </div>
                    {#-- SGTE --#}
                    <div class="form_boton">
                        <button id="siguiente" class="boton_flecha iflecha"
                            aria-label="core_siguiente">Continuar</button>
                    </div>
                    {#-- SGTE --#}
                </div>
                {#--**** PASO 2 ******--#}
                <div id="step_2" class="step step_2 excel ocultar" uk-grid>
                    <p class="step_title c_rosa">2. Completa los siguientes campos</p>
                    {# TIPO PRODUCTOS #}
                    <div class="form_tipoProducto step_two">
                        <label class="step_label" for="tipoProducto">Deseo información sobre ...</label>
                        <span class="step_box" data-mensaje='Seleccione una opción'>
                            <select id="tipoProducto" name="tipoProducto" class="core_tipoProducto"
                                aria-label="core_tipoProducto"></select>
                        </span>
                    </div>
                    {# PRODUCTOS #}
                    <div class="form_producto step_two">
                        <label class="step_label" for="producto">Sobre la carrera de ...</label>
                        <span class="step_box" data-mensaje="Seleccione una opción">
                            <select id="producto" name="producto" class="core_producto" aria-label="core_producto"
                                disabled></select>
                        </span>
                    </div>
                    {# SEDES #}
                    <div class="form_sedesCampus step_two">
                        <label class="step_label" for="sedesCampus">En la sede de ...</label>
                        <span class="step_box" data-mensaje="Seleccione una opción">
                            <select id="sedesCampus" name="sedesCampus" class="core_sedesCampus"
                                aria-label="core_sedesCampus" disabled></select>
                        </span>
                    </div>
                    {# EGRESO #}
                    <div class="form_egreso step_two">
                        <label class="step_label" for="egreso">Mi año de egreso es ...</label>
                        <span class="step_box" data-mensaje="Ingrese el año que egreso del colegio">
                            <input id="egreso" name="egreso" maxlength="4" class="core_egreso" type="tel"
                                placeholder="P. ej. 2020" aria-label="core_egreso">
                        </span>
                    </div>
                    {# CHECK CONDICIONES #}
                    <div class="form_terCondiciones checkbox">
                        <label class="step_checkbox" for="terCondiciones">
                            <input id="terCondiciones" name="terCondiciones" class="core_terCondiciones"
                                aria-label="core_terCondiciones" type="checkbox" checked>He leído y acepto las <a
                                href="{{ url('<front>') }}/politicas-privacidad" rel="noopener noreferrer"
                                target="_blank" class="uk-link">Politicas de Privacidad</a>
                        </label>
                        <small class="error terCondiciones hidden">Active esta casilla</small>
                    </div>
                    {# CHECK PROMOS #}
                    <div class="form_terPromos checkbox">
                        <label class="step_checkbox" for="terPromos">
                            <input id="terPromos" name="terPromos" class="core_terPromos" aria-label="core_terPromos"
                                type="checkbox" checked>Autorizo el envío de publicidad e información comercial.
                        </label>
                        <small class="error terPromos hidden">Active esta casilla</small>
                    </div>
                    {#-- BOTON ENVIAR --#}
                    <div class="form_boton">
                        <button id="enviando" class="boton_flecha iflecha" aria-label="core_enviando">Enviar
                            Información</button>
                    </div>
                    {#-- BOTON RETROCEDER --#}
                    <div class="form_boton">
                        <button id="anterior" class="boton_anchor iflecha"
                            aria-label="core_anterior">Retroceder</button>
                    </div>
                    {#-- SGTE --#}
                </div>
            </article>
        </form>
    </div>
</section>

</form>
</div>
{{ attach_library('tls/tls.form.validaciones') }}
{{ attach_library('tls/tls.form') }}

<style>
    span.step_box.warning:after {
        content: attr(data-mensaje);
        font-size: 10px;
        color: var(--c-vino);
    }
</style>