<section id="evento" class="uk-section page">

<header class="tls_header uk-container alinear_izq alinear_cen">
<img class="tls_header-img" data-src="{{ base_path ~ directory }}/assets/images/form_evento.jpg" uk-img width="433" height="122" alt="Contáctanos"/>
<p class="tls_header-sub">Para confirmar tu participación, completa los siguientes campos</p>
</header> 

<div class="formulario">
<form id="event_tls_form" uk-grid method="post">

<div class="excel" uk-grid>
{# NOMBRES #}
<div class="form_nombre step_two">
<label class="step_label" for="nombres">Mi nombre es: </label>
<span class="step_box" data-mensaje='Por favor, ingrese su nombre'>
<input id="nombres" class="event_nombres" name="nombres" type="text" placeholder="P. ej. Gia" aria-label="event_nombres" data-step>
</span>
</div>
{# AP PATERNO #}
<div class="form_paterno step_two">
<label class="step_label" for="paterno">Mi apellido paterno es: </label>
<span class="step_box" data-mensaje="Por favor, ingrese su apellido paterno">
<input id="paterno" class="event_paterno" name="paterno" type="text" placeholder="P. ej. Odicio" aria-label="event_paterno" data-step>
</span>
</div>
{# AP MATERNO #}
<div class="form_materno step_two">
<label class="step_label" for="materno">Mi apellido materno es: </label>
<span class="step_box" data-mensaje="Por favor, ingrese su apellido materno">
<input id="materno" name="materno" class="event_materno" type="text" placeholder="P. ej. Arriola" aria-label="event_materno" data-step>
</span>
</div>
{# CORREO #}
<div class="form_correo step_two">
<label class="step_label" for="correo">Mi correo electrónico es: </label>
<span class="step_box" data-mensaje="Por favor, ingrese su correo">
<input id="correo" name="correo" class="event_correo" type="email" placeholder="P. ej. gia@tls.edu.pe" aria-label="event_correo" data-step>
</span>
</div>
{# CELULAR #}
<div class="form_celular step_two">
<label class="step_label" for="celular">Mi teléfono celular es: </label>
<span class="step_box" data-mensaje="Por favor, ingrese su celular con 9 dígitos">
<input id="celular" name="celular" maxlength="9" class="event_celular" type="tel" placeholder="P. ej. 987654321" aria-label="event_celular" data-step>
</span>
</div>
{# DNI #}
<div class="form_dni step_two">
<label class="step_label" for="dni">Mi número de DNI es: </label>
<span class="step_box" data-mensaje="Por favor, ingrese DNI con 8 dígitos">
<input id="dni" name="dni" class="event_dni" maxlength="8" type="tel" placeholder="P. ej. 42514057" aria-label="event_dni" data-step>
</span>
</div>
{# CHECK CONDICIONES #}
<div class="form_terCondiciones">
<label class="step_checkbox" for="terCondiciones">
<input id="terCondiciones" name="terCondiciones" class="event_terCondiciones" aria-label="event_terCondiciones" type="checkbox" checked>He leído y acepto las <a href="{{ url('<front>') }}/politicas-privacidad" rel="noopener noreferrer" target="_blank" class="uk-link">Politicas de Privacidad</a>
</label>
<small class="error terCondiciones hidden">Active esta casilla</small>
</div>
{# CHECK PROMOS #}
<div class="form_terPromos">
<label class="step_checkbox" for="terPromos">
<input id="terPromos" name="terPromos" class="event_terPromos" aria-label="event_terPromos" type="checkbox" checked>Autorizo el envío de publicidad e información comercial.
</label>
<small class="error terPromos hidden">Active esta casilla</small>
</div>
{#-- BOTON ENVIAR --#}
<div class="form_boton">
<button id="enviando" class="boton_flecha iflecha" aria-label="event_enviando">Enviar Información</button>
</div>

</div>
</form>
</div>

</section>

{{ attach_library('tls/tls.form.validaciones') }}
{{ attach_library('tls/tls.form.eventos') }}


<style>
    span.step_box.warning:after {
        content: attr(data-mensaje);
        font-size: 10px;
        color: var(--c-vino);
    }
</style>